<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases>
		<typeAlias alias="AgentEntity" type="com.banzhuan.entity.AgentEntity" />
		<typeAlias alias="BuyerEntity" type="com.banzhuan.entity.BuyerEntity" />
		<typeAlias alias="CommentEntity" type="com.banzhuan.entity.CommentEntity" />
		<typeAlias alias="CommonAnswerEntity" type="com.banzhuan.entity.CommonAnswerEntity" />
		<typeAlias alias="GoodcaseEntity" type="com.banzhuan.entity.GoodcaseEntity" />
		<typeAlias alias="MessageEntity" type="com.banzhuan.entity.MessageEntity" />
		<typeAlias alias="ProfessionalAnswerEntity" type="com.banzhuan.entity.ProfessionalAnswerEntity" />
		<typeAlias alias="QuestionEntity" type="com.banzhuan.entity.QuestionEntity" />
		<typeAlias alias="SampleEntity" type="com.banzhuan.entity.SampleEntity" />
		<typeAlias alias="ComplainEntity" type="com.banzhuan.entity.ComplainEntity" />
	</typeAliases>

	<mappers>

	</mappers>
</configuration>    