<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
	http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<!-- DispatcherServlet Context: defines this servlet's request-processing 
		infrastructure -->

	<!-- Scans within the base package of the application for @Components to 
		configure as beans -->
	<!-- @Controller, @Service, @Configuration, etc. -->
	<context:component-scan base-package="com.banzhuan" />

	<!-- Enables the Spring MVC @Controller programming model -->
	<mvc:annotation-driven />

	<mvc:resources location="/favicon.ico" mapping="/favicon.ico" />
	<bean id="velocityConfigurer"
		class="org.springframework.web.servlet.view.velocity.VelocityConfigurer">
		<property name="resourceLoaderPath">
			<value>/WEB-INF/views</value>
		</property>
		<property name="velocityProperties">
			<props>
				<prop key="input.encoding">utf-8</prop>
				<prop key="output.encoding">utf-8</prop>
			</props>
		</property>
	</bean>


    <bean id= "viewResolver"  
    class= "org.springframework.web.servlet.view.velocity.VelocityLayoutViewResolver">  
             <property name= "cache" value= "true"/>
             <property name= "prefix" value= "/"/>
             <property name= "suffix" value= ".vm"/>  
             <property name= "contentType">
                       <value>text/html;charset=utf-8</value>  
             </property>
             <property name="toolboxConfigLocation">  
                       <value>/WEB-INF/toolbox.xml</value>  
             </property>
             <property name="viewClass" value="com.banzhuan.velocity.tools.VelocityToolbox20View"/>
             

             <property name="layoutUrl" value="layout/layout.vm" /> 
             <property name="allowSessionOverride" value="true"/><!-- 解决@sessionAttributes 错误问题 -->
             <property name="allowRequestOverride" value="true"/>
             <property name="exposeSessionAttributes" value="true"/><!-- 在velocity 中能访问到 session 中的信息 -->  
             <property name="requestContextAttribute" value="rc"/>  
             <property name="exposeRequestAttributes" value="true"/>
             <property name="exposeSpringMacroHelpers" value="true" />
    </bean>  
    
    <mvc:interceptors>
    	<mvc:interceptor>
    	<mvc:mapping path="/wxcard" />
   			<mvc:mapping path="/wxcardcollect" />
   			<bean class="com.banzhuan.interceptor.WxCardLoginInterceptor" />
		</mvc:interceptor>
   		<mvc:interceptor>
   			<mvc:mapping path="/*" />
   			<bean class="com.banzhuan.interceptor.AutoLoginInterceptor" />
		</mvc:interceptor>
			<mvc:interceptor>
   			<mvc:mapping path="/admin/newitem" />
   			<mvc:mapping path="/admin/main" />
   			<mvc:mapping path="/admin/questions" />
   			<mvc:mapping path="/admin/sample" />
   			<mvc:mapping path="/admin/agent" />
   			<mvc:mapping path="/admin/requests" />
   			<mvc:mapping path="/admin/lghlmclyhblsqtarticle" />
   			<bean class="com.banzhuan.interceptor.AdminLoginInterceptor" />
		</mvc:interceptor>
		<mvc:interceptor>
   			<mvc:mapping path="/agents/*" />
   			<bean class="com.banzhuan.interceptor.AgentCounterInterceptor" />
		</mvc:interceptor>
		<mvc:interceptor>
   			<mvc:mapping path="/addcomment" />
   			<mvc:mapping path="/purchase" />
   			<mvc:mapping path="addaddr" />
   			<mvc:mapping path="showanswer" />
   			<mvc:mapping path="/user/main" />
   			<mvc:mapping path="/user/editanswer" />
   			<mvc:mapping path="/user/uploadsample" />
   			<mvc:mapping path="/user/answered" />
			<mvc:mapping path="/user/mymsg" />
			<mvc:mapping path="/user/newquestion" />
			<mvc:mapping path="/user/oldquestion" />
			<mvc:mapping path="/user/draft" />
			<mvc:mapping path="/user/changepwd" />
			<mvc:mapping path="/user/profile" />
			<mvc:mapping path="/user/uploadlogo" />
			<mvc:mapping path="/user/myaddr" />
			<mvc:mapping path="/user/newproduct" />
			<mvc:mapping path="/user/myproduct" />
			<mvc:mapping path="/user/myorder" />
			<mvc:mapping path="/user/product/*" />
			<mvc:mapping path="/user/order/*" />
			<mvc:mapping path="/paymembership/*" />
   			<bean class="com.banzhuan.interceptor.UserLoginInterceptor" />
		</mvc:interceptor>
	</mvc:interceptors>

	<!-- 数据源配置 -->
	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="${jdbc.driverClassName}" />
		<property name="url" value="${jdbc.url}" />
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
	</bean>

	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"></property>
	</bean>

	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation" value="classpath:MyBatisConfiguration.xml" /> 
		<property name="mapperLocations" value="classpath:mapper/*Mapper.xml" />
	</bean>

	<bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg index="0" ref="sqlSessionFactory" />
		<constructor-arg index="1" value="SIMPLE" />
	</bean>


	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location">
			<value>classpath:config/jdbc.properties</value>
		</property>
		<property name="fileEncoding">
			<value>UTF-8</value>
		</property>
	</bean>

	<!-- 上传拦截，如最大上传值及最小上传值 -->
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
	</bean>

	<bean id="messageSource"
		class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basenames">
			<!-- 配置文件名 -->
			<list>
				<value>buyer</value>
				<value>agent</value>
			</list>
		</property>
	</bean>
 
</beans>
