#set($layout = "/layout/buyer_detail_layout.vm")
<ul class="right-tab clearfix">
    <li>
        <a href="profile">个人资料</a>
    </li>
    <li class="current">
                            密码
    </li>
</ul>
<div class="rigth-content">
    <div>
			<script>
				$(function() {	
					$("#form_changepwd").validate({
						rules:{
							pwd:{
								required:true
							},
							pwd1:{
								required:true
							},
							pwd2:{
								required:true,
								equalTo: "#pwd1" 
							}
						},
						messages:{
							pwd:{
								required:"请输入旧密码"
							},
							pwd1:{
								required:"请输入新密码"
							},
							pwd2:{
								required:"请输入确认密码",
								equalTo: "两次输入密码不一致"  
							}
						},
						errorPlacement: function(error, element) {  
							//$(".error-msg").empty();   
							//$(".error-msg").show();   
							//alert(error.attr("for"));
                            //error.appendTo($(".error-msg"));     
							var hasError = true;
							$(".error-msg label").each(function(){
								if($(this).attr("for") == error.attr("for")){
									hasError = false;
								}
							});
							if(hasError)
							{
                            	error.appendTo($(".error-msg"));     
							}
                        },
    					submitHandler: function(form) {
                  			$(form).ajaxSubmit({
        						dataType:'json',
        						success:processJson
        					});
        				}
					});
				});
			</script>
		<form id="form_changepwd" method="post" action="/buyer/changepwd">
			<!-- 隐藏字段，用于标示是表单提交 -->
		    <input type="hidden" name="do_submit" value="true"/>
            <div class="listitem clearfix">
    			#springBind("form.pwd")
                <ul class="user-info clearfix">
                    <li class="width60 key">
                        旧密码
                    </li>
                    <li class="value">
                        <input type="password" name="${status.expression}"  class="dsf-form-text-input" />
												<em for="$!{status.expression}" generated="true" class="error">$!{status.errorMessage}</em>
                    </li>
                </ul>
            </div>
            <div class="seperation10">&nbsp;</div>
            <div class="listitem clearfix">
    			#springBind("form.pwd1")
                <ul class="user-info clearfix">
                    <li class="key">
                        新密码
                    </li>
                    <li class="value">
                        <input type="password" name="${status.expression}" class="dsf-form-text-input" id="pwd1"/>
												<em for="$!{status.expression}" generated="true" class="error">$!{status.errorMessage}</em>
                    </li>
                </ul>
            </div>
            <div class="listitem clearfix">
    			#springBind("form.pwd2")
                <ul class="user-info clearfix">
                    <li class="key">
                        确认密码
                    </li>
                    <li class="value">
                        <input type="password" name="${status.expression}" class="dsf-form-text-input"/>
												<em for="$!{status.expression}" generated="true" class="error">$!{status.errorMessage}</em>
                    </li>
                </ul>
            </div>
            <div class="seperation10">&nbsp;</div>
            <div class="listitem clearfix">
                <a id="submit_changepwd" class="save" href="#">保 存</a>
            </div>
    		<script>
				  function processJson(data) { 
						showAlert(data.title,data.content,data.info,data.btn,data.link);
					}
    			$(function() {
    				$("#submit_changepwd").click(function () {
    					$("#form_changepwd").submit();
    				});
    			});
    		</script>
		</form>
    </div>
</div>
