#set($layout = "/layout/buyer_detail_layout.vm")
<script type="text/javascript" src="../js/setread.js"></script>
<h2>全部消息</h2>
<div class="rigth-content">
    <div class="buyer-list">
        #foreach($msg in $msgs)
			#if($!{msg.hasRead})
				<div class="listitem clearfix">
			#else
				<div class="listitem notread clearfix">
			#end
                
				#if($!{msg.type} == 1)	
					<a href="/agents/$!{msg.senderId}">$!{msg.senderName}</a>
				#elseif($!{msg.type} == 2  || $!{msg.type} == 4)
					<a href="/agents/$!{msg.senderId}">$!{msg.senderName}</a>
				#elseif($!{msg.type} == 3 || $!{msg.type} == 5)
					<a href="/users/$!{msg.senderId}">$!{msg.senderName}</a>
				#else
					系统信息,
				#end
				#if($!{msg.type} == 1)	
					提供了解决方案,
				#elseif($!{msg.type} == 2 || $!{msg.type} == 4)
					回复了你,
				#elseif($!{msg.type} == 3 || $!{msg.type} == 5)
					回复了你,
				#else
					系统信息,
				#end
				<a msgid="$!{msg.id}" class="setread" href="/questions/$!{msg.questionId}">查看详情</a>
                <span class="time">$stringUtil.formatDate($!{msg.gmtCreate})</span>
            </div>
        #end
    </div>
	#parse("/common/page.vm")
</div>
