#set($layout = "/layout/buyer_detail_layout.vm")
<script type="text/javascript" src="../js/ques-type.js"></script>
<ul class="right-tab clearfix">
    <li class="current">新建问题</li>
    <li>
        <a href="oldquestion">我提的问题</a>
    </li>
    <li>
        <a href="draft">草稿箱</a>
    </li>
</ul>
<div class="rigth-content">
    <form id="form_newquestion">
			  <input type="hidden" name="type" id="type" />
        <div class="add-question-header">
            <input type="text" class="dsf-form-text-input" placeholder="请输入标题"/>
            <div class="question-param clearfix">
							<div class="question-param-li clearfix">
								#springBind("form.processMethod")
								<input type="hidden" name="${status.expression}" />
                <a class="sel" href="">加工方式</a>
								<ul>
									<li><a href="#">搓洗</a></li>
									<li><a href="#">加工</a></li>
								</ul>
							</div>
							<div class="question-param-li clearfix">
								#springBind("form.industry")
								<input type="hidden" name="${status.expression}" />
                <a class="sel" href="">所属行业</a>
								<ul>
									<li><a href="#">搓洗</a></li>
									<li><a href="#">加工</a></li>
								</ul>
              </div>
							<div class="question-param-li clearfix">
								#springBind("form.wpMaterial")
								<input type="hidden" name="${status.expression}" />
                <a class="sel" href="">工件材质</a>
								<ul>
									<li><a href="#">搓洗</a></li>
									<li><a href="#">加工</a></li>
								</ul>
              </div>
						  <div class="question-param-li clearfix">
								#springBind("form.wpHardness")
								<input type="hidden" name="${status.expression}" />
                <a class="sel" href="">工件硬度</a>
								<ul>
									<li><a href="#">搓洗</a></li>
									<li><a href="#">加工</a></li>
								</ul>
              </div>
        </div>
        <div class="add-question-container">
            <h5 class="clearfix"><a id="addimg" class="addimg" href="#"></a>问题详情 </h5>
            <div class="add-question-wrap">
                <div id="ques-cont-editor" class="add-question-editor" contenteditable="true" placeholder="请输入问题详情">
                </div>
            </div>
        </div>
        <div class="question-op clearfix">
            <a class="publish" id="submit_public" href="#">发  布</a>
            <a class="savedraft" id="submit_draft" href="#">保存草稿</a>
        </div>
		<script>
			$(function() {
				$("#submit_public").click(function () {
				  $("#type").val(1);
					$("#form_newquestion").submit();//提交
				});
				$("#submit_draft").click(function () {
				  $("#type").val(0);
					$("#form_newquestion").submit();//提交
				});
			});
		</script>
    </form>
</div>
#parse("/common/addimg.vm")