#set($layout = "/layout/buyer_detail_layout.vm")
<script type="text/javascript" src="../js/mixed-handle.js"></script>
<ul class="right-tab clearfix">
  <li><a href="newquestion">新建问题</a></li>
  <li class="current"><a href="#">我提的问题</a></li>
  <li><a href="draft">草稿箱</a></li>
</ul>
<div class="rigth-content">
	<div class="buyer-list">
	  #foreach($question in $questions)
  		<div class="listitem">
				<div class="clearfix">
  			  <div class="mixed">$!{question.content}</div>
					<span>$stringUtil.formatDate($!{question.gmtCreate})</span>
				</div>
  			<div class="operation clearfix">
  				<a href="#">$!{question.cntCA}个专业回答	</a><span>|</span>
  				<a href="#">查看详情</a><span>|</span>
  				<a href="/buyer/question/$!{question.id}">编辑</a><span>|</span>
  				<a href="#">删除</a>
  			</div>
  		</div>
		#end
	</div>
</div>
