#set($layout = "/layout/buyer_detail_layout.vm")
<ul class="right-tab clearfix">
    <li class="current">个人资料</li>
    <li>
        <a href="changepwd">密码</a>
    </li>
</ul>
<div class="rigth-content">
    <div>
			<script>
				$(function() {	
					$("#form_profile").validate({
						rules:{
							userName:{
								required:true
							}
						},
						messages:{
							userName:{
								required:"请输入用户名称"
							}
						},
						errorElement:"em",
    				submitHandler: function(form) {
              $(form).ajaxSubmit({
    						dataType:'json',
    						success:processJson
    					});
    				}
					});
				});
			</script>
		<form id="form_profile" action="/buyer/profile" method="post">
			<!-- 隐藏字段，用于标示是表单提交 -->
		    <input type="hidden" name="do_submit" value="true"/>
			#springBind("form.userName")
    		<div class="listitem clearfix">
                    <ul class="user-info clearfix">
                        <li class="key">
                            账户名
                        </li>
                        <li class="value">
                            <input type="text" class="dsf-form-text-input" name="${status.expression}" value="$!{status.value}" />
														<em for="$!{status.expression}" generated="true" class="error">$!{status.errorMessage}</em>
                        </li>
                    </ul>
            </div>
			#springBind("form.companyName")
            <div class="listitem clearfix">
                <ul class="user-info clearfix">
                    <li class="key">
                        公司名称
                    </li>
                    <li class="value">
                        <input type="text" class="dsf-form-text-input"  name="${status.expression}" value="$!{status.value}"/>
                    </li>
                </ul>
            </div>
			#springBind("form.address")
            <div class="listitem clearfix">
                <ul class="user-info clearfix">
                    <li class="key">
                        公司地址
                    </li>
                    <li class="value">
                        <input type="text" class="dsf-form-text-input"  name="${status.expression}" value="$!{status.value}"/>
                    </li>
                </ul>
            </div>
			#springBind("form.companyPhone")
            <div class="listitem clearfix">
                <ul class="user-info clearfix">
                    <li class="key">
                        公司电话
                    </li>
                    <li class="value">
                        <input type="text" class="dsf-form-text-input"  name="${status.expression}" value="$!{status.value}"/>
                    </li>
                </ul>
            </div>
			#springBind("form.contactName")
            <div class="listitem clearfix">
                <ul class="user-info clearfix">
                    <li class="key">
                        联系人姓名
                    </li>
                    <li class="value">
                        <input type="text" class="dsf-form-text-input"  name="${status.expression}" value="$!{status.value}"/>
                    </li>
                </ul>
            </div>
			#springBind("form.contactPhone")
            <div class="listitem clearfix">
                <ul class="user-info clearfix">
                    <li class="key">
                        手机
                    </li>
                    <li class="value">
                        <input type="text" class="dsf-form-text-input"  name="${status.expression}" value="$!{status.value}"/>
                    </li>
                </ul>
            </div>
			#springBind("form.contactQQ")
            <div class="listitem clearfix">
                <ul class="user-info clearfix">
                    <li class="key">
                        QQ
                    </li>
                    <li class="value">
                        <input type="text" class="dsf-form-text-input"  name="${status.expression}" value="$!{status.value}"/>
                    </li>
                </ul>
            </div>
            <div class="listitem mt20 clearfix">
                <a id="submit_profile" class="save" >保 存</a>
            </div>
			<script>
			  function processJson(data) { 
					showAlert(data.title,data.content,data.info,data.btn,data.link);
				}
				$(function() {
					$("#submit_profile").click(function () {
						$("#form_profile").submit();
  				});
  			});
			</script>
		</form>
    </div>
</div>
