#set($layout = "/layout/index_layout.vm")
<div class="main-bk-wrapper">
  <div class="mainpage-container clearfix">
	  <div class="reg-left">
		  <h2><span>我已经有账号<a href="/log">立即登录</a></span>注册</h2>
			<script>
				$(function() {	
					$("#form_reg").validate({
						rules:{
							name:{
								required:true
							},
							mail:{
								required:true,
								email:true
							},
							agree:{
								required:true
							},
							pwd:{
								required:true
							}
						},
						messages:{
							name:{
								required:"请输入用户名"
							},
							mail:{
								required:"请输入邮箱地址",
								email:"邮箱格式不正确"
							},
							pwd:{
								required:"请输入密码"
							},
							agree:{
								required:"必须遵守刀师傅协议"
							}
						},
						errorPlacement: function(error, element) {   
							$(".error-msg").show();
							var hasError = true;
							$(".error-msg label").each(function(){
								if($(this).attr("for") == error.attr("for")){
									hasError = false;
								}
							});
							if(hasError)
							{
                            	error.appendTo($(".error-msg"));     
							}
							else
							{
								$(".error-msg label").each(function(){
									if($(this).attr("for") == error.attr("for")){
										$(this).text(error.text());
									}
								});
							}
                        },
						success:function(label){
							$(".error-msg").hide();
							$(".error-msg label").each(function(){
								if($(this).attr("for") == $(label).attr("for")){
									$(this).text("");
								}
							}); 
						}
					});
				});
			</script>
			<div class="error-msg">
    			#springBind("form")
                #if($status.errors.hasErrors())
					<script>
        			$(".error-msg").show();
        			</script>
                    ## Field error messages
                    #foreach($f in $status.errors.fieldErrors)
                        #springBind("form.${f.field}")
                        #foreach($e in $status.errorMessages)
                            <label for="$!{status.expression}" generated="true" class="error">${e}</label>
                        #end
                    #end
                #end
    		</div>
			<div class="auth-header clearfix">
				<div class="first">
					<a href="/reg">1.选择账户类型</a>
				</div>
				<div class="second current">
					2.填写账户信息
				</div>
			</div>
		  <form id="form_reg" method="post">
			<!-- 隐藏字段，用于标示是表单提交 -->
		    <input type="hidden" name="do_submit" value="true"/>
			#springBind("form.name")
			<ul class="reg-listitem clearfix">
			  <li class="key">
				  用户名
				</li>
			  <li class="value">
				  <input type="text"  name="$!{status.expression}"  class="dsf-form-text-input" />
				</li>
			</ul>
			#springBind("form.mail")
			<ul class="reg-listitem clearfix">
			  <li class="key">
				  邮箱地址
				</li>
			  <li class="value">
				  <input type="text"  name="$!{status.expression}"  class="dsf-form-text-input" />
				</li>
			</ul>
			#springBind("form.pwd")
			<ul class="reg-listitem clearfix">
			  <li class="key">
				  密码
				</li>
			  <li class="value">
				  <input type="password"  name="$!{status.expression}"  class="dsf-form-text-input" />
				</li>
			</ul>
			<ul class="reg-listitem clearfix">
			  <li class="key">
				  &nbsp;
				</li>
				#springBind("form.agree")
			  <li class="value">
				  <label for="agree">
					  <input id="agree"  name="$!{status.expression}" type="checkbox" 	
						#if ($status.value == "true")
                          checked
                        #end
						/> 
						同意
					</label>
					<a class="protocol fancybox-v" title="刀师傅协议" href="../img/proto.jpg">刀师傅协议</a>
				</li>
			</ul>
			<ul class="reg-listitem clearfix">
			  <li class="key">
				  &nbsp;
				</li>
			  <li class="value">
					<a class="reg" id="submit_reg" >注册刀师傅</a>
				</li>
			</ul>
			<script>
				$(function() {
				    $('input').bind("keypress",function(event){
				      if (event.keyCode == 13) {
                        $("#form_reg").trigger("submit");
                      }
				    });
					$("#submit_reg").click(function () {
						$("#form_reg").submit();//提交
					});
				});
			</script>
		  </form>
      </div>
      <div class="reg-right">
    	  <div class="header">
    			<h1>刀师傅</h1>
    			<p>国内第一家专业刀具交流平台，<br/>着力于向客户提供最具性价比的刀具方案。</p>
    		</div>
    		<div class="seperation">&nbsp;</div>
    		<div class="verified">
    		  <h2>官方认证</h2>
    			<p>各品牌一级代理商二十余家，彻底杜绝假货,<br/>建立诚信刀具咨询平台。</p>
    		</div>
    		<div class="goodservice">
    		  <h2>专业服务</h2>
    			<p>我们的代理商均有十年以上各行业配刀经验，<br/>配合本站顾问团队，可满足客户的所有加工需求。</p>
    		</div>
      </div>
	</div>
 </div>
