body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td {
	margin:0;
	padding:0;
	font-family: "微软雅黑";
	font-size:12px/1.5;
}
body{position: relative;height: 100%;}
img{border:none;}
html{flow-y:scroll;height:100%;background: url(../img/bk.jpg) repeat 0 0;}  
table{border-collapse: collapse;border-spacing: 0;}
em{font-style:normal}
ul, li, ol {
list-style: none;
}
ul{display:block;}
a{text-decoration: none;color: inherit;cursor:pointer;}
/* Clear Fix */ 
.clearfix:after { content:"."; display:block; height:0; clear:both; visibility:hidden; } 
.clearfix { display:inline-block; } 
/* Hide from IE Mac */ 
.clearfix {display:block;} 
/* End hide from IE Mac */ 
/* end of clearfix */


.dsf-form-text-input {padding: 4px 10px;font-size: 13px;line-height: 15px;box-shadow: 0 1px 1px rgba(0,0,0,.1) inset;border-radius: 3px;background: #fff;border: 1px solid #ccc;color: #222;}
.zg-noti-number {background: #BF1031;border: 1px solid #B11331;box-shadow: 0 1px 2px rgba(0,0,0,.1),inset 0 1px 0 rgba(255,255,255,.15);
color: #fff;
display: inline-block;
font-size: 11px;
font-weight: 700;
padding: 0 5px;
height: 16px;
line-height: 16px;
border-radius: 16px;
text-indent: 0;
text-align: center;
text-decoration: none;
position: absolute;
top: 12px;
margin-left: 15px;
}
.company-info{width:400px;height:65px;resize:none;}
div[contentEditable]{outline:0}
.body-wrapper {position: relative;min-height: 100%;}
/*footer-container*/
.clear-footer{height:100px;}
.footer-container{position:absolute;bottom:0;background:#eeeeee;width:100%;height:100px}
.footer-content{margin:0 auto;padding-top: 25px;}
.footer-content p{text-align:center;font-size:12px;padding:5px}
.footer-content p.top{color:#333333;}
.footer-content p.top span{padding:0 10px 0 10px;}
.footer-content p.bottom{color:#666666;}

/*main head*/
.main-head-container{background:#0099cb;width:100%;}
.main-head-content{margin:0 auto;width:960px;color:#f1f1f1;}
.main-head-container .main-head-content .main-logo{float:left;padding: 5px;padding-top: 11px;}
.main-logo img{width: 110px;}
.main-head-container .main-head-content .main-logo h2{font-family:"幼圆";font-size:34px;padding:10px;padding-top:9px;}
.main-head-container .main-head-content .nav{float:left;margin-left: 30px;}
.main-head-container .main-head-content .nav ul li{float: left;display:inline-block;font-size: 16px;}

.main-head-container .main-head-content .nav ul li.current {background:#006e9c}
.main-head-container .main-head-content .nav ul li a{display: block;padding: 17px 0 21px 0;width:110px;text-align:center}
.main-head-container .main-head-content .nav ul li a:hover{color:white;background-color:#0086b2}
.main-head-container .main-head-content .login{float:right;width:140px;font-size:14px;color:white;text-align: center;height: 59px;}
.main-head-container .main-head-content .login .auth-reg{display:block;padding:19px;text-align:center;}
.main-head-container .main-head-content .login .top-dropdown-reg{position:absolute;display:none;background-color: #007298;z-index: 100;min-width: 140px;}
.main-head-container .main-head-content .login .top-dropdown-reg li a{display:block;padding: 19px;text-align: center;}
.main-head-container .main-head-content .login .top-dropdown-reg li a:hover{background-color:#0099cb;}
.main-head-container .main-head-content .ask{float:left;margin: 13px;margin-top:18px;margin-left: 55px;}
.main-head-container .main-head-content .ask a{display:block;text-align: center;padding: 0px 10px 3px;border-radius:3px;font-size:14px;background-color:#ff6600;}

.main-head-container .main-head-content .login .top-user{display: block;position:relative;height:59px;overflow: hidden;}
.main-head-container .main-head-content .login .top-user .name{line-height:57px;font-size: 18px;padding-left: 35px;}
.main-head-container .main-head-content .login .top-user .logo{position:absolute;top: 15px;left: 10px;border-radius: 5px;width:30px;height:30px;overflow:hidden;text-align:center;display:table;background-color:white;}
.main-head-container .main-head-content .login .top-user .logo a{display:table-cell;vertical-align:middle;}
.main-head-container .main-head-content .login .top-user .logo img{margin:0 auto;max-width:30px;max-height:30px;}
.main-head-container .main-head-content .login .top-dropdown{position:absolute;display:none;background-color: #007298;top: 59px;min-width: 140px;z-index: 100;}
.main-head-container .main-head-content .login .top-dropdown li{position:relative;}
.main-head-container .main-head-content .login ul.top-dropdown li a{display:block;text-align:center;padding:10px;}
.main-head-container .main-head-content .login ul.top-dropdown li a:hover{background-color:#0099cb;}
/*main banner*/
.main-banner-container{background:#a6cad9;width:100%;height:252px;opacity:0.8;position:relative;}

.main-bk-wrapper{width:100%;padding-bottom: 30px;padding-top: 10px;z-index: 1;}
.pt0{padding-top:0px}
.main-content-container{margin:0 auto;width:960px;margin-top:30px;border-radius: 4px;background-color: #f7f7f7;min-height: 720px;}

.main-list-container{float:left;margin: 25px 0 0 25px;}
.main-list-header{color:#6c6c6c;font-weight:700;font-size:14px;padding-bottom:5px;border-bottom: 1px solid #0088b5;}
.ff7e00{color:#ff7e00;border-bottom: 2px solid #ff7e00;}
.ff002a{color:#ff002a;border-bottom: 2px solid #ff002a;}

.main-list-header a{float:right;font-size: 12px;line-height: 24px;font-weight: 600;color:#acacac}
.main-list-header a:hover{color:#00c0ff}
.ques-sort{background: url(../img/sort.png) no-repeat 51px 9px;color: #9d9d9d;padding-right: 15px;}
.ques-type{border-bottom: 2px solid #00b4ff;margin-top: 5px;}

/*hot question*/
.hot-question-listitem{margin:10px 0 10px 0;border-bottom: 1px solid #ECECEC;padding-bottom: 8px;margin-top: 13px;}
.seperation{background: url(../img/question-sep.png) repeat-x 0 0;margin-top:15px;margin-bottom: 15px;height: 2px;}
.seperation10{background: url(../img/question-sep.png) repeat-x 0 0;margin-top:10px;margin-bottom: 10px;height: 2px;}

.hot-question-listitem .logo{float:left;border-radius: 5px;width:44px;height:44px;overflow:hidden;text-align:center;display:table;background-color:white;}
.hot-question-listitem .logo a{display:table-cell;vertical-align:middle;}
.hot-question-listitem .logo img{margin:0 auto;max-width:44px;max-height:44px;}
.hot-question-listitem .content{float:left;width:504px;margin-left:10px;}
.hot-question-listitem.first .content{background:none}
.hot-question-listitem .content li.name{font-size:14px;font-weight: 700;color:#606060;margin-top:7px}
.hot-question-listitem .content li.name p{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.hot-question-listitem .content li.title{font-size:12px;color:#575757;}
.hot-question-listitem .content li.title .questions-param{margin-top:8px;float:left;}
.hot-question-listitem .content li.title .questions-param span{display:inline-block;background-color:#dddddd;padding:2px 12px;border-radius:20px;color: black;}
.hot-question-listitem .content li.title .questions-type{float:right;margin-top:8px;}
.hot-question-listitem .content li.title .type1{background-color:#ff4444;border-radius:7px;text-align:center;color:white;display: inline-block;padding: 2px 8px;margin-right: 12px;}
.hot-question-listitem .content li.title .type2{background-color:#ff9c00;border-radius:7px;text-align:center;color:white;display: inline-block;padding: 2px 8px;margin-right: 12px;}
.hot-question-listitem .content li.title .type3{background-color:#1aa885;border-radius:7px;text-align:center;color:white;display: inline-block;padding: 2px 8px;margin-right: 12px;}
.hot-question-listitem .content li.title .time{color:#999;display: inline-block;}
.hidden{display:none}
.hot-question-listitem .content li.text{font-size:13px;line-height: 20px;text-overflow:ellipsis;color:black;margin-top:10px}
.hot-question-listitem .content li.text img{float:left;width: 106px;margin-right: 15px;}
.hot-question-listitem .content li.info{font-size:12px;line-height: 20px;color:#999999;margin: 4px 0 0 0;}
.hot-question-listitem .content li.info span.answer{float:right;}
.hot-question-listitem .content li.info a:hover{text-decoration:underline;color:#00c0ff}

/*专业方案*/
.hot-question-listitem .content li.answer{display:none;border:1px solid #bebebe;background-color:#f0f0f0;padding:15px;border-radius: 2px;margin-top: 10px;}
.hot-question-listitem .content li.answer .answer-arrow{position: absolute;z-index: 0;width: 22px;cursor: default;font-size: 23px;margin-top:-31px}
.hot-question-listitem .content li.answer .answer-arrow *{position: absolute;}
.hot-question-listitem .content li.answer .answer-arrow .S_line1_c{color: #bebebe;}
.hot-question-listitem .content li.answer .answer-arrow .S_bg1_c{margin-top:1px;color:#f0f0f0}
.hot-question-listitem .content li.answer ul.pa-answer{border-bottom:1px solid #dbdbdb;padding-bottom:10px;}
.answer-price{float: left;margin-left: 12px;margin-top: 20px;font-size:12px;}
.answer-price span{color:white;background-color:#FFA35A;display:inline-block;padding:2px 5px;border-radius:4px;}
.hot-question-listitem .content li.answer li.answer-cont{margin-top:10px;color:#676767;font-size:13px;line-height: 20px;}
.hot-question-listitem .content li.answer li.comment-cont{margin-top:5px;font-size:11px;color:#999;}
.hot-question-listitem .content li.answer li.comment-cont a{float:right;margin-right:10px;}
.hot-question-listitem .content li.answer .comment-list{border:1px solid #bebebe;background-color:#f0f0f0;padding: 15px 15px 15px 27px;border-radius: 2px;margin-top: 10px;}
.hot-question-listitem .content li.answer .comment-list .comment-arrow{position: absolute;z-index: 0;width: 22px;cursor: default;font-size: 23px;margin-top:-31px}
.hot-question-listitem .content li.answer .comment-list .comment-arrow *{position: absolute;}
.hot-question-listitem .content li.answer .comment-list .comment-arrow .S_line1_c{color: #bebebe;}
.hot-question-listitem .content li.answer .comment-list .comment-arrow .S_bg1_c{margin-top:1px;color:#f0f0f0}
.hot-question-listitem .content li.answer .comment-list .comment-listitem{border-bottom:1px solid #ccc;padding-bottom:5px;}
/*追问追答*/
.hot-question-listitem .content li.comment{display:none;border:1px solid #bebebe;background-color:#f0f0f0;padding:15px;border-radius: 2px;margin-top: 10px;}
.hot-question-listitem .content li.comment .comment-arrow{position: absolute;z-index: 0;width: 22px;cursor: default;font-size: 23px;margin-top:-31px}
.hot-question-listitem .content li.comment .comment-arrow *{position: absolute;}
.hot-question-listitem .content li.comment .comment-arrow .S_line1_c{color: #bebebe;}
.hot-question-listitem .content li.comment .comment-arrow .S_bg1_c{margin-top:1px;color:#f0f0f0}
/*普通回答*/
.hot-question-listitem .content li.answer-c{position: relative;display:none;border:1px solid #bebebe;background-color:#f0f0f0;padding:15px;border-radius: 2px;margin-top: 10px;}
.hot-question-listitem .content li.answer-c .answer-arrow{position: absolute;left:100px;z-index: 0;width: 22px;cursor: default;font-size: 23px;margin-top:-31px}
.hot-question-listitem .content li.answer-c .answer-arrow *{position: absolute;}
.hot-question-listitem .content li.answer-c .answer-arrow .S_line1_c{color: #bebebe;}
.hot-question-listitem .content li.answer-c .answer-arrow .S_bg1_c{margin-top:1px;color:#f0f0f0}
.hot-question-listitem .content li.answer-c li.agent-info img{float:left;height:42px;width:42px}
.hot-question-listitem .content li.answer-c li.agent-info h4{margin-left:52px;font-size:14px;line-height: 20px;color:#606060}
.hot-question-listitem .content li.answer-c li.agent-info h5{margin-left:52px;font-size:11px;line-height: 20px;color:#999}
.hot-question-listitem .content li.answer-c li.answer-cont{margin-top:10px;color:#676767;font-size:13px;line-height: 20px;}
.hot-question-listitem .content li.answer-c li.comment-cont{margin-top:5px;font-size:11px;color:#999;}
.hot-question-listitem .content li.answer-c li.comment-cont a{float:right;margin-right:10px;}
.hot-question-listitem .content li.answer-c .comment-list{border:1px solid #bebebe;background-color:#f0f0f0;padding: 15px 15px 15px 27px;border-radius: 2px;margin-top: 10px;}
.hot-question-listitem .content li.answer-c .comment-list .comment-arrow{position: absolute;z-index: 0;width: 22px;cursor: default;font-size: 23px;margin-top:-31px}
.hot-question-listitem .content li.answer-c .comment-list .comment-arrow *{position: absolute;}
.hot-question-listitem .content li.answer-c .comment-list .comment-arrow .S_line1_c{color: #bebebe;}
.hot-question-listitem .content li.answer-c .comment-list .comment-arrow .S_bg1_c{margin-top:1px;color:#f0f0f0}
.hot-question-listitem .content li.answer-c .comment-list .comment-listitem{border-bottom:1px solid #ccc;padding-bottom:5px;}

.mainpage-container .main-right .rigth-content{background-color:white;margin-top:10px;padding:30px;padding-top: 15px;height: 585px;}
.mainpage-container .main-right .rigth-content .listitem{font-size:14px}
.mainpage-container .main-right .notread{font-weight:700;}
.mainpage-container .main-right .rigth-content .buyer-list .listitem a{color:#0099cb}
.mainpage-container .main-right .rigth-content .listitem span{float:right;color:#666666}
.mainpage-container .main-right .right-tab  li{float:left;padding: 8px 50px;font-size:14px;color:#6a6a6a}
.mainpage-container .main-right .right-tab  li.current{color:white;background-color:#0099cb;}
.mainpage-container .main-right .rigth-content .listitem .user-info li.key{float:left;font-size:14px;color:#464646;padding:10px 65px 10px 0;width:85px;}
.mainpage-container .main-right .rigth-content .listitem .user-info li.value{float:left;font-size:14px;position:relative;color:#464646;padding:10px 15px 10px 0}
.mainpage-container .main-right .rigth-content .listitem .user-info li.value input[type="file"]{position: absolute;top: 6px;width: 63px;display: block;border: 2px;height: 28px;opacity:0;}
.mainpage-container .main-right .rigth-content .listitem .user-info li.value .upload-gc input[type="file"]{position: absolute;top: 6px;width: 81px;display: block;border: 2px;height: 33px;opacity:0;}
.mainpage-container .main-right .rigth-content .listitem .user-info li.value #uploadsample-p{font-size:11px;color:#9d9d9d;margin-top:4px;}
.mainpage-container .main-right .rigth-content .listitem .user-info li.value #uploadsample-p i{width:15px;height:14px;display: inline-block;background: url(../img/v.png) repeat 0 0;}
.mainpage-container .main-right .rigth-content .listitem .user-info li.operation{float:left;font-size:14px;color:#ccc;padding:10px 0 10px 0;font-size:13px;line-height: 21px;}
.mainpage-container .main-right .rigth-content .listitem .save{background-color:#63a200;color:white;font-size:16px;padding: 10px 35px;line-height: 35px;border-radius:4px;}
.mainpage-container .main-right .rigth-content .listitem .user-info input[type="text"]{width:200px}

/*new agent*/
.new-agent-listitem{margin:10px 0 0 0;border-bottom: 1px solid #ECECEC;padding-bottom:10px}
.new-agent-listitem .logo{border-radius: 5px;width:60px;height:60px;overflow:hidden;text-align:center;display:table;float:left;background-color:white;}
.new-agent-listitem .logo a{display:table-cell;vertical-align:middle;}
.new-agent-listitem .logo img{margin:0 auto;max-width:60px;max-height:60px;}
.new-agent-listitem .content{float:left;width:200px;margin-left:12px;}
.new-agent-listitem.first .content{background:none}
.new-agent-listitem .content li.name{font-size:14px;font-weight: 700;color:#606060;margin-top:10px}
.new-agent-listitem .content li.name a{max-width: 100px;text-overflow:ellipsis;white-space:nowrap;overflow: hidden;display:block;float:left;}
.new-agent-listitem .content li.name a.fancybox-v{padding: 4px 0 0 3px;}
.new-agent-listitem .content li.name a.fancybox-v img{width:12px}
.new-agent-listitem .content li.title{font-size:12px;color:#606060;text-overflow:ellipsis;overflow: hidden;white-space: nowrap;margin-top:3px;padding-left:2px;max-width: 100px;}

/*good case*/
.goodcase-listitem{margin:10px 0 0 0;border-bottom: 1px solid #ECECEC;padding-bottom:10px}
.goodcase-listitem .agent{margin-bottom:10px;}
.goodcase-listitem .logo{border-radius: 5px;width:60px;height:60px;overflow:hidden;text-align:center;display:table;float:left;background-color:white;}
.goodcase-listitem .logo a{display:table-cell;vertical-align:middle;}
.goodcase-listitem .logo img{margin:0 auto;max-width:60px;max-height:60px;}
.goodcase-listitem .content{float:left;width:200px;margin-left:12px;}
.goodcase-listitem.first .content{background:none}
.goodcase-listitem .content li.name{font-size:14px;font-weight: 700;color:#606060;margin-top:10px;}
.goodcase-listitem .content li.name a{max-width: 100px;text-overflow:ellipsis;white-space:nowrap;overflow: hidden;white-space: nowrap;display:block;float:left;}
.goodcase-listitem .content li.name a.fancybox-v{padding: 4px 0 0 3px;}
.goodcase-listitem .content li.name a.fancybox-v img{width:12px}
.goodcase-listitem .content li.title{font-size:13px;color:#606060;text-overflow:ellipsis;margin-top:3px;overflow: hidden;white-space: nowrap;padding-left:2px;}
.goodcase-listitem  .property{font-size:12px;color:black;text-overflow:ellipsis;margin-top:3px}
.goodcase-listitem  .property span{display: block;float: left;margin: 0 5px 5px 0;background-color: #dddddd;padding: 2px 12px;border-radius: 20px;text-align: center;}

/*买家--我的搬刀*/
.mainpage-container{margin:0 auto;width:960px;padding-top:30px;}
.mainpage-container .main-left{float:left;width:200px;height:720px;margin-right:20px;border-radius:10px;background-color:#f6f6f6;}
.mainpage-container .main-right{float:left;width:700px;min-height:680px;border-radius:10px;background-color:#f6f6f6;padding:20px}
.mainpage-container .main-left .main-left-content{width:100%;text-align:center}
.mainpage-container .main-left .person-info{margin:30px auto 0;}
.mainpage-container .main-left .person-info .logo{margin-left:56px;border-radius: 5px;width:88px;height:88px;overflow:hidden;text-align:center;display:table;background-color:white;}
.mainpage-container .main-left .person-info .logo a{display:table-cell;vertical-align:middle;}
.mainpage-container .main-left .person-info .logo img{margin:0 auto;max-width:88px;max-height:88px;}
.mainpage-container .main-left .person-info h5{font-size:18px;padding:15px 15px 0 15px;color:#606060;}
.mainpage-container .main-left .person-info h6{font-size: 12px;color: #767676;}
.mainpage-container .main-left .other-info{border-top:1px solid #c7c7c7;border-bottom:1px solid #c7c7c7;margin: 15px 60px 0;padding: 10px 0;}
.mainpage-container .main-left .other-info h2{font-size:18px;color:#0088b5;}
.mainpage-container .main-left .other-info p{font-size:11px;color:#606060;}
.mainpage-container .main-left .agent-other-info{margin-top:15px}
.mainpage-container .main-left .agent-other-info li{width:20px;float:left;width:45px;}
.mainpage-container .main-left .agent-other-info h2{font-size:18px;color:#0088b5;}
.mainpage-container .main-left .agent-other-info p{font-size:11px;color:#606060;}

.mainpage-container .main-left .function{margin:20px auto;}
.mainpage-container .main-left .function ul li{padding:15px;color:#9b9b9b;font-size:14px}
.mainpage-container .main-left .function ul li.current{color:white;background-color:#4799b1}
.mainpage-container .main-right h2{font-size:14px;color:#656565;padding:8.5px;}
.mainpage-container .main-right h1{font-size:16px;color:#626262;border-bottom:1px solid #088bb7;padding-bottom:5px;margin-bottom:10px;}
.mainpage-container .main-right h1 a{font-size:11px;float:right;}
.mainpage-container .main-right .buyer-list .listitem{border-bottom:1px solid #b3b3b3;padding-bottom:5px;margin-bottom:10px;}
.mainpage-container .main-right .buyer-list .listitem p{font-size:14px;color:#4799b1;padding-bottom:5px}
.mainpage-container .main-right .buyer-list .listitem p em{font-size:14px;color:#464646;padding:0px 5px}
.mainpage-container .main-right .buyer-list .listitem p span{float:right;font-size:13px;color:#666666;line-height: 18px;}
.mainpage-container .main-right .buyer-list .listitem  .operation a{font-size:12px;color:#b3b3b3;float:left;}
.mainpage-container .main-right .buyer-list .listitem  .operation span{font-size:12px;color:#b3b3b3;padding:0 5px 0 5px;float:left;}
.mainpage-container .main-right .rigth-content .buyer-list .listitem  .operation a{font-size:12px;color:#b3b3b3;float:left;}
.mainpage-container .main-right .rigth-content .buyer-list .listitem  .operation span{font-size:11px;color:#b3b3b3;padding:0 5px 0 5px;float:left;}
.mainpage-container .main-right .go-ask{margin-bottom:30px;margin-top:25px;}
.mainpage-container .main-right .go-ask h2{color:#0088b5;font-size:18px;padding:0}
.mainpage-container .main-right .go-ask a{display:block;width:110px;font-size:18px;color:white;background-color:#0088b5;padding:15px 30px 15px 30px;border-radius:4px;margin:20px 20px 0 0px;text-align:center;}
.mainpage-container .main-right  .buyer-list .listitem a{color:#0099cb}
.mainpage-container .main-right  .listitem span{float:right;color:#666666}
.upload-gc a{color: white;background-color: #ff9000;padding: 5px;display: block;width: 70px;text-align: center;border-radius: 7px;line-height: 19px;margin-bottom: 10px;}
.upload-gc p{font-size:11px;color:#9d9d9d}

/*我的问题*/
.mainpage-container .main-right .add-question-header input[type="text"]{width:450px;height: 25px;font-size: 14px;}
.add-question-header h5{color:#4a4a4a;background: url(../img/num1.png) no-repeat 0 0;font-size: 18px;padding-left: 35px;}
.question-param{margin: 15px 0 20px 35px;position: relative;}
.question-type-list{margin-top:10px;}
.question-type{float:left;text-align: center;width: 140px;margin-left:25px;}
.question-type a{color:white;background-color:#D2D2D2;padding: 10px 30px;margin-bottom:5px;border-radius: 10px;display: inline-block;font-size: 24px;}
.question-type a:hover{background-color:#949494}
.question-type p{font-size:12px;color:#949494}
.choose-param{margin-top:10px}
.choose-param h5{color:#4a4a4a;background: url(../img/num2.png) no-repeat 0 0;font-size: 18px;padding-left: 35px;}
.question-param .question-param-li{position:absolute;margin-right: 5px;height: 21px;overflow: hidden;border: 1px solid #a5a5a5;border-radius: 14px;width:90px;z-index: 100;}
.question-param .question-param-li.industry{left:100px;}
.question-param .question-param-li.process{}
.question-param .question-param-li.material{left:300px;}
.question-param .question-param-li.hardness{left:200px;}
.question-param-li ul.param li{font-size:13px;margin: 1px 2px;border-radius: 2px;text-align: center;color:#b8b8b8;}
.add-question-container{width:600px;margin-top: 35px;}
.add-question-container .add-question-wrap{overflow-y: auto;margin-left: 35px;max-height: 250px;padding: 8px 10px;border: 1px solid #ccc;border-radius: 3px;box-shadow: 0 0 4px 0 rgba(0,0,0,.1) inset;-webkit-transition: min-height .25s ease-out;background: #fff;}
.add-question-container .addimg{float:right;}
.add-question-container h5{margin-bottom:5px;color:#4a4a4a;background: url(../img/num3.png) no-repeat 0 0;font-size: 18px;padding-left: 35px;}
.sel{width: 100px;height: 24px;display: block;font-size: 13px;color: #b8b8b8;padding-left: 12px;background: url(../img/dropdown.png) no-repeat 67px 7px;}
.addimg{background: url(../img/addimg.png) no-repeat 0 0;color:#868686;font-size:11px;padding-left:30px;padding-top: 10px;margin-top: 12px;display: block;}
.add-question-editor{min-height:240px;}
.img-in-question{max-width:450px;max-height:300px;}
.question-op{margin-top:20px;margin-left: 35px;}
.question-op .publish{background-color:#d73434;color:white;border-radius:4px;display: block;float: left;width: 100px;text-align: center;padding: 10px;margin-right:10px;}
.question-op .savedraft{background-color:#dd5a5a;color:white;border-radius:4px;display: block;float: left;width: 100px;text-align: center;padding: 10px;}


.reg-left{background-color:#f6f6f6;float:left;width: 340px;padding:40px 45px 15px;border-radius: 10px;margin-right: 100px;min-height: 490px;}
.reg-left h2{color:#737373;font-size:18px;}
.reg-left h2 span{float:right;color:#bababa;font-size:14px;line-height: 26px;}
.reg-left h2 span a{color:#0099cb;margin-left:3px;}
.reg-left ul{margin:30px 0}
.reg-left ul li{float:left;}
.reg-left ul li.key{font-size:14px;color:#9b9b9b;width:90px;}
.reg-left ul li.value .type{font-size:14px;background-color:#e9e9e9;padding:18px 28px;color:#707070;border-radius: 8px;}
.reg-left ul li.value .current{background-color:#0081b7;color:white;}
.reg-left ul li.value input[type="text"]{width: 226px;height: 24px;}
.reg-left ul li.value input[type="password"]{width: 226px;height: 24px;}
.reg-left ul li.value label{font-size:14px;color:#7a7a7a}
.reg-left ul li.value label #agree{width:12px;height: 12px;}
.reg-left ul li.value label #rememberme{width:12px;height: 12px;}
.reg-left ul li.value .forgetpwd{color: #7a7a7a;font-size: 15px;padding-left: 90px;}
.reg-left ul li.value .protocol{font-size:14px;color:#00b4ff}
.reg-left ul li.value .reg{font-size:18px;background-color:#63a200;color:white;border-radius: 5px;padding: 10px 70px;}
.reg-left ul li.value .qqlogin{font-size:18px;color:white;background-color:#0081b7;border-radius: 5px;padding: 10px 22px 10px 70px;background-image: url(../img/reg3.png);background-repeat:no-repeat;background-position: 40px 12px;}
.reg-right{float:left;}
.reg-right .header{margin-bottom:20px;}
.reg-right h1{color:#0099cb;font-size:48px;margin-top: 60px;margin-bottom: 20px;}
.reg-right p{color:#707070;font-size:18px;line-height: 30px;}
.reg-right .verified{background:url(../img/reg1.png) no-repeat 0 0;padding-left: 100px;margin: 35px 0 45px;}
.reg-right .verified h2{font-size:24px;color:#707070;}
.reg-right .verified p{font-size:13px;color:#707070;line-height:20px;}
.reg-right .goodservice{background:url(../img/reg2.png) no-repeat 0 0;padding-left: 100px;}
.reg-right .goodservice h2{font-size:24px;color:#707070;}
.reg-right .goodservice p{font-size:13px;color:#707070;line-height:20px;}


#uploadsample{color:white;background-color:#ff9000;border-radius:5px;padding:3px;}

#pagemask{
position: absolute;
display: none;
top: 0;
left: 0;
width: 100%;
background: #333;
z-index: 10001;
filter: alpha(opacity=30);
opacity: .3;
}

#pagemask-img{
position: absolute;
display: none;
top: 0;
left: 0;
width: 100%;
background: #333;
z-index: 10002;
filter: alpha(opacity=30);
opacity: .3;
}
/*系统提示框*/
.log-win{display:none;position:absolute;top:50px;right:400px;z-index:10002;width:600px;padding: 5px;border-radius: 5px;background:url(../img/transGray.png);font-size:13px;}
.log-layer{background:white;padding-bottom: 10px;}
.log-layer h3{background:#0099cb;color:white;padding:5px;padding-left:20px;margin:0;font-size: 14px}
.log-con{}
.log-con .left{float:left;width:260px;padding: 0px 15px 15px 30px;margin-top: 30px;margin-bottom: 10px;border-right:1px solid black}
.log-con .left h2{font-size:18px;color:#323232;margin-bottom:50px;}
.log-con .left h2 a{float:right;font-size:14px;color:#00b4ff;line-height: 27px;padding-right:10px}
.log-con .left .log_seg{margin-bottom:20px;}
.log-con .left input[type="text"]{height: 25px;width: 240px;padding-left: 6px;}
.log-con .left input[type="password"]{height: 25px;width: 240px;padding-left: 6px;}
.log-con .left label{color:#7a7a7a;font-size:14px;margin-left: 110px;}
.log-con .left input[type="checkbox"]{width:12px;margin-right:10px}
.log-con .left a.forgetpwd{font-size:14px;color:#00b4ff}
.log-con .left a.submit_log{background-color:#16869a;padding:10px 40px;color:white;font-size:18px;border-radius:4px;margin-left:130px}
.log-con .right{float:left;width:250px;padding: 30px 10px 15px 30px;}
.log-con .right h2{font-size:18px;color:#9c9c9c;margin-bottom: 80px;}
.log-con .right a{font-size:18px;color:white;background-color:#0081b7;border-radius: 5px;padding: 10px 35px 10px 70px;background-image: url(../img/reg3.png);background-repeat:no-repeat;background-position: 40px 12px;}
.log-con .right p{font-size:14px;color:#cccccc;margin-top:60px;line-height: 22px;}

/*系统提示框*/
.alert-wrapper{position:absolute;display:none;z-index:10002;width:480px;padding: 5px;border-radius: 5px;background:url(../img/transGray.png);font-size:13px;}
.alert-layer{background:white;padding-bottom: 10px;}
.alert-layer h3{background:#0088b5;color:white;padding:5px;padding-left:20px;margin:0;font-size: 14px}
.closealert{float:right;display:block;margin-right: 5px;}
.alert-content{margin: 35px;margin-bottom:15px;padding-bottom:20px;border-bottom:1px solid #d2d2d2}
.alert-content-left{float:left}
.alert-content-left h1{margin-bottom:5px}
.alert-content-left h4{font-size:14px;width: 270px;}
.alert-content-right{float:right}
.alert-btn{display: block;color: white;font-size: 24px;text-align: center;line-height: 35px;width:115px;height:41px;background-color:#63a200;border-radius:4px;}
.alert-footer{margin: 0 35px 20px 35px;float:right;color:#d2d2d2}
/*上传头像*/
.uploadlogo-win{display:none;position:absolute;top:50px;right:400px;z-index:10002;width:500px;padding: 5px;border-radius: 5px;background:url(../img/transGray.png);font-size:13px;}
.uploadlog-win-content{background-color:white}
.uploadlogo-win h2{background-color:#0099cb;color:white;font-size:14px;padding:3px 10px;}
.uploadlogo-win h2 a{float:right;}
.uploadlogo-win .content{margin: 10px;}
.uploadlogo-win .content .thumb-container{float:left;}
.uploadlogo-win .content .preview-wrap{float:left;height:300px;width:300px;border:1px solid grey}
.uploadlogo-win .content .preview{height:300px;width:300px;}
.thumb-wrap{border: 1px solid #ccc;border-radius: 5px;width:120px;height:120px;overflow:hidden;text-align:center;display:table;float:left;background-color:white;}
.uploadlogo-win .content .thumb{margin:0 auto;max-width:120px;max-height:120px;}
.uploadlogo-win .content .thumb-out{display:table-cell;vertical-align:middle;}

/*插入图片*/
.addimg-win{display:none;position:absolute;top:50px;right:400px;z-index:10002;width:500px;padding: 5px;border-radius: 5px;background:url(../img/transGray.png);font-size:13px;}
.addimg-cont{background-color:white;height:200px;}
.addimg-win h2{background-color:#0099cb;color:white;font-size:14px;padding:3px 10px;}
.addimg-win h2 a{float:right;}

/*专业回答*/
.answer-win{display:none;position:absolute;top:50px;right:400px;z-index:10002;width:600px;padding: 5px;border-radius: 5px;background:url(../img/transGray.png);font-size:13px;}
.answer-win-content{background-color:white;padding-bottom:5px;}
.answer-win h2{background-color:#0099cb;color:white;font-size:14px;padding:3px 10px;}
.answer-win h2 a{float:right;}
.answer-win .content{margin: 10px 30px;}
.answer-win .content .answer-container h5{position:relative;font-size:14px;color:#707070}
.addimg-s{position:absolute;right:0;background: url(../img/addimg-s.png) no-repeat 0 0;float: right;height: 20px;width: 20px;display: block;}
.answer-wrap{overflow-y: auto;margin-top: 5px;margin-bottom:15px;max-height: 250px;padding: 8px 10px;border: 1px solid #ccc;border-radius: 3px;box-shadow: 0 0 4px 0 rgba(0,0,0,.1) inset;-webkit-transition: min-height .25s ease-out;background: #fff;}
.answer-container h4{font-size:14px;color:#707070;}
.answer-container h4 span{margin-left: 10px;font-size:10px;color:#0088b5;}
.answer-container .bargin{width: 520px;height: 65px;resize: none;}
.answer-container label{margin-top:15px;font-size:14px;color:#707070;}
.answer-op{margin:20px 0 20px 0;font-size:16px;}
.answer-op .publish{background-color:#d73434;color:white;border-radius:4px;display: block;float: left;width: 100px;text-align: center;padding: 10px;margin-right:10px;}
.answer-op .savedraft{background-color:#dd5a5a;color:white;border-radius:4px;display: block;float: left;width: 100px;text-align: center;padding: 10px;}


/*图文混合文字*/
.mixed{float:left;text-overflow: ellipsis;white-space: nowrap;width:460px;overflow:hidden;color:#0088b5;}

/*成功案例*/
.agent-logo{border-radius: 5px;width:50px;height:50px;overflow:hidden;text-align:center;display:table;float:left;background-color:white;}
.agent-logo a{display:table-cell;vertical-align:middle;}
.agent-logo a img{margin:0 auto;max-width:50px;max-height:50px;}
.gc-name{color:#383838;font-size:18px;padding-bottom: 5px;}
.agent-detail{float:left;width: 88px;margin-left:12px;margin-top: 0px;}
.agent-detail h2{color:#606060;font-size:14px;padding: 5px 5px 3px 0;}
.agent-detail h2 a.agent-name{overflow:hidden;white-space:nowrap;text-overflow:ellipsis;display:inline-block;width:67px;}
.agent-detail h4{color:#606060;font-size:12px;font-weight:600;overflow:hidden;white-space:nowrap;}
.agent-detail h2 a.fancybox-v{padding: 4px 0 0 0;}
.agent-detail h2 a.fancybox-v img{width:12px}
.download{float:left;margin:17px;}
.download a{background-color: #0088b5;color: white;padding: 10px 30px;border-radius: 5px;}
.gc-param{margin-top:10px;}
.gc-param span{display:inline-block;background-color:#dddddd;background-color: #dddddd;padding: 2px 12px;border-radius: 20px;text-align: center;font-size:12px;}
.gc-li{padding:15px 0 10px 0;border-bottom:1px solid #ccc}
.gc-list-header .question-param{margin:10px}
.gc-list-header h1{color: #6c6c6c;font-size: 14px;padding-bottom: 5px;border-bottom: 1px solid #0088b5;}
.gc-list-header h1 a:hover{color:#00c0ff}
.agent-list-header h1{color: #585858;font-size: 18px;padding-bottom: 5px;border-bottom: 1px solid #0088b5;}
.a-zlist a.current{background-color:#0088b5;color:white}
.a-zlist a{color:#0088b5;display:block;float:left;width:30px;height:30px;margin:5px;text-align:center;font-size:24px}
.gc-list-content{}
.gc-item{margin-top:25px;}
.gc-item h1{font-size:24px;color:#0088b5;border-bottom:1px solid #0088b5;padding-bottom:5px;margin-bottom: 15px;}
.agent-info{margin-top: 6px;}



.question-param-wrap{border-bottom:1px solid #0088b5;height: 32px;margin-top: 5px;}

/*代理商详细页面*/
.regular{font-weight:600;}
.company-detail{margin-top:20px;}
.company-detail .left{float:left;}
.company-detail .right{float:left;margin-left:20px;max-width:480px;}
.company-detail .left .logo{border-radius: 5px;width:60px;height:60px;overflow:hidden;text-align:center;display:table;float:left;background-color:white;}
.company-detail .left .logo a{display:table-cell;vertical-align:middle;}
.company-detail .left .logo img{margin:0 auto;max-width:60px;max-height:60px;}
.company-base-info h3{color:#2e2e2e;font-size:16px;margin-bottom: 5px;}
.company-base-info h3 span{display:block;float:left;}
.company-base-info h3 a{display:block;float:left;margin: 4px;}
.company-base-info h4{color:#767676;font-size:16px;margin-bottom: 5px;font-weight: 600;}
.company-base-info h5{color:#0088b5;font-size:12px;margin-bottom: 5px;}
.company-base-info{border-bottom:1px solid #ececec;margin-top: 6px;padding-bottom: 14px;}
.company-contact-info{margin-top:10px;padding-bottom:10px;border-bottom:1px solid #ececec}
.company-contact-info .item .key{float:left;width:100px;text-align:right;font-size:12px;color:#898989;}
.company-contact-info .item .value{float:left;font-size:12px;color:#383838;margin-left:10px;}
.company-contact-info .item{margin-bottom:5px;}
.company-description{margin-top:10px;padding-bottom:10px;border-bottom:1px solid #ececec}
.company-description h2{color:#555;font-size:14px;margin-bottom: 5px;}
.company-description p{font-size:12px;color:black;text-indent: 24px;line-height: 22px;}
.company-sample{margin-top:10px;padding-bottom:10px;border-bottom:1px solid #ececec}
.company-sample h2{color:#555;font-size:14px;margin-bottom: 5px;}
.company-sample a.sample{color:#0099cb;font-size:12px;margin-right:10px;}
.company-sample a.sample:hover{text-decoration:underline;}
.company-goodcase{margin-top:10px;padding-bottom:10px;border-bottom:1px solid #ececec}
.company-goodcase h2{color:#555;font-size:14px;margin-bottom: 5px;}






/*common style*/
.fr{float:right;}
.fl{float:left;}
.mainpage-container .main-right .mi{margin: initial;}
.ml15{margin-left:15px}
.mt20{margin-top:20px}
.mt15{margin-top:15px}
.mb20{margin-bottom:20px}
.mb15{margin-bottom:15px}
.pb15{padding-bottom:15px;}
.mb0{margin-bottom:0px}
.pt20{padding-top:20px}
.ml30{margin-left:50px}
.bbg{border-bottom:1px solid #b3b3b3}
.btg{border-top:1px solid #b3b3b3}
.blrg{border-right: 1px solid #ccc;border-left: 1px solid #ccc;}

.width462{width:462px;}
.width630{width:580px;}
.width300{width:280px;}
.width162{width:162px;}
.width180{width:180px}
.width60{width:60px;}