body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td {
	margin:0;
	padding:0;
	font-family: "微软雅黑";
	font-size:12px/1.5;
}
body{}position: relative;height: 100%;}
img{border:none;}
html{flow-y:scroll;height:100%;background: url(../img/bk.jpg) repeat 0 0;}  
table{border-collapse: collapse;border-spacing: 0;}
em{font-style:normal}
ul, li, ol {
list-style: none;
}
ul{display:block;}
a{text-decoration: none;color: inherit;}
/* Clear Fix */ 
.clearfix:after { content:"."; display:block; height:0; clear:both; visibility:hidden; } 
.clearfix { display:inline-block; } 
/* Hide from IE Mac */ 
.clearfix {display:block;} 
/* End hide from IE Mac */ 
/* end of clearfix */

/*common style*/
.fr{float:right;}
.fl{float:left;}
.mt20{margin-top:20px}
.mb20{margin-bottom:20px}
.mb0{margin-bottom:0px}
.pt20{padding-top:20px}
.ml30{margin-left:30px}
.bbg{border-bottom:1px solid #b3b3b3}
.btg{border-top:1px solid #b3b3b3}
.blrg{border-right: 1px solid #ccc;border-left: 1px solid #ccc;}


.dsf-form-text-input {padding: 8px 10px;font-size: 13px;line-height: 15px;box-shadow: 0 1px 1px rgba(0,0,0,.1) inset;border-radius: 3px;background: #fff;border: 1px solid #ccc;color: #222;}
div[contentEditable]{outline:0}
.body-wrapper {position: relative;min-height: 100%;}
/*footer-container*/
.clear-footer{height:100px;}
.footer-container{position:absolute;bottom:0;background:#eeeeee;width:100%;height:100px}
.footer-content{margin:0 auto;padding-top: 25px;}
.footer-content p{text-align:center;font-size:12px;padding:5px}
.footer-content p.top{color:#333333;}
.footer-content p.top span{padding:0 10px 0 10px;}
.footer-content p.bottom{color:#666666;}

/*main head*/
.main-head-container{background:#0099cb;width:100%;}
.main-head-content{margin:0 auto;width:960px;color:white;}
.main-head-container .main-head-content .logo{float:left;}
.main-head-container .main-head-content .logo h2{font-family:"幼圆";font-size:34px;padding:10px}
.main-head-container .main-head-content .nav{float:left;}
.main-head-container .main-head-content .nav ul li{display:inline-block;padding:16px 15px 16px 15px ;font-size: 21px;}
.main-head-container .main-head-content .nav ul li.current {background:#006e9c}
.main-head-container .main-head-content .login{float:right;min-width:140px;}
.main-head-container .main-head-content .login ul.no-auth li{display:inline-block;margin:13px;margin-top:20px;font-size: 12px;}
.main-head-container .main-head-content .ask{float:left;margin: 13px;}
.main-head-container .main-head-content .ask a{display:block;text-align: center;padding:5px 10px;border-radius:3px;font-size:18px;background-color:#ff6600;}

.main-head-container .main-head-content .login a.top-user{display: block;position:relative;height:60px;text-indent:55px;}
.main-head-container .main-head-content .login a.top-user .name{line-height:57px;font-size: 18px;}
.main-head-container .main-head-content .login a.top-user img{width:30px;height:30px;position:absolute;top: 15px;left: 10px;}

.main-head-container .main-head-content .login .top-dropdown{position:absolute;display:none;background-color: #007298;top: 60px;min-width: 140px;z-index: 100;}
.main-head-container .main-head-content .login ul.top-dropdown li a{display:block;text-align:center;padding:10px;}
.main-head-container .main-head-content .login ul.top-dropdown li a:hover{background-color:#0099cb;}
/*main banner*/
.main-banner-container{background:#a6cad9;width:100%;height:300px;opacity:0.8;position:relative;}

.main-bk-wrapper{width:100%;padding-bottom: 30px;padding-top: 10px;z-index: 1;}
.pt0{padding-top:0px}
.main-content-container{margin:0 auto;width:960px;margin-top:30px;padding:10px;border-radius: 4px;background-color: #f7f7f7;}

.main-list-container{float:left;}
.main-list-header{color:#00b4ff;font-weight:700;font-size:18px;padding-bottom:5px;border-bottom: 2px solid #00b4ff;}
.ff7e00{color:#ff7e00;border-bottom: 2px solid #ff7e00;}
.ff002a{color:#ff002a;border-bottom: 2px solid #ff002a;}

.main-list-header a{float:right;font-size:11px;line-height: 30px;}
.ques-sort{background: url(../img/sort.png) no-repeat 51px 9px;color: #9d9d9d;padding-right: 15px;}
.ques-type{border-bottom: 2px solid #00b4ff;margin-top: 5px;}

/*hot question*/
.hot-question-listitem{margin:10px 0 10px 0;}
.seperation{background: url(../img/question-sep.png) repeat-x 0 0;margin-top:15px;margin-bottom: 15px;height: 2px;}
.seperation10{background: url(../img/question-sep.png) repeat-x 0 0;margin-top:10px;margin-bottom: 10px;height: 2px;}
.hot-question-listitem .logo{float:left;}
.hot-question-listitem .logo img{width:66px;height:66px;}
.hot-question-listitem .content{float:left;width:537px;margin-left:20px;/* background: url(../img/question-sep.png) repeat-x 0 0; */}
.hot-question-listitem.first .content{background:none}
.hot-question-listitem .content li.name{font-size:16px;font-weight: 600;color:#606060;margin-top:5px}
.hot-question-listitem .content li.name p{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.hot-question-listitem .content li.title{font-size:18px;color:#00b4ff;margin-top:5px}
.hot-question-listitem .content li.title p{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.hot-question-listitem .content li.text{font-size:13px;line-height: 20px;text-overflow:ellipsis;color:#666666;margin-top:10px}
.hot-question-listitem .content li.text img{float:left;width: 106px;}
.hot-question-listitem .content li.text p{overflow:hidden;text-overflow:ellipsis;height: 75px;padding-left:15px;font-size: 13px;}
.hot-question-listitem .content li.info{font-size:13px;line-height: 20px;color:#999999;margin: 10px 0 0 0;}
.hot-question-listitem .content li.answer{border:1px solid #bebebe;background-color:#f0f0f0;padding:15px;border-radius: 2px;margin-top: 10px;}
.hot-question-listitem .content li.answer .answer-arrow{position: absolute;z-index: 0;width: 22px;cursor: default;font-size: 23px;margin-top:-31px}
.hot-question-listitem .content li.answer .answer-arrow *{position: absolute;}
.hot-question-listitem .content li.answer .answer-arrow .S_line1_c{color: #bebebe;}
.hot-question-listitem .content li.answer .answer-arrow .S_bg1_c{margin-top:1px;color:#f0f0f0}
.hot-question-listitem .content li.answer li.agent-info img{float:left;height:42px;width:42px}
.hot-question-listitem .content li.answer li.agent-info h4{margin-left:52px;font-size:14px;line-height: 20px;color:#373737}
.hot-question-listitem .content li.answer li.agent-info h5{margin-left:52px;font-size:11px;line-height: 20px;color:#999}
.hot-question-listitem .content li.answer li.answer-cont{margin-top:10px;color:#676767;font-size:13px;line-height: 20px;}
.hot-question-listitem .content li.answer li.comment-cont{margin-top:5px;font-size:11px;color:#999;}
.hot-question-listitem .content li.answer li.comment-cont a{float:right;margin-right:10px;}
.hot-question-listitem .content li.answer .comment-list{border:1px solid #bebebe;background-color:#f0f0f0;padding: 15px 15px 15px 27px;border-radius: 2px;margin-top: 10px;}
.hot-question-listitem .content li.answer .comment-list .comment-arrow{position: absolute;z-index: 0;width: 22px;cursor: default;font-size: 23px;margin-top:-31px}
.hot-question-listitem .content li.answer .comment-list .comment-arrow *{position: absolute;}
.hot-question-listitem .content li.answer .comment-list .comment-arrow .S_line1_c{color: #bebebe;}
.hot-question-listitem .content li.answer .comment-list .comment-arrow .S_bg1_c{margin-top:1px;color:#f0f0f0}
.hot-question-listitem .content li.answer .comment-list .comment-listitem{border-bottom:1px solid #ccc;padding-bottom:5px;}
/*new agent*/
.main-list-header .new-agent{color:#ff7e00;}
.main-list-header .new-agent li{border-bottom:3px solid #ff7e00;}
.main-list-header .new-agent li a.seemore{color:#ff7e00;}
.new-agent-listitem{margin:20px 0 10px 0}
.new-agent-listitem .logo{border-radius: 5px;width:60px;height:60px;overflow:hidden;text-align:center;display:table;float:left;background-color:white;}
.new-agent-listitem .logo a{display:table-cell;vertical-align:middle;}
.new-agent-listitem .logo img{margin:0 auto;max-width:60px;max-height:60px;}
.new-agent-listitem .content{float:left;width:207px;margin-left:20px;}
.new-agent-listitem.first .content{background:none}
.new-agent-listitem .content li.name{font-size:16px;font-weight: 600;color:#373737;text-overflow:ellipsis;white-space:nowrap;margin-top:10px}
.new-agent-listitem .content li.title{font-size:13px;color:#939393;text-overflow:ellipsis;margin-top:3px}

/*good case*/
.main-list-header .goodcase{color:#ff002a;}
.main-list-header .goodcase li{border-bottom:3px solid #ff002a;}
.main-list-header .goodcase li a.seemore{color:#ff002a;}
.goodcase-listitem{margin:20px 0 10px 0}
.goodcase-listitem .logo{float:left;}
.goodcase-listitem .logo img{width:60px;height:60px}
.goodcase-listitem .content{float:left;width:207px;margin-left:20px;}
.goodcase-listitem.first .content{background:none}
.goodcase-listitem .content li.name{font-size:16px;font-weight: 600;color:#373737;text-overflow:ellipsis;white-space:nowrap;margin-top:10px}
.goodcase-listitem .content li.title{font-size:13px;color:#939393;text-overflow:ellipsis;margin-top:3px}
.goodcase-listitem  .property{font-size:13px;color:#939393;text-overflow:ellipsis;margin-top:3px}
.goodcase-listitem  .property span{display: block;float: left;margin: 0 5px 5px 0;background-color:#dddddd;border-radius: 6px;padding: 3px;line-height: 24px;}

/*买家--我的搬刀*/
.mainpage-container{margin:0 auto;width:960px;padding-top:30px;}
.mainpage-container .main-left{float:left;width:200px;height:720px;margin-right:20px;border-radius:10px;background-color:#f6f6f6;}
.mainpage-container .main-right{float:left;width:700px;min-height:680px;border-radius:10px;background-color:#f6f6f6;padding:20px}
.mainpage-container .main-left .main-left-content{width:100%;text-align:center}
.mainpage-container .main-left .person-info{margin:30px auto 0;}
.mainpage-container .main-left .person-info img{width:88px;height:88px;}
.mainpage-container .main-left .person-info h5{font-size:18px;padding:15px 15px 0 15px;color:#606060;}
.mainpage-container .main-left .person-info h6{font-size: 12px;color: #767676;}
.mainpage-container .main-left .other-info{border-top:1px solid #c7c7c7;border-bottom:1px solid #c7c7c7;margin: 15px 60px 0;padding: 10px 0;}
.mainpage-container .main-left .other-info h2{font-size:18px;color:#0088b5;}
.mainpage-container .main-left .other-info p{font-size:11px;color:#606060;}
.mainpage-container .main-left .agent-other-info{margin-top:15px}
.mainpage-container .main-left .agent-other-info li{width:20px;float:left;width:45px;}
.mainpage-container .main-left .agent-other-info h2{font-size:18px;color:#0088b5;}
.mainpage-container .main-left .agent-other-info p{font-size:11px;color:#606060;}

.mainpage-container .main-left .function{margin:20px auto;}
.mainpage-container .main-left .function ul li{padding:15px;color:#9b9b9b;font-size:14px}
.mainpage-container .main-left .function ul li.current{color:white;background-color:#4799b1}
.mainpage-container .main-right h2{font-size:14px;color:#656565;padding:8.5px;}
.mainpage-container .main-right h1{font-size:16px;color:#626262;border-bottom:1px solid #088bb7;padding-bottom:5px;margin-bottom:10px;}
.mainpage-container .main-right h1 a{font-size:11px;float:right;}
.mainpage-container .main-right .buyer-list .listitem{border-bottom:1px solid #b3b3b3;padding-bottom:5px;margin-bottom:10px;}
.mainpage-container .main-right .buyer-list .listitem p{font-size:14px;color:#4799b1;padding-bottom:5px}
.mainpage-container .main-right .buyer-list .listitem p em{font-size:14px;color:#464646;padding:0px 5px}
.mainpage-container .main-right .buyer-list .listitem p span{float:right;font-size:13px;color:#666666;line-height: 18px;}
.mainpage-container .main-right .buyer-list .listitem  .operation a{font-size:12px;color:#b3b3b3;float:left;}
.mainpage-container .main-right .buyer-list .listitem  .operation span{font-size:12px;color:#b3b3b3;padding:0 5px 0 5px;float:left;}
.mainpage-container .main-right .rigth-content .buyer-list .listitem  .operation a{font-size:12px;color:#b3b3b3;float:left;}
.mainpage-container .main-right .rigth-content .buyer-list .listitem  .operation span{font-size:11px;color:#b3b3b3;padding:0 5px 0 5px;float:left;}
.mainpage-container .main-right .go-ask{margin-bottom:30px;margin-top:25px;}
.mainpage-container .main-right .go-ask h2{color:#0088b5;font-size:18px;padding:0}
.mainpage-container .main-right .go-ask a{display:block;width:110px;font-size:18px;color:white;background-color:#0088b5;padding:15px 30px 15px 30px;border-radius:4px;margin:20px 20px 0 0px;text-align:center;}
.mainpage-container .main-right  .buyer-list .listitem a{color:#0099cb}
.mainpage-container .main-right  .listitem span{float:right;color:#666666}
.upload-gc a{color: white;background-color: #ff9000;padding: 5px;display: block;width: 70px;text-align: center;border-radius: 7px;line-height: 19px;margin-bottom: 10px;}
.upload-gc p{font-size:11px;color:#9d9d9d}

/*我的问题*/
.mainpage-container .main-right .add-question-header input[type="text"]{width:450px;height: 25px;font-size: 14px;}
.add-question-header h5{color:#4a4a4a;background: url(../img/num1.png) no-repeat 0 0;font-size: 18px;padding-left: 35px;}
.mainpage-container .main-right .question-param{margin: 15px 0 20px 35px;position: relative;}
.choose-param h5{color:#4a4a4a;background: url(../img/num2.png) no-repeat 0 0;font-size: 18px;padding-left: 35px;}
.mainpage-container .main-right .question-param .question-param-li{position:absolute;margin-right: 5px;height: 21px;overflow: hidden;border: 1px solid #a5a5a5;border-radius: 14px;width:90px}
.mainpage-container .main-right .question-param .question-param-li.industry{left:100px;}
.mainpage-container .main-right .question-param .question-param-li.process{}
.mainpage-container .main-right .question-param .question-param-li.material{left:300px;}
.mainpage-container .main-right .question-param .question-param-li.hardness{left:200px;}
.question-param-li ul li{font-size:13px;margin: 1px 2px;border-radius: 2px;text-align: center;color:#b8b8b8;}
.mainpage-container .main-right .add-question-container{width:600px;margin-top: 35px;}
.mainpage-container .main-right .add-question-container .add-question-wrap{overflow-y: auto;margin-left: 35px;max-height: 390px;padding: 8px 10px;border: 1px solid #ccc;border-radius: 3px;box-shadow: 0 0 4px 0 rgba(0,0,0,.1) inset;-webkit-transition: min-height .25s ease-out;background: #fff;}
.mainpage-container .main-right .add-question-container .addimg{float:right;}
.mainpage-container .main-right .add-question-container h5{margin-bottom:5px;color:#4a4a4a;background: url(../img/num3.png) no-repeat 0 0;font-size: 18px;padding-left: 35px;}
.sel{width: 100px;height: 24px;display: block;font-size: 13px;color: #b8b8b8;padding-left: 12px;background: url(../img/dropdown.png) no-repeat 67px 7px;}
.addimg{background: url(../img/addimg.png) no-repeat 0 0;color:#868686;font-size:11px;padding-left:30px;padding-top: 10px;margin-top: 12px;display: block;}
.add-question-editor{min-height:370px;}
.img-in-question{max-width:450px;max-height:300px;}
.mainpage-container .main-right  .question-op{margin-top:20px;}
.mainpage-container .main-right  .question-op .publish{background-color:#d73434;color:white;border-radius:4px;display: block;float: left;width: 100px;text-align: center;padding: 10px;margin-right:10px;}
.mainpage-container .main-right  .question-op .savedraft{background-color:#dd5a5a;color:white;border-radius:4px;display: block;float: left;width: 100px;text-align: center;padding: 10px;}




.mainpage-container .main-right .rigth-content{background-color:white;margin-top:10px;padding:30px;height: 570px;}
.mainpage-container .main-right .rigth-content .listitem{font-size:14px}
.mainpage-container .main-right .notread{font-weight:700;}
.mainpage-container .main-right .rigth-content .buyer-list .listitem a{color:#0099cb}
.mainpage-container .main-right .rigth-content .listitem span{float:right;color:#666666}
.mainpage-container .main-right .right-tab  li{float:left;padding: 8px 50px;font-size:14px;color:#6a6a6a}
.mainpage-container .main-right .right-tab  li.current{color:white;background-color:#0099cb;}
.mainpage-container .main-right .rigth-content .listitem .user-info li{float:left;font-size:14px;}
.mainpage-container .main-right .rigth-content .listitem .user-info li.key{color:#464646;padding:10px 65px 10px 0;width:70px;}
.mainpage-container .main-right .rigth-content .listitem .user-info li.value{color:#464646;padding:10px 15px 10px 0}
.mainpage-container .main-right .rigth-content .listitem .user-info li.operation{color:#ccc;padding:10px 0 10px 0;font-size:13px;line-height: 21px;}
.mainpage-container .main-right .rigth-content .listitem .save{background-color:#63a200;color:white;font-size:16px;padding: 10px 35px;line-height: 35px;border-radius:4px;}
.mainpage-container .main-right .rigth-content .listitem .user-info input[type="text"]{width:200px}

.reg-left{background-color:#f6f6f6;float:left;width: 340px;padding:40px 45px 15px;border-radius: 10px;margin-right: 100px;min-height: 490px;}
.reg-left h2{color:#737373;font-size:18px;}
.reg-left h2 span{float:right;color:#bababa;font-size:14px;line-height: 26px;}
.reg-left h2 span a{color:#0099cb;margin-left:3px;}
.reg-left ul{margin:30px 0}
.reg-left ul li{float:left;}
.reg-left ul li.key{font-size:14px;color:#9b9b9b;width:110px;}
.reg-left ul li.value .type{font-size:14px;background-color:#e9e9e9;padding:18px 28px;color:#707070;border-radius: 8px;}
.reg-left ul li.value .current{background-color:#0081b7;color:white;}
.reg-left ul li.value input[type="text"]{width: 226px;height: 24px;}
.reg-left ul li.value input[type="password"]{width: 226px;height: 24px;}
.reg-left ul li.value label{font-size:14px;color:#7a7a7a}
.reg-left ul li.value label #agree{width:12px;height: 12px;}
.reg-left ul li.value label #rememberme{width:12px;height: 12px;}
.reg-left ul li.value .forgetpwd{color: #7a7a7a;font-size: 15px;padding-left: 90px;}
.reg-left ul li.value .protocol{font-size:14px;color:#00b4ff}
.reg-left ul li.value .reg{font-size:18px;background-color:#63a200;color:white;border-radius: 5px;padding: 10px 70px;}
.reg-left ul li.value .qqlogin{font-size:18px;color:white;background-color:#0081b7;border-radius: 5px;padding: 10px 22px 10px 70px;background-image: url(../img/reg3.png);background-repeat:no-repeat;background-position: 40px 12px;}
.reg-right{float:left;}
.reg-right .header{margin-bottom:20px;}
.reg-right h1{color:#0099cb;font-size:48px;margin-top: 60px;margin-bottom: 20px;}
.reg-right p{color:#707070;font-size:18px;line-height: 30px;}
.reg-right .verified{background:url(../img/reg1.png) no-repeat 0 0;padding-left: 100px;margin: 35px 0 45px;}
.reg-right .verified h2{font-size:24px;color:#707070;}
.reg-right .verified p{font-size:13px;color:#707070;line-height:20px;}
.reg-right .goodservice{background:url(../img/reg2.png) no-repeat 0 0;padding-left: 100px;}
.reg-right .goodservice h2{font-size:24px;color:#707070;}
.reg-right .goodservice p{font-size:13px;color:#707070;line-height:20px;}


#pagemask {
position: absolute;
display: none;
top: 0;
left: 0;
width: 100%;
background: #333;
z-index: 10001;
filter: alpha(opacity=30);
opacity: .3;
}

/*系统提示框*/
.log-win{display:none;position:absolute;top:50px;right:400px;z-index:10002;width:600px;padding: 5px;border-radius: 5px;background:url(../img/transGray.png);font-size:13px;}
.log-layer{background:white;padding-bottom: 10px;}
.log-layer h3{background:#0099cb;color:white;padding:5px;padding-left:20px;margin:0;font-size: 14px}
.log-con{}
.log-con .left{float:left;width:260px;padding: 0px 15px 15px 30px;margin-top: 30px;margin-bottom: 10px;border-right:1px solid black}
.log-con .left h2{font-size:18px;color:#323232;margin-bottom:50px;}
.log-con .left h2 a{float:right;font-size:14px;color:#00b4ff;line-height: 27px;padding-right:10px}
.log-con .left .log_seg{margin-bottom:20px;}
.log-con .left input[type="text"]{height: 25px;width: 240px;padding-left: 6px;}
.log-con .left input[type="password"]{height: 25px;width: 240px;padding-left: 6px;}
.log-con .left label{color:#7a7a7a;font-size:14px;margin-left: 110px;}
.log-con .left input[type="checkbox"]{width:12px;margin-right:10px}
.log-con .left a.forgetpwd{font-size:14px;color:#00b4ff}
.log-con .left a.submit_log{background-color:#16869a;padding:10px 40px;color:white;font-size:18px;border-radius:4px;margin-left:130px}
.log-con .right{float:left;width:250px;padding: 30px 10px 15px 30px;}
.log-con .right h2{font-size:18px;color:#9c9c9c;margin-bottom: 80px;}
.log-con .right a{font-size:18px;color:white;background-color:#0081b7;border-radius: 5px;padding: 10px 35px 10px 70px;background-image: url(../img/reg3.png);background-repeat:no-repeat;background-position: 40px 12px;}
.log-con .right p{font-size:14px;color:#cccccc;margin-top:60px;line-height: 22px;}
/*系统提示框*/
.alert-wrapper{position:absolute;display:none;z-index:10002;width:480px;padding: 5px;border-radius: 5px;background:url(../img/transGray.png);font-size:13px;}
.alert-layer{background:white;padding-bottom: 10px;}
.alert-layer h3{background:#f60;color:white;padding:5px;padding-left:20px;margin:0;font-size: 14px}
.closealert{float:right;display:block}
.alert-content{margin: 35px;margin-bottom:15px;padding-bottom:20px;border-bottom:1px solid #d2d2d2}
.alert-content-left{float:left}
.alert-content-left h1{margin-bottom:5px}
.alert-content-left h4{font-size:14px;width: 270px;}
.alert-content-right{float:right}
.alert-btn{display: block;color: white;font-size: 24px;text-align: center;line-height: 35px;width:115px;height:41px;background:url(../img/green.png);}
.alert-footer{margin: 0 35px 20px 35px;float:right;color:#d2d2d2}
/*上传头像*/
.uploadlogo-win{display:none;position:absolute;top:50px;right:400px;z-index:10002;width:500px;padding: 5px;border-radius: 5px;background:url(../img/transGray.png);font-size:13px;}
.uploadlog-win-content{background-color:white}
.uploadlogo-win h2{background-color:#0099cb;color:white;font-size:14px;padding:3px 10px;}
.uploadlogo-win h2 a{float:right;}
.uploadlogo-win .content{margin: 10px;}
.uploadlogo-win .content .thumb-wrap{float:left;}
.uploadlogo-win .content .preview-wrap{float:left;height:300px;width:300px;border:1px solid grey}
.uploadlogo-win .content .preview{height:300px;width:300px;}
.uploadlogo-win .content .thumb{height:120px;width:120px;}

/*插入图片*/
.addimg-win{display:none;position:absolute;top:50px;right:400px;z-index:10002;width:500px;padding: 5px;border-radius: 5px;background:url(../img/transGray.png);font-size:13px;}
.addimg-cont{background-color:white;height:200px;}
.addimg-win h2{background-color:#0099cb;color:white;font-size:14px;padding:3px 10px;}
.addimg-win h2 a{float:right;}

.ml30{margin-left:30px}
.width462{width:462px;}
.width630{width:630px;}
.width300{width:300px;}
.width162{width:162px;}
.width180{width:180px}
.width60{width:60px;}