html {overflow-x:hidden;}

.qqserver p img {display: inline; margin-top:-5px; vertical-align:middle;}
.scrollsidebar{position:absolute; z-index:999; top:220px;right:0px;margin-top: 100px;margin-right:20px;}
.erweima{margin-top: 130px;}
.erweima p{background-color:#0099cb;color:white;font-size:12px;margin-top: 5px;text-align: center;line-height: 18px;padding: 5px;}
.side_content{width:150px; height:auto; overflow:hidden; float:right;display:none;background-color:#f7f7f7;border-radius:5px;margin-left: 2px;height: 120px;text-align:center; }
.side_content .phone{font-size:13px;margin-top: 15px;}
.side_content .qq{font-size:13px;margin-top: 15px;}
.show_btn{ width:42px; height:120px; overflow:hidden;  float:right; cursor:pointer;}

