html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
	margin:0;
	padding:0;
	border:0;
	font:inherit;
	font-family: "微软雅黑";
	font-size:100%;
	vertical-align:baseline
}
ul, li, ol {list-style: none;}
.ui-page{background:#f0f0f0;}
.ui-body-z{background:white;}
.ui-body-search{background:#006c8f;}
/* Clear Fix */ 
.clearfix:after { content:"."; display:block; height:0; clear:both; visibility:hidden; } 
.clearfix { display:inline-block; } 
/* Hide from IE Mac */ 
.clearfix {display:block;} 
a{text-decoration:none;}
html {	-ms-text-size-adjust:100%;	-webkit-text-size-adjust:100%;	font-family:Helvetica,"STHeiti STXihei","Microsoft JhengHei","Microsoft YaHei",Tohoma,Arial}
.content-body {background-color: #fff;box-shadow: 0px 2px 10px rgba(0,0,0,0.1);margin: 0 auto;}
.content-body {	background-color:#fff;	padding:10px;	border:1px solid #ddd}
.custom-richtext {box-sizing:border-box;margin-top:10px;font-size:16px;color:#333;line-height:1.5;overflow:hidden;text-align:left;word-wrap:break-word}
.custom-title {background: url('http://kdt-static.qiniudn.com/v2/image/wap/bottom_line.png') left top no-repeat;background-size: 100% 1px;background-position: left bottom;padding: 0 10px;box-sizing: border-box;margin-bottom: 10px;
padding-top: 10px;
padding-bottom: 10px;
overflow: hidden;
word-break: break-all;
}
.list-item{border-bottom:1px solid #eee;padding:10px;color:#111}
.body{text-align:center;}
.slides{margin-bottom:10px;}
.slides li{float:left;margin-right:10px;}
.slides li a{color: #388cba;}
.log-title{width:auto;color:#0099cb;font-weight:bold;line-height:4em;background-color:#f0f0f0;padding:3em 0;height: 128px;background-size: 70px;background-position: center;background-image: url(../img/wx/cardlogo.png);background-repeat: no-repeat;}
.custom-title .title {margin: 0;font-size: 18px;line-height: 22px;}
.custom-title .right{float:left;margin-left:10px;margin-top:10px;width: 47%;}
.custom-title .right h4{font-size:14px;}
.custom-title .right h5{font-size:14px;}
.provider{color:#0099cb;font-size:14px;line-height:30px;background-color:#f4f8f9;text-indent: 10px;}
.text-left {text-align: left;}
.custom-richtext img {background: none;max-width: 100% !important;min-height: 1px;width: auto !important;height: auto !important;vertical-align: middle;}
.custom-richtext p {margin: 0 0 1em 0;}
.hidden{display:none;}
.footer {margin: 20px auto 0;}
.copyright .ft-links {text-align: center;color: #6191bf;}
.copyright .ft-copyright {text-align: center;margin-top: 10px;font-size: 12px;}
.copyright .ft-copyright>a {color: #999;}

.log-wrap{border:1px solid #e6e6e6;border-left:none;border-right:none;text-align:left;background: white;}
.log-wrap .section{margin:0.5em 1.5em;height:3em;}
.log-wrap .section:first-child{border-bottom:1px solid #e6e6e6}
.log-wrap .section input{float:left;margin: 0;margin-left:2em;border:0;font-size:1.2em;line-height: 2em;width: 80%;}
.log-wrap .mail{background:url(../img/wx/wxname.png) no-repeat 0.5em center;background-size: 20px;}
.log-wrap .pwd{background:url(../img/wx/wxpwd.png) no-repeat 0.5em center;background-size: 20px;}
.log-wrap em.error{color:red;text-align: left;display: block;margin: 0.5em 4em;}
.op{margin:1.5em 0;}
.op a{background-color:#0099cb;color:white;display: block;padding: 0.8em 0;width: 90%;margin:0 auto;border-radius: 0.3em;font-size: 1em;border:0;text-align: center;text-shadow:none;}
.op a#submit_like{background-color:#0099cb;color:white;display: block;padding: 0.8em 0;width: 100%;margin:0 auto;border-radius: 0.3em;font-size: 1em;border:0;text-align: center;text-shadow:none;}
.op a#submit_like.islike{background-color:grey;color:white;display: block;padding: 0.8em;width: 90%;margin:0 auto;border-radius: 0.3em;font-size: 1em;border:0;text-align: center;}
.op button{background-color:#0099cb;color:white;display: block;padding: 0.8em;width: 90%;margin:0 auto;border-radius: 0.3em;font-size: 1em;border:0;margin-bottom:1em;}
.op90{margin:1.5em auto;width: 90%;}
.op90 button{background-color:#0099cb;color:white;display: block;padding: 0.8em;width: 100%;border-radius: 0.3em;font-size: 1em;border:0;margin-bottom:1em;}
.op-reg{width:100%;height:2em;margin-top:2.5em}
.op-reg a{color:#8ca6af;}
.reg-title{padding:1.5em 0;background-color:#f0f0f0;}
.reg-title h1{color:#0099cb;font-size:1.5em}
.reg-wrap .section{border:1px solid #bababa;border-radius:3px;margin: 0.5em auto;width: 90%;height:2.5em;background-color: white;}
.reg-wrap .section input{margin:0.15em 0 0.15em 2em;border:0;font-size:1.1em;height: 1.6em;width: 80%;}
.reg-wrap .section textarea{margin:0.1em 0 0.4em 2em;border:0;font-size:1.1em;height: 10em;width: 80%;}
.reg-wrap .mail{background-image:url(../img/wx/wxmail.png);background-repeat: no-repeat;background-position:0.5em center;background-size: 20px;}
.reg-wrap .name{background-image:url(../img/wx/wxname.png);background-repeat: no-repeat;background-position: 0.5em center;background-size: 20px;}
.reg-wrap .pwd{background-image:url(../img/wx/wxpwd.png);background-repeat: no-repeat;background-position: 0.5em center;background-size: 20px;}
.reg-wrap .company{background-image:url(../img/wx/wxcompany.png);background-repeat: no-repeat;background-position: 0.5em center;background-size: 20px;}
.reg-wrap .phone{background-image:url(../img/wx/wxphone.png);background-repeat: no-repeat;background-position: 0.5em center;background-size: 20px;}
.reg-wrap .mobile{background-image:url(../img/wx/wxmobile.png);background-repeat: no-repeat;background-position: 0.5em center;background-size: 20px;}
.reg-wrap .wxbrand{background-image:url(../img/wx/wxbrand.png);background-repeat: no-repeat;background-position: 0.5em 0.5em;background-size: 20px;height: 12em;}
.reg-wrap .position{background-image:url(../img/wx/wxpos.png);background-repeat: no-repeat;background-position: 0.5em center;background-size: 20px;}

.cardview{}
.cardview .wx-info{margin: 2em 0 1.5em 0;}
.cardview .wx-info .avatar{float:left;width:37%}
.cardview .wx-info .avatar img{margin:0 auto;width:5.6em;height:5.6em;display:block;border-radius: 5.6em;}
.cardview .wx-info .content{float:left;width:63%}
.cardview .wx-info .content h1{font-size:1.5em;color:#010101;margin-top:0.3em;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.cardview .wx-info .content h3{font-size:0.95em;color:#010101;margin-top:0.4em;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.cardview .wx-info .content h4{font-size:0.95em;color:#a3a3a3;margin-top:0.4em;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.cardview .range{background-color:#f7f7f7;text-align:center;border-top:1px solid #e6e6e6;border-bottom:1px solid #e6e6e6;}
.cardview .range li{float:left;width:33%;padding: 0.85em 0;}
.cardview .range li h4{color:#a3a3a3;font-size:0.75em;margin-top:0.3em;}
.cardview .range li h2{color:black;font-size:1.2em;margin-top:0.3em;}
.cardview .range a{float:left;width:33%;padding: 0.85em 0;}
.cardview .range a h4{color:#a3a3a3;font-size:0.75em;margin-top:0.3em;}
.cardview .range a h2{color:black;font-size:1.2em;margin-top:0.3em;}
.cardview .phone{padding: 1.15em 0;text-indent:2em;background:url(../img/wx/info-phone.png) no-repeat 2em center;background-size: 18px;border-bottom:1px solid #e6e6e6}
.cardview .phone p{font-size:1em;margin-left: 2em;}
.cardview .phone p a{color:black;}
.cardview .mail{padding: 1.15em 0;text-indent:2em;background:url(../img/wx/info-mail.png) no-repeat 2em center;background-size: 18px;border-bottom:1px solid #e6e6e6}
.cardview .mail p{font-size:1em;margin-left: 2em;}
.cardview .brand{padding: 1.15em 0;text-indent:2em;border-bottom:1px solid #e6e6e6;}
.cardview .brand span{color:#a3a3a3;margin-right:1em;}
.cardview .brand a{float:left;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;width: 100%;color:black;}
.cardview .product{display:block;color:black;padding: 1.15em 0;text-indent:2em;border-bottom:1px solid #e6e6e6;background:url(../img/wx/wxarrow.png) no-repeat 96% center;background-size: 6px;}
.cardview .relation{padding: 0 2em;}
.cardview .relation h1{text-align:center;color:#b5b5b5;font-size:0.8em;padding-top: 0.7em;}
.cardview .relation .content{text-align:left}
.cardview .relation span{display:inline-block;float:left;color:#7a7a7a;background-color:#dadada;width:5em;margin-right:0.5em;text-align:center;margin-top:0.7em;font-size:0.9em;border-radius:0.5em;padding:0.5em 0.2em;}
.cardview .op{margin:1em 2em 1em 2em;}
.cardview .op a{background-color:#0099cb;font-size:0.8em;border-radius:0.2em;}
.cardview .op a.islike{background-color:grey;color:white;}
a.return{display:block;background-color:#0099cb;color:white;text-align: center;height:3em;line-height:3em;font-size: 1em;text-shadow: none;
background-image:url(../img/wx/wxback.png); background-position:0.5em center;background-repeat: no-repeat;background-size: 10px;}
.bottom-op{}
.bottom-op p{color:white;}
.bottom-op .left{float:left;width:50%;background-color:#0099cb;background-image:url(../img/wx/share.png);background-repeat: no-repeat; background-position:1em center;background-size: 22px;}
.bottom-op .left p{padding:1.5em 0;border-right: 1px solid #1989af;text-indent:3em}
.bottom-op .right{position:relative;float:left;width:50%;background-color:#0099cb;background-image:url(../img/wx/more.png);background-repeat: no-repeat; background-position:3em center;background-size: 26px;}
.bottom-op .right p{padding:1.5em 0;text-indent:5em}
.bottom-op .right ul{display:none;position:absolute;width: 100%;bottom: 4.15em;left: 0;background-color: #037ea7;color: white;}
.bottom-op .right ul a{display:block;padding:1.5em 0;border-left: 1px solid #1989af;text-align: center;border-bottom:1px solid #00678a;color: white;}
em.error{color:red;text-align: left;display: block;width: 90%;margin: 0.5em auto;}

.share-mask{display:none}
.share-mask img{width:100%;height:100%;position:fixed;z-index:10000}
.like-mask{visibility:hidden;width:100%;height:100%;background:url(../img/wx/wxmask.png) repeat;position:absolute;z-index:10000;text-align: center;}
.like-mask img{width:179px;margin-top:8em;}
.like-mask a{display:block;border-radius:5px;border:1px solid white;color:white;width: 10em;margin: 1em auto;padding: 0.5em;}
.like-op{background-color:#f7f7f7;color:#858585;font-size:0.8em;padding:1em 0;}
.like-op .left{float:left;width:50%;background-image:url(../img/wx/wxstargrey.png);background-repeat: no-repeat; background-position:center 0;background-size: 20px;}
.like-op .currentl{color:#0099cb;background-image:url(../img/wx/wxstarblue.png);}
.like-op .left a{display:block;text-align:center;padding-top: 1.7em;color:#858585;}
.like-op .currentl a{color:#0099cb}
.like-op .right{position:relative;float:left;width:50%;background-image:url(../img/wx/wxchaingrey.png);background-repeat: no-repeat; background-position:center 0;background-size: 20px;}
.like-op .currentr{color:#0099cb;background-image:url(../img/wx/wxchainblue.png);}
.like-op .right a{display:block;text-align:center;padding-top: 1.7em;color:#858585;}
.like-op .currentr a{color:#0099cb}
.like-op .right ul{display:none;position:absolute;width: 100%;bottom: 50px;left: 0;background-color: #037ea7;color: white;}
.like-op .right ul li{padding:1em 0;border-left: 1px solid #1989af;text-align: center;border-bottom:1px solid #00678a}

.search-head{margin: 5em 0 3em 0;}
.search-head h1{color:white;font-size:1.3em;}
.search-wrap .search{background-color:white;width:18em;margin:auto;border-radius:3em;background-image:url(../img/wx/wxsearch.png);background-repeat: no-repeat; background-position:0.4em center;background-size: 20px;}
.search-wrap .search input{border:none;line-height:2.5em;width: 17em;font-size: 0.8em;}
.pca-wrap{margin:2em}
.pca-wrap select{border: none;color: white;background-color:#006c8f;}
.search{margin-top:1.5em;}
.search button{background-color:#0099cb;color:white;display: block;padding: 0.8em;margin: 0 auto;width: 9em;border-radius: 0.3em;font-size: 1em;border:0;margin-bottom:1em;}
.searchresult-head{background-color:#006c8f;padding:0.5em 0;}
.searchresult-head .search {text-align:left;margin-right:5em;background-color:white;margin-top:0;border-radius:3em;background-image:url(../img/wx/wxsearch.png);background-repeat: no-repeat; background-position:0.4em center;background-size: 20px;}
.searchresult-head .con{float:right;width:100%;}
.searchresult-head .search input{border:none;line-height:2em;margin-left:3em;width: 76%;font-size: 0.8em;}
.searchresult-head .operation{float:right;margin-right: -100%;width:5em;}
.searchresult-head button{background-color:#0099cb;color:white;padding:0.3em 1em;border-radius:3px;margin-left: 1em;border:0;font-size:0.9em;height: 31px;}
.search-list h1{background-color:#e8e8e8;color:#898989;font-size:0.9em;padding:0.5em 0;border-bottom:1px solid #006c8f;}
.search-list li{}
.search-list a{display:block;border-bottom:1px solid #dbdbdb;padding:0.5em 0;text-align:left;}
.search-list a .avatar{float:left;width:33%}
.search-list a .avatar img{margin:0 auto;width:4em;height:4em;display:block;border-radius: 4em;}
.search-list a .content{float:left;width:67%}
.search-list a .content h2{font-size:1.2em;color:#010101;padding: 0.2em 0 0 0;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;margin-top: 0.5em;}
.search-list a .content h3{font-size:1em;color:#a1a1a1;padding: 0.1em 0;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.rank-head{background-color:#006c8f}
.rank-head .top{text-align:center;padding: 0.65em;}
.rank-head .left{float:left}
.rank-head .left h1{color:#57bfe1;font-size:1.5em;font-weight:bold;}
.rank-head .left h3{color:white;font-size:0.8em;}
.rank-head .right{float:right;}
.rank-head h2{text-align:center;color:#898989;font-size:0.7em;padding:1em 0;background-color:#e8e8e8;border-bottom:1px solid #006c8f}
.rank-head .right a{font-size:0.8em;color:white;background-color:#0099cb;border-radius:5px;padding:0.5em 1em;display: inline-block;margin-top: 0.4em;}
.rank-list a{display:block;border-bottom:1px solid #dbdbdb;padding:0.5em 0;text-align:left;}
.rank-list a.me{background-color: #ffd8d8;}
.rank-list a.me .rank{color:#f03d3d}
.rank-list a .avatar{float:left;width:25%}
.rank-list a .avatar img{margin:0 auto;width:3.6em;height:3.6em;display:block;border-radius: 4em;}
.rank-list a .content{float:left;width:50%}
.rank-list a .content h2{font-size:1.2em;color:#010101;padding: 0.2em 0 0 0;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;margin-top: 0.5em;}
.rank-list a .content h3{font-size:1em;color:#a1a1a1;padding: 0.1em 0;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.rank-list a .rank{float:left;width:25%;font-size:1.5em;font-weight:bold;color:#6c6c6c;line-height:63px;text-align:center;}
.rank-op {width:100%;background-color:#0099cb;}
.rank-op p{padding:1em 0;border-right: 1px solid #00678a;text-align:center}

.product-list h1{font-size:1.5em;text-align:center;padding:1em}
.product-list a{display:block;border-bottom:1px solid #dbdbdb;padding:0.5em 0;text-align:left;}
.product-list a .avatar{float:left;width:30%}
.product-list a .avatar img{margin:0 auto;width:5em;height:5em;display:block;}
.product-list a .content{float:left;width:70%}
.product-list a .content h2{font-size:1.4em;color:#0099cb;padding: 0.2em 0 0 0;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.product-list a .content h3{font-size:0.9em;color:#464646;padding: 0.1em 0;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.product-list a .content h4{font-size:0.8em;color:#b6b6b6;padding: 0.1em 0;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.brand-head{background-color:#eaeaea}
.brand-head h1{font-size:1.2em;padding:1em;}
.brand-con{margin:2em 1em 2em 1em;}
.brand-con p{font-size:1em;text-align: left;word-wrap:break-word; word-break:normal;}
.brand-con h2{font-size:1em;text-align: center;}
.series-pic{float:left;border:1px solid white;text-align:center;display:table;width:130px;height:110px;background-color: white;}
.series-pic span{display:table-cell;vertical-align:middle;}