   #foreach( $field in $entity.columns )
	  <!--${field.remark}-->
	  <id property="${field.fieldName}" column="${field.columnName}"/>
   #end
   
   -------------------------------------------------
   #foreach( $field in $entity.columns )
	  ,${field.columnName}
   #end
   values
   (
   
   #foreach( $field in $entity.columns )
	  ,#{${field.fieldName}}
   #end
   
   )
   
   
   ---------------------------------------------
   
   #foreach( $field in $entity.columns )
	  ,${field.columnName}=#{${field.fieldName}}
   #end
   
   
   -------------------------------------------------
    #foreach( $field in $entity.columns )
	  ${field.fieldName};
	#end
	
-------------------------------------------------
    #foreach( $field in $entity.columns )
		if(StringUtil.isNotEmpty(cts.get(i).get${field.fieldName}()))
		{
			ret += "<span>${field.fieldName}</span>";
		}
	#end
	