<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="agent">
	<resultMap type="AgentEntity" id="AgentResultMap">
    <!---->
		<id property="id" column="id" />
		<!--QQ connect 昵称 -->
		<id property="nick" column="nick" />
		<!--QQ connect 唯一ID -->
		<id property="qqConnectId" column="qq_connect_id" />
		<!--登录密码 -->
		<id property="password" column="password" />
		<!--电子邮箱 -->
		<id property="mail" column="email" />
		<!--公司名称 -->
		<id property="companyName" column="company_name" />
		<!--代理品牌名称 -->
		<id property="brandName" column="brand_name" />
		<!--品牌logo -->
		<id property="logo" column="logo" />
		<!--公司地址 -->
		<id property="address" column="address" />
		<!--公司电话 -->
		<id property="phone" column="phone" />
		<!--公司传真 -->
		<id property="fax" column="fax" />
		<!--公司介绍 -->
		<id property="description" column="description" />
		<!--是否认证 -->
		<id property="isVerified" column="is_verified" />
		<!--证书链接 -->
		<id property="verifiedLink" column="verified_link" />
		<!--联系人名称 -->
		<id property="contactName" column="contact_name" />
		<!--联系人手机 -->
		<id property="contactPhone" column="contact_phone" />
		<!--联系人QQ -->
		<id property="contactQq" column="contact_qq" />
		<!--联系人邮箱 -->
		<id property="contactEmail" column="contact_email" />
		<!--注册时间 -->
		<id property="regTime" column="reg_time" />
		<!--记录创建时间 -->
		<id property="gmtCreate" column="gmt_create" />
		<!--记录修改时间(最近登录时间) -->
		<id property="gmtModified" column="gmt_modified" />
	</resultMap>
	
	<!-- 根据ID获取代理商信息 -->
	<select id="queryAgentEntityById" parameterType="int"
		resultMap="AgentResultMap">
	<![CDATA[
		SELECT * from t_agent t WHERE t.id = #{id}
	]]>
	</select>
	
	<select id="queryAgentEntityByMail" parameterType="String" resultMap="AgentResultMap">
	<![CDATA[
		SELECT * from t_agent t WHERE t.email = #{mail}
	]]>
	</select>
	
	<select id="getAllagents" 
			resultMap="AgentResultMap">
		SELECT * from t_agent t order by gmt_create desc
	</select>
	
	<select id="getMainagents" 
			resultMap="AgentResultMap">
		SELECT * from t_agent t order by gmt_create desc limit 6
	</select>
	
	<!-- 新代理商信息 -->
	<insert id="insertAgentEntity" parameterType="AgentEntity">
		<selectKey resultType="int" order="AFTER" keyProperty="id">
			SELECT LAST_INSERT_ID() AS id
		</selectKey>
		insert into t_agent
		(
      nick
   	  ,qq_connect_id
   	  ,password
   	  ,email
   	  ,company_name
   	  ,brand_name
   	  ,logo
   	  ,address
   	  ,phone
   	  ,fax
   	  ,description
   	  ,verified_link
   	  ,contact_name
   	  ,contact_phone
   	  ,contact_qq
   	  ,contact_email
   	  ,reg_time
   	  ,gmt_create
   	  ,gmt_modified)
      values
   (
   	  #{nick}
   	  ,#{qqConnectId}
   	  ,#{password}
   	  ,#{mail}
   	  ,#{companyName}
   	  ,#{brandName}
   	  ,#{logo}
   	  ,#{address}
   	  ,#{phone}
   	  ,#{fax}
   	  ,#{description}
   	  ,#{verifiedLink}
   	  ,#{contactName}
   	  ,#{contactPhone}
   	  ,#{contactQq}
   	  ,#{contactEmail}
   	  ,now()
   	  ,now()
   	  ,now()
      
   )
	</insert>
	
	<!-- 根据企业用户ID称更新密码 -->
	<update id="updateAgentPwdById" parameterType="AgentEntity">
		update t_agent set password = #{password}, gmt_modified=now() where id=#{id}
	</update>
	
	<update id="updateAgentEntityById" parameterType="AgentEntity">
		update t_agent
		<set> 
		      <if test="mail != null">email=#{mail},</if>
		      <if test="companyName != null">company_name=#{companyName},</if>
		      <if test="brandName != null">brand_name=#{brandName},</if>
		      <if test="address != null">address=#{address},</if>
		      <if test="phone != null">phone=#{phone},</if>
		      <if test="fax != null">fax=#{fax},</if>
		      <if test="description != null">description=#{description},</if>
		      <if test="verifiedLink != null">verified_link=#{verifiedLink},</if>
		      <if test="contactName != null">contact_name=#{contactName},</if>
		      <if test="contactPhone != null">contact_phone=#{contactPhone},</if>
		      <if test="contactQq != null">contact_qq=#{contactQq},</if>
		      <if test="logo != null">logo=#{logo},</if>
		   	  gmt_modified=now()
		</set>
	   where id=#{id}
	</update>
</mapper>