<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="commonanswer">
	<resultMap type="CommonAnswerEntity" id="CommonAnswerResultMap">
	  <!---->
		<id property="id" column="id" />
		<!--回答内容 -->
		<id property="content" column="content" />
		<!--问题id -->
		<id property="questionId" column="question_id" />
		<!--买家id -->
		<id property="buyerId" column="buyer_id" />
		<!--回答问题的买家名称 -->
		<id property="buyerName" column="buyer_name" />
		<!--回答问题的买家头像 -->
		<id property="buyerAvatar" column="buyer_avatar" />
		<!--记录创建时间 -->
		<id property="gmtCreate" column="gmt_create" />
		<!--记录修改时间 -->
		<id property="gmtModify" column="gmt_modify" />
	</resultMap>

	<select id="queryCommonAnswerEntityById" parameterType="int"
		resultMap="CommonAnswerResultMap">
	<![CDATA[
		SELECT * from t_common_answer t WHERE t.id = #{id}
	]]>
	</select>

	<insert id="insertCommonAnswerEntity" parameterType="CommonAnswerEntity">
		<selectKey resultType="int" order="AFTER" keyProperty="id">
			SELECT LAST_INSERT_ID() AS id
		</selectKey>
		insert into t_common_answer
		(
		content
		,question_id
		,buyer_id
		,buyer_name
		,buyer_avatar
		,gmt_create
		,gmt_modify)
		values
		(
		#{content}
		,#{questionId}
		,#{buyerId}
		,#{buyerName}
		,#{buyerAvatar}
		,#{gmtCreate}
		,#{gmtModify}

		)
	</insert>

	<update id="updateContentById" parameterType="CommonAnswerEntity">
		update
		t_common_answer set content = #{content}, gmt_modified=now() where
		id=#{id}
	</update>
</mapper>