<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="comment">
	<resultMap type="CommentEntity" id="CommentResultMap">
	  <!---->
		<id property="id" column="id" />
		<!--0是问题中的评论，1是问答里的评论 -->
		<id property="type" column="type" />
		<!--评论内容 -->
		<id property="content" column="content" />
		
		<id property="commentId" column="comment_id" />
		<!--评论内容 -->
		<id property="buyerId" column="buyer_id" />
		<!--评论内容 -->
		<id property="agentId" column="agent_id" />
		<!--类型：0是问题，1是回答 -->
		<id property="type" column="type" />
		<id property="userAvatar" column="logo" />
		<id property="link" column="verified_link" />
		<!--回答id -->
		<id property="parent" column="parent" />
		<!--用户名称 -->
		<id property="userName" column="user_name" />
		<!--用户名称 -->
		<id property="brandName" column="brand_name" />
		<!--用户头像 -->
		<id property="userAvatar" column="user_avatar" />
		<!--记录创建时间 -->
		<id property="gmtCreate" column="gmt_create" />
	</resultMap>

	<select id="queryCommentEntityById" parameterType="int"
		resultMap="CommentResultMap">
	<![CDATA[
		SELECT * from t_comment t WHERE t.id = #{id}
	]]>
	</select>
	
	<select id="getCommentsByParentid" parameterType="int"
		resultMap="CommentResultMap">
	<![CDATA[
		SELECT * from t_comment t WHERE t.parent = #{parent} order by gmt_create
	]]>
	</select>

	<insert id="insertCommentEntity" parameterType="CommentEntity">
		<selectKey resultType="int" order="AFTER" keyProperty="id">
			SELECT LAST_INSERT_ID() AS id
		</selectKey>
		insert into t_comment
		(
		type
		,content
		,comment_id
		,buyer_id
		,agent_id
		,logo
		,verified_link
		,parent
		,user_name
		,brand_name
		,user_avatar
		,gmt_create)
		values
		(
		#{type}
		,#{content}
		,#{commentId}
		,#{buyerId}
		,#{agentId}
		,#{userAvatar}
		,#{link}
		,#{parent}
		,#{userName}
		,#{brandName}
		,#{userAvatar}
		,#{gmtCreate}

		)

	</insert>

	<update id="updateCommentById" parameterType="CommentEntity">
		update t_comment
		set content = #{content}, gmt_modified=now() where id=#{id}
	</update>

</mapper>