<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cuttingtool">
	<resultMap type="CuttingToolEntity" id="CuttingToolResultMap">
      <!---->
		<id property="id" column="id" />
		<!---->
		<id property="ishot" column="ishot" />
   	  <!---->
		<id property="code" column="code" />
   	  <!---->
		<id property="brand" column="brand" />
		<id property="samecolume" column="samecolume" />
   	  <!---->
		<id property="seriesname" column="seriesname" />
   	  <!---->
		<id property="version" column="version" />
   	  <!---->
		<id property="material" column="material" />
	  <!---->
		<id property="ctcount" column="ctcount" />
   	  <!---->
		<id property="angle" column="angle" />
   	  <!---->
		<id property="diameter" column="diameter" />
   	  <!---->
		<id property="usage" column="usage" />
   	  <!---->
		<id property="cujing" column="cujing" />
   	  <!---->
		<id property="usefullength" column="usefullength" />
   	  <!---->
		<id property="pipesize" column="pipesize" />
   	  <!---->
		<id property="shank" column="shank" />
		<id property="shanktype" column="shanktype" />
   	  <!---->
		<id property="shape" column="shape" />
   	  <!---->
		<id property="backangle" column="backangle" />
   	  <!---->
		<id property="workingtool" column="workingtool" />
   	  <!---->
		<id property="edgeno" column="edgeno" />
   	  <!---->
		<id property="edgelength" column="edgelength" />
   	  <!---->
		<id property="totallength" column="totallength" />
   	  <!---->
		<id property="screwangle" column="screwangle" />
   	  <!---->
		<id property="coatingtype" column="coatingtype" />
   	  <!---->
		<id property="rangle" column="rangle" />
   	  <!---->
		<id property="direction" column="direction" />
   	  <!---->
		<id property="minworkdiameter" column="minworkdiameter" />
   	  <!---->
		<id property="innercooling" column="innercooling" />
		<id property="diameterratio" column="diameterratio" />
   	  <!---->
		<id property="slotshape" column="slotshape" />
   	  <!---->
		<id property="handlenorm" column="handlenorm" />
   	  <!---->
		<id property="taptype" column="taptype" />
   	  <!---->
		<id property="screwtype" column="screwtype" />
   	  <!---->
		<id property="axistype" column="axistype" />
   	  <!---->
		<id property="axisdetail" column="axisdetail" />
		
		<id property="provider" column="provider" />
	<!---->
		<id property="info" column="info" />
		<id property="outline" column="outline" />
		<id property="cover" column="cover" />
		<id property="pic" column="pic" />
		<id property="thickness" column="thickness" />
		<id property="maxslotdepth" column="maxslotdepth" />
		<id property="taper" column="taper" />
		<id property="slotwidth" column="slotwidth" />
		<id property="pointdiameter" column="pointdiameter" />
		<id property="handledsize" column="handledsize" />
		<id property="screwsize" column="screwsize" />
		<id property="screwdistance" column="screwdistance" />
		<id property="accuracy" column="accuracy" />
		<id property="interfacesize" column="interfacesize" />
		<id property="maxbore" column="maxbore" />
		<id property="minbore" column="minbore" />
		<id property="necklength" column="necklength" />
		<id property="relativecollet" column="relativecollet" />
		
	</resultMap>
	
	<select id="queryCuttingToolByCode" parameterType="String" resultMap="CuttingToolResultMap">
		SELECT * from t_cuttingtool where match(code) against(#{code} in boolean mode) group by seriesname
	</select>
	
	<select id="getAllSeries" resultMap="CuttingToolResultMap">
		SELECT * from t_cuttingtool group by seriesname
	</select>
	
	<select id="getVersionsBySeries" parameterType="String" resultMap="CuttingToolResultMap">
		SELECT * from t_cuttingtool where seriesname=#{sn}
	</select>
	
	<select id="searchCuttingTool" resultMap="CuttingToolResultMap" statementType="CALLABLE">
		{call searchCuttingTool(#{searchParam,mode=IN,jdbcType=VARCHAR})}
	</select>
	<select id="queryCuttingToolById" parameterType="int" resultMap="CuttingToolResultMap">
		<![CDATA[
			SELECT * from t_cuttingtool t where t.id=#{id}
		]]>
	</select>
	<select id="getAllItems" parameterType="int" resultMap="CuttingToolResultMap">
		<![CDATA[
			SELECT * from t_cuttingtool t limit 0,50;
		]]>
	</select>
	
	<update id="updateCuttingToolById" parameterType="CuttingToolEntity">
		update t_cuttingtool
		<set>
		  <if test="samecolume != null">samecolume=#{samecolume},</if>
		</set>
	   where seriesname=#{seriesname}
	</update>
	<!-- 新代理商信息 -->
	<insert id="insertCuttingToolEntity" parameterType="CuttingToolEntity">
		<selectKey resultType="int" order="AFTER" keyProperty="id">
			SELECT LAST_INSERT_ID() AS id
		</selectKey>
		insert into t_cuttingtool
		(
		ishot
		,code
		,brand
		,seriesname
		,version
		,material
		,ctcount
		,angle
		,diameter
		,`usage`
		,cujing
		,usefullength
		,pipesize
		,shank
		,shanktype
		,shape
		,backangle
		,workingtool
		,edgeno
		,edgelength
		,totallength
		,screwangle
		,coatingtype
		,rangle
		,direction
		,minworkdiameter
		,innercooling
		,diameterratio
		,slotshape
		,handlenorm
		,taptype
		,screwtype
		,axistype
		,axisdetail
		,info
		,outline
		,cover
		,pic
		,provider
		,thickness
		,maxslotdepth
		,taper
		,slotwidth
		,pointdiameter
		,handledsize
		,screwsize
		,screwdistance
		,accuracy
		,interfacesize
		,maxbore
		,minbore
		,necklength
		,relativecollet)
		values
		(
		#{ishot}
		,#{code}
		,#{brand}
		,#{seriesname}
		,#{version}
		,#{material}
		,#{ctcount}
		,#{angle}
		,#{diameter}
		,#{usage}
		,#{cujing}
		,#{usefullength}
		,#{pipesize}
		,#{shank}
		,#{shanktype}
		,#{shape}
		,#{backangle}
		,#{workingtool}
		,#{edgeno}
		,#{edgelength}
		,#{totallength}
		,#{screwangle}
		,#{coatingtype}
		,#{rangle}
		,#{direction}
		,#{minworkdiameter}
		,#{innercooling}
		,#{diameterratio}
		,#{slotshape}
		,#{handlenorm}
		,#{taptype}
		,#{screwtype}
		,#{axistype}
		,#{axisdetail}
		,#{info}
		,#{outline}
		,#{cover}
		,#{pic}
		,#{provider}
		,#{thickness}
		,#{maxslotdepth}
		,#{taper}
		,#{slotwidth}
		,#{pointdiameter}
		,#{handledsize}
		,#{screwsize}
		,#{screwdistance}
		,#{accuracy}
		,#{interfacesize}
		,#{maxbore}
		,#{minbore}
		,#{necklength}
		,#{relativecollet}
		)
	</insert>
</mapper>