<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cuttingtool">
	<resultMap type="CuttingToolEntity" id="CuttingToolResultMap">
      <!---->
		<id property="id" column="id" />
		<!---->
		<id property="ishot" column="ishot" />
   	  <!---->
		<id property="code" column="code" />
   	  <!---->
		<id property="brand" column="brand" />
		<id property="samecolume" column="samecolume" />
   	  <!---->
		<id property="seriesname" column="seriesname" />
   	  <!---->
		<id property="version" column="version" />
		<id property="videolink" column="videolink" />
		<id property="videoinfo" column="videoinfo" />
   	  <!---->
		<id property="material" column="material" />
	  <!---->
		<id property="ctcount" column="ctcount" />
   	  <!---->
		<id property="angle" column="angle" />
   	  <!---->
		<id property="diameter" column="diameter" />
   	  <!---->
		<id property="usage" column="usage" />
   	  <!---->
		<id property="cujing" column="cujing" />
   	  <!---->
		<id property="usefullength" column="usefullength" />
   	  <!---->
		<id property="pipesize" column="pipesize" />
   	  <!---->
		<id property="shank" column="shank" />
		<id property="shanktype" column="shanktype" />
   	  <!---->
		<id property="shape" column="shape" />
   	  <!---->
		<id property="backangle" column="backangle" />
   	  <!---->
		<id property="workingtool" column="workingtool" />
   	  <!---->
		<id property="edgeno" column="edgeno" />
   	  <!---->
		<id property="edgelength" column="edgelength" />
   	  <!---->
		<id property="totallength" column="totallength" />
   	  <!---->
		<id property="screwangle" column="screwangle" />
   	  <!---->
		<id property="coatingtype" column="coatingtype" />
   	  <!---->
		<id property="rangle" column="rangle" />
   	  <!---->
		<id property="direction" column="direction" />
   	  <!---->
		<id property="minworkdiameter" column="minworkdiameter" />
   	  <!---->
		<id property="innercooling" column="innercooling" />
		<id property="diameterratio" column="diameterratio" />
   	  <!---->
		<id property="slotshape" column="slotshape" />
   	  <!---->
		<id property="handlenorm" column="handlenorm" />
   	  <!---->
		<id property="taptype" column="taptype" />
   	  <!---->
		<id property="screwtype" column="screwtype" />
   	  <!---->
		<id property="axistype" column="axistype" />
   	  <!---->
		<id property="axisdetail" column="axisdetail" />
		
		<id property="provider" column="provider" />
	<!---->
		<id property="info" column="info" />
		<id property="outline" column="outline" />
		<id property="cover" column="cover" />
		<id property="pic" column="pic" />
		<id property="thickness" column="thickness" />
		<id property="maxslotdepth" column="maxslotdepth" />
		<id property="taper" column="taper" />
		<id property="slotwidth" column="slotwidth" />
		<id property="pointdiameter" column="pointdiameter" />
		<id property="handledsize" column="handledsize" />
		<id property="screwsize" column="screwsize" />
		<id property="screwdistance" column="screwdistance" />
		<id property="accuracy" column="accuracy" />
		<id property="interfacesize" column="interfacesize" />
		<id property="necklength" column="necklength" />
		<id property="relativecollet" column="relativecollet" />
		<id property="width" column="width" />
		<id property="height" column="height" />
		<id property="grooverange" column="grooverange" />
		<id property="drillrange" column="drillrange" />
		<id property="screwdirection" column="screwdirection" />
		<id property="workingtype" column="workingtype" />
		<id property="workingrange" column="workingrange" />
	</resultMap>
	
	<resultMap type="com.banzhuan.entity.IndexEntity" id="IndexResultMap">
		<result  property="b1" column="b1" />
		<result  property="b2" column="b2" />
		<result  property="b3" column="b3" />
		<result  property="b4" column="b4" />
		<result  property="sn1" column="sn1" />
		<result  property="sn2" column="sn2" />
		<result  property="sn3" column="sn3" />
		<result  property="sn4" column="sn4" />	
	</resultMap>
	<select id="getBrandCountByCode" parameterType="String" resultType="int">
		select count(1) from (select id,code,brand from (select id,code,brand from t_cuttingtool group by seriesname) as series  where left(`code`,2)=#{code} group by brand) as brand
	</select>
	<select id="getSeriesnameCountByCode" parameterType="String" resultType="int">
		select count(1) from (select id,code,seriesname from (select id,code,seriesname from t_cuttingtool group by seriesname) as series  where left(`code`,2)=#{code} group by seriesname) as sn
	</select>
	<select  id="getIndexCount" resultMap="IndexResultMap">
		select * from (
			(select count(1) as b1 from (select id,code,brand from (select id,code,brand from t_cuttingtool group by seriesname) as series  where left(`code`,2)="01" group by brand) as brand) brand1,
			(select count(1) as b2 from (select id,code,brand from (select id,code,brand from t_cuttingtool group by seriesname) as series  where left(`code`,2)="02" group by brand) as brand) brand2,
			(select count(1) as b3 from (select id,code,brand from (select id,code,brand from t_cuttingtool group by seriesname) as series  where left(`code`,2)="04" group by brand) as brand) brand3,
			(select count(1) as b4 from (select id,code,brand from (select id,code,brand from t_cuttingtool group by seriesname) as series  where left(`code`,2)="05" group by brand) as brand) brand4,
			(select count(1) as sn1 from (select id,code,seriesname from (select id,code,seriesname from t_cuttingtool group by seriesname) as series  where left(`code`,2)="01" group by seriesname) as sn) sn1,
			(select count(1) as sn2 from (select id,code,seriesname from (select id,code,seriesname from t_cuttingtool group by seriesname) as series  where left(`code`,2)="02" group by seriesname) as sn) sn2,
			(select count(1) as sn3 from (select id,code,seriesname from (select id,code,seriesname from t_cuttingtool group by seriesname) as series  where left(`code`,2)="04" group by seriesname) as sn) sn3,
			(select count(1) as sn4 from (select id,code,seriesname from (select id,code,seriesname from t_cuttingtool group by seriesname) as series  where left(`code`,2)="05" group by seriesname) as sn) sn4
			)
	</select>
	<select id="getIndexCts" resultMap="CuttingToolResultMap">
        select *
        from t_cuttingtool
        where id=0 
        <foreach collection="list" item="id" >
            or id = #{id}
        </foreach>
    </select>
	
	<select id="querySeriesByCode" parameterType="String" resultMap="CuttingToolResultMap">
		SELECT * from t_cuttingtool where match(code) against(#{code} in boolean mode) group by seriesname
	</select>
	<select id="queryCuttingToolByCode" parameterType="String" resultMap="CuttingToolResultMap">
		SELECT * from t_cuttingtool where match(code) against(#{code} in boolean mode)
	</select>
	<select id="getAllSeries" resultMap="CuttingToolResultMap">
		SELECT * from t_cuttingtool group by seriesname
	</select>
	<select id="getCuttingtoolsGroupbyBrand" resultMap="CuttingToolResultMap">
		SELECT * from t_cuttingtool group by brand 
	</select>
	
	<select id="getVersionsBySeries" parameterType="String" resultMap="CuttingToolResultMap">
		SELECT * from t_cuttingtool where seriesname=#{sn}
	</select>
	
	<select id="searchCuttingTool" resultMap="CuttingToolResultMap" statementType="CALLABLE">
		{call searchCuttingTool(#{searchParam,mode=IN,jdbcType=VARCHAR})}
	</select>
	<select id="queryCuttingToolById" parameterType="int" resultMap="CuttingToolResultMap">
		<![CDATA[
			SELECT * from t_cuttingtool t where t.id=#{id}
		]]>
	</select>
	<select id="getAllItems" parameterType="int" resultMap="CuttingToolResultMap">
		<![CDATA[
			SELECT * from t_cuttingtool t limit 0,50;
		]]>
	</select>
	
	<select id="getSeriesByParam" parameterType="CuttingToolEntity" resultMap="CuttingToolResultMap">
		SELECT * from t_cuttingtool t where 1=1 
		<if test="code != null and code != '' ">
        	and code = #{code}
		</if>
		<if test="seriesname != null and seriesname != '' ">
        	and seriesname = #{seriesname}
		</if>
		<if test="brand != null and brand != ''">
        	and brand = #{brand}
		</if>
		<if test="material != null and material != ''">
        	and material = #{material}
		</if>
		<if test="angle != 0">
        	and angle = #{angle}
		</if>
		<if test="ctcount != 0">
        	and ctcount = #{ctcount}
		</if>
		<if test="diameter != null and diameter != ''">
        	and diameter = #{diameter}
		</if>
		<if test="cujing != 0">
        	and cujing = #{cujing}
		</if>
		<if test="usefullength != 0">
        	and usefullength = #{usefullength}
		</if>
		<if test="pipesize != 0">
 			and pipesize = #{pipesize}
		</if>
		<if test="shank != null and shank != ''">
 	        and shank = #{shank}
		</if>
		<if test="shanktype != null and shanktype != ''">
 	        and shanktype = #{shanktype}
		</if>
		<if test="shape != null and shape != ''">
 	        and shape = #{shape}
		</if>
		<if test="backangle != 1000">
 	        and backangle = #{backangle}
		</if>
		<if test="edgeno != 0">
 	        and edgeno = #{edgeno}
		</if>
		<if test="edgelength != null and edgelength != ''">
 	        and edgelength = #{edgelength}
		</if>
		<if test="totallength != null and totallength != ''">
 	        and totallength = #{totallength}
		</if>
		<if test="screwangle != null and screwangle != ''">
 	        and screwangle = #{screwangle}
		</if>
		<if test="coatingtype != null and coatingtype != ''">
 	        and coatingtype = #{coatingtype}
		</if>
		<if test="rangle != null and rangle != ''">
 	        and rangle = #{rangle}
		</if>
		<if test="direction != 0">
 	        and direction = #{direction}
		</if>
		<if test="minworkdiameter != 0">
 	        and minworkdiameter = #{minworkdiameter}
		</if>
		<if test="innercooling != 0">
 	        and innercooling = #{innercooling}
		</if>
		<if test="diameterratio != null and diameterratio != ''">
 	        and diameterratio = #{diameterratio}
		</if>
		<if test="slotshape != null and slotshape != ''">
 	        and slotshape = #{slotshape}
		</if>
		<if test="handlenorm != null and handlenorm != ''">
 	        and handlenorm = #{handlenorm}
		</if>
		<if test="taptype != null and taptype != ''">
 	        and taptype = #{taptype}
		</if>
		<if test="screwtype != null and screwtype != ''">
 	        and screwtype = #{screwtype}
		</if>
		<if test="axistype != null and axistype != ''">
 	        and axistype = #{axistype}
		</if>
		<if test="axisdetail != null and axisdetail != ''">
 	        and axisdetail = #{axisdetail}
		</if>
		<if test="provider != null and provider != ''">
    	   and provider = #{provider}
		</if>
		<if test="thickness != 0">
 	        and thickness = #{thickness}
		</if>
		<if test="maxslotdepth != 0">
 	        and maxslotdepth = #{maxslotdepth}
		</if>
		<if test="taper != 0">
 	        and taper = #{taper}
		</if>
		<if test="slotwidth != 0">
 	        and slotwidth = #{slotwidth}
		</if>
		<if test="pointdiameter != 0">
 	        and pointdiameter = #{pointdiameter}
		</if>
		<if test="handledsize != null and handledsize != ''">
 	        and handledsize = #{handledsize}
		</if>
		<if test="screwsize != null and screwsize != ''">
 	        and screwsize = #{screwsize}
		</if>
		<if test="screwdistance != null and screwdistance != ''">
 	        and screwdistance = #{screwdistance}
		</if>
		<if test="accuracy != null and accuracy != ''">
 	        and accuracy = #{accuracy}
		</if>
		<if test="interfacesize != null and interfacesize != ''">
 	        and interfacesize = #{interfacesize}
		</if>
		<if test="necklength != null and necklength != ''">
 	        and necklength = #{necklength}
		</if>
		<if test="relativecollet != null and relativecollet != ''">
 	        and relativecollet = #{relativecollet}
		</if>
		<if test="width != null and width != 0">
 	        and width = #{width}
		</if>
		<if test="height != null and height != 0">
 	        and height = #{height}
		</if>
		<if test="grooverange != null and grooverange != ''">
 	        and grooverange = #{grooverange}
		</if>
		<if test="drillrange != null and drillrange != ''">
 	        and drillrange = #{drillrange}
		</if>
		<if test="screwdirection != null and screwdirection != ''">
 	        and screwdirection = #{screwdirection}
		</if>
		<if test="workingrange != null and workingrange != ''">
 	        and workingrange = #{workingrange}
		</if>
		<if test="usage != null and usage != ''">
       		and locate(#{usage},`usage`) > 0
		</if>
		<if test="workingtool != null and workingtool != ''">
 	        and locate(#{workingtool},`workingtool`) > 0
		</if>
		<if test="workingtype != null and workingtype != ''">
 	        and locate(#{workingtype},`workingtype`) > 0
		</if>
		 group by seriesname	
	</select>
	
	<select id="getVersionsByParam" parameterType="CuttingToolEntity" resultMap="CuttingToolResultMap">
		SELECT * from t_cuttingtool t where 1=1 
		<if test="code != null and code != '' ">
        	and code = #{code}
		</if>
		<if test="seriesname != null and seriesname != '' ">
        	and seriesname = #{seriesname}
		</if>
		<if test="brand != null and brand != ''">
        	and brand = #{brand}
		</if>
		<if test="material != null and material != ''">
        	and material = #{material}
		</if>
		<if test="angle != 0">
        	and angle = #{angle}
		</if>
		<if test="ctcount != 0">
        	and ctcount = #{ctcount}
		</if>
		<if test="diameter != null and diameter != ''">
        	and diameter = #{diameter}
		</if>
		<if test="cujing != 0">
        	and cujing = #{cujing}
		</if>
		<if test="usefullength != 0">
        	and usefullength = #{usefullength}
		</if>
		<if test="pipesize != 0">
 			and pipesize = #{pipesize}
		</if>
		<if test="shank != null and shank != ''">
 	        and shank = #{shank}
		</if>
		<if test="shanktype != null and shanktype != ''">
 	        and shanktype = #{shanktype}
		</if>
		<if test="shape != null and shape != ''">
 	        and shape = #{shape}
		</if>
		<if test="backangle != 1000">
 	        and backangle = #{backangle}
		</if>
		<if test="edgeno != 0">
 	        and edgeno = #{edgeno}
		</if>
		<if test="edgelength != null and edgelength != ''">
 	        and edgelength = #{edgelength}
		</if>
		<if test="totallength != null and totallength != ''">
 	        and totallength = #{totallength}
		</if>
		<if test="screwangle != null and screwangle != ''">
 	        and screwangle = #{screwangle}
		</if>
		<if test="coatingtype != null and coatingtype != ''">
 	        and coatingtype = #{coatingtype}
		</if>
		<if test="rangle != null and rangle != ''">
 	        and rangle = #{rangle}
		</if>
		<if test="direction != 0">
 	        and direction = #{direction}
		</if>
		<if test="minworkdiameter != 0">
 	        and minworkdiameter = #{minworkdiameter}
		</if>
		<if test="innercooling != 0">
 	        and innercooling = #{innercooling}
		</if>
		<if test="diameterratio != null and diameterratio != ''">
 	        and diameterratio = #{diameterratio}
		</if>
		<if test="slotshape != null and slotshape != ''">
 	        and slotshape = #{slotshape}
		</if>
		<if test="handlenorm != null and handlenorm != ''">
 	        and handlenorm = #{handlenorm}
		</if>
		<if test="taptype != null and taptype != ''">
 	        and taptype = #{taptype}
		</if>
		<if test="screwtype != null and screwtype != ''">
 	        and screwtype = #{screwtype}
		</if>
		<if test="axistype != null and axistype != ''">
 	        and axistype = #{axistype}
		</if>
		<if test="axisdetail != null and axisdetail != ''">
 	        and axisdetail = #{axisdetail}
		</if>
		<if test="provider != null and provider != ''">
    	   and provider = #{provider}
		</if>
		<if test="thickness != 0">
 	        and thickness = #{thickness}
		</if>
		<if test="maxslotdepth != 0">
 	        and maxslotdepth = #{maxslotdepth}
		</if>
		<if test="taper != 0">
 	        and taper = #{taper}
		</if>
		<if test="slotwidth != 0">
 	        and slotwidth = #{slotwidth}
		</if>
		<if test="pointdiameter != 0">
 	        and pointdiameter = #{pointdiameter}
		</if>
		<if test="handledsize != null and handledsize != ''">
 	        and handledsize = #{handledsize}
		</if>
		<if test="screwsize != null and screwsize != ''">
 	        and screwsize = #{screwsize}
		</if>
		<if test="screwdistance != null and screwdistance != ''">
 	        and screwdistance = #{screwdistance}
		</if>
		<if test="accuracy != null and accuracy != ''">
 	        and accuracy = #{accuracy}
		</if>
		<if test="interfacesize != null and interfacesize != ''">
 	        and interfacesize = #{interfacesize}
		</if>
		<if test="necklength != null and necklength != ''">
 	        and necklength = #{necklength}
		</if>
		<if test="relativecollet != null and relativecollet != ''">
 	        and relativecollet = #{relativecollet}
		</if>
		<if test="width != null and width != 0">
 	        and width = #{width}
		</if>
		<if test="height != null and height != 0">
 	        and height = #{height}
		</if>
		<if test="grooverange != null and grooverange != ''">
 	        and grooverange = #{grooverange}
		</if>
		<if test="drillrange != null and drillrange != ''">
 	        and drillrange = #{drillrange}
		</if>
		<if test="screwdirection != null and screwdirection != ''">
 	        and screwdirection = #{screwdirection}
		</if>
		<if test="workingrange != null and workingrange != ''">
 	        and workingrange = #{workingrange}
		</if>
		<if test="usage != null and usage != ''">
       		and locate(#{usage},`usage`) > 0
		</if>
		<if test="workingtool != null and workingtool != ''">
 	        and locate(#{workingtool},`workingtool`) > 0
		</if>	
		<if test="workingtype != null and workingtype != ''">
 	        and locate(#{workingtype},`workingtype`) > 0
		</if>
	</select>
	<select id="queryCuttingToolByCt" parameterType="CuttingToolEntity" resultMap="CuttingToolResultMap">
		SELECT * from t_cuttingtool t where 1=1 
		<if test="code != null and code != '' ">
        	and code = #{code}
		</if>
		<if test="seriesname != null and seriesname != '' ">
        	and seriesname = #{seriesname}
		</if>
		<if test="brand != null and brand != ''">
        	and brand = #{brand}
		</if>
		<if test="material != null and material != ''">
        	and material = #{material}
		</if>
		<if test="angle != 0">
        	and angle = #{angle}
		</if>
		<if test="ctcount != 0">
        	and ctcount = #{ctcount}
		</if>
		<if test="diameter != null and diameter != ''">
        	and diameter = #{diameter}
		</if>
		<if test="cujing != 0">
        	and cujing = #{cujing}
		</if>
		<if test="usefullength != 0">
        	and usefullength = #{usefullength}
		</if>
		<if test="pipesize != 0">
 			and pipesize = #{pipesize}
		</if>
		<if test="shank != null and shank != ''">
 	        and shank = #{shank}
		</if>
		<if test="shanktype != null and shanktype != ''">
 	        and shanktype = #{shanktype}
		</if>
		<if test="shape != null and shape != ''">
 	        and shape = #{shape}
		</if>
		<if test="backangle != 1000">
 	        and backangle = #{backangle}
		</if>
		<if test="edgeno != 0">
 	        and edgeno = #{edgeno}
		</if>
		<if test="edgelength != null and edgelength != ''">
 	        and edgelength = #{edgelength}
		</if>
		<if test="totallength != null and totallength != ''">
 	        and totallength = #{totallength}
		</if>
		<if test="screwangle != null and screwangle != ''">
 	        and screwangle = #{screwangle}
		</if>
		<if test="coatingtype != null and coatingtype != ''">
 	        and coatingtype = #{coatingtype}
		</if>
		<if test="rangle != null and rangle != ''">
 	        and rangle = #{rangle}
		</if>
		<if test="direction != 0">
 	        and direction = #{direction}
		</if>
		<if test="minworkdiameter != 0">
 	        and minworkdiameter = #{minworkdiameter}
		</if>
		<if test="innercooling != 0">
 	        and innercooling = #{innercooling}
		</if>
		<if test="diameterratio != null and diameterratio != ''">
 	        and diameterratio = #{diameterratio}
		</if>
		<if test="slotshape != null and slotshape != ''">
 	        and slotshape = #{slotshape}
		</if>
		<if test="handlenorm != null and handlenorm != ''">
 	        and handlenorm = #{handlenorm}
		</if>
		<if test="taptype != null and taptype != ''">
 	        and taptype = #{taptype}
		</if>
		<if test="screwtype != null and screwtype != ''">
 	        and screwtype = #{screwtype}
		</if>
		<if test="axistype != null and axistype != ''">
 	        and axistype = #{axistype}
		</if>
		<if test="axisdetail != null and axisdetail != ''">
 	        and axisdetail = #{axisdetail}
		</if>
		<if test="provider != null and provider != ''">
    	   and provider = #{provider}
		</if>
		<if test="thickness != 0">
 	        and thickness = #{thickness}
		</if>
		<if test="maxslotdepth != 0">
 	        and maxslotdepth = #{maxslotdepth}
		</if>
		<if test="taper != 0">
 	        and taper = #{taper}
		</if>
		<if test="slotwidth != 0">
 	        and slotwidth = #{slotwidth}
		</if>
		<if test="pointdiameter != 0">
 	        and pointdiameter = #{pointdiameter}
		</if>
		<if test="handledsize != null and handledsize != ''">
 	        and handledsize = #{handledsize}
		</if>
		<if test="screwsize != null and screwsize != ''">
 	        and screwsize = #{screwsize}
		</if>
		<if test="screwdistance != null and screwdistance != ''">
 	        and screwdistance = #{screwdistance}
		</if>
		<if test="accuracy != null and accuracy != ''">
 	        and accuracy = #{accuracy}
		</if>
		<if test="interfacesize != null and interfacesize != ''">
 	        and interfacesize = #{interfacesize}
		</if>
		<if test="necklength != null and necklength != ''">
 	        and necklength = #{necklength}
		</if>
		<if test="width != null and width != 0">
 	        and width = #{width}
		</if>
		<if test="height != null and height != 0">
 	        and height = #{height}
		</if>
		<if test="grooverange != null and grooverange != ''">
 	        and grooverange = #{grooverange}
		</if>
		<if test="drillrange != null and drillrange != ''">
 	        and drillrange = #{drillrange}
		</if>
		<if test="workingrange != null and workingrange != ''">
 	        and workingrange = #{workingrange}
		</if>
		<if test="workingtype != null and workingtype != ''">
 	        and locate(#{workingtype},`workingtype`) > 0
		</if>
		<if test="usage != null and usage != ''">
       		and locate(#{usage},`usage`) > 0
		</if>
		<if test="workingtool != null and workingtool != ''">
 	        and locate(#{workingtool},`workingtool`) > 0
		</if>
	</select>
	<update id="updateCuttingToolBySn" parameterType="CuttingToolEntity">
		update t_cuttingtool
		<set>
		  <if test="samecolume != null">samecolume=#{samecolume},</if>
		  <if test="provider != null">provider=#{provider},</if>
		  <if test="workingtype != null">workingtype=#{workingtype},</if>
		</set>
	   where seriesname=#{seriesname}
	</update>
	<update id="updateCuttingToolByBrand" parameterType="CuttingToolEntity">
		update t_cuttingtool
		<set>
		  <if test="samecolume != null">samecolume=#{samecolume},</if>
		  <if test="provider != null">provider=#{provider},</if>
		  <if test="workingtype != null">workingtype=#{workingtype},</if>
		</set>
	   where brand=#{brand}
	</update>
	
	<!-- 新代理商信息 -->
	<insert id="insertCuttingToolEntity" parameterType="CuttingToolEntity">
		<selectKey resultType="int" order="AFTER" keyProperty="id">
			SELECT LAST_INSERT_ID() AS id
		</selectKey>
		insert into t_cuttingtool
		(
		ishot
		,code
		,brand
		,seriesname
		,version
		,material
		,ctcount
		,angle
		,diameter
		,`usage`
		,cujing
		,usefullength
		,pipesize
		,shank
		,shanktype
		,shape
		,backangle
		,workingtool
		,edgeno
		,edgelength
		,totallength
		,screwangle
		,coatingtype
		,rangle
		,direction
		,minworkdiameter
		,innercooling
		,diameterratio
		,slotshape
		,handlenorm
		,taptype
		,screwtype
		,axistype
		,axisdetail
		,info
		,outline
		,cover
		,pic
		,provider
		,thickness
		,maxslotdepth
		,taper
		,slotwidth
		,pointdiameter
		,handledsize
		,screwsize
		,screwdistance
		,accuracy
		,interfacesize
		,necklength
		,relativecollet
		,videolink
		,videoinfo
		,width
		,height
		,grooverange
		,drillrange
		,workingtype
		,workingrange)
		values
		(
		#{ishot}
		,#{code}
		,#{brand}
		,#{seriesname}
		,#{version}
		,#{material}
		,#{ctcount}
		,#{angle}
		,#{diameter}
		,#{usage}
		,#{cujing}
		,#{usefullength}
		,#{pipesize}
		,#{shank}
		,#{shanktype}
		,#{shape}
		,#{backangle}
		,#{workingtool}
		,#{edgeno}
		,#{edgelength}
		,#{totallength}
		,#{screwangle}
		,#{coatingtype}
		,#{rangle}
		,#{direction}
		,#{minworkdiameter}
		,#{innercooling}
		,#{diameterratio}
		,#{slotshape}
		,#{handlenorm}
		,#{taptype}
		,#{screwtype}
		,#{axistype}
		,#{axisdetail}
		,#{info}
		,#{outline}
		,#{cover}
		,#{pic}
		,#{provider}
		,#{thickness}
		,#{maxslotdepth}
		,#{taper}
		,#{slotwidth}
		,#{pointdiameter}
		,#{handledsize}
		,#{screwsize}
		,#{screwdistance}
		,#{accuracy}
		,#{interfacesize}
		,#{necklength}
		,#{relativecollet}
		,#{videolink}
		,#{videoinfo}
		,#{width}
		,#{height}
		,#{grooverange}
		,#{drillrange}
		,#{workingtype}
		,#{workingrange}
		)
	</insert>
</mapper>