<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="item">
	<resultMap type="ItemEntity" id="ItemResultMap">
	  <!---->
	  <id property="id" column="id"/>
   	  <!---->
	  <id property="type" column="type"/>
   	  <!---->
	  <id property="detailtype" column="detailtype"/>
	  <id property="version" column="version"/>
   	  <!---->
	  <id property="material" column="material"/>
   	  <!---->
	  <id property="workmaterial" column="workmaterial"/>
   	  <!---->
	  <id property="brand" column="brand"/>
   	  <!---->
	  <id property="price" column="price"/>
	  <id property="picture" column="picture" />
	  <id property="provider" column="provider" />
	  <id property="cover" column="cover" />
	  <id property="feature" column="feature" />
	  <id property="description" column="description" />
	  <id property="limitq" column="limitq" />
	  <id property="quantity" column="quantity" />
   	  <!---->
	  <id property="gmtCreate" column="gmt_create"/>
   	  <!---->
	  <id property="gmtModify" column="gmt_modify"/>
	</resultMap>

	<select id="queryItemEntityById" parameterType="int"
		resultMap="ItemResultMap">
	<![CDATA[
		SELECT * from t_item t WHERE t.id = #{id}
	]]>
	</select>
	
	<select id="getItemTypeList" parameterType="int"
			resultType="String">
		<if test="_parameter == 1">
			SELECT distinct detailtype from t_item
		</if>
		<if test="_parameter == 2">
			SELECT distinct material from t_item
		</if>
		<if test="_parameter == 3">
			SELECT distinct workmaterial from t_item
		</if>
		<if test="_parameter == 4">
			SELECT distinct brand from t_item
		</if>
	</select>

	<insert id="insertItemEntity" parameterType="ItemEntity">
		<selectKey resultType="int" order="AFTER" keyProperty="id">
			SELECT LAST_INSERT_ID() AS id
		</selectKey>
		insert into t_item
		(
		  id
	   	  ,type
	   	  ,detailtype
	   	  ,version
	   	  ,material
	   	  ,workmaterial
	   	  ,brand
	   	  ,price
	   	  ,picture
	   	  ,provider
	   	  ,cover
	   	  ,feature
	   	  ,description
	   	  ,limitq
	   	  ,gmt_create
	   	  ,gmt_modify
	   	 )
	      values
	   	 (
	   	  #{id}
	   	  ,#{type}
	   	  ,#{detailtype}
	   	  ,#{version}
	   	  ,#{material}
	   	  ,#{workmaterial}
	   	  ,#{brand}
	   	  ,#{price}
	   	  ,#{picture}
	   	  ,#{provider}
	   	  ,#{cover}
	   	  ,#{feature}
	   	  ,#{description}
	   	  ,#{limitq}
	   	  ,now()
	   	  ,now()
	   )
	</insert>
	
	<update id="updateItemById" parameterType="ItemEntity">
		update t_item
		<set> 
			<if test="type != null">type=#{type},</if>
			<if test="detailtype != null">detailtype=#{detailtype},</if>
			<if test="version != null">version=#{version},</if>
			<if test="material != null">material=#{material},</if>
			<if test="workmaterial != null">workmaterial=#{workmaterial},</if>
			<if test="brand != null">brand=#{brand},</if>
			<if test="price != 0">price=#{price},</if>
			<if test="picture != null">picture=#{picture},</if>
			<if test="provider != null">provider=#{provider},</if>
			<if test="cover != null">cover=#{cover},</if>
			<if test="feature != null">feature=#{feature},</if>
			<if test="description != null">description=#{description},</if>
			<if test="quantity != null">quantity=#{quantity},</if>
			<if test="limitq != 0">limitq=#{limitq},</if>
			gmt_modify=now()
	   	  </set>
	   where id=#{id}
	</update>
	<select id="getItemCountByType" parameterType="ItemEntity"
			resultType="int">
			SELECT count(1) from t_item t 
			<where>
				<if test="type != null">AND type=#{type}</if>
			    <if test="detailtype != null">AND detailtype=#{detailtype}</if>
			    <if test="version != null">AND version=#{version}</if>
			    <if test="material != null">AND material=#{material}</if>
			    <if test="workmaterial != null">AND workmaterial=#{workmaterial}</if>
			    <if test="brand != null">AND brand=#{brand}</if>
		    </where> 
		    order by gmt_create desc
	</select>
	
	<select id="getAllItemsByType" parameterType="ItemEntity"
			resultMap="ItemResultMap">
		SELECT * from t_item t 
			<where>
				<if test="type != null">AND type=#{type}</if>
			    <if test="detailtype != null">AND detailtype=#{detailtype}</if>
			    <if test="version != null">AND version=#{version}</if>
			    <if test="material != null">AND material=#{material}</if>
			    <if test="workmaterial != null">AND workmaterial=#{workmaterial}</if>
			    <if test="brand != null">AND brand=#{brand}</if>
		    </where> 
			<if test="order == 1">order by price</if>
		    <if test="order == 2">order by gmt_create desc </if>
	</select>
	
	<select id="getMainItems" parameterType="ItemEntity"
			resultMap="ItemResultMap">
		SELECT * from t_item t order by gmt_create desc limit 6
	</select>
	
</mapper>