<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="message">
	<resultMap type="MessageEntity" id="MsgResultMap">
	  <!---->
		<id property="id" column="id" />
		<!--消息名称 -->
		<id property="title" column="title" />
		<!--消息内容 -->
		<id property="questionId" column="question_id" />
		<!--消息type,1是代理商专业回答了你，2是代理商回复了你，3是买家回复了你，4是系统消息 -->
		<id property="type" column="type" />
		<!--消息内容 -->
		<id property="hasRead" column="is_read" />
		<!--发送人id -->
		<id property="senderId" column="sender_id" />
		<!--发送人id -->
		<id property="senderName" column="sender_name" />
		<!--接收人id -->
		<id property="receiverId" column="receiver_id" />
		<!--记录创建时间 -->
		<id property="gmtCreate" column="gmt_create" />
	</resultMap>

	<select id="queryMessageEntityById" parameterType="int"
		resultMap="MsgResultMap">
	<![CDATA[
		SELECT * from t_message t WHERE t.id = #{id}
	]]>
	</select>
	
	<select id="getUnreadMsgCount" parameterType="int"
		resultType="int">
		SELECT count(1) from 
		t_message a where receiver_id=#{userid} and is_read = 0
	</select>
	
	<select id="getMsgCount" parameterType="int"
		resultType="int">
		SELECT count(1) from 
		t_message a where receiver_id=#{userid} 
	</select>

	<insert id="insertMessageEntity" parameterType="MessageEntity">
		<selectKey resultType="int" order="AFTER" keyProperty="id">
			SELECT LAST_INSERT_ID() AS id
		</selectKey>
		insert into t_message
		(
		title
		,type
		,question_id
		,sender_id
		,sender_name
		,receiver_id
		,gmt_create)
		values
		(
		#{title}
		,#{type}
		,#{questionId}
		,#{senderId}
		,#{senderName}
		,#{receiverId}
		,#{gmtCreate}

		)

	</insert>
	
	<select id="getMsgsByUserid" parameterType="int"
			resultMap="MsgResultMap">
		SELECT * from t_message t where receiver_id=#{userid} order by gmt_create desc
	</select>
	
	<select id="getMsgsCountByUserid" parameterType="int"
			resultMap="MsgResultMap">
		SELECT count(1) from t_message t where receiver_id=#{userid} order by gmt_create desc
	</select>
	
	<update id="setMsgAsRead" parameterType="int">
		update t_message set is_read = 1 where id=#{id}
	</update>

</mapper>