<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="normalct">
	<resultMap type="NormalctEntity" id="NormalctResultMap">
      <!---->
	  <id property="id" column="id"/>
   	  <!---->
	  <id property="brand" column="brand"/>
   	  <!---->
	  <id property="version" column="version"/>
   	  <!---->
	  <id property="material" column="material"/>
	</resultMap>

	<select id="queryNormalctById" parameterType="int"
			resultMap="NormalctResultMap">
		<![CDATA[
			SELECT * from t_normalct t where t.id=#{id}
		]]>
	</select>
	
	<!-- 新代理商信息 -->
	<insert id="insertNormalctEntity" parameterType="NormalctEntity">
		<selectKey resultType="int" order="AFTER" keyProperty="id">
			SELECT LAST_INSERT_ID() AS id
		</selectKey>
		insert into t_normalct
		(
	   	  brand
	   	  ,version
	   	  ,material
	   	  )
	      values
	   (
	   	  #{brand}
	   	  ,#{version}
	   	  ,#{material}
	   )
	</insert>
</mapper>