<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="order">
	<resultMap type="OrderEntity" id="OrderResultMap">
	  <!---->
	  <id property="id" column="id"/>

	  <id property="type" column="type"/>
	  <id property="userid" column="userid"/>
   	  <!---->
	  <id property="addressid" column="addressid"/>
   	  <!---->
	  <id property="itemid" column="itemid"/>
   	  <!---->
	  <id property="itemAddr" column="item_addr"/>
   	  <!---->
	  <id property="logNumber" column="log_number"/>
   	  <!---->
   	  <id property="quantity" column="quantity"/>
	  <id property="price" column="price"/>
   	  <!---->
	  <id property="state" column="state"/>
   	  <!---->
	  <id property="gmtCreate" column="gmt_create"/>
	  <id property="gmtSubmitOrder" column="gmtSubmitOrder"/>
	  <id property="gmtPay" column="gmtPay"/>
	  <id property="gmtSell" column="gmtSell"/>
	  <id property="gmtAssure" column="gmtAssure"/>
	  <id property="gmtCancel" column="gmtCancel"/>
	</resultMap>

	<select id="queryOrderEntityById" parameterType="int"
			resultMap="OrderResultMap">
		<![CDATA[
			SELECT * from t_order t where t.id=#{id}
		]]>
	</select>
	
	<select id="queryOrdersByUserid" parameterType="int"
			resultMap="OrderResultMap">
		<![CDATA[
			SELECT * from t_order t where t.userid=#{userid} order by gmt_create desc
		]]>
	</select>
	
	<select id="getOrdersCount" parameterType="int"
			resultType="int">
		<![CDATA[
			SELECT count(1) from t_order t where t.userid=#{userid} 
		]]>
	</select>
	
	<insert id="insertOrderEntity" parameterType="OrderEntity">
		<selectKey resultType="int" order="AFTER" keyProperty="id">
			SELECT LAST_INSERT_ID() AS id
		</selectKey>
		insert into t_order
		(
		  type
		  ,userid
	   	  ,addressid
	   	  ,itemid
	   	  ,item_addr
	   	  ,quantity
	   	  ,price
	   	  ,state
	   	  ,gmt_create
	   	  ,gmtSubmitOrder
	   )
	      values
	   (
	      #{type}
	   	  ,#{userid}
	   	  ,#{addressid}
	   	  ,#{itemid}
	   	  ,#{itemAddr}
	   	  ,#{quantity}
	   	  ,#{price}
	   	  ,#{state}
	   	  ,now()
	   	  ,now()
	   )
	</insert>
	
	<update id="updateOrder" parameterType="OrderEntity">
		update t_order
		<set> 
		  <if test="type != 0">type=#{type},</if>
		  <if test="gmtPay != null">gmtPay=#{gmtPay},</if>
	      <if test="gmtSell != null">gmtSell=#{gmtSell},</if>
	      <if test="gmtAssure != null">gmtAssure=#{gmtAssure},</if>
	      <if test="gmtCancel != null">gmtCancel=#{gmtCancel},</if>
	      state = #{state}
		</set>
	   where id=#{id}
	</update>
</mapper>