<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="product">
	<resultMap type="ProductEntity" id="ProductResultMap">
	  <!---->
		<id property="id" column="id" />
		<!--案例名称 -->
		<id property="name" column="name" />
		<id property="description" column="description" />
		<!--行业 -->
		<id property="industry" column="industry" />
		<!--工件材质 -->
		<id property="wpMaterial" column="work_material" />
		<!--工件硬度 -->
		<id property="wpHardness" column="work_solidity" />
		<!--加工方式 -->
		<id property="processMethod" column="process_method" />
		<!--代理商id -->
		<id property="userId" column="userId" />
		<!--代理商名字 -->
		<id property="userName" column="userName" />
		<!--代理商logo -->
		<id property="userLogo" column="user_logo" />
		<!--代理品牌 -->
		<id property="brandId" column="brandId" />
		<!--下载链接 -->
		<id property="picture" column="picture" />
		<!--下载次数 -->
		<id property="cover" column="cover" />
		
		<id property="state" column="state" />
		
		<id property="count" column="count" />
		<!--记录创建时间 -->
		<id property="gmtCreate" column="gmt_create" />
		<!--记录修改时间(最近时间) -->
		<id property="gmtModify" column="gmt_modify" />
	</resultMap>

	<select id="queryProductEntityById" parameterType="int"
		resultMap="ProductResultMap">
	<![CDATA[
		SELECT * from t_Product t WHERE t.id = #{id}
	]]>
	</select>
	
	<delete id="delProduct"  parameterType="int">
	delete from t_Product where id =#{id};
	</delete>
	
	<select id="getProductCount" parameterType="int"
			resultType="int">
		<if test="_parameter == false" >   
		<![CDATA[
			SELECT count(1) from t_Product t
		]]>
		</if>
		<if test="_parameter == true" >   
		<![CDATA[
			SELECT count(1) from t_Product t where to_days(gmt_create)=to_days(now())
		]]>
		</if>
	</select>
	
	<select id="getProductCountByUserid" parameterType="int"
			resultType="int">
		<![CDATA[
			SELECT count(1) from t_Product t WHERE t.userId = #{userid}
		]]>
	</select>

	<insert id="insertProductEntity" parameterType="ProductEntity">
		<selectKey resultType="int" order="AFTER" keyProperty="id">
			SELECT LAST_INSERT_ID() AS id
		</selectKey>
		insert into t_Product
		(
		name
		,description
		,industry
		,work_material
		,work_solidity
		,process_method
		,userId
		,userName
		,user_logo
		,brandId
		,picture
		,cover
		,gmt_create
		,gmt_modify)
		values
		(
		#{name}
		,#{description}
		,#{industry}
		,#{wpMaterial}
		,#{wpHardness}
		,#{processMethod}
		,#{userId}
		,#{userName}
		,#{userLogo}
		,#{brandId}
		,#{picture}
		,#{cover}
		,now()
		,#{gmtModify}

		)
	</insert>

	<update id="updateProductById" parameterType="ProductEntity">
		update t_Product
		<set> 
		      <if test="name != null">name=#{name},</if>
		      <if test="industry != null">industry=#{industry},</if>
		      <if test="processMethod != null">process_method=#{processMethod},</if>
		      <if test="wpHardness != null">work_solidity=#{wpHardness},</if>
		      <if test="wpHardness != null">work_material=#{wpMaterial},</if>
		      <if test="picture != null">picture=#{picture},</if>
		      <if test="cover != null">cover=#{cover},</if>
		      <if test="description != null">description=#{description},</if>
		       <if test="brandId != 0">brandId=#{brandId},</if>
		      <if test="state != 0">state=#{state},</if>
		      <if test="count != 0">count=#{count},</if>
		   	  gmt_modify=now()
		</set>
		where id=#{id}
	</update>
	
	<select id="queryProductEntityByUserid" parameterType="int"
			resultMap="ProductResultMap">
		<![CDATA[
			SELECT * from t_Product t where t.userId=#{userId} order by gmt_create desc
		]]>
	</select>
	
	<select id="getProductCountByType" parameterType="ProductEntity"
			resultType="int">
			SELECT count(1) from t_Product t 
			<where>
				<if test="industry != 0">AND industry=#{industry}</if>
			    <if test="processMethod != 0">AND process_method=#{processMethod}</if>
			    <if test="wpHardness != 0">AND work_solidity=#{wpHardness}</if>
			    <if test="wpMaterial != 0">AND work_material=#{wpMaterial}</if>
		    </where> 
			order by gmt_create desc
	</select>
	
	
	<select id="getAllProductsByType" parameterType="ProductEntity"
			resultMap="ProductResultMap">
		SELECT * from t_Product t 
			<where>
				<if test="industry != 0">AND industry=#{industry}</if>
			    <if test="processMethod != 0">AND process_method=#{processMethod}</if>
			    <if test="wpHardness != 0">AND work_solidity=#{wpHardness}</if>
			    <if test="wpMaterial != 0">AND work_material=#{wpMaterial}</if>
			    AND state = 1
		    </where> 
			order by gmt_create desc
	</select>
	
	<select id="getMainProducts" parameterType="ProductEntity"
			resultMap="ProductResultMap">
		SELECT * from t_Product t where state = 1 order by gmt_create desc limit 4
	</select>
	
</mapper>