<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="professionalanswer">
	<resultMap type="ProfessionalAnswerEntity" id="ProfessionalAnswerResultMap">
	  <!---->
		<id property="id" column="id" />
		<!--回答内容 -->
		<id property="content" column="content" />
		<!--报价 -->
		<id property="price" column="price" />
		<id property="FreeUse" column="is_free_use" />
		<id property="hasPic" column="has_pic" />
		<!--0=已发布，1=草稿 -->
		<id property="state" column="state" />
		<id property="cntComment" column="cnt_comment" />
		<!--买家id -->
		<id property="buyerId" column="buyer_id" />
		<!--问题id -->
		<id property="questionId" column="question_id" />
		<!--代理商id -->
		<id property="agentId" column="agent_id" />
		<!--代理商名字 -->
		<id property="agentName" column="agent_name" />
		<id property="brandName" column="brand_name" />
		<!--代理商logo -->
		<id property="agentLogo" column="agent_logo" />
		<id property="verifiedLink" column="verified_link" />
		<!--记录创建时间 -->
		<id property="gmtCreate" column="gmt_create" />
		<!--记录修改时间 -->
		<id property="gmtModify" column="gmt_modify" />
	</resultMap>

	<select id="queryProfessionalAnswerEntityById" parameterType="int"
		resultMap="ProfessionalAnswerResultMap">
	<![CDATA[
		SELECT * from t_professional_answer t WHERE t.id = #{id}
	]]>
	</select>
	
	<select id="getAnswerCount" parameterType="int"
			resultType="int">
		<![CDATA[
			SELECT count(1) from t_professional_answer t WHERE t.agent_id = #{agentId} and state = 1;
		]]>
	</select>
	
	<select id="queryAnswersByQid" parameterType="int"
			resultMap="ProfessionalAnswerResultMap">
		SELECT * from t_professional_answer t WHERE t.question_id = #{qid} and state = 1 order by gmt_create desc
	</select>
	
	<select id="queryAnswersByUserid" parameterType="int"
			resultMap="ProfessionalAnswerResultMap">
		SELECT * from t_professional_answer t WHERE t.agent_id = #{userid} and state = 1 order by gmt_create desc
	</select>
	
	<select id="queryDraftsByUserid" parameterType="int"
			resultMap="ProfessionalAnswerResultMap">
		SELECT * from t_professional_answer t WHERE t.agent_id = #{userid} and state = 0 order by gmt_create desc
	</select>

	<insert id="insertProfessionalAnswerEntity" parameterType="ProfessionalAnswerEntity">
		<selectKey resultType="int" order="AFTER" keyProperty="id">
			SELECT LAST_INSERT_ID() AS id
		</selectKey>
		insert into t_professional_answer
		(
		content
		,price
		,is_free_use
		,has_pic
		,state
		,cnt_comment
		,buyer_id
		,question_id
		,agent_id
		,agent_name
		,brand_name
		,agent_logo
		,verified_link
		,gmt_create
		,gmt_modify)
		values
		(
		#{content}
		,#{price}
		,#{FreeUse}
		,#{hasPic}
		,#{state}
		,#{cntComment}
		,#{buyerId}
		,#{questionId}
		,#{agentId}
		,#{agentName}
		,#{brandName}
		,#{agentLogo}
		,#{verifiedLink}
		,#{gmtCreate}
		,#{gmtModify}

		)
	</insert>

	<update id="updateProfessionalAnswerById" parameterType="ProfessionalAnswerEntity">
		update t_professional_answer
		<set> 
		      <if test="content != null">content=#{content},</if>
		   	  <if test="price != null">price=#{price},</if>
		   	  <if test="FreeUse != null">is_free_use=#{FreeUse},</if>
		   	  <if test="state != null">state=#{state},</if>
		   	  gmt_modify=now()
		</set>
	   where id=#{id}
	</update>
	<update id="updateById" parameterType="ProfessionalAnswerEntity">
		update
		t_professional_answer set password = #{password}, gmt_modified=now()
		where id=#{id}
	</update>
</mapper>