<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="question">
	<resultMap type="QuestionEntity" id="QuestionResultMap">
	  <!---->
		<id property="id" column="id" />
		<!--问题名称 -->
		<id property="type" column="type" />
		<!--问题内容 -->
		<id property="content" column="content" />
		<!--买家id -->
		<id property="buyerId" column="buyer_id" />
		<!--专业回答数量 -->
		<id property="cntPA" column="cnt_PA" />
		<!--普通回答数量 -->
		<id property="cntCA" column="cnt_CA" />
		<!--0=已发布，1=草稿 -->
		<id property="state" column="state" />
		<!--用户名字 -->
		<id property="userName" column="user_name" />
		<!--用户logo -->
		<id property="userLogo" column="user_logo" />
		<!--记录创建时间 -->
		<id property="gmtCreate" column="gmt_create" />
		<!--记录修改时间 -->
		<id property="gmtModify" column="gmt_modify" />
		<!---->
		<id property="industry" column="industry"/>
			  <!---->
		<id property="processMethod" column="process_method"/>
			  <!---->
		<id property="wpHardness" column="wp_hardness"/>
			  <!---->
		<id property="wpMaterial" column="wp_material"/>
			  <!---->
		<id property="hasPic" column="has_pic"/>
	</resultMap>

	<select id="queryQuestionEntityById" parameterType="int"
		resultMap="QuestionResultMap">
	<![CDATA[
		SELECT * from t_question t WHERE t.id = #{id}
	]]>
	</select>

	<delete id="delQuestion"  parameterType="int">
	delete from t_question where id =#{id};
	</delete>
	<select id="getUserQuestionCount" parameterType="int"
			resultType="int">
		<![CDATA[
			SELECT count(1) from t_question t WHERE t.buyer_id = #{buyerId} and state = 1;
		]]>
	</select>
	
	<select id="getUserTodayQuestionCount" parameterType="int"
			resultType="int">
		<![CDATA[
			SELECT count(1) from t_question t WHERE t.buyer_id = #{buyerId} and state = 1 and DATEDIFF(t.gmt_create,NOW()) =0;
		]]>
	</select>
	
	<select id="queryDraftsCountByUserid" parameterType="int"
			resultType="int">
		<![CDATA[
			SELECT count(1) from t_question t WHERE t.buyer_id = #{buyerId} and state = 0;
		]]>
	</select>
	
	<select id="getAllQuestionCount" parameterType="QuestionEntity"
			resultType="int">
			SELECT count(1) from t_question t
			<where>
				<if test="industry != 0">AND industry=#{industry}</if>
			    <if test="processMethod != 0">AND process_method=#{processMethod}</if>
			    <if test="wpHardness != 0">AND wp_hardness=#{wpHardness}</if>
			    <if test="wpMaterial != 0">AND wp_material=#{wpMaterial}</if>
			    AND state = 1
		    </where> 
	</select>
	<insert id="insertQuestionEntity" parameterType="QuestionEntity">
		<selectKey resultType="int" order="AFTER" keyProperty="id">
			SELECT LAST_INSERT_ID() AS id
		</selectKey>
		insert into t_question
		(
		type
		,content
		,buyer_id
		,cnt_PA
		,cnt_CA
		,state
		,gmt_create
		,gmt_modify
		,industry
		,process_method
		,wp_hardness
		,wp_material
		,user_name
		,user_logo
		,has_pic)
		values
		(
		#{type}
		,#{content}
		,#{buyerId}
		,#{cntPA}
		,#{cntCA}
		,#{state}
		,#{gmtCreate}
		,#{gmtModify}
		,#{industry}
		,#{processMethod}
		,#{wpHardness}
		,#{wpMaterial}
		,#{userName}
		,#{userLogo}
		,#{hasPic}
		)
	</insert>

	<select id="queryQuestionsByUserId" parameterType="int"
			resultMap="QuestionResultMap">
		<![CDATA[
			SELECT * from t_question t where t.state = 1 and t.buyer_id=#{id} order by gmt_create desc
		]]>
	</select>
	
	<select id="queryDraftsByUserId" parameterType="int"
			resultMap="QuestionResultMap">
		<![CDATA[
			SELECT * from t_question t where t.state = 0 and t.buyer_id=#{id} order by gmt_create desc
		]]>
	</select>
	
	<update id="updateQuestionById" parameterType="QuestionEntity">
		update t_question
		<set> 
		      <if test="type != null">type=#{type},</if>
		      <if test="content != null">content=#{content},</if>
		      <if test="state != null">state=#{state},</if>
		      <if test="industry != null">industry=#{industry},</if>
		      <if test="processMethod != null">process_method=#{processMethod},</if>
		      <if test="wpHardness != null">wp_hardness=#{wpHardness},</if>
		      <if test="wpMaterial != null">wp_material=#{wpMaterial},</if>
	       
		   	  gmt_modify=now()
		</set>
		where id=#{id}
	</update>
	
	<select id="getAllquestions" parameterType="QuestionEntity"
			resultMap="QuestionResultMap">
		SELECT * from t_question t 
			<where>
				<if test="industry != 0">AND industry=#{industry}</if>
			    <if test="processMethod != 0">AND process_method=#{processMethod}</if>
			    <if test="wpHardness != 0">AND wp_hardness=#{wpHardness}</if>
			    <if test="wpMaterial != 0">AND wp_material=#{wpMaterial}</if>
			    AND state = 1
		    </where> 
			order by gmt_create desc
	</select>
	
	<select id="getMainquestions" parameterType="QuestionEntity"
			resultMap="QuestionResultMap">
		SELECT * from t_question t where state = 1 and cnt_PA > 0 order by gmt_create desc limit 3
	</select>
</mapper>