<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="relation">
	<resultMap type="RelationEntity" id="RelationResultMap">
		<!---->
		<id property="id" column="id"/>
		<id property="userid" column="userid"/>
		<id property="userid2" column="userid2"/>
		<id property="wxid" column="wxid"/>
			  <!--被收藏的id-->
		<id property="wxid2" column="wxid2"/>
			  <!---->
		<id property="wxname" column="wxname"/>
			  <!---->
		<id property="wxname2" column="wxname2"/>
			  <!---->
		<id property="wxcompany" column="wxcompany"/>
			  <!---->
		<id property="wxcompany2" column="wxcompany2"/>
			  <!---->
		<id property="relation" column="relation"/>
	</resultMap>
	
	<select id="getRelationCount" parameterType="int"
			resultType="int">
		<![CDATA[
			SELECT count(1) from t_relation t where userid=#{userid} or userid2 = #{userid};
		]]>
	</select>
	
	<select id="queryRelationByRelation" parameterType="RelationEntity"
			resultMap="RelationResultMap">
		<![CDATA[
			SELECT * from t_relation t where userid=#{userid} and userid2 = #{userid2};
		]]>
	</select>

	<select id="queryRelationByUserid" parameterType="int"
			resultMap="RelationResultMap">
		<![CDATA[
			SELECT * from t_relation t where t.userid=#{userid}
		]]>
	</select>
	
	<select id="queryRelationByUserid2" parameterType="int"
			resultMap="RelationResultMap">
		<![CDATA[
			SELECT * from t_relation t where t.userid2=#{userid2}
		]]>
	</select>
	
	<!-- 新代理商信息 -->
	<insert id="insertRelationEntity" parameterType="RelationEntity">
		<selectKey resultType="int" order="AFTER" keyProperty="id">
			SELECT LAST_INSERT_ID() AS id
		</selectKey>
		insert into t_relation
		(
	   	  id
	   	  ,userid
	   	  ,userid2
	   	  ,wxid
	   	  ,wxid2
	   	  ,wxname
	   	  ,wxname2
	   	  ,wxcompany
	   	  ,wxcompany2
	   	  ,relation)
	      values
	   (
	   
	   	  #{id}
	   	  ,#{userid}
	   	  ,#{userid2}
	   	  ,#{wxid}
	   	  ,#{wxid2}
	   	  ,#{wxname}
	   	  ,#{wxname2}
	   	  ,#{wxcompany}
	   	  ,#{wxcompany2}
	   	  ,#{relation}
	      
	   )
	</insert>
	<delete id="delRelation"  parameterType="RelationEntity">
		delete from t_relation where userid=#{userid} and userid2 = #{userid2};
	</delete>
</mapper>