<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="stock">
	<resultMap type="StockEntity" id="StockResultMap">
      <!---->
	  <id property="id" column="id"/>
   	  <!---->
	  <id property="company" column="company"/>
   	  <!---->
	  <id property="content" column="content"/>
   	  <!---->
	  <id property="price" column="price"/>
   	  <!---->
	  <id property="phone" column="phone"/>
	  <id property="gmtCreate" column="gmt_create"/>
	</resultMap>
	
	<select id="querywxStock" parameterType="int"
			resultMap="StockResultMap">
		<![CDATA[
			SELECT * from t_stock t limit 5
		]]>
	</select>

	<select id="queryAllStock" parameterType="int"
			resultMap="StockResultMap">
		<![CDATA[
			SELECT * from t_stock t order by gmt_create desc
		]]>
	</select>
	<!-- 新代理商信息 -->
	<insert id="insertStockEntity" parameterType="StockEntity">
		<selectKey resultType="int" order="AFTER" keyProperty="id">
			SELECT LAST_INSERT_ID() AS id
		</selectKey>
		insert into t_stock
		(
	   	  id
	   	  ,company
	   	  ,content
	   	  ,price
	   	  ,phone
	   	  ,gmt_create
	   	)
	      values
	   (
		  #{id}
	   	  ,#{company}
	   	  ,#{content}
	   	  ,#{price}
	   	  ,#{phone}
	      ,now()
	   )
	</insert>
</mapper>