<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="user">
	<resultMap type="UserEntity" id="UserResultMap">
    <!---->
		<id property="id" column="id" />
		<!--QQ connect 昵称 -->
		<id property="nick" column="nick" />
		<!--登录密码 -->
		<id property="password" column="password" />
		<!--电子邮箱 -->
		<id property="mail" column="mail" />
		<!--公司名称 -->
		<id property="companyName" column="company_name" />
		<!--头像 -->
		<id property="logo" column="logo" />
		<!--代理品牌名称 -->
		<id property="brand" column="brand" />
		<!--代理品牌名称 -->
		<id property="brandName" column="brand_name" />
		<!--代理品牌名称 -->
		<id property="brand2" column="brand2" />
		<!--代理品牌名称 -->
		<id property="brandName2" column="brand_name2" />
		<!--公司地址 -->
		<id property="address" column="address" />
		<!--公司电话 -->
		<id property="phone" column="phone" />
		<!--公司传真 -->
		<id property="fax" column="fax" />
		<!--公司介绍 -->
		<id property="description" column="description" />
		<!--0是免费用户，1是200元用户，4是1000元用户 -->
		<id property="authority" column="authority" />
		<!--证书链接 -->
		<id property="verifiedLink" column="verified_link" />
		<!--联系人名称 -->
		<id property="contactName" column="contact_name" />
		<!--联系人手机 -->
		<id property="contactPhone" column="contact_phone" />
		<!--联系人QQ -->
		<id property="contactQq" column="contact_qq" />
		<!--联系人邮箱 -->
		<id property="contactEmail" column="contact_email" />
		<id property="productlimit" column="productlimit" />
		<id property="pca" column="pca" />
		<!--注册时间 -->
		<id property="regTime" column="reg_time" />
		<!--记录创建时间 -->
		<id property="gmtCreate" column="gmt_create" />
		<!--记录修改时间(最近登录时间) -->
		<id property="gmtModified" column="gmt_modified" />
		<id property="gmtAuth" column="gmt_auth" />
		<id property="cntAnswer" column="cnt_answer" />
		<id property="cntGc" column="cnt_gc" />
		<id property="cntSample" column="cnt_sample" />
		<id property="cntRead" column="cnt_read" />
		
	</resultMap>
	
	<!-- 根据ID获取代理商信息 -->
	<select id="queryUserEntityById" parameterType="int"
		resultMap="UserResultMap">
	<![CDATA[
		SELECT * from t_user t WHERE t.id = #{id}
	]]>
	</select>
	
	<select id="queryUserEntityByMail" parameterType="String" resultMap="UserResultMap">
	<![CDATA[
		SELECT * from t_user t WHERE t.mail = #{mail}
	]]>
	</select>
	
	<select id="queryUserEntityByName" parameterType="String" resultMap="UserResultMap">
	<![CDATA[
		SELECT * from t_user t WHERE t.company_name = #{name}
	]]>
	</select>
	
	
	<select id="getUsersCount" resultType="int">
	<![CDATA[
		SELECT count(1) from t_user t 
	]]>
	</select>
	
	<select id="getUsers" parameterType="int"
			resultMap="UserResultMap">
		SELECT * from t_user t 
	</select>

	<select id="getUsersByAuth" parameterType="int"
			resultMap="UserResultMap">
		SELECT * from t_user t where authority = #{type}
	</select>
	<select id="getMainagents" 
			resultMap="UserResultMap">
		SELECT * from t_user t  where authority = 4 order by cnt_read desc limit 7
	</select>
	
	<!-- 新代理商信息 -->
	<insert id="insertUserEntity" parameterType="UserEntity">
		<selectKey resultType="int" order="AFTER" keyProperty="id">
			SELECT LAST_INSERT_ID() AS id
		</selectKey>
		insert into t_user
		(
      nick
   	  ,password
   	  ,mail
   	  ,company_name
   	  ,brand
   	  ,brand_name
   	  ,brand2
   	  ,brand_name2
   	  ,logo
   	  ,address
   	  ,phone
   	  ,fax
   	  ,description
   	  ,contact_name
   	  ,contact_phone
   	  ,contact_qq
   	  ,contact_email
   	  ,pca
   	  ,reg_time
   	  ,gmt_create
   	  ,gmt_modified)
      values
   (
   	  #{nick}
   	  ,#{password}
   	  ,#{mail}
   	  ,#{companyName}
   	  ,#{brand}
   	  ,#{brandName}
   	  ,#{brand2}
   	  ,#{brandName2}
   	  ,#{logo}
   	  ,#{address}
   	  ,#{phone}
   	  ,#{fax}
   	  ,#{description}
   	  ,#{contactName}
   	  ,#{contactPhone}
   	  ,#{contactQq}
   	  ,#{contactEmail}
   	  ,#{pca}
   	  ,now()
   	  ,now()
   	  ,now()
      
   )
	</insert>
	
	<!-- 根据企业用户ID称更新密码 -->
	<update id="updateUserPwdById" parameterType="UserEntity">
		update t_user set password = #{password}, gmt_modified=now() where id=#{id}
	</update>
	
	<update id="updateUserReadCountById" parameterType="UserEntity">
		update t_user set cnt_read = cnt_read + 1, gmt_modified=now() where id=#{id}
	</update>
	
	<update id="updateUserEntityById" parameterType="UserEntity">
		update t_user
		<set> 
		  <if test="nick != null">nick=#{nick},</if>
	      <if test="mail != null">mail=#{mail},</if>
	      <if test="companyName != null">company_name=#{companyName},</if>
	      <if test="brand != 0">brand=#{brand},</if>
	      <if test="brandName != null">brand_name=#{brandName},</if>
	      <if test="brand2 != 0">brand2=#{brand2},</if>
	      <if test="brandName2 != null">brand_name2=#{brandName2},</if>
	      <if test="address != null">address=#{address},</if>
	      <if test="phone != null">phone=#{phone},</if>
	      <if test="fax != null">fax=#{fax},</if>
	      <if test="description != null">description=#{description},</if>
	      <if test="verifiedLink != null">verified_link=#{verifiedLink},</if>
	      <if test="contactName != null">contact_name=#{contactName},</if>
	      <if test="contactPhone != null">contact_phone=#{contactPhone},</if>
	      <if test="contactQq != null">contact_qq=#{contactQq},</if>
	      <if test="productlimit != null">productlimit=#{productlimit},</if>
	      <if test="pca != null">pca=#{pca},</if>
	      <if test="logo != null">logo=#{logo},</if>
	      <if test="gmtAuth != null">gmt_auth=#{gmtAuth},</if>
	   	  gmt_modified=now()
		</set>
	   where id=#{id}
	</update>
</mapper>