<script type="text/javascript" src="/js/addimg.js"></script>
<div id="pagemask-img"></div>
<div class="addimg-win">
	<div class="addimg-cont">
		<h2><a  class="close">x</a>选择图片</h2>
		<h3>上传图片</h3>
		<form id="form_addimg" method="post" action="/user/addimg" enctype="multipart/form-data">
			<div class="choose-wrap">
    			<a class="choose-pic">选择图片</a>
    			<input type="file" name="file_upload" id="file_upload" />
			</div>
			<p>请不要上传与问题无关的图片！</p>
			<div class="operation clearfix">
			<a class="cancel">取消</a><a id="submit_addimg" >上传</a>
			</div>
		</form>
		<script>
		function processAddimg(data) { 
		  hideimg();
			if($("#ques-cont-editor").length > 0)
			{
				$("#ques-cont-editor").append("<img class=\"img-in-question\" src=\"/uploadfile/" + data.addr + "\"/>");
				$("#hasPic").val(1);
			}
			if($("#answer-editor").length > 0)
			{
				$("#answer-editor").append("<img class=\"img-in-question\" src=\"/uploadfile/" + data.addr + "\"/>");
				$("#hasPic").val(1);
			}
		}
		$(function() {
    		$("#submit_addimg").click(function () {
    			$("#form_addimg").ajaxSubmit({
						dataType:'json',
						success:processAddimg
					});//提交
    		});
    	});
    	</script>
	</div>
</div>