#set($layout = "/layout/index_layout.vm")
<div class="main-bk-wrapper pt0">
    <div class="main-content-container clearfix">
        <div class="main-list-container width630 ml15">
            <div class="gc-list-header">
                <h1>代理商</h1>
                <div class="a-zlist clearfix">
                    <a class="current">A</a>
                    <a>B</a>
                    <a>C</a>
                    <a>D</a>
                    <a>E</a>
                    <a>F</a>
                    <a>G</a>
                    <a>H</a>
                    <a>I</a>
                    <a>J</a>
                    <a>K</a>
                    <a>L</a>
                    <a>M</a>
                    <a>N</a>
                    <a>O</a>
                    <a>P</a>
                    <a>Q</a>
                    <a>R</a>
                    <a>S</a>
                    <a>T</a>
                    <a>U</a>
                    <a>V</a>
                    <a>W</a>
                    <a>X</a>
                    <a>Y</a>
                    <a>Z</a>
                </div>
            </div>
            <div class="agent-list-content">
                #foreach ($mapEntry in $agentMap.entrySet())
                    #if ($mapEntry.key)
                        <div class="gc-item clearfix">
                            <h1>$stringUtil.convertToChar($mapEntry.key)</h1>
                            #set ($agentList = $mapEntry.value)
                            #foreach($agent in $agentList)
                                <div class="agent-info clearfix">
                                    <div class="agent-logo">
                                        <a>
											#if($!{agent.logo})
												<img src="../logo/$!{agent.logo}" />
											#else
												<img src="../img/avatar.png" />
											#end
                                        </a>
                                    </div>
                                    <div class="agent-detail">
                                        <h2>
											$!{agent.companyName}
											#if($agent.isVerified())
												<a href="$!{agent.verifiedLink}"><img src="../img/v.png" /></a>
											#end
										</h2>
                                        <h4>$!{agent.brandName}</h4>
                                    </div>
                                </div>
                            #end
                        </div>
                    #end
                #end
            </div>
        </div>
    </div>
</div>
