#set($layout = "/layout/item_layout.vm")
<script type="text/javascript" src="/js/azlist.js"></script>
<style type="text/css">
	#allmap{width:960px;height:800px;}
</style>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=30fa5b6fbf80b1867d196b58f548341f"></script>
<div class="main-content-wrap clearfix">
	<h1 class="providers-title">刀师傅供应商地图</h1>
	<div id="allmap"></div>
</div>
<script type="text/javascript">
    	// 百度地图API功能	
    	map = new BMap.Map("allmap");
    	map.centerAndZoom(new BMap.Point(105,34), 5);
    	map.enableScrollWheelZoom(true);     //开启鼠标滚轮缩放
    	var data_info = $info;
    	var opts = {
    				title : "信息窗口" , // 信息窗口标题
    				enableMessage:false//设置允许信息窗发送短息
    			   };
    	for(var i=0;i<data_info.length;i++){
    		var marker = new BMap.Marker(new BMap.Point(data_info[i][0],data_info[i][1]));  // 创建标注
    		var content = data_info[i][2];
    		map.addOverlay(marker);               // 将标注添加到地图中
    		addClickHandler(content,marker);
    	}
	function addClickHandler(content,marker){
		marker.addEventListener("click",function(e){
			openInfo(content,e)}
		);
	}
	function openInfo(content,e){
		var p = e.target;
		var point = new BMap.Point(p.getPosition().lng, p.getPosition().lat);
		var infoWindow = new BMap.InfoWindow(content);  // 创建信息窗口对象 
		map.openInfoWindow(infoWindow,point); //开启信息窗口
	}
</script>