#set($layout = "/layout/index_layout.vm")
<script type="text/javascript" src="../js/ques-handler.js"></script>
<div class="main-bk-wrapper pt0">
	<div class="main-content-container clearfix">
		<div class="main-list-container width630">
			<div class="gc-list-header">
				<h1>代理商</h1>
				<div class="a-zlist">
					<a>A</a><a>B</a><a>C</a><a>D</a><a>E</a><a>F</a><a>G</a><a>H</a>
					<a>I</a><a>J</a><a>K</a><a>L</a><a>M</a><a>N</a><a>O</a><a>P</a>
					<a>Q</a><a>R</a><a>S</a><a>T</a><a>U</a><a>V</a><a>W</a><a>X</a>
					<a>Y</a><a>Z</a>
				</div>
			</div>
			<div class="main-list-content">
			</div>
		</div>
	</div>
</div>