#set($layout = "/layout/item_layout.vm")
<div class="main-content-container clearfix">
	<div class="main-list-container width630 ml15">
		<div class="gc-list-header">
			<h1><span><a href="/agents">供应商</a> ></span><span class="regular">$!{agent.companyName}</span></h1>
		</div>
		<div class="company-detail clearfix">
			<div class="left">
				<div class="logo">
					<a href="/agents/$!{agent.id}">
						#if($!{agent.logo})
							<img src="/logo/$!{agent.logo}" />
						#else
							<img src="/img/avatar.png" />
						#end
					</a>
				</div>
			</div>
			<div class="right">
				<div class="company-base-info">
					<h3 class="clearfix">
						<span>$!{agent.companyName}</span>
						#if($stringUtil.isNotEmpty(${agent.verifiedLink}))
							<a class="fancybox-v" title="$!{agent.companyName}的代理证书" href="$!{agent.verifiedLink}"><img src="/img/v.png" /></a>
						#end
					</h3>
					<h4>供应刀具品牌：$stringUtil.getBrand($agent.brand) $stringUtil.getBrand($!{agent.brand2})</h4>
					<p>浏览次数(${agent.cntRead})</p>
				</div>
				<div class="company-contact-info">
					<div class="item clearfix">
						<div class="key">地址：</div>
						<div class="value">$!{agent.address}</div>
					</div>
					<div class="item clearfix">
						<div class="key">电话：</div>
						<div class="value">$!{agent.phone}</div>
					</div>
					<div class="item clearfix">
						<div class="key">联系人姓名：</div>
						<div class="value">$!{agent.contactName}</div>
					</div>
					<div class="item clearfix">
						<div class="key">手机：</div>
						<div class="value">$!{agent.contactPhone}</div>
					</div>
					<div class="item clearfix">
						<div class="key">QQ：</div>
						<div class="value">$!{agent.contactQq}</div>
					</div>
				</div>
				<div class="company-description">
					<h2>公司简介</h2>
					<p>$!{agent.description}</p>
				</div>
				<div class="company-sample">
					<h2>样本下载</h2>
					#foreach($sample in $samples)
						<a class="sample" target="_blank" href="/downloadsample?file=$!{sample.link}">$!{sample.name}</a>
					#end
				</div>
				<!--<div class="company-goodcase">
					<h2>成功案例</h2>
					#foreach($gc in $goodcases)
                		<div class="listitem gc-li">
          						<div class="gc-name"><a target="_blank" href="/downloadgc?file=$!{gc.link}">$!{gc.name}</a></div>
          						<div class="gc-param">
          							#if($!{gc.industry} > 0)
          								<span>$stringUtil.getIndustry($!{gc.industry})</span>
          							#end
          							#if($!{gc.processMethod} > 0)
          								<span>$stringUtil.getMethod($!{gc.processMethod})</span>
          							#end
          							#if($!{gc.workMaterial} > 0)
          								<span>$stringUtil.getMaterial($!{gc.workMaterial})</span>
          							#end
          							#if($!{gc.workSolidity} > 0)
          								<span>$stringUtil.getHardness($!{gc.workSolidity})</span>
          							#end
          						</div>
                		</div>
            		#end
				</div>-->
			</div>
		</div>
	</div>
	<!--<div class="main-list-container width300 ml50">
    	<div class="agent-right">
    		<h1>怎么找到需要的代理商？</h1>
    		<h5><span>1</span>搜索想要的品牌，找到对应认证代理商</h2>
			<h5><span>2</span>点击V认证，确认其代理证书</h2>
			<h5><span>3</span>放心联系</h2>
    	</div>
		<div class="agent-right">
    		<h1>为什么要找一级代理商？</h1>
    		<h2>货真</h2>
			<p>一级代理商直接从厂家购入刀具，彻底杜绝仿品、次品的可能性，安全可靠。</p>
			<h2>价实</h2>
			<p>无中间环节，价格往往更为优惠。</p>
			<h2>方案准确</h2>
			<p>一级代理商对品牌刀具性能了解透彻，准确的方案能帮助用户提高效率和产品质量，从而降低生产成本。同时厂家的技术支持以及新产品的试用也会更全面。</p>
    	</div>
		<div class="agent-right">
    		<h1>重要提示</h1>
    		<p>刀师傅的宗旨是“线上交流，线下交易”，如果您在后续线下环节中发现对方存在虚构代理资质、贩卖假货、以及不履行合同等行为，请向我们投诉。<br/>
邮箱：client@daoshifu.com<br/>
电话：400-042-1145</p>
    	</div>
	</div>-->
</div>