#set($layout = "/layout/index_layout.vm")
<script type="text/javascript" src="/js/azlist.js"></script>
<div class="main-content-container clearfix">
    <div class="main-list-container width630 ml15">
        <div class="gc-list-header">
            <h1>刀具供应商</h1>
            <div class="a-zlist clearfix">
				#foreach ($mapEntry in $agentMap)
					<a>$stringUtil.convertToChar($mapEntry.key)</a>
				#end
            </div>
        </div>
		<div class="agent-list-content">
            #foreach ($mapEntry in $agentMap)
                #if ($mapEntry.key)
                    <div class="gc-item clearfix">
                        <h1>$stringUtil.convertToChar($mapEntry.key)</h1>
						#set ($agentMap2 = $mapEntry.value)
						#foreach ($mapEntry2 in $agentMap2.entrySet())
							#set ($agentList = $util.sortProviders($mapEntry2.value))
                            #foreach($agent in $agentList)							
								#if($velocityCount == 1)
								<div class="brand-list clearfix">
								<div class="brand-logo">
            						<img src="/img/logo/$stringUtil.getBrandLogo($mapEntry2.key)" />
									<p>
										$stringUtil.getBrand($mapEntry2.key)-$stringUtil.getBrandCountry($mapEntry2.key)
									</p>
            					</div>
								<div class="arrow">
									<div class="agent">
										供应商
									</div>
								</div>
								<div class="agent-list clearfix">
								#end
                                <div class="agent-info clearfix">
                                    <div class="agent-logo logo" aid="$!{agent.id}">
                                        <a href="/agents/$!{agent.id}">
											#if($!{agent.logo})
												<img src="/logo/$!{agent.logo}" />
											#else
												<img src="/img/avatar.png" />
											#end
                                        </a>
                                    </div>
                                    <div class="agent-detail">
                                        <h2 class="clearfix">
											<a class="agent-name" href="/agents/$!{agent.id}">$!{agent.companyName}</a>
											#if(${agent.authority} == 5)
												#if($stringUtil.isNotEmpty(${agent.verifiedLink}))
													<a class="fancybox-v red" title="$!{agent.companyName}的代理证书" href="$!{agent.verifiedLink}"><厂商></a>
												#else
													<a class="red"><厂商></a>
												#end
											#else
    											#if($stringUtil.isNotEmpty(${agent.verifiedLink}))
    												<a class="fancybox-v" title="$!{agent.companyName}的代理证书" href="$!{agent.verifiedLink}"><代理></a>
    											#end
											#end
										</h2>
                                        <h4>$stringUtil.getBrand($!{agent.brand}) $stringUtil.getBrand($!{agent.brand2})</h4>
										<h5>
											<a class="common" href="/samples"><em>样本</em>${agent.cntSample}</a>
										</h5>
										<h5>
											<span class="mobile">手机</span>
											#if(${agent.contactPhone})
												$!{agent.contactPhone}
											#else
												无
											#end
										</h5>
										<h5>
											#if(${agent.contactQq})
												<a class="common" target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=${agent.contactQq}&site=qq&menu=yes"><span class="qq">QQ</span>$!{agent.contactQq}</a>
											#else
												<span class="qq">QQ</span>无
											#end
										</h5>
                                    </div>
                                </div>
								#if($velocityCount == $agentList.size())
								</div>
								</div>
								#end
							#end
						#end
                    </div>
                #end
            #end
        </div>
    </div>
	<div class="main-list-container width300 ml50">
    	<div class="agent-right">
    		<h1>怎么找到需要的代理商？</h1>
    		<h5><span>1</span>搜索想要的品牌，找到对应认证代理商</h2>
			<h5><span>2</span>点击V认证，确认其代理证书</h2>
			<h5><span>3</span>放心联系</h2>
    	</div>
		<div class="agent-right">
    		<h1>为什么要找一级代理商？</h1>
    		<h2>货真</h2>
			<p>一级代理商直接从厂家购入刀具，彻底杜绝仿品、次品的可能性，安全可靠。</p>
			<h2>价实</h2>
			<p>无中间环节，价格往往更为优惠。</p>
			<h2>方案准确</h2>
			<p>一级代理商对品牌刀具性能了解透彻，准确的方案能帮助用户提高效率和产品质量，从而降低生产成本。同时厂家的技术支持以及新产品的试用也会更全面。</p>
    	</div>
		<div class="agent-right">
    		<h1>重要提示</h1>
    		<p>刀师傅的宗旨是“线上交流，线下交易”，如果您在后续线下环节中发现对方存在虚构代理资质、贩卖假货、以及不履行合同等行为，请向我们投诉。<br/>
邮箱：client@daoshifu.com<br/>
电话：400-042-1145</p>
    	</div>
	</div>
</div>