#set($layout = "/layout/index_layout.vm")
<div class="main-content-container clearfix">
    <div class="main-list-container width630">
    	<div class="gc-list-header">
    		<h1>刀具文选</h1>
    	</div>
    	<div class="main-list-content">
    		<div class="article-item clearfix">
    			<div class="left">
    				<a target="_blank" href="http://jianshu.io/p/59dac3636f74">
    					<img src="/img/wiki/1.jpg" />
    				</a>
    			</div>
    			<div class="right">
    				<h2><a target="_blank" href="http://jianshu.io/p/59dac3636f74">刀师傅网 机加工小技巧 第一期</a></h2>
    				<p>正式开始给大家带来国外一些书籍中的机加工经验，或许其中说到的方式方法并不新颖，或许我因为不够专业，翻译存在很多纰漏（不太确定的部分我全部保留了原英文），只希望能在互联网上，发布一些对机械人有用的信息。</p>
    			</div>
    		</div>
			<div class="article-item clearfix">
    			<div class="left">
    				<a target="_blank" href="http://jianshu.io/p/b8db38a7fc71">
    					<img src="/img/wiki/2.jpg" />
    				</a>
    			</div>
    			<div class="right">
    				<h2><a target="_blank" href="http://jianshu.io/p/b8db38a7fc71">刀师傅网 机加工小技巧 第二期</a></h2>
    				<p>本期还是给大家带来TOM LIPTON的文章，依旧是车削加工。下一期会调整一下，如果大家有感兴趣的内容可以给我留言，也欢迎您将自己掌握的技巧分享给大家。</p>
    			</div>
    		</div>
			<div class="article-item clearfix">
    			<div class="left">
    				<a target="_blank" href="http://jianshu.io/p/e267efa5239a">
    					<img src="/img/wiki/3.jpg" />
    				</a>
    			</div>
    			<div class="right">
    				<h2><a target="_blank" href="http://jianshu.io/p/e267efa5239a">刀师傅网 机加工小技巧 第三期</a></h2>
    				<p>大家好,本期开始带来铣削的内容.虽然书中这一章是”铣床”,但是大部分都和刀具无关(好多装夹和量具).想了想还是翻出来大家看看,专业词汇比车削部分多了很多,头都大了.最近在找一些中文书籍,内容也不少,争取一直把这个小技巧做下去.</p>
    			</div>
    		</div>
			<div class="article-item clearfix">
    			<div class="left">
    				<a target="_blank" href="http://jianshu.io/p/73dc92d2b51b">
    					<img src="/img/wiki/4.jpg" />
    				</a>
    			</div>
    			<div class="right">
    				<h2><a target="_blank" href="http://jianshu.io/p/73dc92d2b51b">刀师傅网 机加工小技巧 第四期</a></h2>
    				<p>本期还是给大家带来TOM LIPTON的文章，依旧是车削加工。下一期会调整一下，如果大家有感兴趣的内容可以给我留言，也欢迎您将自己掌握的技巧分享给大家。</p>
    			</div>
    		</div>
			<div class="article-item clearfix">
    			<div class="left">
    				<a target="_blank" href="http://jianshu.io/p/43f674501ec4">
    					<img src="/img/wiki/5.jpg" />
    				</a>
    			</div>
    			<div class="right">
    				<h2><a target="_blank" href="http://jianshu.io/p/43f674501ec4">顺铣与逆铣</a></h2>
    				<p>一小部分刀具用户和经销商，还不是很了解顺铣和逆铣的区别，在这里引用SANDVIK的资料给大家做一下说明</p>
    			</div>
    		</div>
			<div class="article-item clearfix">
    			<div class="left">
    				<a target="_blank" href="http://jianshu.io/p/b14fcef157e2">
    					<img src="/img/wiki/6.jpg" />
    				</a>
    			</div>
    			<div class="right">
    				<h2><a target="_blank" href="http://jianshu.io/p/b14fcef157e2">各种主偏角刀具的区别</a></h2>
    				<p>刀具的主偏角多种多样，那么他们有什么分别，应用上又如何区分呢？下面为您一一道来（转载自SANDVIK)</p>
    			</div>
    		</div>
    	</div>
    </div>
	<div class="main-list-container width300 ml50">
		<div class="article-right">
			<h1>机械加工小技巧</h1>
			<p>刀师傅会给大家带来一系列的机械加工方面的使用技巧，如果你也有一些使用的小技巧，欢迎给我们投稿，请将您的小绝招发送到client@daoshifu.com</p>
		</div>
	</div>
</div>