#set($layout = "/layout/index_layout.vm")
<div class="main-content-container clearfix">
    <div class="main-list-container width630">
    	<div class="gc-list-header">
    		<h1>刀具文选</h1>
    	</div>
    	<div class="main-list-content">
			#foreach($article in $articles)
    		<div class="article-item clearfix">
    			<div class="left">
    				<a target="_blank" href="${article.link}">
    					<img src="/article/${article.cover}" />
    				</a>
    			</div>
    			<div class="right">
    				<h2><a target="_blank" href="${article.link}">${article.title}</a></h2>
    				<p>${article.outline}</p>
    			</div>
    		</div>
			#end
    	</div>
    </div>
	<div class="main-list-container width300 ml50">
		<div class="article-right">
			<h1>机械加工小技巧</h1>
			<p>刀师傅会给大家带来一系列的机械加工方面的使用技巧，如果你也有一些使用的小技巧，欢迎给我们投稿，请将您的小绝招发送到client@daoshifu.com</p>
		</div>
	</div>
</div>