<!DOCTYPE html>
<html>
<head>
	<title>刀师傅</title>
	<link href="../css/css.css" media="all" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="../js/jquery-1.10.2.min.js"></script>
	<script>
	$(function(){
		var url = window.location.href;
		if(url.indexOf("browser") >= 0){
			window.location.href = "http://www.daoshifu.com";
		}
	});
	</script>
</head>
<body>
	<div class="page" id="page-compatable">
		<div class="topbar">
			<h1 class="logo"><a href="/" title="返回">刀师傅</a></h1>
		</div>
		<div class="content">
			<h2>你的浏览器太古老，该升级了~</h2>
			<p class="upgrade_desc">
				我们检测到你的浏览器正在使用9.0版本以下的 IE 内核，它太古老了，既不安全，也不能完美的支持刀师傅上的各项功能，需要升级才能试用刀师傅。
			</p>
			<p class="upgrade_desc">
				如果你使用的是360，搜狗，猎豹等双核浏览器，也可以开启高速浏览模式，不更换浏览器直接访问刀师傅。
			</p>
			<p class="upgrade_desc">
			或者，升级到下面的浏览器，一劳永逸！
			</p>
			<ul class="browser-list">
				<li>
					<a class="flash-360" target="_blank" href="http://se.360.cn/v6/">360安全浏览器</a>
				</li>
				<li>
					<a class="chrome" target="_blank" href="http://oss.aliyuncs.com/towerfiles/ChromeStandaloneSetup.exe">谷歌浏览器</a>
				</li>
			</ul>
			<p class="supported">我们也支持 <a target="_blank" href="http://firefox.com.cn/">火狐</a><a target="_blank" href="http://windows.microsoft.com/zh-CN/internet-explorer/products/ie/home">最新的IE</a> 等其他浏览器（排序要分先后）</p>
		</div>
	</div>
</body>
</html>