<div class="card-win">
	<div class="top clearfix">
    	<div class="agent-logo">
    		<a href="">
    			<img  class="card-logo" src="/img/avatar.png" />
    		</a>
    	</div>
    	<div class="agent-detail">
    		<h2 class="clearfix">
    			<a class="agent-name" href="">上海时达</a><img class="vip" src="/img/v.png" />
    		</h2>
    		<h4>黛杰刀具代理商</h4>
    		<h5>
    			<span class="mobile">手机</span><span class="phone-value"></span>
    		</h5>
    		<h5>
    			<span class="qq">QQ</span><span class="qq-value"></span>
    		</h5>
    	</div>
	</div>
	<div class="bottom clearfix">
		<div class="listitem">
			<div class="brand value">
				<span>
				<img class="card-brand" src="/img/logo/osg.jpg" />
				</span>
			</div>
			<div class="key">
				代理品牌
			</div>
		</div>
		<div class="listitem mid">
			<div class="answer value">
				10
			</div>
			<div class="key">
				专业方案
			</div>
		</div>
		<div class="listitem">
			<div class="sample value">
				3
			</div>
			<div class="key">
				上传样本
			</div>
		</div>
	</div>
</div>