#set($layout = "/layout/item_layout.vm")
<div class="main-content-wrap clearfix">
	<h1 class="category-level">${category}</h1>
	<div class="category-content clearfix">
		<div class="left">
		</div>
		<div class="right clearfix">
		#foreach ($cat in $categories)
            <a href="/category/${cat.code}">
				<img src="/img/category/${cat.pic}.jpg" />
				<p>${cat.name}</p>
			</a>
		#end
		</div>
	</div>
</div>