<div class="goTab">
    <ul>
    	<li class="gTop">
    		<a href="javascript:;" >
    			<span>回到顶部</span>
    			<b></b>
    		</a>
    	</li>
    	<li class="qq">
    		<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=123576884&site=qq&menu=yes">
    			<span>点击联系我们</span>
    			<b></b>
    		</a>
    	</li>
		<li class="phone">
    		<a>
    			<span>400 042 1145</span>
    			<b></b>
    		</a>
    	</li>
    	<li class="complain">
    		<a>
    			<span>投诉建议</span>
    			<b></b>
    		</a>
    	</li>
		<li class="code">
			<em>
    		<img src="/img/2.png" />
			</em>
			<i><img src="/img/2.png" /></i>
    	</li>
    </ul>
</div>

