<div class="goTab">
    <ul>
    	<li class="gTop">
    		<a href="javascript:;" >
    			<span>回到顶部</span>
    			<b></b>
    		</a>
    	</li>
    	<li class="qq">
    		<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=123576884&site=qq&menu=yes">
    			<span>点击联系我们</span>
    			<b></b>
    		</a>
    	</li>
		<li class="phone">
    		<a>
    			<span>400 042 1145</span>
    			<b></b>
    		</a>
    	</li>
    	<li class="complain">
    		<a>
    			<span>投诉建议</span>
    			<b></b>
    		</a>
    	</li>
		<li class="code">
			<em>
    		<img src="/img/2.png" />
			</em>
			<i><img src="/img/2.png" /></i>
    	</li>
    </ul>
</div>
<div class="right-side">
	<div class="agent-right">
    	<h1>选刀系统使用方法</h1>
    	<h5><span>1</span><p>点击刀具分类，如"机夹铣刀"->"面铣刀盘"</p></h5>
    	<h5><span>2</span><p>根据左侧的具体参数，筛选出满足要求的系列。如"精加工","直接200"等</p></h5>
    	<h5><span>3</span><p>查看系列介绍以及目录页，联系认证供应商。找到解决方案</p></h5>
		<h2>简单三步走，对广告群说NO！</h2>
    </div>
	
</div>
