#set($layout = "/layout/item_layout.vm")
<link rel="stylesheet" href="/css/flexslider.css">
<link rel="stylesheet" href="/css/flexigrid.pack.css">
<script type="text/javascript" src="/js/flexigrid.pack.js"></script>
<script type="text/javascript" src="/js/jquery.flexslider-min.js"></script>
<script>
var cts = '$cts';
$(function() {
	$('.flexslider').flexslider({
		slideshow: false,
        animation: "fade",
		controlNav: false
    });
	$(".aggr h3").click(function(){
		$("aggr h3").each(function(){
			$(this).removeClass("current");
		});
		$(this).addClass("current");
		$(this).parent().children(".list").show();
	});
	
	$("ul.series-tab li").click(function(){
		$("ul.series-tab li").each(function(){
			$(this).removeClass("current");
		});
		$(this).addClass("current");
		if($(this).attr("tabno") == 1)
		{
			$(".version-content").show();
			$(".category-content").hide();
			$(".video-content").hide();
		}
		else if($(this).attr("tabno") == 2)
		{
			$(".version-content").hide();
			$(".category-content").show();
			$(".video-content").hide();
		}
		else
		{
			$(".version-content").hide();
			$(".category-content").hide();
			$(".video-content").show();
		}
	});
	$(".version-content").empty().append(cts);
	$('.version-table').flexigrid({height:400});
	$(".operation").click(function(){
		if($(this).attr("show") == 1)
		{
			var userid = parseInt($(this).attr("userid"));
			var sn = $(this).attr("sn");
    		$.ajax( {   
    		    type : "POST",   
    		    url : "/getProviderInfo", 
    		    data : {
    		      'userid' : userid,
				  'sn':sn
    		    }
    		});   
			$(this).parent().parent().children(".contactway").animate({height:"34px"});
			$(this).attr("show",0).css("color","#0099cb").html("收起<em></em>");
			$(this).children("em").css("background-position","0 -8px");
		}
		else
		{
			$(this).parent().parent().children(".contactway").animate({height:"0"});
			$(this).attr("show",1).css("color","#7b7b7b").html("查看联系方式<em></em>");
			$(this).children("em").css("background-position","0 0");
		}
	});

	$("body").on("click",".params-list span",function(){
		$(this).parents("li").children("input").val($(this).text());
		$(this).parents("li").attr("set","1");
		$(this).parents(".param").hide();
		$(this).parents("li").children("h1").children("a").append($(this).text());
		$(".version-content").html("<div class=\"no-result\"><img src=\"/img/loading.gif\" /><h1>请稍等</h1><p>刀师傅正在为您全力搜索资料库<br/>我们将为您提供丰富、专业的刀具信息 </p></div>");
		$("#form_param").ajaxSubmit({  
            dataType:"json", //数据类型  
            url:"/changeparam",
            success:function(data){ //提交成功的回调函数  
				$(".version-content").empty().append(data.cts);
				$(".detail-content .left ul.params-list li").each(function(){
					var count =0;
					if($(this).attr("set") == "0")
					{
						for(var x in data.map){
        					if($(this).attr("param")==x)
							{
								$(this).children(".param").empty();
								for(var y in data.map[x]){
									if(x=="direction"){
											if(data.map[x][y]==1)
												$(this).children(".param").append("<span>通用槽</span>");
											else if(data.map[x][y]==2)
												$(this).children(".param").append("<span>左手</span>");
											else
												$(this).children(".param").append("<span>右手</span>");
										}
										else if(x=="innercooling"){
											if(data.map[x][y]==1)
												$(this).children(".param").append("<span>一般</span>");
											else if(data.map[x][y]==2)
												$(this).children(".param").append("<span>内冷</span>");
											else
												$(this).children(".param").append("<span>外冷</span>");
										} 
										else if(x=="cujing"){
											if(data.map[x][y]==1)
												$(this).children(".param").append("<span>一般</span>");
											else if(data.map[x][y]==3)
												$(this).children(".param").append("<span>粗加工</span>");
											else
												$(this).children(".param").append("<span>精加工</span>");
										} 
										else
											$(this).children(".param").append("<span>" + data.map[x][y] + "</span>");
										count++;
								}
							}
        				}
						if(count == 0){
							$(this).hide();
						}
						count = 0;
					}
				});
				$('.version-table').flexigrid({height:400});
            }  
        });   
	});
	$("body").on("click",".params-list a",function(){
			$(this).parents("li").children("input").val("");
			$(this).parents("li").attr("set","0");
			$(this).empty();
			$(this).parents("li").children(".param").show();
			$(".version-content").empty();
			$(".version-content").html("<div class=\"no-result\"><img src=\"/img/loading.gif\" /><h1>请稍等</h1><p>刀师傅正在为您全力搜索资料库<br/>我们将为您提供丰富、专业的刀具信息 </p></div>");
			$("#form_param").ajaxSubmit({  
                dataType:"json", //数据类型  
                url:"/changeparam",
                success:function(data){ //提交成功的回调函数  
                    $(".version-content").empty().append(data.cts);
					$(".detail-content .left ul.params-list li").each(function(){
						if($(this).attr("set") == "0")
						{
							for(var x in data.map){
            					if($(this).attr("param")==x)
								{
									$(this).children(".param").empty();
									for(var y in data.map[x]){
										if(x=="direction"){
											if(data.map[x][y]==1)
												$(this).children(".param").append("<span>通用槽</span>");
											else if(data.map[x][y]==2)
												$(this).children(".param").append("<span>左手</span>");
											else
												$(this).children(".param").append("<span>右手</span>");
										}
										else if(x=="innercooling"){
											if(data.map[x][y]==1)
												$(this).children(".param").append("<span>一般</span>");
											else if(data.map[x][y]==2)
												$(this).children(".param").append("<span>内冷</span>");
											else
												$(this).children(".param").append("<span>外冷</span>");
										} 
										else if(x=="cujing"){
											if(data.map[x][y]==1)
												$(this).children(".param").append("<span>一般</span>");
											else if(data.map[x][y]==3)
												$(this).children(".param").append("<span>粗加工</span>");
											else
												$(this).children(".param").append("<span>精加工</span>");
										} 
										else
											$(this).children(".param").append("<span>" + data.map[x][y] + "</span>");
									}
								}
            				}
						}
					});
					$('.version-table').flexigrid({height:400});
                }  
            });   
		});
});
</script>
<div class="main-content-wrap clearfix">
	<h1 class="category-level">$ctConfig.getCategoryHtml(${ct.code},true) > 系列详情</h1>
	<div class="detail-content clearfix">
		<div class="product-side">
    		<div class="qrcode">
    			<img src="/qrcode/$qrcode" />
    			<p>扫描二维码<br/>将本页产品分享到微信</p>
    		</div>
		</div>
		<div class="left">
			<form id="form_param" method="post">
        	<input type="hidden" name="seriesname" value="${seriesname}" />
			<input type="hidden" name="type" value="1" />
        	<ul class="params-list">
        		$!{param}
        	</ul>
        	</form>
		</div>
		<div class="right">
			<div class="series-item clearfix" href="/detail/${ct.id}">
				<div class="series-pic">
					#if($stringUtil.isNotEmpty(${ct.cover}))
						<img src="/img/series/$!{ct.cover}" />
					#else
						<img src="/img/series/seriespic.jpg" />
					#end
				</div>
				<div class="series-params">
					<h3>$!{ct.seriesname}</h3>
					<h4>$ctConfig.getSeriesParamSpan($ct,$!{ct.samecolume})</h4>
            		<h5>$!{ct.outline}</h5>
					<p>$stringUtil.replaceBackspace($!{ct.info})</p>
				</div>
            </div>
			<div class="provider">
				<h1>供应商<a id="join" href="/knowmore#joinus">我也是这个产品的供应商</a></h1>
				<script>
                $(function() {
                	$("#join").click(function(){
                		$.ajax( {   
                		    type : "POST",   
                		    url : "/joinus"
                		});   
                	});
                });
                </script>
				#if($users.size()==0)
					<div class="no-provider">
					暂无供应商
					</div>
				#else
    				#foreach($user in $users)
    				<div class="provider-item clearfix">
    					<div class="clearfix">
        					<div class="name">${user.companyName}</div>
        					<div class="area"><span>地区</span>$stringUtil.getCityFromPca(${user.pca})</div>
        					<div class="contact"><span>联系人</span>
    							#if($stringUtil.isEmpty(${user.contactName}))
    								未填写
    							#else
    								${user.contactName}
    							#end
    						</div>
        					<div class="operation" show=1 userid=${user.id} sn="${ct.seriesname}">查看联系方式<em></em></div>
    					</div>
    					<div class="contactway clearfix">
    						<div class="name">&nbsp;</div>
        					<div class="phone">
								<span>手机</span>
								#if($stringUtil.isNotEmpty(${user.contactPhone}))
									${user.contactPhone}
								#else
									${user.phone}
								#end
							</div>
        					<div class="qq"><span>QQ</span><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=${user.contactQq}&site=qq&menu=yes">${user.contactQq}</a></div>
    					</div>
    				</div>
    				#end
				#end
			</div>
			<div class="series-content">
        		<ul class="series-tab clearfix">
                    <li tabno=1 class="current">
        				型号列表
                    </li>
                	<li tabno=2>
                		 产品目录
                    </li>
					#if($!{ct.videolink})
					<li>
                		 视频介绍
                    </li>
					#end
                </ul>
        		<div class="version-content clearfix">
					<div class="no-result"><img src="/img/loading.gif" /><h1>请稍等</h1><p>刀师傅正在为您全力搜索资料库<br/>我们将为您提供丰富、专业的刀具信息 </p></div>
        		</div>
        		<div class="category-content">
        			#if($!ctConfig.getCategoryPic($!{ct.pic}))
        			<div class="flexslider">
            			<ul class="slides">
            				$ctConfig.getCategoryPic($!{ct.pic})
            			</ul>
                    </div>
        			#else
        				无目录图片
        			#end
        		</div>
				<div class="video-content">
					<p>${ct.videoinfo}</p>
        			#if($stringUtil.isNotEmpty(${ct.videolink}) && $stringUtil.isContains(${ct.videolink},"youku"))
        				$stringUtil.convertYoukulink(${ct.videolink})
        			#end
        		</div>
        	</div>
		</div>
    </div>
</div>