<div class="footer-container">
  <div class="footer-content">
	  <p class="top">© 2013 <a href="#">搬刀网</a> <span>|</span> <a href="#">关于搬刀网</a> <span>|</span> <a href="#">用户协议</a> <span>|</span> <a href="#">联系我们</a> <span>|</span> <a href="#">意见反馈</a></p>
		<p class="bottom">增值电信业务经营许可证：沪123456789号   沪ICP备123654789　京公网安备158624785247</p>
	</div>
</div>