<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="/css/css.css">
    <title>刀师傅-最专业的刀具咨询交流平台</title>
    <script type="text/javascript" src="/js/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="/js/jquery.form.js"></script>
	<script type="text/javascript" src="/js/jquery.validate.min.js"></script>
	<script type="text/javascript" src="/js/alert.js"></script>
    <script type="text/javascript" src="/js/jquery.fancybox.pack.js"></script>
	<script type="text/javascript" src="/js/jQuery.mouseDelay.min.js"></script>
	<script type="text/javascript" src="/js/additional-methods.js"></script>
	<script type="text/javascript" name="baidu-tc-cerfication" src="http://apps.bdimg.com/cloudaapi/lightapp.js#32f7b9e719646def920c3b56d009a7c5"></script><script type="text/javascript">window.bd && bd._qdc && bd._qdc.init({app_id: '550ce186e1c92b6cc755ef5a'});</script>
	<script type="text/javascript" >
	//document.oncontextmenu=new Function('event.returnValue=false;');
	//document.onselectstart=new Function('event.returnValue=false;');
    </script> 
</head>
