#set($layout = "/layout/index_layout.vm")
<div class="main-bk-wrapper pt0">
	<link rel="stylesheet" href="../css/flexslider.css">
	<script type="text/javascript" src="../js/jquery.flexslider-min.js"></script>
	<script>
	$(function() {
    	$('.flexslider').flexslider({
            animation: "fade",
			controlNav: false
        });
  	});
	</script>
	<div class="flexslider">
      <ul class="slides">
        <li>
    	    <a href="#"><img src="../img/banner/banner1.jpg" /></a>
    	</li>
		<li>
    	    <a href="#"><img src="../img/banner/banner2.jpg" /></a>
    	</li>
		<li>
    	    <a href="#"><img src="../img/banner/banner3.jpg" /></a>
    	</li>

      </ul>
    </div>
	<div class="main-content-container clearfix">
		<!-- 问题 -->
		<div class="main-list-container width630">
			<div class="main-list-header">
                                                 热门问题
             <a href="#">点击查看更多问题</a>
			</div>
			<div class="main-list-content">
				<div class="hot-question-listitem first clearfix">
					<div class="logo">
						<img src="../img/avatar.png">
					</div>
					<div class="content">
						<ul>
							<li class="name"><p>无锡Y公司</p></li>
							<li class="title"><p>现在在正常生产，有没有性价比更好的刀具？</p></li>
							<li class="text clearfix">
								<img src="../img/ques1.png" />
								<p>
								我司过去使用的是R8圆刀片，加工情况尚可，63刀盘5刃，可转换6次但目前公司希望降低成本，要求其他刀具品牌参与竞争，求推荐刀具光洁度要求Ra3.2即可，主要是寿命要长
								</p>
							</li>
							<li class="info">
								<p> 1 个专业回答 <span>|</span> 3 个普通回答 <span>|</span> 查看详情 </p>
							</li>
							<li class="answer">
							  <div class="answer-arrow">
								  <em class="S_line1_c">◆</em>
								  <em class="S_bg1_c">◆</em>
								</div>
							  <ul class="clearfix">
								  <li class="agent-info clearfix">
									  <img src="../img/big-logo.png" />
										<h4>无锡汉尼达</h4>
										<h5>Big刀具代理商</h5>
									</li>
								  <li class="answer-cont">
									  <p>
										  您好,根据您的情况，加工条件和选刀已比较合适，但刀片仅单侧6刃可用，这方面可进行提高，请参考我司M1200产品（右图）。63刀盘为六刃，根据我们以往的经验，可按照相同的Vc和更高的Fz进行加工，即AP=1.2 N=500 F=800这样可以提高30%的效率..
										</p>
									</li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
				<div class="seperation">&nbsp;</div>
				<div class="hot-question-listitem first clearfix">
					<div class="logo">
						<img src="../img/avatar.png">
					</div>
					<div class="content">
						<ul>
							<li class="name"><p>上海FT空调</p></li>
							<li class="title"><p>现在生产中有点问题，有没有更合适的刀具？</p></li>
							<li class="text clearfix">
								<img src="../img/ques2.jpg" />
								<p>
								公司机床较老，使用整体合金钻头一直断，使用肯纳的皇冠钻效果也不理想，偶有折断，老板要求本月底一定要正常开工，希望有品质好的，刚性好的刀具来试验孔直径19.25 +0.07 -0.1 ,光洁度要求不高
								</p>
							</li>
							<li class="info">
								<p> 1 个专业回答 <span>|</span> 3 个普通回答 <span>|</span> 查看详情 </p>
							</li>
							<li class="answer">
							  <div class="answer-arrow">
								  <em class="S_line1_c">◆</em>
								  <em class="S_bg1_c">◆</em>
								</div>
							  <ul class="clearfix">
								  <li class="agent-info clearfix">
									  <img src="../img/dijet.jpg" />
										<h4>上海时达</h4>
										<h5>DIJET刀具代理商</h5>
									</li>
								  <li class="answer-cont">
									  <p>
										  您好，根据您描述的情况应该是机床的钢性不好或是加工时有一定震动。相对合金钻头，我司的焊接钻头因为柄部是钢材料，不易折断。<br/>
										  方案1：SCD-1925-MS 加工条件 N=1000 F=300 光洁度可满足Ra3.2<br/>
										 方案2：TEZ1930刀片配钻杆，形式与肯纳皇冠钻一样，刃型不同，条件也是N=1000 F=300<br/>
										方案1折断可能性极小，寿命上也可以根据实际情况多次重磨，但管理较麻烦<br/>
										方案2因为贵司试用过类似产品，有较大问题，因此只作为备选<br/>
										两种都可以试一试，具体选哪一种再决定
										</p>
									</li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
				<div class="seperation">&nbsp;</div>
				<div class="hot-question-listitem first clearfix">
					<div class="logo">
						<img src="../img/avatar.png">
					</div>
					<div class="content">
						<ul>
							<li class="name"><p>无锡Y公司</p></li>
							<li class="title"><p>现在在正常生产，有没有性价比更好的刀具？</p></li>
							<li class="text clearfix">
								<img src="../img/ques1.png" />
								<p>
								我司过去使用的是R8圆刀片，加工情况尚可，63刀盘5刃，可转换6次但目前公司希望降低成本，要求其他刀具品牌参与竞争，求推荐刀具光洁度要求Ra3.2即可，主要是寿命要长
								</p>
							</li>
							<li class="info">
								<p> 1 个专业回答 <span>|</span> 3 个普通回答 <span>|</span> 查看详情 </p>
							</li>
							<li class="answer">
							  <div class="answer-arrow">
								  <em class="S_line1_c">◆</em>
								  <em class="S_bg1_c">◆</em>
								</div>
							  <ul class="clearfix">
								  <li class="agent-info clearfix">
									  <img src="../img/big-logo.png" />
										<h4>无锡汉尼达</h4>
										<h5>Big刀具代理商</h5>
									</li>
								  <li class="answer-cont">
									  <p>
										  您好,根据您的情况，加工条件和选刀已比较合适，但刀片仅单侧6刃可用，这方面可进行提高，请参考我司M1200产品（右图）。63刀盘为六刃，根据我们以往的经验，可按照相同的Vc和更高的Fz进行加工，即AP=1.2 N=500 F=800这样可以提高30%的效率..
										</p>
									</li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
      <div class="seperation">&nbsp;</div>
			</div>
		</div>
		<!-- 代理商 -->
		<div class="main-list-container width300 ml50">
			<div class="main-list-header  ff7e00">
                                                          最新代理商
				<a class="seemore" href="#">查看更多</a>
			</div>
			<div class="main-list-content">
				<div class="new-agent-listitem clearfix">
					<div class="logo">
						<a href="#"><img src="../img/kenna.png"></a>
					</div>
					<div class="content">
						<ul>
							<li class="name">深圳精联</li>
							<li class="title">KENNA刀具代理商</li>
						</ul>
					</div>
				</div>
				<div class="seperation">&nbsp;</div>
				<div class="new-agent-listitem clearfix">
					<div class="logo">
						<img src="../img/zcct.jpg">
					</div>
					<div class="content">
						<ul>
							<li class="name">海德尔</li>
							<li class="title">株洲钻石刀具代理商</li>
						</ul>
					</div>
				</div>
				<div class="seperation">&nbsp;</div>
				<div class="new-agent-listitem clearfix">
					<div class="logo">
						<img src="../img/rego.jpg">
					</div>
					<div class="content">
						<ul>
							<li class="name">北京天航星光</li>
							<li class="title">REGO-FIX刀具代理商</li>
						</ul>
					</div>
				</div>
				<div class="seperation">&nbsp;</div>
				<div class="new-agent-listitem clearfix">
					<div class="logo">
						<img src="../img/mit.jpg">
					</div>
					<div class="content">
						<ul>
							<li class="name">常州神骏</li>
							<li class="title">三菱刀具代理商</li>
						</ul>
					</div>
				</div>
				<div class="seperation">&nbsp;</div>
				<div class="new-agent-listitem clearfix">
					<div class="logo">
						<img src="../img/nsc.jpg">
					</div>
					<div class="content">
						<ul>
							<li class="name">上海名古屋</li>
							<li class="title">非标制作刀具代理商</li>
						</ul>
					</div>
				</div>
				<div class="seperation">&nbsp;</div>
				<div class="new-agent-listitem clearfix">
					<div class="logo">
						<img src="../img/greenleaf.jpg">
					</div>
					<div class="content">
						<ul>
							<li class="name">苏州盖尔卡特</li>
							<li class="title">绿叶刀具代理商</li>
						</ul>
					</div>
				</div>
				<div class="seperation">&nbsp;</div>
   </div>
		</div>
	    <!-- 成功案例 -->
		<div class="main-list-container width300 ml50">
			<div class="main-list-header ff002a">
				成功案例
			  <a class="seemore" href="#">查看更多</a>
			</div>
			<div class="goodcase-listitem clearfix">
			  <div class="clearfix">
					<div class="logo">
						<img src="../img/big-logo.png">
					</div>
					<div class="content">
						<ul>
							<li class="name">无锡汉尼达</li>
							<li class="title">Big刀具代理商</li>
						</ul>
					</div>
      </div>
				<div class="property">
					<span>汽车零件</span>
					<span>涡轮壳</span>
					<span>平面铣削</span>
					<span>不锈钢</span>
					<span>HRC20-30</span>
					<span>1.4837</span>
					<span>AP=1.2</span>
					<span>Vc=100</span>
					<span>Fz=0.24</span>
			</div>
  </div>
	    <div class="seperation">&nbsp;</div>
			<div class="goodcase-listitem clearfix">
			  <div class="clearfix">
					<div class="logo">
						<img src="../img/dijet.jpg">
					</div>
					<div class="content">
						<ul>
							<li class="name">上海时达 </li>
							<li class="title">DIJET刀具代理商</li>
						</ul>
					</div>
      </div>
				<div class="property">
					<span>空调 容器板</span>
					<span>钻孔</span>
					<span>平面锉削</span>
					<span>钢件</span>
					<span>HRC20</span>
					<span>Q345R</span>
					<span>Vc=60</span>
					<span>F=300</span>
			</div>
  </div>
	    <div class="seperation">&nbsp;</div>
			<div class="goodcase-listitem clearfix">
			  <div class="clearfix">
					<div class="logo">
						<img src="../img/big-logo.png">
					</div>
					<div class="content">
						<ul>
							<li class="name">无锡汉尼达</li>
							<li class="title">Big刀具代理商</li>
						</ul>
					</div>
      </div>
				<div class="property">
					<span>汽车零件</span>
					<span>涡轮壳</span>
					<span>平面铣削</span>
					<span>不锈钢</span>
					<span>HRC20-30</span>
					<span>1.4837</span>
					<span>AP=1.2</span>
					<span>Vc=100</span>
					<span>Fz=0.24</span>
			</div>
  </div>
	    <div class="seperation">&nbsp;</div>
		</div>
	</div>
</div>