#set($layout = "/layout/index_layout.vm")
<div class="main-content-wrap clearfix">
	<div class="index-content">
    	<div class="index-item">
    		<ul class="clearfix">
    			<li class="title">
    				<h1>机夹铣刀</h1>
					<a href="/category/010101">面铣大盘</a>
					<a href="/category/010102">铣刀盘</a>
					<a href="/category/0105">玉米铣刀</a>
					<a href="/category/010201">螺纹接头</a>
					<a href="/category/0108">铣刀片</a>
    				<p>${count.b1}个品牌<br/>${count.sn1}个系列</p>
    			</li>
				#foreach($ct in $ctConfig.getCtsByType($cts,"01"))
    			<li class="item">
    				 <a href="/detail/$ct.id">
						<div class="img-wrap">
							<span>
								<img src="/img/series/$ct.cover" />
							</span>
						</div>
    					<h1>$ct.seriesname</h1>
        				<p>$ct.brand $ctConfig.getType($ct.code)<br/>$ct.outline</p>
        			</a>
    			</li>
				#end
    		</ul>
    	</div>
		<div class="index-item">
    		<ul class="clearfix">
    			<li class="title">
    				<h1>车削刀具</h1>
					<a href="/category/030103">切槽/切断刀杆</a>
					<a href="/category/030201">普通车刀片</a>
					<a href="/category/030202">精磨车刀片</a>
    				<p>${count.b2}个品牌<br/>${count.sn2}个系列</p>
    			</li>
    			#foreach($ct in $ctConfig.getCtsByType($cts,"03"))
    			<li class="item">
    				 <a href="/detail/$ct.id">
						<div class="img-wrap">
							<span>
								<img src="/img/series/$ct.cover" />
							</span>
						</div>
    					<h1>$ct.seriesname</h1>
        				<p>$ct.brand $ctConfig.getType($ct.code)<br/>$ct.outline</p>
        			</a>
    			</li>
				#end
    		</ul>
    	</div>
		<div class="index-item">
    		<ul class="clearfix">
    			<li class="title">
    				<h1>孔加工工具</h1>
					<a href="/category/040101">整体合金钻</a>
					<a href="/category/040102">焊接合金钻</a>
					<a href="/category/0410">镗刀</a>
					<a href="/category/040401">U钻</a>
					<a href="/category/040201">机夹式钻头</a>
    				<p>${count.b3}个品牌<br/>${count.sn3}个系列</p>
    			</li>
    			#foreach($ct in $ctConfig.getCtsByType($cts,"04"))
    			<li class="item">
    				 <a href="/detail/$ct.id">
						<div class="img-wrap">
							<span>
								<img src="/img/series/$ct.cover" />
							</span>
						</div>
    					<h1>$ct.seriesname</h1>
        				<p>$ct.brand $ctConfig.getType($ct.code)<br/>$ct.outline</p>
        			</a>
    			</li>
				#end
    		</ul>
    	</div>
		<div class="index-item">
    		<ul class="clearfix">
    			<li class="title">
    				<h1>螺纹刀具</h1>
					<a href="/category/060101">整体螺纹铣刀</a>
					<a href="/category/060102">螺纹铣刀杆</a>
					<a href="/category/060103">螺纹铣刀片</a>
					<a href="/category/060603">先端丝锥</a>
					<a href="/category/060604">螺旋丝锥</a>
    				<p>${count.b4}个品牌<br/>${count.sn4}个系列</p>
    			</li>
    			#foreach($ct in $ctConfig.getCtsByType($cts,"06"))
    			<li class="item">
    				 <a href="/detail/$ct.id">
						<div class="img-wrap">
							<span>
								<img src="/img/series/$ct.cover" />
							</span>
						</div>
    					<h1>$ct.seriesname</h1>
        				<p>$ct.brand $ctConfig.getType($ct.code)<br/>$ct.outline</p>
        			</a>
    			</li>
				#end
    		</ul>
    	</div>
	</div>
</div>
