#set($layout = "/layout/item_layout.vm")
<link rel="stylesheet" href="/css/flexslider.css">
<script type="text/javascript" src="/js/questions.js"></script>
<script type="text/javascript" src="/js/jquery.flexslider-min.js"></script>
<script>
$(function() {
	$('.flexslider').flexslider({
        animation: "fade",
		controlNav: false
    });
	$(".question-item").each(function(){
		var tmp = $(this).children(".hidden").html().replace(/\<img.*\B\'\>/ig, "");
		$(this).children(".info").children().children(".text").children("p").html(tmp);
	});
});
</script>
<div class="main-content-wrap clearfix">
	<div class="flexslider">
      <ul class="slides">
    	<li>
    	    <a href="products"><img src="/img/banner/banner11.jpg" /></a>
    	</li>
    	<li>
    		<a href="items"><img src="/img/banner/banner10.jpg" /></a>
    	</li>
      </ul>
    </div>
	<div class="main-items-wrap">
    	<div class="main-items">
    		<div class="head">
    			刀具商城<span><a href="/items">想看更多低价？马上点击</a></span>
    		</div>
    		<div class="content clearfix">
    			#foreach($item in $items)
        			#if($velocityCount == 3 || $velocityCount == 6)
        			<div class="item br clearfix">
        				<a href="/item/${item.id}"><img src="/item/${item.cover}" /></a>
        				<p>
        					${item.brand}<br/>
        					${item.version}<br/>
        					${item.material}<br/>
        					<span>￥${item.price}0</span>
        				</p>
        			</div>
        			#else
        			<div class="item clearfix">
        				<a href="/item/${item.id}"><img src="/item/${item.cover}" /></a>
        				<p>
        					${item.brand}<br/>
        					${item.version}<br/>
        					${item.material}<br/>
        					<span>￥${item.price}0</span>
        				</p>
        			</div>
        			#end
    			#end
    		</div>
    	</div>
    	<div class="main-items mt50">
    		<div class="head">
    			线上展会<span><a href="/products">想看更多特色刀具？马上点击</a></span>
    		</div>
    		<div class="product-item-container clearfix">
            	<div class="main-list-content">
            		#foreach($product in $products)
    					#if($velocityCount == 1)
    					<div class="product-item mt0 clearfix">
            				<div class="pic">
            					<a href="/products/${product.id}"><img src="/product/${product.cover}" /></a>
            				</div>
            				<div class="info">
                				<h5 class="name"><a href="/products/${product.id}">${product.name}</a></h5>
                				<div class="param">
                					$stringUtil.getBrand(${product.brandId})
    								#if(${product.processMethod} > 0)$stringUtil.getMethod(${product.processMethod})#end
    								#if(${product.industry} > 0)$stringUtil.getIndustry(${product.industry})#end
    								#if(${product.wpMaterial} > 0)$stringUtil.getMaterial(${product.wpMaterial})#end
    								#if(${product.wpHardness} > 0)$stringUtil.getHardness(${product.wpHardness})#end
                				</div>
    							<p>${product.description}</p>
    							<span>$stringUtil.formatDate(${product.gmtCreate})</span>
            				</div>
    					</div>
    					#else
            			<div class="product-item clearfix">
            				<div class="pic">
            					<a href="/products/${product.id}"><img src="/product/${product.cover}" /></a>
            				</div>
            				<div class="info">
                				<h5 class="name"><a href="/products/${product.id}">${product.name}</a></h5>
                				<div class="param">
                					$stringUtil.getBrand(${product.brandId})
    								#if(${product.processMethod} > 0)$stringUtil.getMethod(${product.processMethod})#end
    								#if(${product.industry} > 0)$stringUtil.getIndustry(${product.industry})#end
    								#if(${product.wpMaterial} > 0)$stringUtil.getMaterial(${product.wpMaterial})#end
    								#if(${product.wpHardness} > 0)$stringUtil.getHardness(${product.wpHardness})#end
                				</div>
    							<p>${product.description}</p>
    							<span>$stringUtil.formatDate(${product.gmtCreate})</span>
            				</div>
            			</div>
    					#end
            		#end
            	</div>
            </div>
    	</div>
	</div>
	<div class="main-questions">
		<div class="head">
			&nbsp;<span><a class="green" href="/user/newquestion">我也要提问</a> | <a href="/questions">更多</a></span>
		</div>
		<div class="content">
			#foreach($question in $questions)
			<div class="question-item clearfix">
				<div class="hidden">$!{question.content}</div>
				<div class="logo">
					<a href="/users/$!{question.buyerId}">
						#if($!{question.userLogo})
							<img src="/logo/$!{question.userLogo}" />
						#else
							<img src="/img/avatar.png" />
						#end
					</a>
				</div>
				<div class="info">
					<ul>
						<li class="name"><a href="/users/$!{question.buyerId}">$!{question.userName}</a></li>
						<li class="title clearfix">
							提问
						</li>
						<li class="text clearfix">
							<p></p>
						</li>
						<li class="operation">
							<p><em>$!{question.cntPA}个方案</em><span>$stringUtil.formatDate($!{question.gmtCreate}) <a href="/questions/$!{question.id}">查看详情</a> </span> </p>
						</li>
					</ul>
				</div>
			</div>
			#end
		</div>
	</div>
</div>
#parse("/common/card.vm")