#set($layout = "/layout/index_layout.vm")
<link rel="stylesheet" href="../css/flexslider.css">
<script type="text/javascript" src="../js/questions.js"></script>
<script type="text/javascript" src="../js/jquery.flexslider-min.js"></script>
<script>
$(function() {
	$('.flexslider').flexslider({
        animation: "fade",
		controlNav: false
    });
});
</script>
<div class="flexslider">
  <ul class="slides">
    <li>
	    <a href="#"><img src="../img/banner/banner1.jpg" /></a>
	</li>
	<li>
	    <a href="/reg"><img src="../img/banner/banner2.jpg" /></a>
	</li>
	<li>
	    <a href="/reg"><img src="../img/banner/banner3.jpg" /></a>
	</li>

  </ul>
</div>
<div class="main-content-container clearfix">
	<!-- 问题 -->
	<div class="main-list-container width630 mh600">
		<div class="main-list-header">
                                             热门问题
         <a href="questions">点击查看更多问题</a>
		</div>
		<div class="main-list-content">
			#foreach($question in $questions)
			<div class="hot-question-listitem first clearfix">
				<div class="hidden">$!{question.content}</div>
				<div class="logo">
					<a>
						#if($!{question.userLogo})
							<img src="../logo/$!{question.userLogo}" />
						#else
							<img src="../img/avatar.png" />
						#end
					</a>
				</div>
				<div class="content">
					<ul>
						<li class="name"><p>$!{question.userName}</p></li>
						<li class="title clearfix">
							<div class="questions-param">
    							#if($!{question.industry} > 0)
    								<span>$stringUtil.getIndustry($!{question.industry})</span>
    							#end
    							#if($!{question.processMethod} > 0)
    								<span>$stringUtil.getMethod($!{question.processMethod})</span>
    							#end
    							#if($!{question.wpHardness} > 0)
    								<span>$stringUtil.getHardness($!{question.wpHardness})</span>
    							#end
    							#if($!{question.wpMaterial} > 0)
    								<span>$stringUtil.getMaterial($!{question.wpMaterial})</span>
    							#end
    						</div>
							<div class="questions-type">
								#if($!{question.type} == 1)
									<span class="type1">求精</span>
								#elseif($!{question.type} == 2)
									<span class="type2">解难</span>
								#else
									<span class="type3">求新</span>
								#end
								<span class="time">$stringUtil.formatDate($!{question.gmtModify})</span>
							</div>
						</li>
						<li class="text clearfix">
							<p></p>
						</li>
						<li class="info">
							<p> $!{question.cntPA}个解决方案 <span>|</span> $!{question.cntCA}条评论 <span>|</span> <a href="/questions/$!{question.id}">查看详情</a> <span class="answer"></span></p>
						</li>
						<li class="index-answer">
							#set($tmp = $!{velocityCount})
							#set($index = $tmp - 1)
							<div class="hidden">$!{answers[$index].content}</div>
						    <div class="answer-arrow">
							    <em class="S_line1_c">◆</em>
							    <em class="S_bg1_c">◆</em>
							</div>
							<ul class="pa-answer clearfix">
            				    <li class="agent-info clearfix">
            					    <div class="logo">
                						<a>
                    						#if($!{answers[$index].agentLogo})
                    							<img src="../logo/$!{answers[$index].agentLogo}" />
                    						#else
                    							<img src="../img/avatar.png" />
                    						#end
                    					</a>
                					</div>
            						<div class="agent-detail">
            							<h2 class="clearfix">
											<a class="agent-name" href="/agents/$!{answers[$index].agentId}">$!{answers[$index].agentName}</a>
                							<a class="fancybox-v" title="$!{answers[$index].agentName}的代理证书" href="$!{answers[$index].verifiedLink}"><img src="../img/v.png" /></a>
            							</h2>
            							<h4>$!{answers[$index].brandName}</h4>
            						</div>
            						<div class="answer-price">
            							#if($!{answers[$index].price})
            								<span>已报价</span>
            							#end
            							#if($!{answers[$index].FreeUse})
            								<span>免费试用</span>
            							#end
            						</div>
            					</li>
            				    <li class="answer-cont">
            					    <p></p>
            					</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
			#end
		</div>
	</div>
	<!-- 代理商 -->
	<div class="main-list-container width300 ml50">
		<div class="main-list-header ">
                                                      最新代理商
			<a class="seemore" href="/agents">查看更多</a>
		</div>
		<div class="main-list-content">
			#foreach($agent in $agents)
			<div class="new-agent-listitem clearfix">
				<div class="logo">
					<a href="/agent/${agent.id}">
							#if($!{agent.logo})
								<img src="../logo/$!{agent.logo}" />
							#else
								<img src="../img/avatar.png" />
							#end
						</a>
				</div>
				<div class="content">
					<ul>
						<li class="name clearfix">
								<a href="/agents/$!{agent.id}">$!{agent.companyName}</a>
								#if($agent.isVerified())
									<a class="fancybox-v" title="$!{agent.companyName}的代理证书" href="$!{agent.verifiedLink}"><img src="../img/v.png" /></a>
								#end
							</li>
						<li class="title">$!{agent.brandName}</li>
					</ul>
				</div>
			</div>
				#end
   </div>
	</div>
    <!-- 成功案例 -->
	<div class="main-list-container width300 ml50">
		<div class="main-list-header">
			成功案例
		  <a class="seemore" href="/goodcases">查看更多</a>
		</div>
		#foreach($gc in $goodcases)
		<div class="goodcase-listitem clearfix">
		  <div class="agent clearfix">
				<div class="logo">
					<a href="/agents/$!{gc.agentId}">
						#if($!{gc.agentLogo})
							<img src="../logo/$!{gc.agentLogo}" />
						#else
							<img src="../img/avatar.png" />
						#end
					</a>
				</div>
				<div class="content">
					<ul>
						<li class="name clearfix">
							<a href="/agents/$!{gc.agentId}">$!{gc.agentName}</a>
							#if($gc.isVerified())
								<a href="$!{gc.verifiedLink}"><img src="../img/v.png" /></a>
							#end
						</li>
						<li class="title">$!{gc.brandName}</li>
					</ul>
				</div>
			</div>
			<div class="property">
				#if($!{gc.industry} > 0)
					<span>$stringUtil.getIndustry($!{gc.industry})</span>
				#end
				#if($!{gc.processMethod} > 0)
					<span>$stringUtil.getMethod($!{gc.processMethod})</span>
				#end
				#if($!{gc.workMaterial} > 0)
					<span>$stringUtil.getMaterial($!{gc.workMaterial})</span>
				#end
				#if($!{gc.workSolidity} > 0)
					<span>$stringUtil.getHardness($!{gc.workSolidity})</span>
				#end
			</div>
		</div>
		#end
	</div>
	
</div>