#set($layout = "/layout/item_layout.vm")
<link rel="stylesheet" href="/css/flexslider.css">
<script type="text/javascript" src="/js/questions.js"></script>
<script type="text/javascript" src="/js/jquery.flexslider-min.js"></script>
<script>
$(function() {
	$('.flexslider').flexslider({
        animation: "fade",
		controlNav: false
    });
	$(".question-item").each(function(){
		var tmp = $(this).children(".hidden").html().replace(/\<img.*\B\'\>/ig, "");
		$(this).children(".info").children().children(".text").children("p").html(tmp);
	});
	$(".qr-item a.qq").click(function(){
		var rid = parseInt($(this).attr("rid"));
		$.ajax( {   
		    type : "POST",   
		    url : "/updaterequest", 
		    data : {
		      'rid' : rid,
		    }
		});   
	});
	$(".qr-item a.phone").click(function(){
		var rid = parseInt($(this).attr("rid"));
		$.ajax( {   
		    type : "POST",   
		    url : "/updaterequest", 
		    data : {
		      'rid' : rid,
		    }
		});   
		$(this).animate({width:"142px"});
	}).mouseleave(function(){
		$(this).animate({width:"32px"});
		$(this).css("border-bottom-left-radius","16px").css("border-top-left-radius","16px");
	});
	$("#showrequest").click(function(){
		showrequest();
	});
});
</script>
<div class="main-content-wrap clearfix">
	<div class="flexslider">
      <ul class="slides">
		<li>
    	    <a><img src="/img/banner/banner13.jpg" /></a>
    	</li>
    	<li>
    	    <a><img src="/img/banner/banner12.jpg" /></a>
    	</li>
      </ul>
    </div>
	<div class="main-items-wrap">
    	<div class="main-items">
    		<div class="head quickrequests clearfix">
    			<h5>每日需求<a id="showrequest">一键发布</a></h5><span><a href="/requests">点击查看更多</a></span>
    		</div>
    		<div class="content clearfix">
				#foreach($request in $requests)
    			<div class="qr-item clearfix">
					#if(${request.type} == 1)
						<h3>方案</h3>
					#else
						<h3 class="zhaohuo">求购</h3>
					#end
					  <div class="qr-content">
						    <h1>${request.content}</h1>
    						<div class="detail">
								<span><em>品牌</em>
									#if($stringUtil.isNotEmpty(${request.brand}))
										${request.brand}
									#else
										无
									#end</span>
								<span><em>地区</em>${request.area}</span>
								<span><em>时间</em>$stringUtil.formatDate(${request.gmtCreate})</span>
    						</div>
					  </div>
					  <div class="contact">
							#if($stringUtil.isNotEmpty(${request.qq}))
							<a class="qq" rid="${request.id}" target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=${request.qq}&site=qq&menu=yes">QQ</a>
							#end
							#if($stringUtil.isNotEmpty(${request.phone}))
							<a class="phone" rid="${request.id}"><span>${request.phone}</span><b></b></a>
							#end
					  </div>
  				</div>
				#end
    		</div>
    	</div>
    	<div class="main-items mt50">
    		<div class="head products">
    			线上展会<span><a href="/products">想看更多特色刀具？马上点击</a></span>
    		</div>
    		<div class="product-item-container clearfix">
            	<div class="main-list-content">
            		#foreach($product in $products)
    					#if($velocityCount == 1)
    					<div class="product-item mt0 clearfix">
            				<div class="pic">
            					<a href="/products/${product.id}"><img src="/product/${product.cover}" /></a>
            				</div>
            				<div class="info">
                				<h5 class="name"><a href="/products/${product.id}">${product.name}</a></h5>
                				<div class="param">
                					$stringUtil.getBrand(${product.brandId})
    								#if(${product.processMethod} > 0)
											$stringUtil.getMethod(${product.processMethod})
										#end
    								#if(${product.industry} > 0)
											$stringUtil.getIndustry(${product.industry})
										#end
    								#if(${product.wpMaterial} > 0)
											$stringUtil.getMaterial(${product.wpMaterial})
										#end
    								#if(${product.wpHardness} > 0)
											$stringUtil.getHardness(${product.wpHardness})
										#end
                				</div>
    							<p>${product.description}</p>
    							<span>$stringUtil.formatDate(${product.gmtCreate})</span>
            				</div>
    					</div>
    					#else
            			<div class="product-item clearfix">
            				<div class="pic">
            					<a href="/products/${product.id}"><img src="/product/${product.cover}" /></a>
            				</div>
            				<div class="info">
                				<h5 class="name"><a href="/products/${product.id}">${product.name}</a></h5>
                				<div class="param">
                					$stringUtil.getBrand(${product.brandId})
    								#if(${product.processMethod} > 0)$stringUtil.getMethod(${product.processMethod})#end
    								#if(${product.industry} > 0)$stringUtil.getIndustry(${product.industry})#end
    								#if(${product.wpMaterial} > 0)$stringUtil.getMaterial(${product.wpMaterial})#end
    								#if(${product.wpHardness} > 0)$stringUtil.getHardness(${product.wpHardness})#end
                				</div>
    							<p>${product.description}</p>
    							<span>$stringUtil.formatDate(${product.gmtCreate})</span>
            				</div>
            			</div>
    					#end
            		#end
            	</div>
            </div>
    	</div>
	</div>
	<div class="main-side">
    	<div class="main-questions">
    		<div class="head">
    			&nbsp;<span><a class="green" href="/user/newquestion">我也要提问</a> | <a href="/questions">更多</a></span>
    		</div>
    		<div class="content">
    			#foreach($question in $questions)
    			<div class="question-item clearfix">
    				<div class="hidden">$!{question.content}</div>
    				<div class="logo">
    					<a href="/users/$!{question.buyerId}">
    						#if($!{question.userLogo})
    							<img src="/logo/$!{question.userLogo}" />
    						#else
    							<img src="/img/avatar.png" />
    						#end
    					</a>
    				</div>
    				<div class="info">
    					<ul>
    						<li class="name"><a href="/users/$!{question.buyerId}">$!{question.userName}</a></li>
    						<li class="title clearfix">
    							提问
    						</li>
    						<li class="text clearfix">
    							<p></p>
    						</li>
    						<li class="operation">
    							<p><em>$!{question.cntPA}个方案</em><span>$stringUtil.formatDate($!{question.gmtCreate}) <a href="/questions/$!{question.id}">查看详情</a> </span> </p>
    						</li>
    					</ul>
    				</div>
    			</div>
    			#end
    		</div>
    	</div>
		<div class="advert">
    		<a href="/articles"><img src="/img/wiki.jpg" /></a>
    	</div>
	</div>
</div>
#parse("/common/card.vm")
#parse("/common/quickrequest.vm")