#set($layout = "/layout/index_layout.vm")
<div class="main-bk-wrapper pt0">
	<div class="main-banner-container">
		<link rel="stylesheet" href="../css/banner.css">
		<script type="text/javascript" src="../js/slides.min.jquery.js"></script>
		<script>
		$(function() {
		  $('.slides_container').width($('.main-banner-container').width());
			$('.slide img').width($('.main-banner-container').width());
			$('.slide img').height(300);
  		$('#slides').slides({
    		play  : 200000000,
    		pause : 200000000,
    		hoverPause : true
    	});
  	});
		</script>
		<div id="slides">
			<div class="slides_container">
				<div class="slide">
					<a href="" title="1" target="_blank"><img src="../img/banner/slide-4.jpg"  alt="Slide 1"></a>
				</div>
				<div class="slide">
					<a href="" title="2" target="_blank"><img src="../img/banner/slide-2.jpg"  alt="Slide 2"></a>
				</div>
				<div class="slide">
					<a href="" title="3" target="_blank"><img src="../img/banner/slide-3.jpg"  alt="Slide 3"></a>
				</div>
			</div>
		</div>
	</div>
	<div class="main-content-container clearfix">
		<!-- 问题 -->
		<div class="main-list-container width630">
			<div class="main-list-header">
                                                 热门问题
             <a href="#">点击查看更多问题</a>
			</div>
			<div class="main-list-content">
				<div class="hot-question-listitem first clearfix">
					<div class="logo">
						<img src="../img/avatar.png">
					</div>
					<div class="content">
						<ul>
							<li class="name"><p>无锡Y公司</p></li>
							<li class="title"><p>需要制造如此形状的倚天剑。不知道可以吗?</p></li>
							<li class="text clearfix">
								<img src="../img/ques1.png" />
								<p>
								我司过去使用的是R8圆刀片，加工情况尚可，63刀盘5刃，可转换6次但目前公司希望降低成本，要求其他刀具品牌参与竞争，求推荐刀具光洁度要求Ra3.2即可，主要是寿命要长
								</p>
							</li>
							<li class="info">
								<p> 1 个专业回答 <span>|</span> 3 个普通回答 <span>|</span> 查看详情 </p>
							</li>
							<li class="answer">
							  <div class="answer-arrow">
								  <em class="S_line1_c">◆</em>
								  <em class="S_bg1_c">◆</em>
								</div>
							  <ul class="clearfix">
								  <li class="agent-info clearfix">
									  <img src="../img/big-logo.png" />
										<h4>无锡汉尼达</h4>
										<h5>Big刀具代理商</h5>
									</li>
								  <li class="answer-cont">
									  <p>
										  您好,根据您的情况，加工条件和选刀已比较合适，但刀片仅单侧6刃可用，这方面可进行提高，请参考我司M1200产品（右图）。63刀盘为六刃，根据我们以往的经验，可按照相同的Vc和更高的Fz进行加工，即AP=1.2 N=500 F=800这样可以提高30%的效率..
										</p>
									</li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
      <div class="seperation">&nbsp;</div>
				<div class="hot-question-listitem first clearfix">
					<div class="logo">
						<img src="../img/avatar.png">
					</div>
					<div class="content">
						<ul>
							<li class="name"><p>无锡Y公司</p></li>
							<li class="title"><p>需要制造如此形状的倚天剑。不知道可以吗?</p></li>
							<li class="text clearfix">
								<img src="../img/ques1.png" />
								<p>
								我司过去使用的是R8圆刀片，加工情况尚可，63刀盘5刃，可转换6次但目前公司希望降低成本，要求其他刀具品牌参与竞争，求推荐刀具光洁度要求Ra3.2即可，主要是寿命要长
								</p>
							</li>
							<li class="info">
								<p> 1 个专业回答 <span>|</span> 3 个普通回答 <span>|</span> 查看详情 </p>
							</li>
							<li class="answer">
							  <div class="answer-arrow">
								  <em class="S_line1_c">◆</em>
								  <em class="S_bg1_c">◆</em>
								</div>
							  <ul class="clearfix">
								  <li class="agent-info clearfix">
									  <img src="../img/big-logo.png" />
										<h4>无锡汉尼达</h4>
										<h5>Big刀具代理商</h5>
									</li>
								  <li class="answer-cont">
									  <p>
										  您好,根据您的情况，加工条件和选刀已比较合适，但刀片仅单侧6刃可用，这方面可进行提高，请参考我司M1200产品（右图）。63刀盘为六刃，根据我们以往的经验，可按照相同的Vc和更高的Fz进行加工，即AP=1.2 N=500 F=800这样可以提高30%的效率..
										</p>
									</li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
      <div class="seperation">&nbsp;</div>
				<div class="hot-question-listitem first clearfix">
					<div class="logo">
						<img src="../img/avatar.png">
					</div>
					<div class="content">
						<ul>
							<li class="name"><p>无锡Y公司</p></li>
							<li class="title"><p>需要制造如此形状的倚天剑。不知道可以吗?</p></li>
							<li class="text clearfix">
								<img src="../img/ques1.png" />
								<p>
								我司过去使用的是R8圆刀片，加工情况尚可，63刀盘5刃，可转换6次但目前公司希望降低成本，要求其他刀具品牌参与竞争，求推荐刀具光洁度要求Ra3.2即可，主要是寿命要长
								</p>
							</li>
							<li class="info">
								<p> 1 个专业回答 <span>|</span> 3 个普通回答 <span>|</span> 查看详情 </p>
							</li>
							<li class="answer">
							  <div class="answer-arrow">
								  <em class="S_line1_c">◆</em>
								  <em class="S_bg1_c">◆</em>
								</div>
							  <ul class="clearfix">
								  <li class="agent-info clearfix">
									  <img src="../img/big-logo.png" />
										<h4>无锡汉尼达</h4>
										<h5>Big刀具代理商</h5>
									</li>
								  <li class="answer-cont">
									  <p>
										  您好,根据您的情况，加工条件和选刀已比较合适，但刀片仅单侧6刃可用，这方面可进行提高，请参考我司M1200产品（右图）。63刀盘为六刃，根据我们以往的经验，可按照相同的Vc和更高的Fz进行加工，即AP=1.2 N=500 F=800这样可以提高30%的效率..
										</p>
									</li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
      <div class="seperation">&nbsp;</div>
			</div>
		</div>
		<!-- 代理商 -->
		<div class="main-list-container width300 ml30">
			<div class="main-list-header  ff7e00">
                                                          最新代理商
				<a class="seemore" href="#">查看更多</a>
			</div>
			<div class="main-list-content">
				<div class="new-agent-listitem clearfix">
					<div class="logo">
						<img src="../img/big-logo.png">
					</div>
					<div class="content">
						<ul>
							<li class="name">无锡汉尼达</li>
							<li class="title">Big刀具代理商</li>
						</ul>
					</div>
				</div>
				<div class="seperation">&nbsp;</div>
				<div class="new-agent-listitem clearfix">
					<div class="logo">
						<img src="../img/big-logo.png">
					</div>
					<div class="content">
						<ul>
							<li class="name">无锡汉尼达</li>
							<li class="title">Big刀具代理商</li>
						</ul>
					</div>
				</div>
				<div class="seperation">&nbsp;</div>
				<div class="new-agent-listitem clearfix">
					<div class="logo">
						<img src="../img/big-logo.png">
					</div>
					<div class="content">
						<ul>
							<li class="name">无锡汉尼达</li>
							<li class="title">Big刀具代理商</li>
						</ul>
					</div>
				</div>
				<div class="seperation">&nbsp;</div>
				<div class="new-agent-listitem clearfix">
					<div class="logo">
						<img src="../img/big-logo.png">
					</div>
					<div class="content">
						<ul>
							<li class="name">无锡汉尼达</li>
							<li class="title">Big刀具代理商</li>
						</ul>
					</div>
				</div>
				<div class="seperation">&nbsp;</div>
				<div class="new-agent-listitem clearfix">
					<div class="logo">
						<img src="../img/big-logo.png">
					</div>
					<div class="content">
						<ul>
							<li class="name">无锡汉尼达</li>
							<li class="title">Big刀具代理商</li>
						</ul>
					</div>
				</div>
				<div class="seperation">&nbsp;</div>
				<div class="new-agent-listitem clearfix">
					<div class="logo">
						<img src="../img/big-logo.png">
					</div>
					<div class="content">
						<ul>
							<li class="name">无锡汉尼达</li>
							<li class="title">Big刀具代理商</li>
						</ul>
					</div>
				</div>
				<div class="seperation">&nbsp;</div>
   </div>
		</div>
	    <!-- 成功案例 -->
		<div class="main-list-container width300 ml30">
			<div class="main-list-header ff002a">
				成功案例
			  <a class="seemore" href="#">查看更多</a>
			</div>
			<div class="goodcase-listitem clearfix">
			  <div class="clearfix">
					<div class="logo">
						<img src="../img/big-logo.png">
					</div>
					<div class="content">
						<ul>
							<li class="name">无锡汉尼达</li>
							<li class="title">Big刀具代理商</li>
						</ul>
					</div>
      </div>
				<div class="property">
					<span>汽车零件</span>
					<span>涡轮壳</span>
					<span>平面锉削</span>
					<span>不锈钢</span>
					<span>HRC20-30</span>
					<span>1.4837</span>
					<span>AP=1.2</span>
					<span>Vc=100</span>
					<span>Fz=0.24</span>
			</div>
  </div>
	    <div class="seperation">&nbsp;</div>
			<div class="goodcase-listitem clearfix">
			  <div class="clearfix">
					<div class="logo">
						<img src="../img/big-logo.png">
					</div>
					<div class="content">
						<ul>
							<li class="name">无锡汉尼达</li>
							<li class="title">Big刀具代理商</li>
						</ul>
					</div>
      </div>
				<div class="property">
					<span>汽车零件</span>
					<span>涡轮壳</span>
					<span>平面锉削</span>
					<span>不锈钢</span>
					<span>HRC20-30</span>
					<span>1.4837</span>
					<span>AP=1.2</span>
					<span>Vc=100</span>
					<span>Fz=0.24</span>
			</div>
  </div>
	    <div class="seperation">&nbsp;</div>
			<div class="goodcase-listitem clearfix">
			  <div class="clearfix">
					<div class="logo">
						<img src="../img/big-logo.png">
					</div>
					<div class="content">
						<ul>
							<li class="name">无锡汉尼达</li>
							<li class="title">Big刀具代理商</li>
						</ul>
					</div>
      </div>
				<div class="property">
					<span>汽车零件</span>
					<span>涡轮壳</span>
					<span>平面锉削</span>
					<span>不锈钢</span>
					<span>HRC20-30</span>
					<span>1.4837</span>
					<span>AP=1.2</span>
					<span>Vc=100</span>
					<span>Fz=0.24</span>
			</div>
  </div>
	    <div class="seperation">&nbsp;</div>
		</div>
	</div>
</div>