#set($layout = "/layout/index_layout.vm")
<div class="main-content-wrap clearfix">
	<div class="index-content">
    	<div class="index-item">
    		<ul class="clearfix">
    			<li class="title">
    				<h1>机夹铣刀</h1>
    				<p>${jijiabrand}个品牌<br/>${jijiaseries}个系列</p>
    			</li>
    			<li class="item">
    				 <a href="/detail/${a1.id}">
						<div class="img-wrap">
							<span>
								<img src="/img/series/${a1.cover}" />
							</span>
						</div>
    					<h1>${a1.seriesname}</h1>
        				<p>${a1.brand} $ctConfig.getType(${a1.code})<br/>${a1.outline}</p>
        			</a>
    			</li>
    			<li class="item">
    				 <a href="/detail/${a1.id}" >
						<div class="img-wrap">
							<span>
								<img src="/img/series/${a1.cover}" />
							</span>
						</div>
    					<h1>${a1.seriesname}</h1>
        				<p>${a1.brand} $ctConfig.getType(${a1.code})<br/>${a1.outline}</p>
        			</a>
    			</li>
    			<li class="item">
    				 <a href="/detail/${a1.id}">
						<div class="img-wrap">
							<span>
								<img src="/img/series/${a1.cover}" />
							</span>
						</div>
    					<h1>${a1.seriesname}</h1>
        				<p>${a1.brand} $ctConfig.getType(${a1.code})<br/>${a1.outline}</p>
        			</a>
    			</li>
    		</ul>
    	</div>
    	<div class="index-item">
    		<ul class="clearfix">
    			<li class="title">
    				<h1>整体铣刀</h1>
    				<p>${zhengtibrand}个品牌<br/>${zhengtiseries}个系列</p>
    			</li>
    			<li class="item">
    				 <a href="/detail/${b1.id}">
						<div class="img-wrap">
							<span>
								<img src="/img/series/${b1.cover}" />
							</span>
						</div>
    					<h1>${b1.seriesname}</h1>
        				<p>${b1.brand} $ctConfig.getType(${b1.code})<br/>${b1.outline}</p>
        			</a>
    			</li>
    			<li class="item">
    				 <a href="/detail/${b1.id}" >
						<div class="img-wrap">
							<span>
								<img src="/img/series/${b1.cover}" />
							</span>
						</div>
    					<h1>${b1.seriesname}</h1>
        				<p>${b1.brand} $ctConfig.getType(${b1.code})<br/>${b1.outline}</p>
        			</a>
    			</li>
    			<li class="item">
    				 <a href="/detail/${b1.id}">
						<div class="img-wrap">
							<span>
								<img src="/img/series/${b1.cover}" />
							</span>
						</div>
    					<h1>${b1.seriesname}</h1>
        				<p>${b1.brand} $ctConfig.getType(${b1.code})<br/>${b1.outline}</p>
        			</a>
    			</li>
    		</ul>
    	</div>
    	<div class="index-item">
    		<ul class="clearfix">
    			<li class="title">
    				<h1>孔加工工具</h1>
    				<p>${kongbrand}个品牌<br/>${kongseries}个系列</p>
    			</li>
    			<li class="item">
    				 <a href="/detail/${c1.id}">
						<div class="img-wrap">
							<span>
								<img src="/img/series/${c1.cover}" />
							</span>
						</div>
    					<h1>${c1.seriesname}</h1>
        				<p>${c1.brand} $ctConfig.getType(${c1.code})<br/>${c1.outline}</p>
        			</a>
    			</li>
    			<li class="item">
    				 <a href="/detail/${c1.id}" >
						<div class="img-wrap">
							<span>
								<img src="/img/series/${c1.cover}" />
							</span>
						</div>
    					<h1>${c1.seriesname}</h1>
        				<p>${c1.brand} $ctConfig.getType(${c1.code})<br/>${c1.outline}</p>
        			</a>
    			</li>
    			<li class="item">
    				 <a href="/detail/${c1.id}">
						<div class="img-wrap">
							<span>
								<img src="/img/series/${c1.cover}" />
							</span>
						</div>
    					<h1>${c1.seriesname}</h1>
        				<p>${c1.brand} $ctConfig.getType(${c1.code})<br/>${c1.outline}</p>
        			</a>
    			</li>
    		</ul>
    	</div>
    	<div class="index-item">
    		<ul class="clearfix">
    			<li class="title">
    				<h1>刀柄</h1>
    				<p>${daobingbrand}个品牌<br/>${daobingseries}个系列</p>
    			</li>
    			<li class="item">
    				 <a href="/detail/${d1.id}">
						<div class="img-wrap">
							<span>
								<img src="/img/series/${d1.cover}" />
							</span>
						</div>
    					<h1>${d1.seriesname}</h1>
        				<p>${d1.brand} $ctConfig.getType(${d1.code})<br/>${d1.outline}</p>
        			</a>
    			</li>
    			<li class="item">
    				 <a href="/detail/${d2.id}" >
						<div class="img-wrap">
							<span>
								<img src="/img/series/${d2.cover}" />
							</span>
						</div>
    					<h1>${d2.seriesname}</h1>
        				<p>${d2.brand} $ctConfig.getType(${d2.code})<br/>${d2.outline}</p>
        			</a>
    			</li>
    			<li class="item">
    				 <a href="/detail/${d3.id}">
						<div class="img-wrap">
							<span>
								<img src="/img/series/${d3.cover}" />
							</span>
						</div>
    					<h1>${d3.seriesname}</h1>
        				<p>${d3.brand} $ctConfig.getType(${d3.code})<br/>${d3.outline}</p>
        			</a>
    			</li>
    		</ul>
    	</div>
	</div>
</div>