#set($layout = "/layout/item_layout.vm")
<div class="item-content-container clearfix">
	<script>
    $(function() {	
		var limit = parseInt($("#itemQuantity").val());
		var range = parseInt($("#itemQuantity").val());
		if(range <= 10){
			range = 1;
		}
		else{
			range = 10;
		}
		$("#submit_item").click(function(){
			if(parseInt($("#itemQuantity").val()) < limit || parseInt($("#itemQuantity").val())%range != 0){
				alert("最低起卖数量为"+limit+",并且不做零散销售");
				return;
			}
    		$("#form_item").submit();
			$("#form_item")[0].reset();
    	});
		$(".image .list a").click(function(){
			$(this).parent().children().each(function(){
				$(this).removeAttr("style");
			});
			$(this).css("border", "2px solid #0099cb");
			$(".photo img").attr("src", $(this).children("img").attr("src"));
			$(".photo a").attr("href", $(this).children("img").attr("src"));
		});
		$("#minus").click(function(){
			$("#itemQuantity").val($("#itemQuantity").val() - range);
			if($("#itemQuantity").val() < limit){
				$("#itemQuantity").val(limit);
			}
		});
		$("#add").click(function(){
			$("#itemQuantity").val(parseInt($("#itemQuantity").val()) + range);
			if($("#itemQuantity").val() < limit){
				$("#itemQuantity").val(limit);
			}
		});
		$(".fancybox-v").mouseenter(function(){
			$("em.hover").show();
		}).mouseleave(function(){
			$("em.hover").hide();
		});
    });
	
    </script>
	<form id="form_item" method="post" action="/purchase">
		<input type="hidden" name="itemname" value="${item.brand}${item.type}${item.version}"/>
		<input type="hidden" name="itemid" value="${item.id}" />
		<input type="hidden" name="cover" value="/item/${item.cover}" />
		<input type="hidden" name="price" value=${item.price} />
	<div class="item-detail clearfix">
		<div class="image">
			<div class="photo">
				<a class="fancybox-v" href="/item/${item.cover}"><img src="/item/${item.cover}" /></a>
				<em class="hover">点击放大</em>
			</div>
			<div class="list">
				#foreach($pic in $pictures)
					<a><img src="/item/${pic}" /></a>
				#end
			</div>
		</div>
		<div class="description">
			<h1 class="title">
				${item.brand}
				#if($stringUtil.isNotEquatl(${item.type},"其它"))
					${item.type}
				#end
				${item.version}
				<p>$!{item.feature}</p>
			</h1>
			<ul class="list">
				<li><span>商品价格：</span><em class="price">￥${item.price}0</em></li>
				<li><span>配送：</span><i>全国顺丰包邮</i></li>
				<li><span>销量：</span>30天内售出<em>#if(${item.quantity})${item.quantity}#else 0 #end</em>件</li>
				<li><span>供应商：</span>${item.provider}</li>
			</ul>
			<div class="buy clearfix">
				<div class="left">
        			<div class="quatity clearfix">
    					<span>数量：</span>
						<div class="quantity-box">
							<a id="minus">-</a><input id="itemQuantity" type="text" name="quatity" value=${item.limitq} /><a id="add">+</a>
						</div>
    				</div>
        			<a id="submit_item">立即购买</a>
				</div>
				<div class="right clearfix">
					<img src="/img/alipay.png" />
					<div class="alipay">
						<h1>支付宝担保交易</h1>
						<p>刀师傅使用支付宝担保交易服务。<br/>保障买卖双方货款安全，防范欺诈。</p>
					</div>
				</div>
			</div>
			<div class="contact clearfix">
				<p class="info">如果您大量购买我们的产品，可以与我们的客服联系，我们将为您提供更优质的服务!</p>
				<div class="left">
        			<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=123576884&site=qq&menu=yes"><img src="/img/purchaseqq.png" /></a>
					<p>QQ客服</p>
				</div>
				<div class="right">
					<h1>400-042-1145</h1>
					<p>刀师傅客服热线</p>
				</div>
			</div>
		</div>
	</div>
	</form>
	<div class="item-info-wrapper">
		<div class="header clearfix">
			<a class="current">商品详情</a>
		</div>
		<div class="item-info-list clearfix">
			<p>产品品牌：${item.brand}</p>
			<p>产品型号：${item.version}</p>
			<p>加工材质：${item.workmaterial}</p>
			<p>刀具材质：${item.material}</p>
			<p>产品简介：<br/>$!{item.description}</p>
		</div>
	</div>
</div>