#set($layout = "/layout/index_layout.vm")
<script type="text/javascript" src="../js/ques-handler.js"></script>
<div class="item-content-container clearfix">
    <div class="item-filter-wrapper">
    	<h2>特价刀具分类</h2>
    	<ul class="filter">
    		<li>
    			<div class="title">
					品牌：
    			</div>
    			<div class="content">
					<a>双立人</a>
					<a>双立人</a>
					<a>双立人</a>
					<a>双立人</a>
					<a>双立人</a>
					<a>双立人</a>
    			</div>
    		</li>
			<li>
    			<div class="title">
					型号：
    			</div>
    			<div class="content">
					<a>双立人</a>
					<a>双立人</a>
					<a>双立人</a>
					<a>双立人</a>
					<a>双立人</a>
					<a>双立人</a>
    			</div>
    		</li>
    		<li>
    			<div class="title">
					工件材质：
    			</div>
    			<div class="content">
					<a>双立人</a>
					<a>双立人</a>
					<a>双立人</a>
					<a>双立人</a>
					<a>双立人</a>
					<a>双立人</a>
    			</div>
    		</li>
    		<li>
    			<div class="title">
					加工方式：
    			</div>
    			<div class="content">
					<a>双立人</a>
					<a>双立人</a>
					<a>双立人</a>
					<a>双立人</a>
					<a>双立人</a>
					<a>双立人</a>
    			</div>
    		</li>
    	</ul>
    </div>
	<div class="item-list-wrapper">
		<div class="header">
			排序：<a>价格</a><a>销量</a><a>评论数量</a><a>上架时间</a>
		</div>
		<div class="item-list clearfix">
			<div class="item">
				<div class="img">
					<a><img src="../img/aaa.jpg" /></a>
				</div>
				<div class="info">
					<ul class="clearfix">
						<li class="title">
							<a>日本黛杰全新RPMT1204 可以让人家输入最多两行</a>
						</li>
						<li class="price">
							<span>￥20.00</span>
						</li>
						<li class="quatity">
							已售出 <span>235</span> 件
						</li>
						<li class="comment">
							<span>23</span> 条评论
						</li>
					</ul>
				</div>
			</div>
			<div class="item">
				<div class="img">
					<a><img src="../img/aaa.jpg" /></a>
				</div>
				<div class="info">
					<ul>
						<li class="title">
							<a>日本黛杰全新RPMT1204 可以让人家输入最多两行</a>
						</li>
						<li class="price">
							<span>￥20.00</span>
						</li>
						<li class="quatity">
							已售出 <span>235</span> 件
						</li>
						<li class="comment">
							<span>23</span> 条评论
						</li>
					</ul>
				</div>
			</div>
			<div class="item">
				<div class="img">
					<a><img src="../img/aaa.jpg" /></a>
				</div>
				<div class="info">
					<ul>
						<li class="title">
							<a>日本黛杰全新RPMT1204 可以让人家输入最多两行</a>
						</li>
						<li class="price">
							<span>￥20.00</span>
						</li>
						<li class="quatity">
							已售出 <span>235</span> 件
						</li>
						<li class="comment">
							<span>23</span> 条评论
						</li>
					</ul>
				</div>
			</div>
			<div class="item">
				<div class="img">
					<a><img src="../img/aaa.jpg" /></a>
				</div>
				<div class="info">
					<ul>
						<li class="title">
							<a>日本黛杰全新RPMT1204 可以让人家输入最多两行</a>
						</li>
						<li class="price">
							<span>￥20.00</span>
						</li>
						<li class="quatity">
							已售出 <span>235</span> 件
						</li>
						<li class="comment">
							<span>23</span> 条评论
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>