#if($showlogin == 1)
<div style="display:block" id="pagemask"></div>
<div style="display:block" class="log-win">
#else
<div id="pagemask"></div>
<div class="log-win">
#end
    <div class="log-layer">
        <h3>
            <a class="closealert" href="#">×</a><img src="/img/logo-white.png" />
        </h3>
        <div class="log-con clearfix">
			<script>
				$(function() {	
					$("#form_log").validate({
						rules:{
							mail:{
								required:true,
								email:true
							},
							password:{
								required:true
							}
						},
						messages:{
							mail:{
								required:"请输入邮箱",
								email:"邮箱格式不正确"
							},
							password:{
								required:"请输入密码"
							}
						},
						errorPlacement: function(error, element) {   
							$(".error-msg").show();
							var hasError = true;
							$(".error-msg label").each(function(){
								if($(this).attr("for") == error.attr("for")){
									hasError = false;
								}
							});
							if(hasError)
							{
                            	error.appendTo($(".error-msg"));     
							}
							else
							{
								$(".error-msg label").each(function(){
									if($(this).attr("for") == error.attr("for")){
										$(this).text(error.text());
									}
								});
							}
                        },
						success:function(label){
							$(".error-msg").hide();
							$(".error-msg label").each(function(){
								if($(this).attr("for") == $(label).attr("for")){
									$(this).text("");
								}
							}); 
						}
					});
				});
			</script>
			<div class="error-msg">
    		</div>
            <div class="left">
                <form id="form_log" method="post" action="/common/login">
                    <!-- 隐藏字段，用于标示是表单提交 -->
                    <input type="hidden" name="do_submit" value="true"/>
                    <div class="log_seg">
						<span>邮箱</span>
                        <input type="text" name="mail" placeholder="请输入邮箱"/>
					</div>
                    <div class="log_seg">
						<span>密码</span>
                        <input name="password" type="password" placeholder="请输入密码"/>
                    </div>
                    <div class="mt10 clearfix">
						<a class="forgetpwd" href="/forgetpwd">忘记密码&nbsp;?</a>
                        <label for="rememberme">
      					  <input id="rememberme" name="rememberme" type="checkbox" />
      						记住我
      					</label>
              					
                    </div>
                    <a class="submit_log" id="submit_log" href="#">登&nbsp;&nbsp;录</a>
					<a class="reg" href="/user/reg">免费注册</a>
                    <script>
        				$(function() {
        				  $('input').bind("keypress",function(event){
        				    if (event.keyCode == 13) {
                              $("#form_log").trigger("submit");
                            }
        				  });
                          $("#submit_log").click(function () {
                            $("#form_log").submit();//提交
                          });
        				});
        			</script>
				</form>
            </div>
        </div>
    </div>
</div>