#set($layout = "/layout/item_layout.vm")
<script>
$(function() {
	$(".paymembership").click(function() {
		var mid = $(this).attr("mid");
		$.ajax( {   
		    type : "POST",   
		    url : "/paymembership", 
		    data : {
		      'mid' : mid,
		     },  
		    dataType: "json",   
		    success : function(data) {   
		    	switch(data.status)
		    	{
		    	case 1:
		    		showAlert("账户未登录",data.code,"","确定","/log");
		    	  break;
		    	case 2:
		    		showAlert("",data.code,"","确定","#");
		    	  break;
		    	case 3:
		    		window.location.href='/paymembership/1';
		    	  break;
				case 4:
		    		window.location.href='/paymembership/2';
		    	  break;
		    	}  
		    }
		});   
		
	});
});
</script>
<div class="membership-container clearfix">
	<h1>请选择您的会员等级</h1>
	<div class="member-content">
		<div class="member-level clearfix">
			<div class="level grey">
				<h2>免费会员</h2>
				<ul>
					<li><b>终身免费</b></li>
					<li><b>2</b>个线上展位</li>
					<li><i>不能在刀具商城中出售刀具</i></li>
					<li><i>可在刀具咨询中发表普通评论</i></li>
					<li><i>不能参加微信推送</i></li>
					<li><i>选择现有刀具品牌</i></li>
					<li class="clearheight"><a href="/index">继续试用免费账户</a></li>
				</ul>
			</div>
			<div class="level red">
				<h2>认证会员</h2>
				<ul>
					<li><em>200</em>元/年</li>
					<li><b>4</b>个线上展位</li>
					<li><i>不能在刀具商城中出售刀具</i></li>
					<li>可在刀具咨询中提供<b>专业方案</b></li>
					<li>可以参加<b class="green">微信推送</b>(副图文位置)</li>
					<li>可选择或添加刀具品牌（限2个）</li>
					<li class="clearheight"><a class="paymembership" mid="1">申请认证会员</a></li>
				</ul>
			</div>
			<div class="level yellow">
				<h2>认证代理</h2>
				<ul>
					<li><em>1000</em>元/年</li>
					<li><b>10</b>个线上展位</li>
					<li><b>免费参与刀具商城交易</b></li>
					<li>可在刀具咨询中提供<b>专业方案</b></li>
					<li>可以参加<b class="green">微信推送</b>(副图文位置)</li>
					<li><b>成为品牌代理商</b></li>
					<li class="clearheight"><a class="paymembership" mid="2">申请认证代理</a></li>
				</ul>
			</div>
		</div>
		<div class="edm">
			<h3>我们的EDM活动，将您的产品通过邮件推送给10万个用户和经销商</h3>
		</div>
		<div class="contact clearfix">
			<h5>如您有任何疑问，可以通过QQ或电话与我们直接联系,我们的客服将为您服务！</h5>
			<div class="contact-detail clearfix">
				<div class="left">
        			<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=123576884&site=qq&menu=yes"><img src="/img/purchaseqq.png" /></a>
					<p>QQ客服</p>
				</div>
				<div class="middle">
					<h2>400-042-1145</h2>
					<p>刀师傅客服热线</p>
				</div>
				<div class="right clearfix">
					<img src="/img/2.png" />
					<p>扫描二维码，<br/>关注刀师傅官方微信平台</p>
				</div>
			</div>
		</div>
	</div>
</div>