#set($layout = "/layout/user_detail_layout.vm")
<script type="text/javascript">
	var newaddrshow = false;
	$(document).ready(function(){
    	$(".editaddr").click(function(){
			shownewaddr();
			$("#addrtitle").text("编辑地址");
			$("#form-pca").val($(this).attr("pca"));
			$("#detail").val($(this).attr("detail"));
			$("#name").val($(this).attr("name"));
			$("#phone").val($(this).attr("phone"));
			$("#zip").val($(this).attr("zip"));
			$("#addrid").val($(this).attr("addrid"));
			if($(this).attr("isdefault") == "true"){
				$("#isdefault").attr("checked","checked");
			}
			$("#isEdit").val(1);
    	});
		$(".del").click(function()
        {
        	if(confirm("确定要删除地址吗？")){
    			$.ajax( {   
        		    type : "POST",   
        		    url : "/user/deladdr/"+$(this).attr("addrid"),
    				success: function(){
    					window.location.href='/user/myaddr';
    				}
        		});   
            }
        });
	});
	function hidenewaddr() {
    	$(".newaddr-win").hide();
    	$("#pagemask-newaddr").hide();
    	newaddrshow = false;
    }
    function shownewaddr() {
    	$("#pagemask-newaddr").css("width", $(document).width());
    	$("#pagemask-newaddr").css("height", $(document).height());
    	$("#pagemask-newaddr").show();
    	$(".newaddr-win").css("top",
    			$(window).height() / 2 + $(document).scrollTop() - 220);
    	$(".newaddr-win").css("left", $(document).width() / 2 - 300);
    	if (!newaddrshow) {
    		$(".newaddr-win").show();
    		newaddrshow = true;
    	}
    }
</script>
<ul class="right-tab clearfix">
    <li>
        <a href="myorder">我的订单</a>
    </li>
    <li class="current">
                            地址管理
    </li>
</ul>
<div class="rigth-content">
	<div class="buyer-list">
		#foreach($addr in $addresses)
    		<div class="listitem">
    			<p>${addr.pca},${addr.addr},${addr.zip}. ${addr.name},${addr.phone}</span></p>
    			<div class="operation clearfix">
    				<a class="editaddr"  addrid="$!{addr.id}" zip="$!{addr.zip}" pca="$!{addr.pca}" detail="$!{addr.addr}" name="$!{addr.name}" phone="$!{addr.phone}" isdefault="$!{addr.defaulte}">编辑</a>
					<span>|</span>
    				<a class="del" addrid="$!{addr.id}">删除</a>
    			</div>
    		</div>
		#end
	</div>
	#parse("/common/page.vm")
</div>
#parse("/common/myaddr_new.vm")