#set($layout = "/layout/buyer_detail_layout.vm")
<ul class="right-tab clearfix">
    <li class="current">
		我的订单
    </li>
    <li>
       <a href="myaddr">地址管理</a>
    </li>
</ul>
<div class="rigth-content">
	<div class="order-header clearfix">
		<div class="name">商品</div>
		<div class="price">订单金额(元)</div>
		<div class="time">时间</div>
		<div class="state">订单状态</div>
		<div class="operation">操作</div>
	</div>
	<div class="order-list clearfix">
		<div class="name"><a><img src="../item/$cover" /><span>$itemName</span></a></div>
		<div class="price"><span>$price</span></div>
		<div class="time"><span>X $quantity</span></div>
		<div class="state"><span>${total}0</span></div>
		<div class="operation"><span>${total}0</span></div>
	</div>
</div>
