<div id="pagemask-newaddr"></div>
<link rel="stylesheet" href="../css/address.css">
<script type="text/javascript" src="../js/pcasunzip.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
    	$(".close-newaddr").click(function(){
    		hidenewaddr();
    	});
	});
</script>
<div class="newaddr-win">
    <div class="newaddr-win-content">
        <h2>
            <a class="close-newaddr">x</a>
			添加新地址
		</h2>
        <div class="content clearfix">
			<form>
			<ul class="part1">
				<li>
					<em>选择所在地：</em>
					<input class="address" type="text" /> 
				</li>
				<li>
					<em>邮政编码：</em>
					<input type="text" /> 
				</li>
				<li>
					<em>街道地址：</em>
					<textarea></textarea>
				</li>
			</ul>
			<ul class="part2">
				<li>
					<em>收件人姓名：</em>
					<input type="text" /> 
				</li>
				<li>
					<em>联系电话：</em>
					<input type="text" /> 
				</li>
				<li>
					<em>设置默认：</em>
					<input type="checkbox" />设置为默认地址 <p>设置后系统将在购买时自动选中该收货地址</p> 
				</li>
				<li>
					<a>确认</a><a>取消</a>
				</li>
			</ul>
			</form>
        </div>
    </div>
</div>