#if($totalPage > 1)
#set($url = "$!request.getServletPath()")
<div id="Pagination1" class="page">
	#if($page > 1)
		#set($prePage = $page - 1)
	    <a class="prev" href="$url?page=$prePage">上一页</a>
	#else
		<span class="current prev">上一页</span>
	#end
	
	#set($start = $page - 3)
    #set($end = $page + 3)

    #if($start < 1)
    	#set($start = 1)
    #end
    #if($end > $totalPage)
    	#set($end = $totalPage)
	#end

	#foreach($i in [$start..$end])
        #if($i==$page)
        <span class="current">$i</span>
        #else 
        <a href="$url?page=$i">$i</a>
        #end
    #end
    
    #if($end < $totalPage)
    
        #set($start = $totalPage - 3)
        #if($start > $end + 1)
          <a class="prev" href="#">.</a>
		  <a class="prev" href="#">.</a>
		  <a class="prev" href="#">.</a>
        #end
        
        #if($start <= $end)
        	#set($start = $end + 1)
        #end
        
        #foreach($i in [$start..$totalPage])
        	<a href="$url?page=$i">$i</a>
        #end
	#end
	
	#if($page < $totalPage)
		#set($nextPage = $page + 1)
	    <a class="next" href="$url?page=$nextPage">下一页</a>
	#else
		<span class="current next" href="#">下一页</span>
	#end
	
</div>
#end