#if($!{cut.version} and $!{cut.version} != 0)
    <td>$!{cut.version}</td>
#end
#if($!{cut.material} and $!{cut.material} != 0)
    <td>$!{cut.material}</td>
#end
#if($!{cut.angle} and $!{cut.angle} != 0)
    <td>$!{cut.angle}</td>
#end
#if($!{cut.ctcount} and $!{cut.ctcount} != 0)
    <td>$!{cut.ctcount}</td>
#end
#if($!{cut.diameter} and $!{cut.diameter} != 0)
    <td>$!{cut.diameter}</td>
#end
#if($!{cut.usage} and $!{cut.usage} != 0)
    <td>$!{cut.usage}</td>
#end
#if($!{cut.cujing} and $!{cut.cujing} != 0)
    <td>$!{cut.cujing}</td>
#end
#if($!{cut.usefullength} and $!{cut.usefullength} != 0)
    <td>$!{cut.usefullength}</td>
#end
#if($!{cut.pipesize} and $!{cut.pipesize} != 0)
    <td>$!{cut.pipesize}</td>
#end
#if($!{cut.shank} and $!{cut.shank} != 0)
    <td>$!{cut.shank}</td>
#end
#if($!{cut.shanktype} and $!{cut.shanktype} != 0)
    <td>$!{cut.shanktype}</td>
#end
#if($!{cut.shape} and $!{cut.shape} != 0)
    <td>$!{cut.shape}</td>
#end
#if($!{cut.backangle} and $!{cut.backangle} != 0)
    <td>$!{cut.backangle}</td>
#end
#if($!{cut.workingtool} and $!{cut.workingtool} != 0)
    <td>$!{cut.workingtool}</td>
#end
#if($!{cut.edgeno} and $!{cut.edgeno} != 0)
    <td>$!{cut.edgeno}</td>
#end
#if($!{cut.edgelength} and $!{cut.edgelength} != 0)
    <td>$!{cut.edgelength}</td>
#end
#if($!{cut.totallength} and $!{cut.totallength} != 0)
    <td>$!{cut.totallength}</td>
#end
#if($!{cut.screwangle} and $!{cut.screwangle} != 0)
    <td>$!{cut.screwangle}</td>
#end
#if($!{cut.coatingtype} and $!{cut.coatingtype} != 0)
    <td>$!{cut.coatingtype}</td>
#end
#if($!{cut.rangle} and $!{cut.rangle} != 0)
    <td>$!{cut.rangle}</td>
#end
#if($!{cut.direction} and $!{cut.direction} != 0)
    <td>$!{cut.direction}</td>
#end
#if($!{cut.minworkdiameter} and $!{cut.minworkdiameter} != 0)
    <td>$!{cut.minworkdiameter}</td>
#end
#if($!{cut.innercooling} and $!{cut.innercooling} != 0)
    <td>$!{cut.innercooling}</td>
#end
#if($!{cut.diameterratio} and $!{cut.diameterratio} != 0)
    <td>$!{cut.diameterratio}</td>
#end
#if($!{cut.slotshape} and $!{cut.slotshape} != 0)
    <td>$!{cut.slotshape}</td>
#end
#if($!{cut.handlenorm} and $!{cut.handlenorm} != 0)
    <td>$!{cut.handlenorm}</td>
#end
#if($!{cut.taptype} and $!{cut.taptype} != 0)
    <td>$!{cut.taptype}</td>
#end
#if($!{cut.screwtype} and $!{cut.screwtype} != 0)
    <td>$!{cut.screwtype}</td>
#end
#if($!{cut.axistype} and $!{cut.axistype} != 0)
    <td>$!{cut.axistype}</td>
#end
#if($!{cut.axisdetail} and $!{cut.axisdetail} != 0)
    <td>$!{cut.axisdetail}</td>
#end
#if($!{cut.thickness} and $!{cut.thickness} != 0)
    <td>$!{cut.thickness}</td>
#end
#if($!{cut.taper} and $!{cut.taper} != 0)
    <td>$!{cut.taper}</td>
#end
#if($!{cut.maxslotdepth} and $!{cut.maxslotdepth} != 0)
    <td>$!{cut.maxslotdepth}</td>
#end
#if($!{cut.slotwidth} and $!{cut.slotwidth} != 0)
    <td>$!{cut.slotwidth}</td>
#end
#if($!{cut.pointdiameter} and $!{cut.pointdiameter} != 0)
    <td>$!{cut.pointdiameter}</td>
#end
#if($!{cut.handledsize} and $!{cut.handledsize} != 0)
    <td>$!{cut.handledsize}</td>
#end
#if($!{cut.screwsize} and $!{cut.screwsize} != 0)
    <td>$!{cut.screwsize}</td>
#end
#if($!{cut.screwdistance} and $!{cut.screwdistance} != 0)
    <td>$!{cut.screwdistance}</td>
#end
#if($!{cut.accuracy} and $!{cut.accuracy} != 0)
    <td>$!{cut.accuracy}</td>
#end
#if($!{cut.interfacesize} and $!{cut.interfacesize} != 0)
    <td>$!{cut.interfacesize}</td>
#end
#if($!{cut.maxbore} and $!{cut.maxbore} != 0)
    <td>$!{cut.maxbore}</td>
#end
#if($!{cut.minbore} and $!{cut.minbore} != 0)
    <td>$!{cut.minbore}</td>
#end
#if($!{cut.necklength} and $!{cut.necklength} != 0)
    <td>$!{cut.necklength}</td>
#end
    