    <td>$!{cut.version}</td>
#if($stringUtil.isContains($param,">材质<"))
    <td>$!{cut.material}</td>
#end
#if($stringUtil.isContains($param,">主偏角<"))
    <td>$!{cut.angle}</td>
#end
#if($stringUtil.isContains($param,">刀片个数<"))
    <td>$!{cut.ctcount}</td>
#end
#if($stringUtil.isContains($param,">直径<"))
    <td>$!{cut.diameter}</td>
#end
#if($stringUtil.isContains($param,">加工用途<"))
    <td>$stringUtil.replaceSemicolon($!{cut.usage})</td>
#end
#if($stringUtil.isContains($param,">光洁度<"))
    <td>$!{cut.cujing}</td>
#end
#if($stringUtil.isContains($param,">有效长<"))
    <td>$!{cut.usefullength}</td>
#end
#if($stringUtil.isContains($param,">安装孔接口<"))
    <td>$!{cut.pipesize}</td>
#end
#if($stringUtil.isContains($param,">柄径<"))
    <td>$!{cut.shank}</td>
#end
#if($stringUtil.isContains($param,">柄部类型<"))
    <td>$!{cut.shanktype}</td>
#end
#if($stringUtil.isContains($param,">形状<"))
    <td>$!{cut.shape}</td>
#end
#if($stringUtil.isContains($param,">后角<"))
    <td>$!{cut.backangle}</td>
#end
#if($stringUtil.isContains($param,">适用工件<"))
    <td>$stringUtil.replaceSemicolon($!{cut.workingtool})</td>
#end
#if($stringUtil.isContains($param,">刃数<"))
    <td>$!{cut.edgeno}</td>
#end
#if($stringUtil.isContains($param,">刃长<"))
    <td>$!{cut.edgelength}</td>
#end
#if($stringUtil.isContains($param,">总长<"))
    <td>$!{cut.totallength}</td>
#end
#if($stringUtil.isContains($param,">螺旋角<"))
    <td>$!{cut.screwangle}</td>
#end
#if($stringUtil.isContains($param,">涂层种类<"))
    <td>$!{cut.coatingtype}</td>
#end
#if($stringUtil.isContains($param,">R角<"))
    <td>$!{cut.rangle}</td>
#end
#if($stringUtil.isContains($param,">方向<"))
    <td>$!{cut.direction}</td>
#end
#if($stringUtil.isContains($param,">最小加工直径<"))
    <td>$!{cut.minworkdiameter}</td>
#end
#if($stringUtil.isContains($param,">冷却方式<"))
    <td>$!{cut.innercooling}</td>
#end
#if($stringUtil.isContains($param,">倍径比<"))
    <td>$!{cut.diameterratio}</td>
#end
#if($stringUtil.isContains($param,">槽型状<"))
    <td>$!{cut.slotshape}</td>
#end
#if($stringUtil.isContains($param,">柄部规格<"))
    <td>$!{cut.handlenorm}</td>
#end
#if($stringUtil.isContains($param,">丝锥种类<"))
    <td>$!{cut.taptype}</td>
#end
#if($stringUtil.isContains($param,">螺纹类型<"))
    <td>$!{cut.screwtype}</td>
#end
#if($stringUtil.isContains($param,">主轴类型<"))
    <td>$!{cut.axistype}</td>
#end
#if($stringUtil.isContains($param,">主轴细分<"))
    <td>$!{cut.axisdetail}</td>
#end
#if($stringUtil.isContains($param,">厚度<"))
    <td>$!{cut.thickness}</td>
#end
#if($stringUtil.isContains($param,">最大槽深<"))
    <td>$!{cut.taper}</td>
#end
#if($stringUtil.isContains($param,">锥度<"))
    <td>$!{cut.maxslotdepth}</td>
#end
#if($stringUtil.isContains($param,">槽宽<"))
    <td>$!{cut.slotwidth}</td>
#end
#if($stringUtil.isContains($param,">刀尖直径<"))
    <td>$!{cut.pointdiameter}</td>
#end
#if($stringUtil.isContains($param,">可加持尺寸<"))
    <td>$!{cut.handledsize}</td>
#end
#if($stringUtil.isContains($param,">螺纹尺寸<"))
    <td>$!{cut.screwsize}</td>
#end
#if($stringUtil.isContains($param,">螺距<"))
    <td>$!{cut.screwdistance}</td>
#end
#if($stringUtil.isContains($param,">精度<"))
    <td>$!{cut.accuracy}</td>
#end
#if($stringUtil.isContains($param,">接口尺寸<"))
    <td>$!{cut.interfacesize}</td>
#end
#if($stringUtil.isContains($param,">镗孔上限<"))
    <td>$!{cut.maxbore}</td>
#end
#if($stringUtil.isContains($param,">镗孔下限<"))
    <td>$!{cut.minbore}</td>
#end
#if($stringUtil.isContains($param,">颈长<"))
    <td>$!{cut.necklength}</td>
#end
#if($stringUtil.isContains($param,">对应筒夹"))
    <td>$!{cut.relativecollet}</td>
#end
#if($stringUtil.isContains($param,">宽度"))
    <td>$!{cut.width}</td>
#end
#if($stringUtil.isContains($param,">高度"))
    <td>$!{cut.height}</td>
#end
#if($stringUtil.isContains($param,">切槽范围"))
    <td>$!{cut.grooverange}</td>
#end
#if($stringUtil.isContains($param,">钻孔范围"))
    <td>$!{cut.drillrange}</td>
#end
#if($stringUtil.isContains($param,">螺纹方向"))
    <td>$!{cut.screwdirection}</td>
#end    