#set($layout = "/layout/product_layout.vm")
<script type="text/javascript" src="/js/questions.js"></script>
<script type="text/javascript" src="/js/product-handler.js"></script>
<div class="product-content-container clearfix">
	<div class="product-banner">
	</div>
	<div class="product-wrapper clearfix">
    	<div class="product-list-container">
    		<div class="head clearfix">
    			<h1>线上展会</h1>
    			<div class="more">
    				<a href="/user/newproduct">免费发布新品</a>
    				<p>免费发布，直接沟通,打造刀具界O2O平台</p>
    			</div>
    		</div>
    		<div class="product-param-wrap">
    			<div class="mi product-param clearfix">
    				<form  id="form_products" method="post" action="/products">
                    <div class="product-param-li process clearfix">
                        #springBind("form.processMethod")
                        <input type="hidden" name="${status.expression}"  value="$!{status.value}" />
                        <a class="sel" >加工方式</a>
                        <ul class="param">
    						<li>
                                <a>不限</a>
                            </li>
                            <li>
                                <a>平面铣削</a>
                            </li>
                            <li>
                                <a>侧壁铣削</a>
                            </li>
        					<li>
                                <a>曲面铣削</a>
                            </li>
                            <li>
                                <a>铣槽</a>
                            </li>
        					<li>
                                <a>钻孔</a>
                            </li>
                            <li>
                                <a>镗孔</a>
                            </li>
        					<li>
                                <a>铰孔</a>
                            </li>
                            <li>
                                <a>螺纹铣削</a>
                            </li>
        					<li>
                                <a>车削(粗加工）</a>
                            </li>
							<li>
                                <a>车削(精加工）</a>
                            </li>
                            <li>
                                <a>车削(槽加工）</a>
                            </li>
        					<li>
                                <a>车削(螺纹加工）</a>
                            </li>
                            <li>
                                <a>去毛刺</a>
                            </li>
                        </ul>
                    </div>
                    <div class="product-param-li industry clearfix">
                        #springBind("form.industry")
                        <input type="hidden" name="${status.expression}"  value="$!{status.value}" />
                        <a class="sel" >所属行业</a>
                        <ul class="param">
    						<li>
                                <a>不限</a>
                            </li>
                            <li>
                                <a>模具</a>
                            </li>
                            <li>
                                <a>船舶</a>
                            </li>
        					<li>
                                <a>石油设备</a>
                            </li>
        					<li>
                                <a>散热器/空调</a>
                            </li>
        					<li>
                                <a>发电设备</a>
                            </li>
        					<li>
                                <a>塑料机械</a>
                            </li>
        					<li>
                                <a>内燃机</a>
                            </li>
        					<li>
                                <a>大型机械设备</a>
                            </li>
        					<li>
                                <a>汽车零件</a>
                            </li>
        					<li>
                                <a>电子行业</a>
                            </li>
        					<li>
                                <a>通用零件</a>
                            </li>
        					<li>
                                <a>其它</a>
                            </li>
                        </ul>
                    </div>
                    <div class="product-param-li hardness clearfix">
                        #springBind("form.wpHardness")
                        <input type="hidden" name="${status.expression}"  value="$!{status.value}" />
                        <a class="sel" >工件硬度</a>
                        <ul class="param">
    						<li>
                                <a>不限</a>
                            </li>
                            <li>
                                <a>HRC20以下</a>
                            </li>
                            <li>
                                <a>HRC20-30</a>
                            </li>
        					<li>
                                <a>HRC30-40</a>
                            </li>
                            <li>
                                <a>HRC40-50</a>
                            </li>
        					<li>
                                <a>HRC50-58</a>
                            </li>
                            <li>
                                <a>HRC58-62</a>
                            </li>
        					<li>
                                <a>HRC62-65</a>
                            </li>
                            <li>
                                <a>HRC65-68</a>
                            </li>
        					<li>
                                <a>HRC68以上</a>
                            </li>
                        </ul>
                    </div>
                    <div class="product-param-li material clearfix">
    					#springBind("form.wpMaterial")
                        <input type="hidden" name="${status.expression}"  value="$!{status.value}" />
                        <a class="sel" >工件材质</a>
                        <ul class="param">
    						<li>
                                <a>不限</a>
                            </li>
                            <li>
                                <a>钢</a>
                            </li>
                            <li>
                                <a>铸铁</a>
                            </li>
        					<li>
                                <a>不锈钢</a>
                            </li>
                            <li>
                                <a>高温合金</a>
                            </li>
        					<li>
                                <a>铝</a>
                            </li>
                            <li>
                                <a>有色金属</a>
                            </li>
        					<li>
                                <a>石墨</a>
                            </li>
                            <li>
                                <a>树脂</a>
                            </li>
                        </ul>
    				</div>    
    				<script>
    					$(function(){
    						$(".product-param-li input").change(function(){
    							$("#form_products").submit();//提交
    							$("#form_products")[0].reset();
    						});
    					});
    				</script>
    				</form>
    			</div>
    		</div>
    		<div class="product-item-container clearfix">
            	<div class="main-list-content">
            		#foreach($product in $products)
            			<div class="product-item clearfix">
            				<div class="pic">
            					<a href="/products/${product.id}"><img src="/product/${product.cover}" data-original="/product/${product.cover}" /></a>
            				</div>
            				<div class="info">
                				<h5 class="name"><a href="/products/${product.id}">${product.name}</a></h5>
                				<div class="param">
                					$stringUtil.getBrand(${product.brandId})
    								#if(${product.processMethod} > 0)$stringUtil.getMethod(${product.processMethod})#end
    								#if(${product.industry} > 0)$stringUtil.getIndustry(${product.industry})#end
    								#if(${product.wpMaterial} > 0)$stringUtil.getMaterial(${product.wpMaterial})#end
    								#if(${product.wpHardness} > 0)$stringUtil.getHardness(${product.wpHardness})#end
                				</div>
    							<p>${product.description}</p>
    							<span>$stringUtil.formatDate(${product.gmtCreate})</span><span>浏览次数(${product.count})</span>
            				</div>
            			</div>
					#end
            	</div>
            </div>
			#parse("/common/page.vm")
    	</div>
		<div class="main-side">
    		<div class="main-questions">
        		<div class="head">
        			&nbsp;<span><a class="green" href="/user/newquestion">我也要提问</a> | <a href="/questions">更多</a></span>
        		</div>
        		<div class="content">
        			#foreach($question in $questions)
        			<div class="question-item clearfix">
        				<div class="hidden">$!{question.content}</div>
        				<div class="logo">
        					<a href="/users/$!{question.buyerId}">
        						#if($!{question.userLogo})
        							<img src="/logo/$!{question.userLogo}" />
        						#else
        							<img src="/img/avatar.png" />
        						#end
        					</a>
        				</div>
        				<div class="info">
        					<ul>
        						<li class="name"><a href="/users/$!{question.buyerId}">$!{question.userName}</a></li>
        						<li class="title clearfix">
        							提问
        						</li>
        						<li class="text clearfix">
        							<p></p>
        						</li>
        						<li class="operation">
        							<p><em>$!{question.cntPA}个方案</em><span>$stringUtil.formatDate($!{question.gmtCreate}) <a href="/questions/$!{question.id}">查看详情</a> </span> </p>
        						</li>
        					</ul>
        				</div>
        			</div>
        			#end
        		</div>
        	</div>
    		<div class="advert">
        		<a href="/items"><img src="/img/ctshop.png" data-original /></a>
        	</div>
		</div>
	</div>
</div>
