#set($layout = "/layout/item_layout.vm")
<div class="product-detail-container clearfix">
	<script>
    $(function() {	
		$(".image .list a").click(function(){
			$(this).parent().children().each(function(){
				$(this).removeClass("current");
			});
			$(this).addClass("current");
			$(".photo img").attr("src", $(this).children("img").attr("src"));
			$(".photo a").attr("href", $(this).children("img").attr("src"));
		});
		$(".fancybox-v").mouseenter(function(){
			$("em.hover").show();
		}).mouseleave(function(){
			$("em.hover").hide();
		});
    });
    </script>
	<div class="product-wrap clearfix">
    	<div class="product-info clearfix">
    		<div class="image">
    			<div class="photo">
    				<a class="fancybox-v" href="/product/${product.cover}"><img src="/product/${product.cover}" /></a>
					<em class="hover">点击放大</em>
    			</div>
    			<div class="list">
    				#foreach($pic in $pictures)
						#if($velocityCount == 1)
							<a class="current"><img src="/product/${pic}" /></a>
						#else
							<a><img src="/product/${pic}" /></a>
						#end
    				#end
    			</div>
    		</div>
    		<div class="info">
    			<div class="title clearfix">
					<h1>${product.name}</h1>
					<p>${product.count}<br/><span>浏览次数</span></p>
				</div>
    			<div class="brand">
    				<i class="key">刀具品牌：</i>$stringUtil.getBrand(${product.brandId})<img src="/img/logo/$stringUtil.getBrandLogo(${product.brandId})" />
    			</div>
    			<div class="param">
    				<span><i class="key">加工方式：</i>$stringUtil.getMethod(${product.processMethod})</span>
					<span><i class="key">所属行业：</i>$stringUtil.getIndustry(${product.industry})</span>
					<span><i class="key">工件硬度：</i>$stringUtil.getHardness(${product.wpHardness})</span>
					<span><i class="key">工件材质：</i>$stringUtil.getMaterial(${product.wpMaterial})</span>
    			</div>
    			<div class="detail">
    				<ul>
    					<li>
    						<span><i class="key">供应商：</i><em><a targt="_blank" href="/users/${user.id}">${user.nick}</a></em></span>
    					</li>
    					<li>
    						<span><i class="key">地址：</i>${user.address}</span>
    					</li>
    					<li>
    						<span><i class="key">联系电话：</i>${user.contactPhone}</span>
    					</li>
    					<li>
    						<span><i class="key">QQ：</i>${user.contactQq}</span>
    					</li>
    				</ul>
    			</div>
    		</div>
    	</div>
    	<div class="description">
    		<div class="head">
				<img src="/img/product-des.png" />
    		</div>
    		<p>${product.description}</p>
    	</div>
	</div>
	<div class="product-side">
		<div class="goask">
			<h1>还是没找到合适的刀具？<br/><span>秀出你的需求，刀师傅和你一起解决！</span></h1>
			<a href="/user/newquestion">马上提问</a>
			<p>刀师傅助你一臂之力</p>
		</div>
	</div>
</div>