#set($layout = "/layout/item_layout.vm")
<script type="text/javascript">
	var newaddrshow = false;
	$(document).ready(function(){
    	$("#addaddr").click(function(){
    		shownewaddr();
    	});
		$("input[type=radio]").click(function(){
				$(this).parent().parent().parent().children("li").each(function(){
					$(this).removeClass("current");
				});
				$(this).parent().parent().addClass("current");
				$("#destination").text($(this).parent().children(".address").text());
				$("#receiver").text($(this).parent().children(".name").text());
		});
	});
    function hidenewaddr() {
    	$(".newaddr-win").hide();
    	$("#pagemask-newaddr").hide();
    	newaddrshow = false;
    }
    function shownewaddr() {
    	$("#pagemask-newaddr").css("width", $(document).width());
    	$("#pagemask-newaddr").css("height", $(document).height());
    	$("#pagemask-newaddr").show();
    	$(".newaddr-win").css("top",
    			$(window).height() / 2 + $(document).scrollTop() - 220);
    	$(".newaddr-win").css("left", $(document).width() / 2 - 300);
    	if (!newaddrshow) {
    		$(".newaddr-win").show();
    		newaddrshow = true;
    	}
    }
</script>
<div class="purchase-content-container clearfix">
	<h1>确认收货信息</h1>
	<ul class="address">
		#foreach($addr in $addresses)
    		#if(${addr.defaulte})
    		<li class="current clearfix">
    			<span>寄送至</span><div><input type="radio" checked name="address" /><i class="address">$!{addr.pca} $!{addr.addr}</i> <i class="name">$!{addr.name} $!{addr.phone}</i></div><a>编辑该地址</a>
    		</li>
			#else
    		<li class="clearfix">
				<span>寄送至</span><div><input type="radio" name="address" /><i class="address">$!{addr.pca} $!{addr.addr}</i> <i class="name">$!{addr.name} $!{addr.phone}</i></div><a>编辑该地址</a>
    		</li>
    		#end
		#end
		<a id="addaddr">使用新地址</a>
	</ul>
	<h1 class="mt20">确认订单信息</h1>
	<div class="item-header clearfix">
		<div class="name">商品</div>
		<div class="price">单价(元)</div>
		<div class="quatity">数量</div>
		<div class="total">小计(元)</div>
	</div>
	<div class="item-list clearfix">
		<div class="name"><a><img src="$cover" /><span>$itemName</span></a></div>
		<div class="price"><span>$price</span></div>
		<div class="quatity"><span>X $quatity</span></div>
		#set($total=$price * $quatity)
		<div class="total"><span>${total}0</span></div>
	</div>
	<div class="trivial clearfix">
		<div class="key">运费</div>
		<div class="value">0.00</div>
	</div>
	<div class="trivial clearfix">
		<div class="key">应付总额</div>
		<div class="value"><span>${total}0</span></div>
	</div>
	<div class="clearfix">
    	<div class="item-detail clearfix">
    		<div class="key"><em>实付款:</em><span>￥${total}0</span></div>
			#if(${addresses.size()} > 0)
				#foreach($addr in $addresses)
            		#if(${addr.defaulte})
        				<div class="key"><em>寄送至:</em><i id="destination">$!{addr.pca} $!{addr.addr}</i></div>
						<div class="key"><em>收件人:</em><i id="receiver">$!{addr.name} $!{addr.phone}</i></div>
					#end
				#end
			#else
				<div class="key"><em>寄送至:</em><i id="destination"></i></div>
				<div class="key"><em>收件人:</em><i id="receiver"></i></div>
			#end
    	</div>
	</div>
	<div class="clearfix">
    	<div class="operation clearfix">
			<form id="form_purchase" method="post" action="/purchase_handler">
				<input type="hidden" name="itemid" value="$itemid" />
				<input type="hidden" name="itemname" value="$itemName" />
				<input type="hidden" name="price" value="${total}" />
				<input type="hidden" name="quatity" value="${quatity}" />
				#if(${addresses.size()} > 0)
    				#foreach($addr in $addresses)
                		#if(${addr.defaulte})
            				<input type="hidden" name="name"  value="${addr.name}" />
            				<input type="hidden" name="address" value="${addr.addr}" />
            				<input type="hidden" name="zip" value="${addr.zip}" />
            				<input type="hidden" name="phone" value="${addr.phone}" />
    					#end
					#end
				#else
					<input type="hidden" name="name"  />
    				<input type="hidden" name="address"  />
    				<input type="hidden" name="zip"  />
    				<input type="hidden" name="phone"  />
				#end
			</form>
    		<a id="submit_purchase">提交订单</a>
			<script>
            $(function() {	
        		$("#submit_purchase").click(function(){
            		$("#form_purchase").submit();
            	});
            });
            </script>
			<p>如果您大量购买我们的产品，可以与我们的客服联系，我们将为您提供更优质的服务</p>
    	</div>
	</div>
</div>
#parse("/common/newaddr.vm")