#set($layout = "/layout/item_layout.vm")
<div class="purchase-content-container clearfix">
	<div class="head">
		您的位置：<a href="http://www.daoshifu.com">首页</a>><a href="/user/main">我的刀师傅</a>><a href="/user/myorder">我的订单</a>
	</div>
	<div class="order-state">
		<div class="key">
			<span class="state1">提交订单</span>
			<span class="state2">付款到支付宝</span>
			<span class="state3">刀师傅发货</span>
			<span class="state4">确认收货</span>
		</div>
		#if($state == 1)
			<img src="/img/state1.png" />
		#elseif($state == 2)
			<img src="/img/state2.png" />
		#elseif($state == 3)
			<img src="/img/state3.png" />
		#elseif($state == 4)
			<img src="/img/state4.png" />
		#else
			<img src="/img/state1.png" />
		#end
		<div class="time">
			<span class="state1">$!{timeSubmit}</span>
			<span class="state2">$!{timePay}</span>
			<span class="state3">$!{timeSell}</span>
			<span class="state4">$!{timeAssure}</span>
		</div>
	</div>
	<div class="purchase-info-wrapper">
		<div class="order-info clearfix">
			<div class="left">
				<div class="header clearfix">
        			<a class="current">商品详情</a>
        		</div>
				<ul class="order-detail">
					<li>
						订单编号：${orderid}
					</li>
					<li>
						收货信息：${receiverinfo}
					</li>
					<li>
						配送方式：顺丰包邮#if(${orderno})(${orderno})#end
					</li>
				</ul>
			</div>
			<div class="right">
				#if($state == 1)
        			<h1>订单状态：您还没有为货品付款<br/>您可以<a href="/purchase_handler/${orderid}">立即付款</a></h1>
        		#elseif($state == 2)
        			<h1>订单状态：付款已完成，刀师傅会尽快为您发货</h1>
        		#elseif($state == 3)
        			<h1>订单状态：刀师傅已经发货，请确认收货<br/>您可以<a href="http://www.alipay.com">确认收货</a></h1>
        		#elseif($state == 4)
        			<h1>订单状态：交易已经完成</h1>
        		#else
        			<h1>订单状态：交易已取消</h1>
        		#end
				
				<p>如您有任何问题，可以与我们的客服联系，我们将为您提供更优质的服务</p>
			</div>
		</div>
		<div class="order-header clearfix">
    		<div class="name">商品</div>
    		<div class="price">单价(元)</div>
    		<div class="quatity">数量</div>
    		<div class="total">小计(元)</div>
    	</div>
    	<div class="order-list clearfix">
    		<div class="name"><a><img src="/item/$cover" /><span>$itemName</span></a></div>
    		<div class="price"><span>$price</span></div>
    		<div class="quatity"><span>X $quantity</span></div>
    		<div class="total"><span>${total}0</span></div>
    	</div>
		<div class="trivial clearfix">
    		<div class="key">运费</div>
    		<div class="value">0.00</div>
    	</div>
    	<div class="trivial clearfix">
    		<div class="key">应付总额</div>
    		<div class="value"><span>${total}0</span></div>
    	</div>
	</div>
</div>