#set($layout = "/layout/index_layout.vm")
<script type="text/javascript" src="../js/ques-handler.js"></script>
<script type="text/javascript" src="../js/questions.js"></script>
<script type="text/javascript" src="../js/answer.js"></script>
<script type="text/javascript" src="../js/showa.js"></script>
<div class="main-content-container clearfix">
	<!-- 问题 -->
	<div class="main-list-container width630">
		<div class="gc-list-header">
			<h1><span><a href="/questions">所有问题</a> ></span><span class="regular">详细问题</span></h1>
		</div>
		<div class="main-list-content">
			<div class="hot-question-listitem first clearfix">
				<div class="hidden">$!{question.content}</div>
				<div class="logo">
					<a>
						#if($!{question.userLogo})
							<img src="../logo/$!{question.userLogo}" />
						#else
							<img src="../img/avatar.png" />
						#end
					</a>
				</div>
				<div class="content">
					<ul>
						<li class="name"><p>$!{question.userName}</p></li>
						<li class="title clearfix">
							<div class="questions-param">
    							#if($!{question.industry} > 0)
    								<span>$stringUtil.getIndustry($!{question.industry})</span>
    							#end
    							#if($!{question.processMethod} > 0)
    								<span>$stringUtil.getMethod($!{question.processMethod})</span>
    							#end
    							#if($!{question.wpHardness} > 0)
    								<span>$stringUtil.getMaterial($!{question.wpHardness})</span>
    							#end
    							#if($!{question.wpMaterial} > 0)
    								<span>$stringUtil.getHardness($!{question.wpMaterial})</span>
    							#end
    						</div>
							<div class="questions-type">
								#if($!{question.type} == 1)
									<span class="type1">求精</span>
								#elseif($!{question.type} == 2)
									<span class="type2">解难</span>
								#else
									<span class="type3">求新</span>
								#end
								<span class="time">$stringUtil.formatDate($!{question.gmtModify})</span>
							</div>
						</li>
						<li class="text clearfix">
							<p>$!{question.content}</p>
						</li>
						<li class="info">
							<p class="clearfix"><span class="answer"> <a class="comments">评论(<span id="question-comments">$!{commentsCnt}</span>)</a></span></p>
						</li>
						<li class="comment">
						    <div class="answer-arrow">
							    <em class="S_line1_c">◆</em>
							    <em class="S_bg1_c">◆</em>
							</div>
							#foreach($comment in $comments)
						  	<ul class="comment-item clearfix">
								<li class="agent-info clearfix">
									<div class="logo">
                						<a>
                    						#if($!{comment.userAvatar})
                    							<img src="../logo/$!{comment.userAvatar}" />
                    						#else
                    							<img src="../img/avatar.png" />
                    						#end
                    					</a>
                					</div>
            						<div class="agent-detail">
            							<h2 class="clearfix">
											#if($!{comment.agentId})
												<a class="agent-name" href="/agents/$!{comment.agentId}">$!{comment.userName}</a>
											#else
												<a class="agent-name" href="">$!{comment.userName}</a>
											#end
											#if($!{comment.link})
												<a class="fancybox-v" title="$!{comment.userName}的代理证书" href="$!{comment.link}"><img src="../img/v.png" /></a>
											#end
            							</h2>
            							<h4>$!{comment.brandName}</h4>
            						</div>
							  </li>
							  <li class="comment-cont">
								  <p>
									 $!{comment.content}
								  </p>
							  </li>
							  <li class="info">
								<p class="clearfix"><span class="time">$stringUtil.formatDate($!{comment.gmtCreate})</span><a class="reply-comment">回复</a></p>
							  </li>
							</ul>
							#end
							<form id="form_comment" method="post" action="/addcomment">
								<!-- 隐藏字段，用于标示是表单提交 -->
								<input type="hidden" name="do_submit" value="true"/>
								#springBind("form.parentId")
								<input type="hidden" name="${status.expression}" value="$!{question.id}" />
								#springBind("form.userName")
    							<input type="hidden" name="${status.expression}" value="$!{account.userName}" />
								#springBind("form.userLogo")
    							<input type="hidden" name="${status.expression}" value="$!{account.logo}" />
								#if($account.isAgent())
    								#springBind("form.agentId")
    								<input type="hidden" name="${status.expression}" value="$!{account.userId}" />
									#springBind("form.brandName")
    								<input type="hidden" name="${status.expression}" value="$!{account.brandName}" />
									#springBind("form.verifiedLink")
    								<input type="hidden" name="${status.expression}" value="$!{account.verifiedLink}" />
								#end
								#if($account.isBuyer())
    								#springBind("form.buyerId")
    								<input type="hidden" name="${status.expression}" value="$!{account.userId}" />
								#end
								<div class="reply-cont clearfix">
									#springBind("form.content")
                        			<input type="text" name="${status.expression}" class="dsf-form-text-input bargin" />
									<a id="submit_comment" class="reply">回   复</a>
                    			</div>
								<script>
                    				$(function() {	
                    					$("#form_comment").validate({
                    						rules:{
                    							content:{
                    								required:true
                    							}
                    						},
                    						messages:{
                    							content:{
                    								required:"请输入评论内容"
                    							}
                    						},
                    						errorElement:"em",
                            				submitHandler: function(form) {
                                      			$(form).ajaxSubmit({
                            						dataType:'json',
                            						success:processComment
                            					});
												$(form)[0].reset();
                            				}
                    					});
										$("#submit_comment").click(function () {
                        					$(this).submit();
                        				});
                    				});
									
                    			</script>
							</form>
						</li>
						<li class="answer">
							<h2 class="header">$!{question.cntPA}个解决方案  <a class="solution" qid="$!{question.id}" bid="$!{question.buyerId}">提供专业方案</a></h2>
							#foreach($answer in $answers)
                			    <ul class="pa-answer clearfix">
                				    <li class="agent-info clearfix">
                					    <div class="logo">
                    						<a>
                        						#if($!{answer.agentLogo})
                        							<img src="../logo/$!{answer.agentLogo}" />
                        						#else
                        							<img src="../img/avatar.png" />
                        						#end
                        					</a>
                    					</div>
                						<div class="agent-detail">
                							<h2 class="clearfix">
												<a class="agent-name" href="/agents/$!{answer.agentId}">$!{answer.agentName}</a>
                    							<a class="fancybox-v" title="$!{answer.agentName}的代理证书" href="$!{answer.verifiedLink}"><img src="../img/v.png" /></a>
                							</h2>
                							<h4>$!{answer.brandName}</h4>
                						</div>
                						<div class="answer-price">
                							#if($!{answer.price})
                								<span>已报价</span>
                							#end
                							#if($!{answer.FreeUse})
                								<span>免费试用</span>
                							#end
                						</div>
                					</li>
                				    <li class="answer-cont">
                					    <p>$!{answer.content}</p>
                					</li>
                					<li class="info clearfix">
                						<p> <span class="answer"><a class="comments">评论(<span id="answer-comments">$!{answer.cntComment}</span>)</a></span></p>
                					</li>
                					<li class="comment">
            						    <div class="answer-arrow">
            							    <em class="S_line1_c">◆</em>
            							    <em class="S_bg1_c">◆</em>
            							</div>
            							#foreach($comment in ${answer.comments})
            						  	<ul class="comment-item clearfix">
            								<li class="agent-info clearfix">
            									<div class="logo">
                            						<a>
                                						#if($!{comment.userAvatar})
                                							<img src="../logo/$!{comment.userAvatar}" />
                                						#else
                                							<img src="../img/avatar.png" />
                                						#end
                                					</a>
                            					</div>
                        						<div class="agent-detail">
                        							<h2 class="clearfix">
            											#if($!{comment.agentId})
            												<a class="agent-name" href="/agents/$!{comment.agentId}">$!{comment.userName}</a>
            											#else
            												<a class="agent-name" href="">$!{comment.userName}</a>
            											#end
            											#if($!{comment.link})
            												<a class="fancybox-v" title="$!{comment.userName}的代理证书" href="$!{comment.link}"><img src="../img/v.png" /></a>
            											#end
                        							</h2>
                        							<h4>$!{comment.brandName}</h4>
                        						</div>
            							  </li>
            							  <li class="comment-cont">
            								  <p>
            									 $!{comment.content}
            								  </p>
            							  </li>
            							  <li class="info">
            								<p class="clearfix"><span class="time">$stringUtil.formatDate($!{comment.gmtCreate})</span><a class="reply-comment">回复</a></p>
            							  </li>
            							</ul>
            							#end
            							<form id="form_comment_answer" method="post" action="/addcomment">
            								<!-- 隐藏字段，用于标示是表单提交 -->
            								<input type="hidden" name="do_submit" value="true"/>
											#springBind("form.type")
            								<input type="hidden" name="${status.expression}" value="1" />
            								#springBind("form.parentId")
            								<input type="hidden" name="${status.expression}" value="$!{answer.id}" />
            								#springBind("form.userName")
                							<input type="hidden" name="${status.expression}" value="$!{account.userName}" />
            								#springBind("form.userLogo")
                							<input type="hidden" name="${status.expression}" value="$!{account.logo}" />
            								#if($account.isAgent())
                								#springBind("form.agentId")
                								<input type="hidden" name="${status.expression}" value="$!{account.userId}" />
            									#springBind("form.brandName")
                								<input type="hidden" name="${status.expression}" value="$!{account.brandName}" />
            									#springBind("form.verifiedLink")
                								<input type="hidden" name="${status.expression}" value="$!{account.verifiedLink}" />
            								#end
            								#if($account.isBuyer())
                								#springBind("form.buyerId")
                								<input type="hidden" name="${status.expression}" value="$!{account.userId}" />
            								#end
            								<div class="reply-cont clearfix">
            									#springBind("form.content")
                                    			<input type="text" name="${status.expression}" class="dsf-form-text-input bargin" />
            									<a id="submit_comment_answer" class="reply">回   复</a>
                                			</div>
            								<script>
                                				$(function() {	
                                					$("#form_comment_answer").validate({
                                						rules:{
                                							content:{
                                								required:true
                                							}
                                						},
                                						messages:{
                                							content:{
                                								required:"请输入评论内容"
                                							}
                                						},
                                						errorElement:"em",
														submitHandler: function(form) {
                                                 		 	$(form).ajaxSubmit({
                                        						dataType:'json',
                                        						success:processAnswerComment
                                        					});
															$(form)[0].reset();
                                        				}
                                					});
            										$("#submit_comment_answer").click(function () {
                                    					$(this).submit();
                                    				});
                                				});
            									
                                			</script>
            							</form>
            						</li>
                				</ul>
                			#end
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
    <!-- 成功案例 -->
	<div class="main-list-container width300 ml50">
		<div class="main-list-header">
			成功案例
		  <a class="seemore" href="/goodcases">查看更多</a>
		</div>
		#foreach($gc in $goodcases)
		<div class="goodcase-listitem clearfix">
		  <div class="agent clearfix">
				<div class="logo">
					<a>
						#if($!{gc.agentLogo})
							<img src="../logo/$!{gc.agentLogo}" />
						#else
							<img src="../img/avatar.png" />
						#end
					</a>
				</div>
				<div class="content">
					<ul>
						<li class="name clearfix">
							<a href="/agent/$!{gc.agentId}">$!{gc.agentName}</a>
							#if($gc.isVerified())
								<a  class="fancybox-v" title="$!{gc.agentName}的代理证书" href="$!{gc.verifiedLink}"><img src="../img/v.png" /></a>
							#end
						</li>
						<li class="title">$!{gc.brandName}</li>
					</ul>
				</div>
			</div>
			<div class="property">
				#if($!{gc.industry} > 0)
					<span>$stringUtil.getIndustry($!{gc.industry})</span>
				#end
				#if($!{gc.processMethod} > 0)
					<span>$stringUtil.getMethod($!{gc.processMethod})</span>
				#end
				#if($!{gc.workMaterial} > 0)
					<span>$stringUtil.getMaterial($!{gc.workMaterial})</span>
				#end
				#if($!{gc.workSolidity} > 0)
					<span>$stringUtil.getHardness($!{gc.workSolidity})</span>
				#end
			</div>
		</div>
		#end
	</div>
</div>
#parse("/common/answer.vm")