<div id="pagemask-quickrequest"></div>
<script>
function processComplete(data){
	$('#form_request')[0].reset();
	hiderequest();
}
$(function() {	
	$("#form_request").validate({
		ignore:[],
		rules:{
			type:{
				min:1
			},
			content:{
				required:true
			},
			area:{
				required:true
			},
			qq:{
				require_from_group: [1, ".contact-group"],
				number:true
			},
			phone:{
				require_from_group: [1, ".contact-group"],
				number:true
			}
		},
		messages:{
			type:{
				min:"请选择类型"
			},
			content:{
				required:"请输入发布内容"
			},
			area:{
				required:"请输入所在地区"
			},
			qq:{
				number:"QQ只能包含数字"
			},
			phone:{
				number:"电话号码只能包含数字"
			}
		},
		errorElement:"em",
		submitHandler: function(form) {
            $(form).ajaxSubmit({
				dataType:'json',
				complete:processComplete
			});
          }

	});
	$(".detail a.solution").click(function(){
		$("#type").val(1);
		$(".detail a.zhaohuo").removeAttr("style");
		$(this).css("background-color","#3986af");
	});
	$(".detail a.zhaohuo").click(function(){
		$("#type").val(2);
		$(".detail a.solution").removeAttr("style");
		$(this).css("background-color","#e37c44");
	});
});
</script>
<div class="quickrequest-win">
    <div class="quickrequest-win-content">
        <h2>
            <a class="close-quickrequest">x</a>
							快速发布
        </h2>
		<div class="content">
			<form id="form_request" action="/newrequest" method="post">
			<div class="part">
				<div class="section">
					<b>请选择发布类型</b>
					#springBind("form.type")
					<input id="type" type="hidden" name="${status.expression}" value=0 />
					<div class="type">
						<div class="detail">
							<a class="solution">方案</a>
							<p>对你的问题没有头绪？<br/>请选择方案</p>
						</div>
						<div class="detail ">
							<a class="zhaohuo">找货</a>
							<p>知道需要什么刀具却没有货源？<br/>请选择找货</p>
						</div>
					</div>
				</div>
			</div>
			<div class="part">
				<div class="section request-cont clearfix">
					<span>内容</span>
					#springBind("form.content")
					<textarea  class="dsf-form-text-input qr-cont" name="${status.expression}" placeholder="请输入需要发布的内容"></textarea>
				</div>
				<div class="section clearfix">
					<span>品牌</span>
					#springBind("form.brand")
					<input type="text" class="dsf-form-text-input" name="${status.expression}" placeholder="请输入需要查找的品牌" />
				</div>
				<div class="section clearfix">
					<span>地区</span>
					#springBind("form.area")
					<input type="text" class="dsf-form-text-input" name="${status.expression}" placeholder="请选择您的地区" />
				</div>
			</div>
			<div class="part">
				<div class="section clearfix">
					<span>QQ</span>
					#springBind("form.qq")
					<input type="text" class="dsf-form-text-input contact-group" name="${status.expression}" placeholder="请输入您的QQ" />
				</div>
				<div class="section clearfix">
					<span>电话</span>
					#springBind("form.phone")
					<input type="text" class="dsf-form-text-input contact-group" name="${status.expression}" placeholder="请输入您的手机号" />
				</div>
			</div>
			<div class="op">
				<a id="submit_request">发    布</a>
			</div>
			<script>
    			$(function() {
    				$("#submit_request").click(function () {
                    	$(this).submit();
    				});
    			});
    		</script>
			</form>
		</div>
	</div>
</div>
