#set($layout = "/layout/product_layout.vm")
<script>
$(function() {
	$(".qr-item a.qq").click(function(){
		var rid = parseInt($(this).attr("rid"));
		$.ajax( {   
		    type : "POST",   
		    url : "/updaterequest", 
		    data : {
		      'rid' : rid,
		    }
		});   
	});
	$("a.phone").click(function(){
		var rid = parseInt($(this).attr("rid"));
		$.ajax( {   
		    type : "POST",   
		    url : "/updaterequest", 
		    data : {
		      'rid' : rid,
		    }
		});  
		$(this).animate({width:"142px"});
	}).mouseleave(function(){
		$(this).animate({width:"32px"});
		$(this).css("border-bottom-left-radius","16px").css("border-top-left-radius","16px");
	});
	$(".showrequest").click(function(){
		showrequest();
	});
	$(".changetype").click(function(){
		$("#rtype").val($(this).attr("value"));
		$("#form_type").submit();
	});
});
</script>
<div class="request-content-container clearfix">
	<div class="requests-wrapper clearfix">
		<div class="request-banner">
			<a class="showrequest">一键发布</a>
		</div>
		<div class="main-items">
    		<div class="head quickrequests clearfix">
				<form id="form_type">
				<input type="hidden" name="type" id="rtype" />
    			<h5>每日需求<a class="showrequest">一键发布</a></h5><span><a class="changetype all" value="0">所有发布</a><a class="changetype zhaohuo" value="2">只看求购</a><a class="changetype solution" value="1">只看方案</a></span>
				</form>
    		</div>
    		<div class="content clearfix">
    			#foreach($request in $requests)
    			<div class="qr-item clearfix">
					#if(${request.type} == 1)
						<h3>方案</h3>
					#else
						<h3 class="zhaohuo">求购</h3>
					#end
					  <div class="qr-content">
						    <h1>${request.content}</h1>
    						<div class="detail">
								<span><em>品牌</em>
									#if($stringUtil.isNotEmpty(${request.brand}))
										${request.brand}
									#else
										无
									#end</span>
								<span><em>地区</em>${request.area}</span>
								<span><em>时间</em>$stringUtil.formatDate(${request.gmtCreate})</span>
    						</div>
					  </div>
					  <div class="contact">
							#if($stringUtil.isNotEmpty(${request.qq}))
							<a class="qq" rid="${request.id}" target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=${request.qq}&site=qq&menu=yes">QQ</a>
							#end
							#if($stringUtil.isNotEmpty(${request.phone}))
							<a class="phone" rid="${request.id}"><span>${request.phone}</span><b></b></a>
							#end
					  </div>
  				</div>
				#end
    		</div>
    	</div>
		#parse("/common/page.vm")
	</div>
	<div class="product-side">
		<div class="product-side-items">
    		#foreach($item in $items)
				#if($velocityCount < 5)
					<div class="item clearfix">
						<div class="left">
							<a href="/item/${item.id}"><img src="/item/${item.cover}" data-original="/item/${item.cover}" /></a>
						</div>
						<div class="right">
							<a href="/item/${item.id}">${item.brand}${item.type}${item.version} ${item.material}</a>
							<p><span>￥${item.price}0 </span><em>包邮</em></p>
						</div>
					</div>
				#end
			#end
    	</div>
		<div class="advert">
    		<a href="/items"><img src="/img/ctshop.png" data-original /></a>
    	</div>
	</div>
</div>
#parse("/common/quickrequest.vm")