#set($layout = "/layout/item_layout.vm")
<div class="main-content-wrap clearfix">
	<div class="clearfix" style="margin-top:20px;">
		#foreach ($ct in $cts)
            <div class="content clearfix" style="margin-bottom:10px;">
				<div style="float:left;">
					#if($stringUtil.isNotEmpty(${ct.cover}))
						<a style="width:130px;display: block;text-align: center;border:1px solid grey" href="/detail/${ct.id}"><img src="$!{ct.cover}" /></a>
					#else
						<a style="width:130px;display: block;text-align: center;border:1px solid grey" href="/detail/${ct.id}"><img src="/img/series/nopic.gif" /></a>
					#end
				</div>
				<div style="float:left;width: 700px;margin-left:10px;">
					<h3>$!{ct.seriesname}</h3>
					<h4>$!{ct.brand}</h4>
                	<h3>$ctConfig.getType($!{ct.code})</h3>
            		<p >$!{ct.outline}</p>
            		<p >$!{ct.info}</p>
				</div>
            </div>
        #end
	</div>
</div>