#set($layout = "/layout/item_layout.vm")
<div class="main-content-wrap clearfix">
	<h1 class="category-level">$!{category}</h1>
	<div class="series-content clearfix"">
		<div class="left">
		</div>
		<div class="right">
		#if(${cts.size()} == 0)
			没有找到该产品
		#end
		#foreach ($ct in $cts)
            <a class="series-item clearfix" href="/detail/${ct.id}">
				<div class="series-pic">
					#if($stringUtil.isNotEmpty(${ct.cover}))
						<img src="$!{ct.cover}" />
					#else
						<img src="/img/series/seriespic.png" />
					#end
				</div>
				<div class="series-params">
					<h3>$!{ct.seriesname}</h3>
					<h4>$ctConfig.getSeriesParamSpan($ct,$!{ct.samecolume})</h4>
            		<p>$!{ct.outline}</p>
				</div>
            </a>
		#end
		</div>
	</div>
</div>