<script type="text/javascript" src="../js/jquery.cookie.js"></script>
<script type="text/javascript" src="../js/top-nav.js"></script>
<div class="main-head-container">
    <div class="main-head-content clearfix">
        <div class="main-logo">
            <a href="http://www.daoshifu.com"><img src="../img/logo.png" /></a>
        </div>
        <div class="nav">
            <ul>
				#if($!stringUtil.isContains($request.getServletPath(),"/index"))
                <li class="current">
                    <a href="/index">首页</a>
                </li>
				#else
				<li>
                    <a href="/index">首页</a>
                </li>
				#end
				#if($!stringUtil.isContains($request.getServletPath(),"/questions") )
                <li class="current">
                    <a href="/questions">所有问题</a>
                </li>
				#else
				<li>
                    <a href="/questions">所有问题</a>
                </li>
				#end
				#if($!stringUtil.isContains($request.getServletPath(),"/agents") )
                <li class="current">
                    <a href="/agents">代理商</a>
                </li>
				#else
				<li>
                    <a href="/agents">代理商</a>
                </li>
				#end
				#if($!stringUtil.isContains($request.getServletPath(),"/goodcases"))
                <li class="current">
                    <a href="/goodcases">成功案例</a>
                </li>
				#else
				<li>
                    <a href="/goodcases">成功案例</a>
                </li>
				#end
				#if($!stringUtil.isContains($request.getServletPath(),"/samples"))
                <li class="current">
                    <a href="samples">刀具样本</a>
                </li>
				#else
				<li>
                    <a href="/samples">刀具样本</a>
                </li>
				#end
            </ul>
        </div>
        <div class="ask">
            <a href="/buyer/newquestion">提问</a>
        </div>
        <div class="login">
            #if(!$!session.getAttribute("account"))  
                <a class="auth-reg" href="">注册/登陆</a>
                <ul class="top-dropdown-reg">
                    <li>
                        <a href="/buyer/log">买家</a>
                    </li>
                    <li>
                        <a href="/agent/log">代理商</a>
                    </li>
                </ul>
                　                      #else
                    #if($account.isBuyer())
                        <div class="top-user" href="/buyer/main">
                            <span class="name">${account.userName}</span>
                            <div class="logo">
                                <a href="#">
                                    #if($!{account.logo})
                                        <img src="../logo/$!{account.logo}"  />
                                        #else
                                            <img src="../img/avatar.png"  />
                                    #end
                                </a>
                            </div>
                        </div>
                        <ul class="top-dropdown">
                            <li>
                                <a href="/buyer/main">我的刀师傅</a>
                            </li>
                            <li>
                                <a href="/buyer/mymsg">
									消息
									#if($!{account.unreadMsgCount} > 0)
                                        <span class="zg-noti-number">$!{account.unreadMsgCount}</span>
                                    #end
								</a>
                            </li>
                            <li>
                                <a href="/buyer/profile">
									设置
								</a>
								
                            </li>
                            <li>
                                <a href="/buyer/logoff">退出</a>
                            </li>
                        </ul>
                  	#else
                            <div class="top-user" href="/agent/main">
                                <span class="name">${account.userName}</span>
                                <div class="logo">
                                    <a href="#">
                                        #if($!{account.logo})
                                            <img src="../logo/$!{account.logo}"  />
                                            #else
                                                <img src="../img/avatar.png"  />
                                        #end
                                    </a>
                                </div>
                            </div>
                            <ul class="top-dropdown">
                                <li>
                                    <a href="/agent/main">我的刀师傅</a>
                                </li>
                                <li>
                                    <a href="/agent/mymsg">消息
										#if($!{account.unreadMsgCount} > 0)
                                            <span class="zg-noti-number">$!{account.unreadMsgCount}</span>
                                        #end
									</a>
                                </li>
                                <li>
                                    <a href="/agent/profile">设置</a>
                                </li>
                                <li>
                                    <a href="/agent/logoff">退出</a>
                                </li>
                            </ul>
                    #end
            #end		
        </div>
    </div>
</div>
