<script type="text/javascript" src="/js/top-nav.js"></script>
<script type="text/javascript" src="/js/stickUp.min.js"></script>
<script type="text/javascript">
  jQuery(function($) {
    $(document).ready( function() {
      $('.main-head-wrap').stickUp();
    });
  });
</script>
<div class="main-head-wrap">
    <div class="main-head-container2">
    	<div class="main-head-content clearfix">
        	<div class="welcome">
        		欢迎来到刀师傅，
				#if(!$!session.getAttribute("account"))  
					请您<a rel="external" rel="external" href="/user/reg">注册</a>或<a rel="external" rel="external" href="/log">登录</a>
				#else
					${account.userName}. <a rel="external" rel="external" href="/user/logoff">退出</a>
				#end
        	</div>
    		<div class="right">
        		<a rel="external" rel="external" href="/user/main">我的刀师傅</a>
    			<a class="complain">网站建议</a>
        	</div>
    	</div>
    </div>
    <div class="main-head-container">
        <div class="main-head-content clearfix">
            <div class="main-logo">
                <a rel="external" rel="external" href="http://www.daoshifu.com"><img src="/img/logo-blue.png" /></a>
            </div>
            <div class="nav">
                <ul class="clearfix">
    				#if($!stringUtil.isContains($request.getServletPath(),"/index"))
                    <li class="current">
                        <a rel="external" href="/index">首页</a>
                    </li>
    				#else
    				<li>
                        <a rel="external" href="/index">首页</a>
                    </li>
    				#end
					#if($!stringUtil.isContains($request.getServletPath(),"/items") || $!stringUtil.isContains($request.getServletPath(),"/stocks"))
                    <li class="current ctshop">
                        <a rel="external" href="/items">刀具商城</a>
						<!--<ul class="ctshop-dropdown">
                            <li>
                                <a rel="external" href="/items">平价刀具</a>
                            </li>
                            <li>
                                <a rel="external" href="/stocks">清仓拍</a>
                            </li>
                        </ul>-->
                    </li>
    				#else
    				<li class="ctshop">
                        <a rel="external" href="/items">刀具商城</a>
						<ul class="ctshop-dropdown">
                            <li>
                                <a rel="external" href="/items">平价刀具</a>
                            </li>
                            <li>
                                <a rel="external" href="/stocks">清仓拍</a>
                            </li>
						</ul>
                   </li>
    				#end
    				#if($!stringUtil.isContains($request.getServletPath(),"/products") )
                    <li class="current">
                        <a rel="external" href="/products">线上展会</a>
                    </li>
    				#else
    				<li>
                        <a rel="external" href="/products">线上展会</a>
                    </li>
    				#end
    				#if($!stringUtil.isContains($request.getServletPath(),"/questions"))
                    <li class="current">
                        <a rel="external" href="/questions">刀具咨询</a>
                    </li>
    				#else
    				<li>
                        <a rel="external" href="/questions">刀具咨询</a>
                    </li>
    				#end
    				#if($!stringUtil.isContains($request.getServletPath(),"/agents"))
                    <li class="current">
                        <a rel="external" href="/agents">供应商</a>
                    </li>
    				#else
    				<li>
                        <a rel="external" href="/agents">供应商</a>
                    </li>
    				#end
    				#if($!stringUtil.isContains($request.getServletPath(),"/articles") || $!stringUtil.isContains($request.getServletPath(),"/samples"))
                    <li class="current ctinfo">
                        <a>刀具资料</a>
						<ul class="top-dropdown">
                            <li>
                                <a rel="external" href="/samples">刀具样本</a>
                            </li>
                            <li>
                                <a rel="external" href="/articles">刀具小百科</a>
                            </li>
                        </ul>
                    </li>
    				#else
    				<li class="ctinfo">
                        <a>刀具资料</a>
						<ul class="top-dropdown">
                            <li>
                                <a rel="external" href="/samples">刀具样本</a>
                            </li>
                            <li>
                                <a rel="external" href="/articles">刀具小百科</a>
                            </li>
                        </ul>
                    </li>
    				#end
                </ul>
            </div>
    		<h4 class="phone">
    			客服热线 4000-421-145
    		</h4>
        </div>
    </div>
</div>
