<link rel="stylesheet" href="../css/imgup.css">
<div id="pagemask"></div>
<div class="uploadlogo-win">
	<div class="uploadlog-win-content">
    <h2><a class="close" href="#">x</a> 修改头像</h2>
    
    <div class="content clearfix">
		<div class="preview-wrap">
			<div id="preview" class="preview"></div>
		</div>
		<div class="thumb-container clearfix">
			<h5>头像预览</h5>
			<div class="thumb-wrap">
				<div class="thumb-out">
  			  <div class="thumb"></div>
          </div>
  			</div>
		  </div>
    </div>
	#if($!{account.isBuyer()})
		<form id="form_uploadlogo" action="/buyer/uploadlogo" method="post" enctype="multipart/form-data">
	#else
		<form id="form_uploadlogo" action="/agent/uploadlogo" method="post" enctype="multipart/form-data">
	#end
			<input name="uploadlogo" value="true" type="hidden">
        <input type="file" id="file" name="logo" />
            <a id="submit_uploadlogo" class="save" href="#">保 存</a>
                <input name="crop" type="hidden">
    </form>
	</div>
</div>
<script type="text/javascript" src="../js/imagepreview.js"></script>
<script type="text/javascript" src="../js/jquery.crop.js"></script>
<script type="text/javascript" src="../js/uploadlogo.js"></script>
<script>
    imagepreview(document.getElementById("file"), document.getElementById("preview"), function(info){
    //这里若return false则不预览图片
    $("#preview").css({
    background: "none"
    });
    $("#preview").crop( function(e){
    $("input[type='hidden']").val([e.left, e.top, e.width,  e.height].toString());
    }, ".thumb");
    });
	$(function() {
		$("#submit_uploadlogo").click(function () {
			$("#form_uploadlogo").submit();//提交
		});
	});
</script>
