#set($layout = "/layout/user_detail_layout.vm")
<script type="text/javascript" src="/js/mixed-handle.js"></script>
<script type="text/javascript" src="/js/editanswer.js"></script>
<ul class="right-tab clearfix">
  <li class="current"><span>已回答的问题</span></li>
  <li><a href="answerdraft">草稿箱</a></li>
</ul>
<div class="rigth-content">
    <div class="buyer-list">
    	#foreach($answer in $answers)
        	<div class="listitem">
        		<div class="clearfix">
        		    <div class="mixed">$!{answer.content}</div>
        		    <span class="time">$stringUtil.formatDate($!{answer.gmtCreate})</span>
        		</div>
        		<div class="operation clearfix">
        			<a href="/questions/$!{answer.questionId}">查看详情</a><span>|</span>
        			<a class="editanswer" answerid="$!{answer.id}">编辑</a>
        		</div>
        	</div>
    	#end
	</div>
	#parse("/common/page.vm")
</div>
#parse("/common/answer.vm")
