#set($layout = "/layout/user_detail_layout.vm")
<script>
$(function() {
	$(".del").click(function()
    {
		var str = "/user/delproduct/" + $(this).attr("pid");
    	if(confirm("确定要删除吗？")){
			$.ajax( {   
    		    type : "POST",   
    		    url : str,
				success: function(){
					window.location.href='/user/myproduct';
				}
    		});   
        }
    });
});
</script>
<ul class="right-tab clearfix">
  <li><a href="newproduct">上传刀具</a></li>
  <li class="current"><span>展会管理</span></li>
</ul>
<div class="rigth-content">
	<div class="buyer-list">
		#foreach($product in $products)
    		<div class="listitem">
    			<p>
					$!{product.name}
					#if(${product.state} == 0)
						<span>刀师傅正在审核</span>
					#elseif(${product.state} == 2)
						<span class="unqualified">审核未通过</span>
					#else
						<span>$stringUtil.formatDate($!{product.gmtCreate})</span>
					#end
				</p>
    			<div class="operation clearfix">
					<a target="_blank" href="/products/$!{product.id}">查看详情</a><span>|</span>
    				<a href="/user/product/$!{product.id}">编辑</a><span>|</span>
    				<a class="del" pid="$!{product.id}">删除</a>
    			</div>
    		</div>
		#end
	</div>
	#parse("/common/page.vm")
</div>
