#set($layout = "/layout/user_detail_layout.vm")
<script>
$(function() {
	$(".del").click(function()
    {
		var str = "/user/delsample/" + $(this).attr("sid");
    	if(confirm("确定要删除吗？")){
			$.ajax({   
    		    type : "POST",   
    		    url : str,
				success: function(){
					window.location.href='/user/mysample';
					}
    		});   
        }
    });
});
</script>
<ul class="right-tab clearfix">
  <li><a href="uploadsample">上传样本</a></li>
  <li class="current"><span>样本管理</span></li>
</ul>
<div class="rigth-content">
	<div class="buyer-list">
		#foreach($sample in $samples)
		<div class="listitem">
			<p>$!{sample.name}<span>$stringUtil.formatDate($!{sample.gmtCreate})</span></p>
			<div class="operation clearfix">
				<a href="/user/sample/$!{sample.id}">编辑</a><span>|</span>
				<a id="del-sample" class="del" sid="$!{sample.id}">删除</a>
			</div>
		</div>
		#end
	</div>
	#parse("/common/page.vm")
</div>

