#set($layout = "/layout/user_detail_layout.vm")
<link rel="stylesheet" href="/css/uploadify.css">
<script type="text/javascript" src="/js/jquery.uploadify.min.js"></script>
<script type="text/javascript" src="/js/ques-handler.js"></script>
<script type="text/javascript" src="/js/brand.js"></script>
<ul class="right-tab clearfix">
    <li class="current">上传刀具</li>
    <li>
        <a href="myproduct">展会管理</a>
    </li>
</ul>
<div class="rigth-content">
	<script>
		$(function(){
    		$("#form_newproduct").validate({
				ignore: "",
    			rules:{
    				name:{
    					required:true
    				}
    			},
    			messages:{
    				name:{
    					required:"请输入刀具名称"
    				}
    			},
    			errorElement:"em",
    			submitHandler: function(form) {
          			$(form).ajaxSubmit({
    					dataType:'json',
    					success: processProduct
    				});
    				$(form)[0].reset();
    			}
			
            });  
		    $("#submit_uploadproduct").click(function(){
          		$("#form_newproduct").submit();
          	});
		});
		function processProduct(data) { 
    		showAlert(data.title,data.content,data.info,data.btn,data.link);
    	}
	</script>
    <form id="form_newproduct" method="post">
        <!-- 隐藏字段，用于标示是表单提交 -->
        <input type="hidden" name="do_submit" value="true"/>
        #springBind("productForm.pid")
        <input type="hidden" name="${status.expression}" value="$!{status.value}" id="qid" />
        #springBind("productForm.isEdit")
        <input type="hidden" name="${status.expression}" value="$!{status.value}" id="isEdit" />
		#springBind("productForm.cover")
        <input type="hidden" name="${status.expression}" value="$!{status.value}" id="productCover" />
		#if($errormsg)
		<div class="error-msg-np">
			$errormsg
    	</div>
		#end
        #springBind("productForm.name")
    	<div class="listitem clearfix">
    		<ul class="user-info clearfix">
    			<li class="key">
    				刀具名称
    			</li>
    			<li class="value">
    				<input type="text" class="dsf-form-text-input" name="${status.expression}"  value="$!{status.value}" />
					<em for="$!{status.expression}" generated="true" class="error">$!{status.errorMessage}</em>
    			</li>
    		</ul>
    	</div>
		<div class="listitem clearfix">
			#springBind("productForm.brandid")
			<input type="hidden" id="brand" name="${status.expression}" value="${status.value}"/>
            <ul class="user-info clearfix">
                <li class="key">
					刀具品牌
                </li>
                <li class="value">
                    <a id="selbrand">
						#if(${status.value} != 0)
							$stringUtil.getBrand($brandid)
						#else
							选择刀具品牌
						#end
					</a>
                </li>
            </ul>
        </div>
    	<div class="listitem clearfix">
    		<ul class="user-info clearfix">
    			<li class="key">
    				刀具类型
    			</li>
    			<li class="value">
					<div class="question-param-con">
    				<div class="mi question-param clearfix">
                        <div class="question-param-li process clearfix">
							#springBind("productForm.processMethod")
                            <input type="hidden" name="${status.expression}"  value="$!{status.value}" />
                            <a class="sel" >加工方式</a>
                            <ul class="param">
    							<li>
                                    <a>不限</a>
                                </li>
                                <li>
                                    <a>平面铣削</a>
                                </li>
                                <li>
                                    <a>侧壁铣削</a>
                                </li>
            					<li>
                                    <a>曲面铣削</a>
                                </li>
                                <li>
                                    <a>铣槽</a>
                                </li>
            					<li>
                                    <a>钻孔</a>
                                </li>
                                <li>
                                    <a>镗孔</a>
                                </li>
            					<li>
                                    <a>铰孔</a>
                                </li>
                                <li>
                                    <a>螺纹铣削</a>
                                </li>
            					<li>
                                    <a>车削(粗加工）</a>
                                </li>
                                <li>
                                    <a>车削(槽加工）</a>
                                </li>
            					<li>
                                    <a>车削(螺纹加工）</a>
                                </li>
                                <li>
                                    <a>去毛刺</a>
                                </li>
                            </ul>
                        </div>
                        <div class="question-param-li industry clearfix">
                            #springBind("productForm.industry")
                            <input type="hidden" name="${status.expression}"  value="$!{status.value}" />
                            <a class="sel" >所属行业</a>
                            <ul class="param">
    							<li>
                                    <a>不限</a>
                                </li>
                                <li>
                                    <a>模具</a>
                                </li>
                                <li>
                                    <a>船舶</a>
                                </li>
            					<li>
                                    <a>石油设备</a>
                                </li>
            					<li>
                                    <a>散热器/空调</a>
                                </li>
            					<li>
                                    <a>发电设备</a>
                                </li>
            					<li>
                                    <a>塑料机械</a>
                                </li>
            					<li>
                                    <a>内燃机</a>
                                </li>
            					<li>
                                    <a>大型机械设备</a>
                                </li>
            					<li>
                                    <a>汽车零件</a>
                                </li>
            					<li>
                                    <a>电子行业</a>
                                </li>
            					<li>
                                    <a>通用零件</a>
                                </li>
            					<li>
                                    <a>其它</a>
                                </li>
                            </ul>
                        </div>
                        <div class="question-param-li hardness clearfix">
                            #springBind("productForm.wpHardness")
                            <input type="hidden" name="${status.expression}"  value="$!{status.value}" />
                            <a class="sel" >工件硬度</a>
                            <ul class="param">
    							<li>
                                    <a>不限</a>
                                </li>
                                <li>
                                    <a>HRC20以下</a>
                                </li>
                                <li>
                                    <a>HRC20-30</a>
                                </li>
            					<li>
                                    <a>HRC30-40</a>
                                </li>
                                <li>
                                    <a>HRC40-50</a>
                                </li>
            					<li>
                                    <a>HRC50-58</a>
                                </li>
                                <li>
                                    <a>HRC58-62</a>
                                </li>
            					<li>
                                    <a>HRC62-65</a>
                                </li>
                                <li>
                                    <a>HRC65-68</a>
                                </li>
            					<li>
                                    <a>HRC68以上</a>
                                </li>
                            </ul>
                        </div>
                        <div class="question-param-li material clearfix">
        					#springBind("productForm.wpMaterial")
                            <input type="hidden" name="${status.expression}"  value="$!{status.value}" />
                            <a class="sel" >工件材质</a>
                            <ul class="param">
    							<li>
                                    <a>不限</a>
                                </li>
                                <li>
                                    <a>钢</a>
                                </li>
                                <li>
                                    <a>铸铁</a>
                                </li>
            					<li>
                                    <a>不锈钢</a>
                                </li>
                                <li>
                                    <a>高温合金</a>
                                </li>
            					<li>
                                    <a>铝</a>
                                </li>
                                <li>
                                    <a>有色金属</a>
                                </li>
            					<li>
                                    <a>石墨</a>
                                </li>
                                <li>
                                    <a>树脂</a>
                                </li>
                            </ul>
                        </div>
                    </div>
					</div>
    			</li>
    		</ul>
    	</div>
    	<div class="listitem clearfix">
    		<ul class="user-info clearfix">
    			<li class="key">
    				图片上传
    			</li>
    			<li class="value">
    				<input type="file" name="productlink" id="file_upload"/>
					<div>
						#springBind("productForm.picture")
						<input type="hidden" name="${status.expression}" value="$!{status.value}" id="product_pic" />
						<em for="$!{status.expression}" generated="true" class="error">$!{status.errorMessage}</em>
					</div>
    			</li>
    		</ul>
    	</div>
		#springBind("productForm.description")
		<div class="listitem clearfix">
    		<ul class="user-info clearfix">
    			<li class="key">
    				刀具描述
    			</li>
    			<li class="value">
    				<textarea class="dsf-form-text-input ct-info" name="${status.expression}" >$!{status.value}</textarea>
    			</li>
    		</ul>
    	</div>
		
    	<div class="listitem mt20 pt20 btg clearfix">
			#if($errormsg)
				<a class="disable" >无法上传</a>
			#else
				<a id="submit_uploadproduct" class="save" >上 传</a>
			#end
    	</div>
		<script>
    		$(function() {
				$("body").on("click", ".del", delPic);
    			$("body").on("click", ".cover", setCover);
    			var picCnt = 0;
            	if($("#product_pic").val().split('|').length > 0){
            		picCnt = $("#product_pic").val().split('|').length - 1;
            	}
            	var upCnt = 4 - picCnt;
            	function loadProduct(data){
            		$(".uploadify-queue-item").each(function(){
            			var pn = data.split("/")[1];
            			if(pn.substr(0,15) == $(this).children(".fileName").text().split(" ")[0].substr(0,15)){
            				$(this).empty();
            				$(this).append("<img class='product-tn' src='/product/" + data + "' /><div class='buttons'><a class='del'>删除</a><label class='cover' for='" + data + "'><input origin='"+data+"' type='radio' id='" + data + "'/>设为封面</label></div>");
            				$("#product_pic").val($("#product_pic").val()+"|"+data);
            			}
            		});
            	}
            	function setCover(){
            		$(".cover").each(function(){
            			$(this).children("[type=radio]").prop('checked', false);
            		});
            		$(this).children("[type=radio]").prop('checked', true);
            		$("#productCover").val($(this).children("[type=radio]").attr("origin"));
            	}
            	function delPic(){
            		upCnt = upCnt + 1;
            		$('#file_upload').uploadify('settings','uploadLimit',upCnt);
            		$(this).parent().parent().remove();
            		var picAll = "";
            		$(".cover").each(function(){
            			picAll = picAll + "|" + $(this).attr("for");
            		});		
            		$("#product_pic").val(picAll);
            	}
    			$("#file_upload").uploadify({  
                  	'height'        : 30,   
                  	'width'         : 120,    
      				'buttonText'    : '选择图片',
      				'fileSizeLimit' : '5MB',
               	   	'fileObjName'   : 'productlink',
                  	'swf'           : '/js/uploadify.swf',  
                  	'uploader'      : '/user/uploadfile_product',  
                  	'auto'          : true,  
      				'removeCompleted': false,
      				'fileTypeExts'  : '*.jpg;*.png;*.gif;*',  
      				'uploadLimit'   : upCnt, 
                  	'onUploadSuccess':function(file, data, response){   
						if(data == ""){
							showAlert("上传失败", "文件类型必须是png，jpg或者gif", "", "确定", "")
						}
                  		loadProduct(data);
                  	},  
      				'overrideEvents': 'onSelectError',
      				'onSelectError' : function(file, errorCode, errorMsg) {
              			if(errorCode == SWFUpload.QUEUE_ERROR.ZERO_BYTE_FILE){
                      		this.queueData.errorMsg = "不能传空文件!!";
                      	}
              			if(errorCode == SWFUpload.QUEUE_ERROR.UPLOAD_LIMIT_EXCEEDED){
                      		this.queueData.errorMsg = "只能上传一个文件!!";
                      	}
              			if(errorCode == SWFUpload.QUEUE_ERROR.FILE_EXCEEDS_SIZE_LIMIT){
                      		this.queueData.errorMsg = "文件大小不能超过5MB!!";
                      	}
              			if(errorCode == SWFUpload.QUEUE_ERROR.INVALID_FILETYPE){
                      		this.queueData.errorMsg = "不支持该文件类型!!";
                      	}
              		}
				});
          });  
		</script>
    </form>
</div>
<script>
	$(function(){
		var pics = $("#product_pic").val().split('|');
			
		for(var pic in pics){
			if(pics[pic] != ""){
				$("#file_upload-queue").append('<div class="uploadify-queue-item"><img class="product-tn" src="/product/' + pics[pic] + '"><div class="buttons"><a class="del" href="">删除</a><label class="cover" for="'+ pics[pic] +'"><input origin="'+ pics[pic] +'" type="radio" id="'+ pics[pic] +'">设为封面</label></div></div>');
			}
		}
	});
</script>
#parse("/common/brand.vm")