#set($layout = "/layout/item_layout.vm")
<div class="main-bk-wrapper">
  <div class="mainpage-container clearfix">
	  <div class="reg-left">
			<script>
				$(function() {	
					$("#form_reg").validate({
						rules:{
							name:{
								required:true
							},
							mail:{
								required:true,
								email:true
							},
							pwd:{
								required:true
							},
							agree:{
								required:true
							},
							company:{
								required:true
							},
							phone:{
								require_from_group: [1, ".contact-group"],
								isphone:true
							},
							mobile:{
								require_from_group: [1, ".contact-group"],
								number:true
							},
							qq:{
								number:true
							}
						},
						messages:{
							name:{
								required:"请输入用户昵称"
							},
							mail:{
								required:"请输入邮箱地址",
								email:"邮箱格式不正确"
							},
							pwd:{
								required:"请输入密码"
							},
							agree:{
								required:"必须遵守刀师傅协议"
							},
							company:{
								required:"请填写公司名称"
							},
							mobile:{
								
								number:"手机号码只包含数字"
							},
							qq:{
								number:"QQ号码只包含数字"
							}
							
						},
						errorElement:"em"
					});
				});
			</script>
		  <h1>用户注册<span>请填写注册信息，<em>*</em> 为必填项</span></h1>
		  <form id="form_reg" method="post">
			<!-- 隐藏字段，用于标示是表单提交 -->
		    <input type="hidden" name="do_submit" value="true"/>
			#springBind("form.usertype")
			<ul class="reg-listitem clearfix">
			  <li class="key">
				  用户类型
				</li>
			  <li class="value">
				  <input type="radio" name="$!{status.expression}" id="user" value=0 /><label for="user">我是直接用户</label>
				  <input type="radio" name="$!{status.expression}" id="provider" checked value=1 /><label for="provider">我是刀具供应商</label>
				</li>
			</ul>
			#springBind("form.mail")
			<ul class="reg-listitem clearfix">
			  <li class="key">
				  邮箱地址<i>*</i>
				</li>
			  <li class="value">
				  <input type="text"  name="$!{status.expression}"  class="dsf-form-text-input" />
				  <em for="$!{status.expression}" generated="true" class="error">$!{status.errorMessage}</em>
				</li>
			</ul>
			#springBind("form.name")
			<ul class="reg-listitem clearfix">
			  <li class="key">
				  用户名<i>*</i>
				</li>
			  <li class="value">
				  <input type="text"  name="$!{status.expression}"  class="dsf-form-text-input" />
				  <em for="$!{status.expression}" generated="true" class="error">$!{status.errorMessage}</em>
				</li>
			</ul>
			#springBind("form.pwd")
			<ul class="reg-listitem clearfix">
			  <li class="key">
				  密码<i>*</i>
				</li>
			  <li class="value">
				  <input type="password"  name="$!{status.expression}"  class="dsf-form-text-input" />
				  <em for="$!{status.expression}" generated="true" class="error">$!{status.errorMessage}</em>
				</li>
			</ul>
			#springBind("form.company")
			<ul class="reg-listitem clearfix">
			  <li class="key">
				 公司名称<i>*</i>
				</li>
			  <li class="value">
				  <input type="text"  name="$!{status.expression}"  class="dsf-form-text-input" />
				  <em for="$!{status.expression}" generated="true" class="error">$!{status.errorMessage}</em>
				</li>
			</ul>
			#springBind("form.phone")
			<ul class="reg-listitem clearfix">
			  <li class="key">
				  公司电话<i>*</i>
				</li>
			  <li class="value">
				  <input type="text"  name="$!{status.expression}"  class="dsf-form-text-input contact-group" />
				  <em for="$!{status.expression}" generated="true" class="error">$!{status.errorMessage}</em>
				</li>
			</ul>
			#springBind("form.mobile")
			<ul class="reg-listitem clearfix">
			  <li class="key">
				  手机<i>*</i>
				</li>
			  <li class="value">
				  <input type="text"  name="$!{status.expression}"  class="dsf-form-text-input contact-group" />
				  <em for="$!{status.expression}" generated="true" class="error">$!{status.errorMessage}</em>
				</li>
			</ul>
			#springBind("form.qq")
			<ul class="reg-listitem clearfix">
			  <li class="key">
				  QQ
				</li>
			  <li class="value">
				  <input type="text"  name="$!{status.expression}"  class="dsf-form-text-input" />
				  <em for="$!{status.expression}" generated="true" class="error">$!{status.errorMessage}</em>
				</li>
			</ul>
			<ul class="reg-listitem clearfix">
			  <li class="key">
				  &nbsp;
				</li>
				#springBind("form.agree")
			  <li class="value">
				  <label for="agree">
					  <input id="agree"  name="$!{status.expression}" type="checkbox" 	
						#if ($status.value == "true")
                          checked
                        #end
						/> 
						同意
						<a class="protocol fancybox-v" title="刀师傅协议" href="/img/proto.jpg">刀师傅协议</a>
					</label>
					
					<em for="$!{status.expression}" generated="true" class="error">$!{status.errorMessage}</em>
				</li>
			</ul>
			<ul class="reg-listitem clearfix">
			  <li class="key">
				  &nbsp;
				</li>
			  <li class="value">
					<a class="reg" id="submit_reg" >注册刀师傅</a>
				</li>
			</ul>
			<script>
				$(function() {
				    $('input').bind("keypress",function(event){
				      if (event.keyCode == 13) {
                        $("#form_reg").trigger("submit");
                      }
				    });
					$("#submit_reg").click(function () {
						$("#form_reg").submit();//提交
					});
				});
			</script>
		  </form>
      </div>
      <div class="reg-right">
		<h1>友情提示</h1>
		<p>
			刀师傅为您提供：<br/>
			1. 优质的供应商和采购商资源<br/>
			2. 丰富的刀具资料<br/>
			3. 最专业的咨询平台<br/>
		</p>
		<h3>我已经是刀师傅会员,或者已经申请麦辛刀具名片</h3>
		<a href="/log">立即登录</a>
		
      </div>
	</div>
 </div>
 <div class="membership-container clearfix">
	<div class="member-content">
		<div class="contact clearfix">
			<h5>如您有任何疑问，可以通过QQ或电话与我们直接联系,我们的客服将为您服务！</h5>
			<div class="contact-detail clearfix">
				<div class="left">
        			<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=123576884&site=qq&menu=yes"><img src="/img/purchaseqq.png" /></a>
					<p>QQ客服</p>
				</div>
				<div class="middle">
					<h2>400-042-1145</h2>
					<p>刀师傅客服热线</p>
				</div>
				<div class="right clearfix">
					<img src="/img/2.png" />
					<p>扫描二维码，<br/>关注刀师傅官方微信平台</p>
				</div>
			</div>
		</div>
	</div>
</div>
