body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td {
	margin:0;
	padding:0;
	font-family: "微软雅黑";
	font-size:12px/1.5;
}
img{border:none;}
html{overflow-y:scroll;}  
table{border-collapse: collapse;border-spacing: 0;}
em{font-style:normal}
ul, li, ol {
list-style: none;
}
ul{display:block;}
a{text-decoration: none;color: inherit;}
/* Clear Fix */ 
.clearfix:after { content:"."; display:block; height:0; clear:both; visibility:hidden; } 
.clearfix { display:inline-block; } 
/* Hide from IE Mac */ 
.clearfix {display:block;} 
/* End hide from IE Mac */ 
/* end of clearfix */

/*common style*/
.fr{float:right;}
.fl{float:left;}
div[contentEditable]{outline:0}
/*footer-container*/
.footer-container{background:#eeeeee;width:100%;height:100px}
.footer-content{margin:0 auto;padding-top: 25px;}
.footer-content p{text-align:center;font-size:12px;padding:5px}
.footer-content p.top{color:#333333;}
.footer-content p.top span{padding:0 10px 0 10px;}
.footer-content p.bottom{color:#666666;}

/*main head*/
.main-head-container{background:#00b4ff;width:100%;}
.main-head-content{margin:0 auto;width:960px;color:white;}
.main-head-container .main-head-content .logo{float:left;}
.main-head-container .main-head-content .logo h2{font-family:"幼圆";font-size:48px;padding:10px}
.main-head-container .main-head-content .nav{float:left;}
.main-head-container .main-head-content .nav ul li{display:inline-block;padding:25px 15px 25px 15px ;font-size: 21px;font-family:"幼圆";font-weight: bold;}
.main-head-container .main-head-content .nav ul li.current {background:#006e9c}
.main-head-container .main-head-content .login{float:right;}
.main-head-container .main-head-content .login ul li{display:inline-block;margin:13px;margin-top:20px;font-size: 12px;font-family:"幼圆";font-weight: bold;}
#asking a{display:block;padding-left: 10px;padding-top: 5px;width:58px;height:33px;font-size:18px;background: url(../img/asking.png) no-repeat 0 0;}
.main-head-container .main-head-content .login ul li.current {background:#006e9c}

/*main banner*/
.main-banner-container{background:#a6cad9;width:100%;height:280px;opacity:0.8;}

.main-bk-wrapper{background: url(../img/bk.jpg) repeat 0 0;width:100%;padding-bottom: 30px;}
.main-content-container{margin:0 auto;width:960px;margin-top:30px;padding:10px;border-radius: 4px;background-color: #f7f7f7;}

.main-list-container{float:left;}
.main-list-header{color:#00b4ff;font-weight:700;font-size:18px;}
.main-list-header ul{display:block;height:34px;}
.main-list-header ul li{float:left;padding-top:2px;border-bottom:3px solid #0099cc;padding-bottom: 5px;}
.main-list-header ul li a.seemore{color:#00b4ff;font-size:11px;}

/*hot question*/
.hot-question-listitem{margin:10px 0 10px 0;}
.seperation{background: url(../img/question-sep.png) repeat-x 0 0;margin-top:15px;margin-bottom: 15px;height: 2px;}
.seperation10{background: url(../img/question-sep.png) repeat-x 0 0;margin-top:10px;margin-bottom: 10px;height: 2px;}
.hot-question-listitem .logo{float:left;}
.hot-question-listitem .logo img{width:66px;height:66px;}
.hot-question-listitem .content{float:left;width:537px;margin-left:20px;/* background: url(../img/question-sep.png) repeat-x 0 0; */}
.hot-question-listitem.first .content{background:none}
.hot-question-listitem .content li.name{font-size:16px;font-weight: 600;color:#606060;margin-top:5px}
.hot-question-listitem .content li.name p{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.hot-question-listitem .content li.title{font-size:18px;color:#00b4ff;margin-top:5px}
.hot-question-listitem .content li.title p{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.hot-question-listitem .content li.text{font-size:12px;line-height: 20px;text-overflow:ellipsis;color:#666666;margin-top:10px}
.hot-question-listitem .content li.text img{float:left;}
.hot-question-listitem .content li.text p{overflow:hidden;text-overflow:ellipsis;height: 75px;padding-left:15px}
.hot-question-listitem .content li.info{font-size:12px;line-height: 20px;color:#999999;margin: 10px 0 0 0;}
.hot-question-listitem .content li.answer{border:1px solid #bebebe;background-color:#f0f0f0;padding:15px;border-radius: 2px;margin-top: 10px;}
.hot-question-listitem .content li.answer .answer-arrow{position: absolute;z-index: 0;width: 22px;cursor: default;font-size: 23px;margin-top:-31px}
.hot-question-listitem .content li.answer .answer-arrow *{position: absolute;}
.hot-question-listitem .content li.answer .answer-arrow .S_line1_c{color: #bebebe;}
.hot-question-listitem .content li.answer .answer-arrow .S_bg1_c{margin-top:1px;color:#f0f0f0}
.hot-question-listitem .content li.answer li.agent-info img{float:left;height:42px;width:42px}
.hot-question-listitem .content li.answer li.agent-info h4{margin-left:52px;font-size:14px;line-height: 20px;color:#373737}
.hot-question-listitem .content li.answer li.agent-info h5{margin-left:52px;font-size:11px;line-height: 20px;color:#999}
.hot-question-listitem .content li.answer li.answer-cont{margin-top:10px;color:#676767;font-size:12px;line-height: 20px;}

/*new agent*/
.main-list-header .new-agent{color:#ff7e00;}
.main-list-header .new-agent li{border-bottom:3px solid #ff7e00;}
.main-list-header .new-agent li a.seemore{color:#ff7e00;}
.new-agent-listitem{margin:20px 0 10px 0}
.new-agent-listitem .logo{float:left;}
.new-agent-listitem .content{float:left;width:207px;margin-left:20px;}
.new-agent-listitem.first .content{background:none}
.new-agent-listitem .content li.name{font-size:16px;font-weight: 600;color:#373737;text-overflow:ellipsis;white-space:nowrap;margin-top:10px}
.new-agent-listitem .content li.title{font-size:12px;color:#939393;text-overflow:ellipsis;margin-top:3px}

/*good case*/
.main-list-header .goodcase{color:#ff002a;}
.main-list-header .goodcase li{border-bottom:3px solid #ff002a;}
.main-list-header .goodcase li a.seemore{color:#ff002a;}
.goodcase-listitem{margin:20px 0 10px 0}
.goodcase-listitem .logo{float:left;}
.goodcase-listitem .content{float:left;width:207px;margin-left:20px;}
.goodcase-listitem.first .content{background:none}
.goodcase-listitem .content li.name{font-size:16px;font-weight: 600;color:#373737;text-overflow:ellipsis;white-space:nowrap;margin-top:10px}
.goodcase-listitem .content li.title{font-size:12px;color:#939393;text-overflow:ellipsis;margin-top:3px}
.goodcase-listitem  .property{font-size:12px;color:#939393;text-overflow:ellipsis;margin-top:3px}
.goodcase-listitem  .property span{display: block;float: left;margin: 0 5px 5px 0;background-color:#dddddd;border-radius: 6px;padding: 3px;line-height: 24px;}

/*买家--我的搬刀*/
.mainpage-container{margin:0 auto;width:960px;padding-top:30px;}
.mainpage-container .main-left{float:left;width:200px;height:720px;margin-right:20px;border-radius:10px;background-color:#f6f6f6;}
.mainpage-container .main-right{float:left;width:700px;height:680px;border-radius:10px;background-color:#f6f6f6;padding:20px}
.mainpage-container .main-left .main-left-content{width:100%;text-align:center}
.mainpage-container .main-left .person-info{margin:30px auto;}
.mainpage-container .main-left .person-info h5{font-size:18px;padding:15px;color:#606060;}
.mainpage-container .main-left .function{margin:30px auto;}
.mainpage-container .main-left .function ul li{padding:15px;color:#9b9b9b;font-size:14px}
.mainpage-container .main-left .function ul li.current{color:white;background-color:#4799b1}
.mainpage-container .main-right h2{font-size:14px;color:#656565;padding:8.5px;}
.mainpage-container .main-right .rigth-content{background-color:white;margin-top:10px;padding:10px;height: 615px;}
.mainpage-container .main-right .rigth-content .listitem{font-size:14px}
.mainpage-container .main-right .rigth-content .notread{font-weight:700;}
.mainpage-container .main-right .rigth-content .msg-list .listitem a{color:#0099cb}
.mainpage-container .main-right .rigth-content .listitem span{float:right;color:#666666}
.mainpage-container .main-right .right-tab  li{float:left;padding: 8px 50px;font-size:14px;}
.mainpage-container .main-right .right-tab  li.current{color:white;background-color:#0099cb;}
.mainpage-container .main-right .rigth-content .listitem .user-info li{float:left;font-size:14px;}
.mainpage-container .main-right .rigth-content .listitem .user-info li.key{color:#464646;padding:10px 100px 10px 0;width:60px;}
.mainpage-container .main-right .rigth-content .listitem .user-info li.value{color:#464646;padding:10px 15px 10px 0}
.mainpage-container .main-right .rigth-content .listitem .user-info li.operation{color:#ccc;padding:10px 0 10px 0;font-size:12px;line-height: 21px;}
.mainpage-container .main-right .rigth-content .listitem .save{background-color:#63a200;color:white;font-size:16px;padding: 10px 35px;line-height: 35px;}
.mainpage-container .main-right .rigth-content .listitem .user-info input[type="text"]{width:200px}

.add-question-container{width:600px;margin-left:100px}
.add-question-wrap{overflow-y: auto;max-height: 192px;padding: 8px 10px;border: 1px solid #ccc;border-radius: 3px;box-shadow: 0 0 4px 0 rgba(0,0,0,.1) inset;-webkit-transition: min-height .25s ease-out;background: #fff;}
.add-question-editor{min-height:120px;}
.img-in-question{max-width:450px;max-height:300px;}



#pagemask {
position: absolute;
display: none;
top: 0;
left: 0;
width: 100%;
background: #333;
z-index: 10001;
filter: alpha(opacity=30);
opacity: .3;
}

/*系统提示框*/
.reg-win{position:absolute;top:50px;right:400px;z-index:10002;width:600px;height:480px;padding: 5px;border-radius: 5px;background:url(../img/transGray.png);font-size:13px;}
.reg-layer{background:white;padding-bottom: 10px;}
.reg-layer h3{background:#0099cb;color:white;padding:5px;padding-left:20px;margin:0;font-size: 14px}
.reg-con{}
.reg-con .left{float:left;width:250px;padding: 30px 15px 15px 30px;}
.reg-con .left h2{font-size:18px}
.reg-con .left h2 a{font-size:14px;color:#00b4ff;}

/*系统提示框*/
.alert-wrapper{position:absolute;display:none;z-index:10002;width:480px;padding: 5px;border-radius: 5px;background:url(../img/transGray.png);font-size:13px;}
.alert-layer{background:white;padding-bottom: 10px;}
.alert-layer h3{background:#f60;color:white;padding:5px;padding-left:20px;margin:0;font-size: 14px}
.closealert{float:right;display:block}
.alert-content{margin: 35px;margin-bottom:15px;padding-bottom:20px;border-bottom:1px solid #d2d2d2}
.alert-content-left{float:left}
.alert-content-left h1{margin-bottom:5px}
.alert-content-left h4{font-size:14px;width: 270px;}
.alert-content-right{float:right}
.alert-btn{display: block;color: white;font-size: 24px;text-align: center;line-height: 35px;width:115px;height:41px;background:url(../img/green.png);}
.alert-footer{margin: 0 35px 20px 35px;float:right;color:#d2d2d2}

.ml30{margin-left:30px}
.width462{width:462px;}
.width630{width:630px;}
.width300{width:300px;}
.width162{width:162px;}
.width180{width:180px}
.width60{width:60px;}