#set($layout = "/layout/admin_layout.vm")
<script>
$(function() {
	$(".cancel").click(function()
    {
		var str = "/admin/cancel/" + $(this).attr("aid");
    	if(confirm("确定取消认证吗？想清楚了？")){
			$.ajax( {   
    		    type : "POST",   
    		    url : str
    		});   
        }
    });
	$(".add").click(function()
    {
		var str = "/admin/add/" + $(this).attr("aid");
    	if(confirm("确定认证吗？想清楚了？")){
			$.ajax( {   
    		    type : "POST",   
    		    url : str
    		});   
        }
    });
	$(".updateuser").click(function()
    {
		var str = "/admin/updateuser/" + $(this).attr("data");
		var type = $(this).attr("type");
    	if(confirm("确定修改吗？想清楚了？")){
			$.ajax( {   
    		    type : "POST",   
    		    url : str,
				data : {
    		      'type' : type
    		    }
    		});   
        }
    });
});
</script>
#foreach ($agent in $agents)
<p class="admin">
	<a href="/agents/${agent.id}">$!{agent.companyName}</a> 
	<span>$!{agent.brandName}</span>
	<span>$!{agent.mail}</span>
	#if(${agent.authority} == 0)
		直接用户
	#elseif(${agent.authority} == 1)
		普通注册用户
	#elseif(${agent.authority} == 3)
		供应商
	#elseif(${agent.authority} == 4)
		代理商
	#elseif(${agent.authority} == 5)
		厂商
	#end
	[
	<a class="updateuser" data="${agent.id}" type=4>变身厂商</a><a class="updateuser" data="${agent.id}" type=1>变身代理商</a><a class="updateuser" data="${agent.id}" type=2>变身供应商</a><a class="updateuser" data="${agent.id}" type=3>变身普通用户</a>
	]
	#if($stringUtil.isNotEmpty($agent.verifiedLink))
		<a target="_blank" href="${agent.verifiedLink}" />代理证书连接</a>
	#else
		<span>未上传证书</span>
	#end
	
	#if($stringUtil.isNotEmpty(${agent.verifiedLink}))
		<a class="cancel" aid="${agent.id}">取消认证</a>
	#else
		<a class="add" aid="${agent.id}">添加认证</a>
	#end
</p>
#end