#set($layout = "/layout/admin_layout.vm")
<script>
	$(function(){
		$(".update").click(function(){
			$("#form_updateorder").submit();
		});
	});
</script>
<div class="adminorder">
	#foreach($order in $orders)
	<div class="order-item">
    	<div class="order-list-head">
    		订单号：DSF${order.id}
    	</div>
		<form id="form_updateorder" method="post" action="/admin/updateorder">
		<input type="hidden" name="orderid" value="${order.id}" />
    	<div class="order-list clearfix">
			<div class="buyer">
				<a target="__blank" href="/users/${order.userid}">${order.userid}</a>
			</div>
			#if(${order.itemid} == 1)
				<div class="member">认证会员</div>
			#elseif(${order.itemid} == 2)
				<div class="member">认证代理会员</div>
			#else
    		<div class="name"><a target="_blank" href="/item/${order.item.id}"><img src="/item/${order.item.cover}" /><span>${order.item.brand}${order.item.type}${order.item.version}</span></a></div>
    		#end
			<div class="price"><span>${order.price}0</span></div>
			#if(${order.state} == 5)
				<div class="time"><span>$stringUtil.convertDate(${order.gmtCancel})</span></div>
				<div class="state"><span class="grey">订单已取消</span></div>
				#if(${order.itemid} != 1 && ${order.itemid} != 2)
					<div class="operation">
						<input type="text" name="lognumber" /> <a class="update">更新运单号</a>
					</div>
				#end
			#elseif(${order.state} == 1)
				<div class="time"><span>$stringUtil.convertDate(${order.gmtSubmitOrder})</span></div>
				<div class="state"><span class="red">等待付款</span></div>
				<div class="operation">
					<input type="text" name="lognumber" /> <a class="update">更新运单号</a>
				</div>
			#elseif(${order.state} == 2)
				<div class="time"><span>$stringUtil.convertDate(${order.gmtPay})</span></div>
				<div class="state"><span class="blue">等待刀师傅发货</span></div>
				#if(${order.itemid} != 1 && ${order.itemid} != 2)
					<div class="operation">
						<input type="text" name="lognumber" /> <a class="update">更新运单号</a>
					</div>
				#end
			#elseif(${order.state} == 3)
				<div class="time"><span>$stringUtil.convertDate(${order.gmtSell})</span></div>
				<div class="state"><span class="blue">刀师傅已发货</span></div>
				<div class="operation">
					<input type="text" name="lognumber" /> <a class="update">更新运单号</a>
				</div>
			#elseif(${order.state} == 4)
				<div class="time"><span>$stringUtil.convertDate(${order.gmtAssure})</span></div>
				<div class="state"><span class="green">交易成功</span></div>
				#if(${order.itemid} != 1 && ${order.itemid} != 2)
					<div class="operation">
						<input type="text" name="lognumber" /> <a class="update">更新运单号</a>
					</div>
				#end
			#end
    	</div>
		</form>
	</div>
	#end
</div>