<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    #parse("/common/buyer_header.vm")
    <body>
		<div class="body-wrapper">
            #parse("/common/top.vm")
            <div class="main-bk-wrapper">
                <div class="mainpage-container clearfix">
                    <div class="main-left clearfix">
                        <div class="main-left-content">
                            <div class="person-info">
                                <div class="logo">
                                    <a id="uploadlogo" href="#">
                                        #if($!{account.logo})
                                            <img src="/logo/$!{account.logo}"  />
                                        #else
                                            <img src="/img/avatar.png"  />
                                        #end
                                    </a>
                                </div>
                                <h5>$!{account.userName}</h5>
                            </div>
                            <div class="other-info">
								<a href="oldquestion">
                                <h2>$!{account.questionCnt}</h2>
                                <span>已提问题</span>
								</a>
                            </div>
                            <div class="function">
                                <ul>
                                    #if($!stringUtil.isContains($request.getServletPath(),"/main"))
                                        <li class="current">
                                            <a href="main">我的刀师傅</a>
                                        </li>
                                    #else
                                        <li>
                                            <a href="main">我的刀师傅</a>
                                        </li>
                                    #end
                                    #if($!stringUtil.isContains($request.getServletPath(),"/mymsg"))
                                        <li class="current">
                                            <a href="mymsg">我的消息
												#if($!{account.unreadMsgCount} > 0)
													<span class="zg-noti-number mt5">$!{account.unreadMsgCount}</span>
												#end
											</a>
                                        </li>
                                    #else
                                        <li>
                                            <a href="mymsg">我的消息
												#if($!{account.unreadMsgCount} > 0)
													<span class="zg-noti-number mt5">$!{account.unreadMsgCount}</span>
												#end
											</a>
                                        </li>
									#end
									#if($!stringUtil.isContains($request.getServletPath(),"/newproduct") || $!stringUtil.isContains($request.getServletPath(),"/myproduct"))
                                        <li class="current">
                                            <a href="newproduct">我的展会</a>
                                        </li>
                                    #else
                                        <li>
                                            <a href="newproduct">我的展会</a>
                                        </li>
                                    #end
                                    #if($!stringUtil.isContains($request.getServletPath(),"/newquestion") || $!stringUtil.isContains($request.getServletPath(),"/oldquestion") ||$!stringUtil.isContains($request.getServletPath(),"/draft"))
                                        <li class="current">
                                            <a href="newquestion">我的问题</a>
                                        </li>
                                    #else
                                        <li>
                                            <a href="newquestion">我的问题</a>
                                        </li>
									#end
									#if($!stringUtil.isContains($request.getServletPath(),"/myorder") || $!stringUtil.isContains($request.getServletPath(),"/myaddr"))
                                        <li class="current">
                                            <a href="myorder">我的订单</a>
                                        </li>
                                    #else
                                        <li>
                                            <a href="myorder">我的订单</a>
                                        </li>
									#end
                                    #if($!stringUtil.isContains($request.getServletPath(),"/profile") || $!stringUtil.isContains($request.getServletPath(),"/changepwd"))
                                        <li class="current">
                                            <a href="profile">账户设置</a>
                                        </li>
                                    #else
                                        <li>
                                            <a href="profile">账户设置</a>
                                        </li>
                                    #end
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="main-right">
                        $screen_content
                    </div>
                </div>
            </div>
    		#parse("/common/uploadlogo.vm")
			#parse("/common/complain.vm")
            #parse("/common/footer.vm")
		</div>
		<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Ffdd0d4853bd81366542daabbd8e3fcb8' type='text/javascript'%3E%3C/script%3E"));
</script>

    </body>
</html>
