<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  #parse("/common/buyer_header.vm")
  <body>
  	#parse("/common/top.vm")
		<div class="main-bk-wrapper">
  	  <div class="mainpage-container clearfix">
  		  <div class="main-left clearfix">
  			  <div class="main-left-content">
  					<div class="person-info">
  						<img src="../img/avatar.png" />
  						<h5>桂超群</h5>
  					</div>
  					<div class="other-info">
  					  <h2>15</h2>
  						<p>已提问题</p>
  					</div>
  					<div class="function">
  						<ul>
						  #if($!stringUtil.isContains($request.getServletPath(),"/main"))
  							<li class="current"><a href="main">我的搬刀</a></li>
						  #else
							<li><a href="main">我的搬刀</a></li>
						  #end
						  #if($!stringUtil.isContains($request.getServletPath(),"/mymsg"))
  							<li class="current"><a href="mymsg">我的消息</a></li>
						  #else
							<li><a href="mymsg">我的消息</a></li>
						  #end
					      #if($!stringUtil.isContains($request.getServletPath(),"/newquestion"))
  							<li class="current"><a href="newquestion">我的问题</a></li>
						  #else
							<li><a href="newquestion">我的问题</a></li>
						  #end
						  #if($!stringUtil.isContains($request.getServletPath(),"/accnt"))
  							<li class="current"><a href="accnt">账户设置</a></li>
						  #else
							<li><a href="accnt">账户设置</a></li>
						  #end
  						</ul>
  					</div>
  			  </div>
  			</div>
  		  <div class="main-right">
				  $screen_content
  			</div>
  		</div>
    </div>
    #parse("/common/footer.vm")
  </body>
</html>