<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  #parse("/common/header.vm")
  <body>
	<div class="body-wrapper">
      	<script type="text/javascript" src="/js/stickUp.min.js"></script>
        <script type="text/javascript">
            jQuery(function($) {
                $(document).ready( function() {
                  $('.main-head-wrap').stickUp();
                });
                $(".indexmenu li.item").mouseover(function(){
                	$(this).addClass("current");
                	$(this).children(".menutab").show();
                }).mouseleave(function(){
                	$(this).children(".menutab").hide();
                	$(this).removeClass("current");
                });
                $("#searchct").click(function(){
                	$("#form_search").submit();
                });
            });
        </script>
		<link rel="stylesheet" href="/css/flexslider.css">
        <link rel="stylesheet" href="/css/flexigrid.pack.css">
        <script type="text/javascript" src="/js/jquery.flexslider-min.js"></script>
        <script>
        $(function() {
        	$('.banner').flexslider({
                animation: "fade",
        		controlNav: false,
				slideshow: true,
				slideshowspeed:4000
            });
		});
		</script>
        <div class="main-head-wrap">
            <div class="main-head-container2">
                <div class="main-head-content clearfix">
                    <div class="welcome">
                        欢迎来到刀师傅，
                        #if(!$!session.getAttribute("account"))  
                            请您<a rel="external" rel="external" href="/user/reg">注册</a>
                            或<a rel="external" rel="external" href="/log">登录</a>
                            #else
                                ${account.userName}. <a rel="external" rel="external" href="/user/logoff">退出</a>
                        #end
                    </div>
                    <div class="right">
                        <a rel="external" rel="external" href="/user/main">我的刀师傅</a>|
                        <a class="contact">客服热线 4000-421-145</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-content-wrap clearfix">
            <div class="indexhead clearfix">
        		<div class="logo clearfix">
                    <a href="http://www.daoshifu.com">
                        <img src="/img/newlogo.png" />
                    </a>
        			<p>买卖刀具更轻松</p>
        		</div>
                <div class="search">
        			<div class="search-box">
                        <form id="form_search" method="get" action="/searchresult">
                            <!-- 隐藏字段，用于标示是表单提交 -->
                            <input type="hidden" name="do_submit" value="true"/>
                            <input name="searchparam"  placeholder="请输入产品型号/系列名称/品牌" />
                            <a id="searchct">搜索</a>
                            <span id="loading" style="color:red;font-size:20px;font-weight:bold;"></span>
                        </form>
        			</div>
                </div>
            </div>
            <div class="indexmenu-wrap clearfix">
                <ul class="indexmenu showmenu">
                    <li class="top">
                        全部刀具分类
                    </li>
                    <li class="item">
                        <a href="/category/01">机夹铣刀</a>
                        <s></s>
                        <div class="menutab1 menutab">
                            <ul class="level2 clearfix">
                                <li class="clearfix">
                                    <a class="second" href="/category/0101">普通刀体</a>
        							<div class="level3 clearfix">
        								<span>
        									<a href="/category/010101">面铣刀盘</a>
        								</span>
        								<span>
        									<a href="/category/010102">铣刀杆</a>
        								</span>
        							</div>
                                </li>
                                <li class="clearfix">
                                    <a class="second" href="/category/0102">组合刀体</a>
        							<div class="level3 clearfix">
        								<span>
        									<a href="/category/010201">螺纹接头</a>
        								</span>
        								<span>
        									<a href="/category/010202">合金接杆</a>
        								</span>
        							</div>
                                </li>
                                <li class="clearfix">
                                    <a class="second" href="/category/0105">玉米铣刀</a>
                                </li>
                                <li class="clearfix">
                                    <a class="second" href="/category/0106">铣槽刀片</a>
        							<div class="level3 clearfix">
        								<span>
        									<a href="/category/010601">三面刃铣刀</a>
        								</span>
        								<span>
        									<a href="/category/010602">T型槽刀</a>
        								</span>
        							</div>
                                </li>
                                <li class="clearfix">
                                    <a class="second" href="/category/0108">铣刀片</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="item">
                        <a href="/category/02">整体铣刀</a>
                        <s></s>
                        <div class="menutab2 menutab">
                            <ul class="level2 clearfix">
                                <li class="clearfix">
                                    <a class="second" href="/category/0201">平头铣刀</a>
        							<div class="level3 clearfix">
        								<span>
        									<a href="/category/020101">标准平头铣刀</a>
        								</span>
        								<span>
        									<a href="/category/020102">波纹平头铣刀</a>
        								</span>
        								<span>
        									<a href="/category/020103">长颈平头铣刀</a>
        								</span>
        							</div>
                                </li>
                                <li class="clearfix">
                                    <a class="second" href="/category/0202">球头铣刀</a>
        							<div class="level3 clearfix">
        								<span>
        									<a href="/category/020201">标准球头铣刀</a>
        								</span>
        								<span>
        									<a href="/category/020202">长颈球头铣刀</a>
        								</span>
        							</div>
                                </li>
                                <li class="clearfix">
                                    <a class="second" href="/category/0203">圆角铣刀</a>
        							<div class="level3 clearfix">
        								<span>
        									<a href="/category/020301">标准圆角铣刀</a>
        								</span>
        								<span>
        									<a href="/category/020302">长颈圆角铣刀</a>
        								</span>
        							</div>
                                </li>
                                <li class="clearfix">
                                    <a class="second" href="/category/0204">锥形铣刀</a>
        							<div class="level3 clearfix">
        								<span>
        									<a href="/category/020401">锥形平头铣刀</a>
        								</span>
        								<span>
        									<a href="/category/020402">锥形圆角铣刀</a>
        								</span>
        								<span>
        									<a href="/category/020403">锥形球头铣刀</a>
        								</span>
        							</div>
                                </li>
                                <li class="clearfix">
                                    <a class="second" href="/category/0205">其它铣刀</a>
        							<div class="level3 clearfix">
        								<span>
        									<a href="/category/020501">V尖刀</a>
        								</span>
        								<span>
        									<a href="/category/020502">倒角刀</a>
        								</span>
        								<span>
        									<a href="/category/020503">T槽刀</a>
        								</span>
        							</div>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="item">
                        <a href="/category/03">车削刀具</a>
                        <s></s>
                        <div class="menutab3 menutab">
                            <ul class="level2 clearfix">
                                <li class="clearfix">
                                    <a class="second" href="/category/0301">车刀杆</a>
        							<div class="level3 clearfix">
        								<span>
        									<a href="/category/030101">外圆车刀杆</a>
        								</span>
        								<span>
        									<a href="/category/030102">内圆车刀杆</a>
        								</span>
        								<span>
        									<a href="/category/030103">切槽/切断刀杆</a>
        								</span>
        							</div>
                                </li>
								<li class="clearfix">
                                    <a class="second" href="/category/0302">车刀片</a>
        							<div class="level3 clearfix">
        								<span>
        									<a href="/category/030201">普通车刀片</a>
        								</span>
        								<span>
        									<a href="/category/030202">精磨车刀片</a>
        								</span>
        								<span>
        									<a href="/category/030203">切槽/切断刀片</a>
        								</span>
        							</div>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="item">
                        <a href="/category/04">孔加工刀具</a>
                        <s></s>
                        <div class="menutab4 menutab">
                            <ul class="level2 clearfix">
                                <li class="clearfix">
                                    <a class="second" href="/category/0401">整体钻头</a>
        							<div class="level3 clearfix">
        								<span>
        									<a href="/category/040101">整体合金钻</a>
        								</span>
        								<span>
        									<a href="/category/040102">焊接合金钻</a>
        								</span>
        							</div>
                                </li>
                                <li class="clearfix">
                                    <a class="second" href="/category/0402">机夹式钻头</a>
        							<div class="level3 clearfix">
        								<span>
        									<a href="/category/040201">机夹式钻头</a>
        								</span>
        								<span>
        									<a href="/category/040202">机夹式钻头刀片</a>
        								</span>
        							</div>
                                </li>
                                <li class="clearfix">
                                    <a class="second" href="/category/0403">铲钻</a>
        							<div class="level3 clearfix">
        								<span>
        									<a href="/category/040301">铲钻</a>
        								</span>
        								<span>
        									<a href="/category/040302">铲钻刀片</a>
        								</span>
        							</div>
                                </li>
                                <li class="clearfix">
                                    <a class="second" href="/category/0404">U钻</a>
        							<div class="level3 clearfix">
        								<span>
        									<a href="/category/040401">U钻</a>
        								</span>
        								<span>
        									<a href="/category/040402">U钻刀片</a>
        								</span>
        							</div>
                                </li>
                                <li class="clearfix">
                                    <a class="second" href="/category/0409">铰刀</a>
                                </li>
                                <li class="clearfix">
                                    <a class="second" href="/category/0410">镗刀</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="item">
                        <a href="/category/05">刀柄</a>
                        <s></s>
                        <div class="menutab5 menutab">
                            <ul class="level2 clearfix">
                                <li class="clearfix">
                                    <a class="second" href="/category/0501">铣刀刀柄</a>
        							<div class="level3 clearfix">
        								<span>
        									<a href="/category/050101">热涨刀柄</a>
        								</span>
        								<span>
        									<a href="/category/050102">液压刀柄</a>
        								</span>
        								<span>
        									<a href="/category/050103">冷压刀柄</a>
        								</span>
        								<span>
        									<a href="/category/050104">ER刀柄</a>
        								</span>
										<span>
        									<a href="/category/050105">蜗杆刀柄</a>
        								</span>
        							</div>
                                </li>
                                <li class="clearfix">
                                    <a href="/category/0503">面铣刀柄</a>
                                </li>
                                <li class="clearfix">
                                    <a href="/category/0504">丝锥刀柄</a>
        						</li>
                                <li class="clearfix">
                                    <a href="/category/0506">筒夹</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="item">
                        <a href="/category/06">螺纹刀具</a>
                        <s></s>
                        <div class="menutab7 menutab">
                            <ul class="level2 clearfix">
                                <li class="clearfix">
                                    <a class="second" href="/category/0601">螺纹铣刀</a>
        							<div class="level3 clearfix">
        								<span>
        									<a href="/category/060101">整体螺纹铣刀</a>
        								</span>
        								<span>
        									<a href="/category/060102">螺纹铣刀杆</a>
        								</span>
        								<span>
        									<a href="/category/060103">螺纹铣刀片</a>
        								</span>
        							</div>
                                </li>
        						<li class="clearfix">
                                    <a class="second" href="/category/0602">螺纹车刀</a>
        							<div class="level3 clearfix">
        								<span>
        									<a href="/category/060201">螺纹车刀杆</a>
        								</span>
        								<span>
        									<a href="/category/060202">螺纹车刀片</a>
        								</span>
        							</div>
                                </li>
                                <li class="clearfix">
                                    <a class="second" href="/category/0606">丝锥</a>
        							<div class="level3 clearfix">
        								<span>
        									<a href="/category/060601">手用丝锥</a>
        								</span>
        								<span>
        									<a href="/category/060602">挤压丝锥</a>
        								</span>
        								<span>
        									<a href="/category/060603">先端丝锥</a>
        								</span>
        								<span>
        									<a href="/category/060604">螺旋丝锥</a>
        								</span>
        							</div>
                                </li>
                                <li class="clearfix">
                                    <a class="second" href="/category/0607">板牙</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="item">
                        <a href="/category/99">其它</a>
                        <s></s>
                        <div class="menutab7 menutab">
                            <ul class="level2 clearfix">
                                <li class="clearfix">
                                    <a href="/category/9901">对刀仪</a>
                                </li>
                                <li class="clearfix">
                                    <a href="/category/9902">寻边器</a>
                                </li>
                                <li class="clearfix">
                                    <a href="/category/9903">滚压头</a>
                                </li>
								<li class="clearfix">
                                    <a href="/category/9904">滚花轮</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <div class="main-menu">
                    <ul class="index-tab clearfix">
                        #if($!stringUtil.isContains($request.getServletPath(),"/index"))
                        <li class="item current">
                            <a href="/index">首页</a>
                        </li>
        				#else
        				<li class="item">
                            <a href="/index">首页</a>
                        </li>
        				#end
        				#if($!stringUtil.isContains($request.getServletPath(),"/questions"))
                        <li class="current">
                            <a href="/questions">供应商问答</a>
                        </li>
        				#else
        				<li class="item">
                            <a href="/questions">供应商问答</a>
                        </li>
        				#end
        				#if($!stringUtil.isContains($request.getServletPath(),"/agents"))
                        <li class="current">
                            <a href="/agents">全国供应商</a>
							<ul class="top-dropdown" style="display: none;">
                                <li>
                                    <a rel="external" href="/agents">供应商列表</a>
                                </li>
                                <li>
                                    <a rel="external" href="/agentsmap">供应商地图</a>
                                </li>
                            </ul>
                        </li>
        				#else
        				<li class="item">
                            <a href="/agents">全国供应商</a>
							<ul class="top-dropdown" style="display: none;">
                                <li>
                                    <a rel="external" href="/agents">供应商列表</a>
                                </li>
                                <li>
                                    <a rel="external" href="/agentsmap">供应商地图</a>
                                </li>
                            </ul>
                        </li>
        				#end
        				#if($!stringUtil.isContains($request.getServletPath(),"/samples"))
                        <li class="current item">
                            <a>刀具资料</a>
							<ul class="top-dropdown" style="display: none;">
                                <li>
                                    <a rel="external" href="/samples">刀具样本</a>
                                </li>
                                <li>
                                    <a rel="external" href="/articles">刀具小百科</a>
                                </li>
                            </ul>
                        </li>
        				#else
        				<li class="item">
                            <a href="/samples">刀具资料</a>
							<ul class="top-dropdown" style="display: none;">
                                <li>
                                    <a rel="external" href="/samples">刀具样本</a>
                                </li>
                                <li>
                                    <a rel="external" href="/articles">刀具小百科</a>
                                </li>
                            </ul>
                        </li>
						#end
						#if($!stringUtil.isContains($request.getServletPath(),"/items"))
                        <li class="current">
                            <a class="pifa">标准品批发</a>
                        </li>
        				#else
        				<li class="item pifa">
                            <a class="pifa">标准品批发</a>
                        </li>
        				#end
						<li class="complain">
                            <a>投诉建议</a>
                        </li>
                    </ul>
					<div class="content clearfix">
    					<div class="flexslider banner">
                			<ul class="slides">
								<li><a href="/knifestory"><img src="/img/banner/zhengwen.jpg" /></a></li>
                				<li><a href="/knowmore"><img src="/img/banner.png" /></a></li>
    							<li><a class="joinus" href="/knowmore#joinus"><img src="/img/Banner2.jpg" /></a></li>
                			</ul>
            			</div>
						<script>
						$(function(){
                        	$(".pifa").click(function() {
                        		$.ajax( {   
                        		    type : "POST",   
                        		    url : "/pifa",
                        		    success : function(data) {   
                        		    	switch(data.status)
                        		    	{
                        		    	case 1:
                        		    		showAlert("权限不够",data.code,"","登录","/log");
                        		    	  break;
                        		    	case 2:
											window.location.href='/items';
                        		    	  break;
                        		    	default:
											window.location.href='/items';
                        		    	}  
                        		    }
                        		});   
                        	});
							$("a.searchmaterial").click(function(){
								$("#materialinput").val($("#index-material").val());
								$(".result h1").empty();
								$(".result p").empty().append("<img src=\"/img/loading.gif\" /><br/>刀师傅正在为您全力搜索资料库");;
								$("#form_material").ajaxSubmit({
									 dataType:"json", //数据类型  
                                    url:"/searchmaterial",
                                    success:function(data){
    									if(data.str != ""){
                							$(".result h1").empty();
                							$(".result p").text(data.str);
                						}
										else{
            								$(".result h1").text("对不起！");
                							$(".result p").html("没有查询到您输入的材质哦~<br/>请核对您输入的材质后，再次查询");
											$(".result h5").html("查询山特维克材质时，请输入\"GC\"");
            							}
									}
								});
							});
							$(".joinus").click(function(){
                        		$.ajax( {   
                        		    type : "POST",   
                        		    url : "/joinus"
                        		});   
                        	});
						});
						</script>
    					<div class="side">
							<a class="joinus" href="/knowmore#joinus" style="background-color:#CC3232;color:white;display:block;padding:5px;text-align:center;margin-bottom:10px;">供应商加入</a>
							<div class="query">
								<form id="form_material" method="post">
								<input type="text" id="index-material" name="material" placeholder="输入你需要查询的材质" />
								<div class="operation">
									<a class="searchmaterial">材质查询</a>
									<span>材质查询小工具</span>
								</div>
								</form>
							</div>
							<div class="question">
								<h1>最新问题</h1>
								#foreach($ques in $queses)
								<p>
									$stringUtil.replaceHtmlDiv(${ques.content})
								</p>
								#end
								<a href="/questions">我来回答！</a>
							</div>
    					</div>
					</div>
                </div>
            </div>
		</div>
		<div class="main-bk-wrapper pt0">$screen_content</div>
		#parse("/popup/searchmaterial.vm")
		#parse("/common/connectus.vm")
		#parse("/common/complain.vm")
        #parse("/common/footer.vm")
	</div>
	<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Ffdd0d4853bd81366542daabbd8e3fcb8' type='text/javascript'%3E%3C/script%3E"));
</script>

  </body>
</html>