<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  #parse("/common/header.vm")
  <body>
	<div class="body-wrapper">
      	#parse("/common/top.vm")
    
    	$screen_content
    
        #parse("/common/footer.vm")
	</div>
  </body>
</html>