<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  #parse("/common/header.vm")
  <body>
	<div class="item-body-wrapper">
      	#parse("/common/top.vm")
		<div class="main-bk-wrapper pt0">$screen_content</div>
		#parse("/common/connectus.vm")
		#parse("/common/complain.vm")
        #parse("/common/footer.vm")
	</div>
  </body>
</html>