<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <script type="text/javascript" src="/js/jquery-1.10.2.min.js"></script>
        <link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.css">
            <script src="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.js"></script>
            <script type="text/javascript" src="/js/jquery.form.js"></script>
            <script type="text/javascript" src="/js/jquery.validate.min.js"></script>
            <script type="text/javascript" src="/js/additional-methods.js"></script>
            <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
    <div data-role="page" id="pageone" data-theme="d" width="700px">
		<div data-role="header">
            <h1>清仓拍，刀师傅出品</h1>
            <div data-role="navbar">
                <ul>
                    <li>
                        <a href="/wxstockhome" data-icon="home">清仓拍</a>
                    </li>
                    <li>
                        <a href="/wxstockadd" data-icon="arrow-r">发布库存</a>
                    </li>
                    <li>
                        <a href="/wxstocklist" data-icon="search">库存列表</a>
                    </li>
                </ul>
            </div>
        </div>
        <div data-role="content">
            <ol data-filter="true">
                <ul data-role="listview" data-inset="true" data-filter="true">
					#foreach($stock in $stocks)
                    <li>
                        <h2>${stock.company} ${stock.phone}</h2>
						<p>${stock.content}</p>
                    </li>
					#end
                </ul>
            </ol>
        </div>
		<div data-role="footer">
            <h1>其它内容，欢迎登陆刀师傅<a href="http://www.daoshifu.com">www.daoshifu.com</a></h1>
        </div>
    </div>
</body>
</html>
