<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
		<title>品牌特色</title>
        <script type="text/javascript" src="/js/jquery-1.10.2.min.js"></script>
        <link rel="stylesheet" href="/css/jquery.mobile-1.3.2.min.css">
        <script src="/js/jquery.mobile-1.3.2.min.js"></script>
		<script type="text/javascript" src="/js/iscroll.js"></script>
        <link rel="stylesheet" href="/css/wap.css">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
		<script>
		function onBridgeReady(){
         WeixinJSBridge.call('hideOptionMenu');
        }
        
        if (typeof WeixinJSBridge == "undefined"){
            if( document.addEventListener ){
                document.addEventListener('WeixinJSBridgeReady', onBridgeReady, false);
            }else if (document.attachEvent){
                document.attachEvent('WeixinJSBridgeReady', onBridgeReady); 
                document.attachEvent('onWeixinJSBridgeReady', onBridgeReady);
            }
        }else{
            onBridgeReady();
        }
		</script>
	</head>
    <body>
		<div class="scroll" data-role="page" data-theme="z" >
			<div class="body">
				<div class="brand-head">
					<h1>供应的品牌</h1>
				</div>
				<div class="brand-con">
					#if($stringUtil.isNotEmpty(${brand}))
					<p>${brand}</p>
					#else
					<h2>用户没有填写品牌特色信息</h2>
					#end
				</div>
			</div>
		</div>
		<script type="text/javascript" src="/js/wx.js"></script>
    </body>
</html>
