<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<script type="text/javascript" src="/js/jquery-1.10.2.min.js"></script>
	<link rel="stylesheet" href="/css/jquery.mobile-1.3.2.min.css">
    <script src="/js/jquery.mobile-1.3.2.min.js"></script>
	<script type="text/javascript" src="/js/jquery.form.js"></script>
	<script type="text/javascript" src="/js/jquery.validate.min.js"></script>
	<script type="text/javascript" src="/js/additional-methods.js"></script>
	<link rel="stylesheet" href="/css/wap.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<script>
	$(function() {	
    	$("#form_request").validate({
    		ignore:[],
    		rules:{
    			type:{
    				min:1
    			},
    			content:{
    				required:true
    			},
    			area:{
    				required:true
    			},
    			phone:{
    				required:true,
    				number:true
    			}
    		},
    		messages:{
    			type:{
    				min:"请选择类型"
    			},
    			content:{
    				required:"请输入发布内容"
    			},
    			area:{
    				required:"请输入所在地区"
    			},
    			phone:{
					required:"请输入电话号码",
    				number:"电话号码只能包含数字"
    			}
    		},
    		errorElement:"em",
    		submitHandler: function(form) {
                $(form).ajaxSubmit({
    				dataType:'json',
    				complete:processComplete
    			});
              }
    
    	});
    });
	</script>
</head>
<body>
	<div data-role="header" data-theme="b">
		<h1>快速发布</h1>
	</div>
	<div data-role="content">
        <form id="form_request" method="post" action="/newrequest">
			<fieldset data-role="controlgroup">
				#springBind("form.type")
                <label for="solution">方案（问题没有头绪？）</label>
                <input type="radio" name="${status.expression}" id="solution" value=1 checked>
                <label for="zhaohuo">找货（知道需要什么刀具却没有货源？）</label>
                <input type="radio" name="${status.expression}" id="zhaohuo" value=2> 
				#springBind("form.content")
				<label for="content" class="ui-hidden-accessible">内容</label>
				<textarea type="text" name="${status.expression}" id="content" class="required" placeholder="简单描述需要发布的内容..."></textarea>
				#springBind("form.brand")
				<label for="area" class="ui-hidden-accessible">品牌</label>
				<input type="text" name="${status.expression}" id="brand" placeholder="品牌" />
				#springBind("form.area")
				<label for="area" class="ui-hidden-accessible">地区</label>
				<input type="text" name="${status.expression}" id="area" placeholder="地区" />
				#springBind("form.phone")
				<label for="phone" class="ui-hidden-accessible">电话</label>
				<input type="text" name="${status.expression}" id="phone" placeholder="电话" />
            </fieldset>
			<button type="submit" data-theme="b">发布需求</button>
        </form>
	</div>
</body>
</html>