<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <script type="text/javascript" src="/js/jquery-1.10.2.min.js"></script>
        <link rel="stylesheet" href="/css/jquery.mobile-1.3.2.min.css">
        <script src="/js/jquery.mobile-1.3.2.min.js"></script>
		<script type="text/javascript" src="/js/jquery-scrolltofixed-min.js"></script>
		<script type="text/javascript" src="/js/iscroll.js"></script>
        <link rel="stylesheet" href="/css/wap.css">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
		<script>
		$(function() {
			var myscroll;
    		$(function() {
				$(".relation span").click(function(){
					$(this).parent().each(function(){
						$(this).children("span").removeAttr("style");
					});
					$("#relation").val($(this).attr("data"));
					$(this).css("color","white").css("background-color","#0099cb");
				});
    			myscroll=new iScroll("wrapper",{hScrollbar:false});
    		});
		});
		</script>
	</head>
    <body>
		<div data-role="page" data-theme="z" class="scroll">
			<div class="cardview">
    			<div class="wx-info clearfix">
                    <div class="avatar">
						 <img src="${user.wxlogo}" />
                    </div>
                    <div class="content">
                    	<h1>${user.contactName}</h1>
                    	<h3>${user.companyName}</h3>
                    	<h4>${user.pca}</h4>
                    </div>
    			</div>
    			<div class="range clearfix">
                    <ul>
                    	<li>
                    		<h4>全国排名</h4>
                    		<h2>232</h2>
                    	</li>
                    	<li>
                    		<h4>人脉</h4>
                    		<h2>2</h2>
                    	</li>
                    	<li>
                    		<h4>被查看</h4>
                    		<h2>13</h2>
                    	</li>
                    </ul>
    			</div>
    			<div class="phone">
					<p><a>${user.phone}</a>,<a>${user.contactPhone}</a></p>
    			</div>
				<div class="brand clearfix">
					<p>
						<span>品牌</span>
						#if($stringUtil.isEmpty(${user.wxbrand}))
							#if(${user.brand} > 0)
								$stringUtil.getBrand(${user.brand})
							#end
							#if(${user.brand2} > 0)
								,$stringUtil.getBrand(${user.brand2})
							#end
							#if(${user.brand} == 0  && ${user.brand2} == 0)
								无品牌信息
							#end
						#else
							${user.wxbrand}
						#end
					</p>
				</div>	
				<div class="relation">
					<h1>我和他的关系</h1>
					<div class="content">
						<span data=1>初次相识</span>
						<span data=2>略有接触</span>
						<span data=3>屡次买卖</span>
						<span data=4>经常喝酒</span>
						<span data=5>同事</span>
					</div>
				</div>
				<form>
					<!-- 隐藏字段，用于标示是表单提交 -->
					<input type="hidden" name="do_submit" value="true"/>
					<input type="hidden" id="relation" name="relation" />
					<input type="hidden" name="myid" value="${wxid}"/>
					<input type="hidden" name="myname" value="${wxname}"/>
					<input type="hidden" name="userid" value="${user.wxid}"/>
					<input type="hidden" name="username" value="${user.nick}"/>
				<div class="op">
    				<button type="submit" id="submit_like" data-role="none">收藏他的名片</button>
    			</div>
				</form>
			</div>
		</div>
    </body>
</html>
