<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <script type="text/javascript" src="/js/jquery-1.10.2.min.js"></script>
        <link rel="stylesheet" href="/css/jquery.mobile-1.3.2.min.css">
        <script src="/js/jquery.mobile-1.3.2.min.js"></script>
		<script type="text/javascript" src="/js/jquery-scrolltofixed-min.js"></script>
		<script type="text/javascript" src="/js/jquery.form.js"></script>
		<script type="text/javascript" src="/js/iscroll.js"></script>
        <link rel="stylesheet" href="/css/wap.css">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
		<script>
		function onBridgeReady(){
         WeixinJSBridge.call('hideOptionMenu');
        }
        
        if (typeof WeixinJSBridge == "undefined"){
            if( document.addEventListener ){
                document.addEventListener('WeixinJSBridgeReady', onBridgeReady, false);
            }else if (document.attachEvent){
                document.attachEvent('WeixinJSBridgeReady', onBridgeReady); 
                document.attachEvent('onWeixinJSBridgeReady', onBridgeReady);
            }
        }else{
            onBridgeReady();
        }
		$(function() {
			var myscroll;
    		$(function() {
				if($("#relation").val() > 0){
					$(".relation span").each(function(){
						if($(this).attr("data") == $("#relation").val()){
							$(this).css("color","white").css("background-color","#0099cb");
						}
					});
				}
				$(".relation span").click(function(){
					$(this).parent().each(function(){
						$(this).children("span").removeAttr("style");
					});
					$("#relation").val($(this).attr("data"));
					$(this).css("color","white").css("background-color","#0099cb");
				});
    			myscroll=new iScroll("wrapper",{hScrollbar:false});
    		});
		});
		</script>
	</head>
    <body>
		<div class="like-mask">
			<img src="/img/wx/likemask-img.png" />
			<a target="_blank" rel="external" href="http://mp.weixin.qq.com/s?__biz=MzAwNTAyOTg5Ng==&mid=205589420&idx=1&sn=14f7338f51eff94e2a1daa5994d50265#rd">点击创建刀具名片</a>
		</div>
		<div data-role="page" data-theme="z" class="scroll">
			<div class="cardview">
    			<div class="wx-info clearfix">
                    <div class="avatar">
						 #if($stringUtil.isNotEmpty(${user.wxlogo}))
							<img src="${user.wxlogo}" />
						 #else
							<img src="/img/wx/wxavatar.png" />
						 #end
                    </div>
                    <div class="content">
                    	<h1>
							#if($stringUtil.isNotEmpty(${user.contactName}))
								${user.contactName} 
							#else
								${user.nick}
							#end
						</h1>
                    	<h3>
							#if($stringUtil.isNotEmpty(${user.companyName}))
								${user.companyName} 
							#else
								无公司信息
							#end
						</h3>
						#if($stringUtil.isNotEmpty(${user.position}))
							<h3>$!{user.position}</h3>
						#end
                    	<h4>$!{user.pca}</h4>
                    </div>
    			</div>
    			<div class="range clearfix">
                    <ul>
                    	<a data-role="none">
                    		<h4>全国排名</h4>
                    		<h2>${rank}</h2>
                    	</a>
                    	<a data-role="none">
                    		<h4>人脉</h4>
                    		<h2>${relationcount}</h2>
                    	</a>
                    	<li>
                    		<h4>被查看</h4>
                    		<h2>${user.cntRead}</h2>
                    	</li>
                    </ul>
    			</div>
    			<div class="phone">
					<p>
						#if($stringUtil.isNotEmpty(${user.phone}))
							<a href="tel://${user.phone}">${user.phone}</a>
						#end
						&nbsp;
						#if($stringUtil.isNotEmpty(${user.contactPhone}))
							<a href="tel://${user.contactPhone}">${user.contactPhone}</a>
						#end
						#if($stringUtil.isEmpty(${user.phone}) && $stringUtil.isEmpty(${user.contactPhone}))
							无电话信息
						#end
					</p>
    			</div>
				<div class="brand clearfix">
					<p>
						<span>品牌</span>
						#if($stringUtil.isEmpty(${user.wxbrand}))
							#if(${user.brand} > 0)
								$stringUtil.getBrand(${user.brand})
							#end
							#if(${user.brand2} > 0)
								,$stringUtil.getBrand(${user.brand2})
							#end
							#if(${user.brand} == 0  && ${user.brand2} == 0)
								无品牌信息
							#end
						#else
							${user.wxbrand}
						#end
					</p>
				</div>	
				<div class="relation">
					<h1>我和他的关系</h1>
					<div class="content">
						<span data=1>初次相识</span>
						<span data=2>略有接触</span>
						<span data=3>屡次买卖</span>
						<span data=4>经常喝酒</span>
						<span data=5>同事</span>
					</div>
				</div>
				<form id="form_relation" target="_blank" method="post">
					<!-- 隐藏字段，用于标示是表单提交 -->
					<input type="hidden" name="do_submit" value="true"/>
					#springBind("form.relation")
					<input type="hidden" id="relation" name="$!{status.expression}" value="$!{status.value}" />
					#springBind("form.wxid")
					<input type="hidden" id="myid" name="$!{status.expression}" value="$!{status.value}"/>
					#springBind("form.wxname")
					<input type="hidden" id="myname" name="$!{status.expression}" value="$!{status.value}"/>
					#springBind("form.wxcompany")
					<input type="hidden" id="mycompany" name="$!{status.expression}" value="$!{status.value}"/>
					#springBind("form.wxid2")
					<input type="hidden" name="$!{status.expression}" value="$!{status.value}"/>
					#springBind("form.userid")
					<input type="hidden" name="$!{status.expression}" value="$!{status.value}"/>
					#springBind("form.userid2")
					<input type="hidden" name="$!{status.expression}" value="$!{status.value}"/>
					#springBind("form.wxname2")
					<input type="hidden" name="$!{status.expression}" value="$!{status.value}"/>
					#springBind("form.wxcompany2")
					<input type="hidden" name="$!{status.expression}" value="$!{status.value}"/>
    				<div class="op">
						#if(${islike} == 1)
							#springBind("form.islike")
							<input type="hidden" name="$!{status.expression}" value=1 />
							<a class="islike" type="submit" id="submit_like" data-role="none">取消收藏</a>
						#else
							#springBind("form.islike")
							<input type="hidden" name="$!{status.expression}" value=0 />
							<a type="submit" id="submit_like" data-role="none">收藏他的名片</a>
						#end
        			</div>
					<script>
						function process(){
							window.location.href="/wxcard/${user.id}";
						}
            			$(function() {
            				$("#submit_like").click(function () {
								if($("#myid").val()){
            						$("#form_relation").ajaxSubmit({  
                                        type: 'post',  
										url: "/wxcardcollect" ,  
                                        success: process
										});
								}
								else{
									$(".like-mask").css("visibility", "visible");
								}
            				});
							$(".like-mask").click(function() {
                        		$(".like-mask").removeAttr("style");
                        	});
            			});
            		</script>
				</form>
			</div>
		</div>
    </body>
</html>
