<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <script type="text/javascript" src="/js/jquery-1.10.2.min.js"></script>
        <link rel="stylesheet" href="/css/jquery.mobile-1.3.2.min.css">
        <script src="/js/jquery.mobile-1.3.2.min.js"></script>
		<script type="text/javascript" src="/js/jquery-scrolltofixed-min.js"></script>
		<script type="text/javascript" src="/js/iscroll.js"></script>
        <link rel="stylesheet" href="/css/wap.css">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
		<script>
		function onBridgeReady(){
         WeixinJSBridge.call('showOptionMenu');
        }
        
        if (typeof WeixinJSBridge == "undefined"){
            if( document.addEventListener ){
                document.addEventListener('WeixinJSBridgeReady', onBridgeReady, false);
            }else if (document.attachEvent){
                document.attachEvent('WeixinJSBridgeReady', onBridgeReady); 
                document.attachEvent('onWeixinJSBridgeReady', onBridgeReady);
            }
        }else{
            onBridgeReady();
        }
		</script>
	</head>
    <body>
		<div data-role="page" data-theme="z" class="scroll">
			<div class="rank-head">
				<div class="top clearfix">
					<div class="left">
						<h1>${rank}</h1>
						<h3>你的全国排名</h3>
					</div>
					<div class="right">
						<a data-role="none" target="_blank" href="/wxrank50">查看前50名</a>
					</div>
				</div>
				<h2>更多好友收藏您的名片，可以提升全国排名</h2>
			</div>
			<div class="rank-list">
				#foreach($user in $users)
            		#if(${me.id} == ${user.id})
					<a data-role="none" target="_blank" class="me clearfix" href="/wxcard/${user.id}">
    					<div class="avatar">
    						#if($stringUtil.isNotEmpty(${user.wxlogo}))
    							<img src="${user.wxlogo}" />
    						#else
    							<img src="/logo/${user.logo}"/>
    						#end
                        </div>
                        <div class="content">
                        	<h2>
    							#if($stringUtil.isNotEmpty(${user.contactName}))
    								${user.contactName} 
    							#else
    								${user.nick}
    							#end
    							$!{user.position}
    						</h2>
                        	<h3>
    							#if($stringUtil.isNotEmpty(${user.companyName}))
    								${user.companyName}
    							#else
    								未填写
    							#end
    						</h3>
    					</div>
    					<div class="rank">
    						${user.rank}
    					</div>
					</a>
					#else
					<a data-role="none" target="_blank" class="clearfix" href="https://open.weixin.qq.com/connect/oauth2/authorize?appid=wxb5f0887883f34822&redirect_uri=http://www.daoshifu.com/wxcard/${user.id}&response_type=code&scope=snsapi_base&state=s1#wechat_redirect">
						<div class="avatar">
    						#if($stringUtil.isNotEmpty(${user.wxlogo}))
    							<img src="${user.wxlogo}" />
    						#elseif($stringUtil.isNotEmpty(${user.logo}))
								<img src="/logo/${user.logo}"/>
							#else
								<img src="/img/wx/wxavatar.png" />
    						#end
                        </div>
                        <div class="content">
                        	<h2>
    							#if($stringUtil.isNotEmpty(${user.contactName}))
    								${user.contactName}
    							#else
    								${user.nick}
    							#end
    							$!{user.position}
    						</h2>
                        	<h3>
    							#if($stringUtil.isNotEmpty(${user.contactName}))
    								${user.companyName}
    							#else
    								未填写
    							#end
    						</h3>
    					</div>
    					<div class="rank">
    						${user.rank}
    					</div>
					</a>
					#end
				#end
			</div>
			<div data-role="footer" data-position="fixed" data-theme="z" class="bottom-op">
				<div class="rank-op">
					<p class="share">分享我的名片,提高全国排名</p>
				</div>
			</div>
		</div> 
		<div class="share-mask">
			<img src="/img/wx/sharecard.png" />
		</div>
		<script>
			var visibleMore = false;
			$(function() {
            	$(".share").click(function() {
            		if (visibleMore) {
            			$(".more").trigger("click");
            		}
            		$(".share-mask").show();
					$(".share-mask img").css("height",$(".scroll").height());
            	});
            
            	$(".share-mask").click(function() {
            		$(".share-mask").removeAttr("style");
            	});
            	
            	myscroll = new iScroll("wrapper", {
            		hScrollbar : false
            	});
            });
			var imgUrl = '${me.wxlogo}';
            var lineLink = 'https://open.weixin.qq.com/connect/oauth2/authorize?appid=wxb5f0887883f34822&redirect_uri=http://www.daoshifu.com/wxcard/${me.id}&response_type=code&scope=snsapi_base&state=s1#wechat_redirect';
           var descContent = "公司：${me.companyName}\n职位：${me.position}\n点击了解我的优势产品";
            var shareTitle = "${me.contactName}正在使用刀具微名片，刀具人快来加入吧!";
            var appid = 'wxb5f0887883f34822';
            
            function shareFriend() {
            	WeixinJSBridge.invoke('sendAppMessage', {
            		"appid" : appid,
            		"img_url" : imgUrl,
            		"img_width" : "640",
            		"img_height" : "640",
            		"link" : lineLink,
            		"desc" : descContent,
            		"title" : shareTitle
            	}, function(res) {
            		_report('send_msg', res.err_msg);
            	});
            }
            function shareTimeline() {
            	WeixinJSBridge.invoke('shareTimeline', {
            		"img_url" : imgUrl,
            		"img_width" : "640",
            		"img_height" : "640",
            		"link" : lineLink,
            		"desc" : descContent,
            		"title" : shareTitle
            	}, function(res) {
            		_report('timeline', res.err_msg);
            	});
            }
            // 当微信内置浏览器完成内部初始化后会触发WeixinJSBridgeReady事件。
            document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
            
            	// 发送给好友
            	WeixinJSBridge.on('menu:share:appmessage', function(argv) {
            		shareFriend();
            	});
            
            	// 分享到朋友圈
            	WeixinJSBridge.on('menu:share:timeline', function(argv) {
            		shareTimeline();
            	});
            
            }, false);
		</script>
		<script type="text/javascript" src="/js/wx.js"></script>
    </body>
</html>
