<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <script type="text/javascript" src="/js/jquery-1.10.2.min.js"></script>
        <link rel="stylesheet" href="/css/jquery.mobile-1.3.2.min.css">
        <script src="/js/jquery.mobile-1.3.2.min.js"></script>
		<script type="text/javascript" src="/js/iscroll.js"></script>
        <link rel="stylesheet" href="/css/wap.css">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
		<script>
		function onBridgeReady(){
         WeixinJSBridge.call('hideOptionMenu');
        }
        
        if (typeof WeixinJSBridge == "undefined"){
            if( document.addEventListener ){
                document.addEventListener('WeixinJSBridgeReady', onBridgeReady, false);
            }else if (document.attachEvent){
                document.attachEvent('WeixinJSBridgeReady', onBridgeReady); 
                document.attachEvent('onWeixinJSBridgeReady', onBridgeReady);
            }
        }else{
            onBridgeReady();
        }
		</script>
	</head>
    <body>
		<div data-role="page" data-theme="d">
			<div class="body">
                <div class="reg-title">
    				<h1>创建您的刀具微名片</h1>
    			</div>
                <form id="form_reg" action="/wxreg" method="post">
    			<!-- 隐藏字段，用于标示是表单提交 -->
        		<input type="hidden" name="do_submit" value="true"/>
    			<div class="reg-wrap clearfix">
    				#springBind("form.mail")
    				<div class="section mail clearfix">
    					<input data-role="none" type="text" class="dsf-form-text-input" name="$!{status.expression}" placeholder="邮箱。必填" />
    				</div>
    				#springBind("form.name")
    				<div class="section name clearfix">
    					<input data-role="none" type="text" class="dsf-form-text-input" name="$!{status.expression}" placeholder="用户名。必填" />
    				</div>
    				#springBind("form.pwd")
    				<div class="section pwd clearfix">
    					<input data-role="none" type="password" class="dsf-form-text-input" name="$!{status.expression}" placeholder="请输入密码。必填" />
    				</div>
    				#springBind("form.company")
    				<div class="section company clearfix">
    					<input data-role="none" type="text" class="dsf-form-text-input" name="$!{status.expression}" placeholder="公司名称。必填" />
    				</div>
    				#springBind("form.phone")
    				<div class="section phone clearfix">
    					<input data-role="none" type="text" class="dsf-form-text-input" name="$!{status.expression}" placeholder="公司电话。必填" />
    				</div>
    				#springBind("form.mobile")
    				<div class="section mobile clearfix">
    					<input data-role="none" type="text" class="dsf-form-text-input" name="$!{status.expression}" placeholder="手机。必填" />
    				</div>
    			</div>
    			<div class="op">
    				<button type="submit" id="submit_log" data-role="none">创建刀具微名片</button>
    			</div>
    			<div class="op-reg">
    				<a data-role="none" rel="external" href="/wxlog">使用刀师傅账号直接登录</a>
    			</div>
    			</form>
			</div>
		</div>
		<script type="text/javascript" src="/js/wx.js"></script>
    </body>
</html>
