#set($layout = "/layout/agent_detail_layout.vm")
<ul class="right-tab clearfix">
  <li><a href="newquestion">最新问题</a></li>
  <li><a href="answer">已回答的问题</a></li>
  <li class="current"><a href="#">草稿箱</a></li>
</ul>
<div class="rigth-content">
  <div class="buyer-list">
		<div class="listitem">
			<p>刀具是机械制造中用于切削加工的工具，又称切削工具?<span>2013-08-08</span></p>
			<div class="operation clearfix">
				<a href="#">编辑</a><span>|</span>
				<a href="#">删除</a>
			</div>
		</div>
		<div class="listitem">
			<p>刀具是机械制造中用于切削加工的工具，又称切削工具?<span>2013-08-08</span></p>
			<div class="operation clearfix">
				<a href="#">编辑</a><span>|</span>
				<a href="#">删除</a>
			</div>
		</div>
		<div class="listitem">
			<p>刀具是机械制造中用于切削加工的工具，又称切削工具?<span>2013-08-08</span></p>
			<div class="operation clearfix">
				<a href="#">编辑</a><span>|</span>
				<a href="#">删除</a>
			</div>
		</div>
		<div class="listitem">
			<p>刀具是机械制造中用于切削加工的工具，又称切削工具?<span>2013-08-08</span></p>
			<div class="operation clearfix">
				<a href="#">编辑</a><span>|</span>
				<a href="#">删除</a>
			</div>
		</div>
		<div class="listitem">
			<p>刀具是机械制造中用于切削加工的工具，又称切削工具?<span>2013-08-08</span></p>
			<div class="operation clearfix">
				<a href="#">编辑</a><span>|</span>
				<a href="#">删除</a>
			</div>
		</div>
	</div>
</div>
