#set($layout = "/layout/agent_detail_layout.vm")
<ul class="right-tab clearfix">
  <li><a href="uploadgc">上传案例</a></li>
  <li class="current"><a href="#">案例管理</a></li>
</ul>
<div class="rigth-content">
	<div class="buyer-list">
		#foreach($gc in $goodcases)
    		<div class="listitem">
    			<p>$!{gc.name}<span>$stringUtil.formatDate($!{gc.gmtCreate})</span></p>
    			<div class="operation clearfix">
    				<a href="#">编辑</a><span>|</span>
    				<a href="#">删除</a>
    			</div>
    		</div>
		#end
	</div>
</div>
