#set($layout = "/layout/agent_detail_layout.vm")
<h1><a href="#">点击更多问题</a>最新问题</h1>
<div class="buyer-list">
  <div class="listitem">
	  <p>刀具是机械制造中用于切削加工的工具，又称切削工具?<span>2013-08-08</span></p>
		<div class="operation clearfix">
		  <a href="#">3个回答</a><span>|</span>
		  <a href="#">查看详情</a>
		</div>
	</div>
  <div class="listitem">
	  <p>刀具是机械制造中用于切削加工的工具，又称切削工具?<span>2013-08-08</span></p>
		<div class="operation clearfix">
		  <a href="#">3个回答</a><span>|</span>
		  <a href="#">查看详情</a>
		</div>
	</div>
  <div class="listitem">
	  <p>刀具是机械制造中用于切削加工的工具，又称切削工具?<span>2013-08-08</span></p>
		<div class="operation clearfix">
		  <a href="#">3个回答</a><span>|</span>
		  <a href="#">查看详情</a>
		</div>
	</div>
</div>
<div class="go-ask clearfix">
  <h2>商机无限，怎能错过？</h2>
	<a href="#">查看更多问题</a>
</div>
<h1><a href="#">点击查看所有消息</a>我的消息</h1>
<div class="buyer-list">
  <div class="listitem notread">
	  <p><a href="#">无锡汉尼达</a><em>回答了您的问题</em><a href="#">需要制造如此形状的倚天剑。不知道可以吗?</a><span>2013-08-08</span></p>
	</div>
  <div class="listitem">
	  <p><a href="#">无锡汉尼达</a><em>回答了您的问题</em><a href="#">需要制造如此形状的倚天剑。不知道可以吗?</a><span>2013-08-08</span></p>
	</div>
  <div class="listitem">
	  <p><a href="#">无锡汉尼达</a><em>回答了您的问题</em><a href="#">需要制造如此形状的倚天剑。不知道可以吗?</a><span>2013-08-08</span></p>
	</div>
</div>
