#set($layout = "/layout/agent_detail_layout.vm")
<h1><a href="/agent/profile">点击编辑</a>个人信息</h1>
<div class="profile-list clearfix">
    <div class="listitem">
		<div class="content">
			<span>账户名</span>$!{name}
		</div>
	</div>
    <div class="listitem">
		<div class="content">
			<span>邮箱</span>$!{mail}
		</div>
	</div>
    <div class="listitem">
		<div class="content">
			<span>品牌</span>$!{brand}
		</div>
	</div>
</div>
<p class="profile-info">真实的个人信息，可以更快增加您的信誉度，为您带来更多便捷！</p>
<h1>我的回答</h1>
<div class="mainpage">
	<h2>专业刀具咨询平台</h2>
	<div class="mainpage-content clearfix">
    	<div class="left">
    		<p>刀具订单？<br>还在等什么！</p>
    		<a href="/questions">查看问题</a>
    	</div>
    	<div class="right">
    		<h3>永久免费</h3>
    		<p class="mb15">刀师傅为用户与代理商双方提供优质交流平台，终身免收任何费用。</p>
    		<h3>交流平台</h3>
    		<p>刀师傅为代理商提供高效的交流平台，线上交流，线下交易，给予代理商提升业绩的新途径。</p>
	</div>
	</div>
</div>
