#set($layout = "/layout/agent_detail_layout.vm")
<ul class="right-tab clearfix">
  <li><a href="uploadsample">上传样本</a></li>
  <li class="current"><span>样本管理</span></li>
</ul>
<div class="rigth-content">
	<div class="buyer-list">
		#foreach($sample in $samples)
		<div class="listitem">
			<p>$!{sample.name}<span>$stringUtil.formatDate($!{sample.gmtCreate})</span></p>
			<div class="operation clearfix">
				<a href="/agent/sample/$!{sample.id}">编辑</a><span>|</span>
				<a id="del-sample" href="/agent/delsample/$!{sample.id}">删除</a>
			</div>
		</div>
		#end
	</div>
	#parse("/common/page.vm")
</div>

