#set($layout = "/layout/agent_detail_layout.vm")
<ul class="right-tab clearfix">
    <li class="current">
        <a href="profile">个人资料</a>
    </li>
	<li>
		 <a href="changepwd">密码</a>
    </li>
</ul>
<div class="rigth-content">
    <div>
        <div class="listitem clearfix">
            <ul class="user-info clearfix">
                <li class="key">
                    公司名称
                </li>
                <li class="value">
                    <input type="text" class="dsf-form-text-input"/>
                </li>
            </ul>
        </div>
		<div class="listitem clearfix">
            <ul class="user-info clearfix">
                <li class="key">
                    邮箱
                </li>
                <li class="value">
                    <input type="text" class="dsf-form-text-input"/>
                </li>
            </ul>
        </div>
		<div class="listitem clearfix">
            <ul class="user-info clearfix">
                <li class="key">
                    代理刀具品牌
                </li>
                <li class="value">
                    <input type="text" class="dsf-form-text-input"/>
                </li>
            </ul>
        </div>
        <div class="listitem clearfix">
            <ul class="user-info clearfix">
                <li class="key">
                    公司地址
                </li>
                <li class="value">
                    <input type="text" class="dsf-form-text-input"/>
                </li>
            </ul>
        </div>
        <div class="listitem clearfix">
            <ul class="user-info clearfix">
                <li class="key">
                    公司电话
                </li>
                <li class="value">
                    <input type="text" class="dsf-form-text-input"/>
                </li>
            </ul>
        </div>
        <div class="listitem clearfix">
            <ul class="user-info clearfix">
                <li class="key">
                    联系人姓名
                </li>
                <li class="value">
                    <input type="text" class="dsf-form-text-input"/>
                </li>
            </ul>
        </div>
        <div class="listitem clearfix">
            <ul class="user-info clearfix">
                <li class="key">
                    手机
                </li>
                <li class="value">
                    <input type="text" class="dsf-form-text-input"/>
                </li>
            </ul>
        </div>
        <div class="listitem clearfix">
            <ul class="user-info clearfix">
                <li class="key">
                    QQ
                </li>
                <li class="value">
                    <input type="text" class="dsf-form-text-input"/>
                </li>
            </ul>
        </div>
		<div class="listitem clearfix">
            <ul class="user-info clearfix">
                <li class="key">
                    公司简介
                </li>
                <li class="value">
                    <textarea class="dsf-form-text-input company-info">$!{status.value}</textarea></li>		
                </li>
            </ul>
        </div>
		<div class="listitem clearfix">
            <ul class="user-info clearfix">
                <li class="key">
                    代理证书
                </li>
                <li class="value">
                    <input type="text" class="dsf-form-text-input"/>
                </li>
            </ul>
        </div>
        <div class="listitem mt20 clearfix">
            <a class="save" href="#">保 存</a>
        </div>
    </div>
</div>
