#set($layout = "/layout/agent_detail_layout.vm")
<script type="text/javascript" src="../js/brand.js"></script>
<ul class="right-tab clearfix">
    <li class="current">
        <a href="profile">个人资料</a>
    </li>
	<li>
		 <a href="changepwd">密码</a>
    </li>
</ul>
<div class="rigth-content">
    <div>
		<script>
			function processJson(data) { 
      			showAlert(data.title,data.content,data.info,data.btn,data.link);
      		}
			function processComplete(data){
				$('#submit_profile').removeAttr("disabled"); 
			}
			$(function() {	
				$("#form_profile").validate({
					rules:{
						companyName:{
							required:true
						},
						brandName:{
							required:true
						}
					},
					messages:{
						companyName:{
							required:"请输入公司名称"
						},
						brandName:{
							required:"请输入代理品牌"
						}
					},
					errorElement:"em",
					submitHandler: function(form) {
                        $(form).ajaxSubmit({
    						dataType:'json',
    						success:processJson,
							complete:processComplete
    					});
                      }

				});
			});
		</script>
		<form id="form_profile" method="post" enctype="multipart/form-data">
		<!-- 隐藏字段，用于标示是表单提交 -->
		<input type="hidden" name="do_submit" value="true"/>
        <div class="listitem clearfix">
			#springBind("form.companyName")
            <ul class="user-info clearfix">
                <li class="key">
                    公司名称
                </li>
                <li class="value">
                    <input type="text" class="dsf-form-text-input" name="${status.expression}" value="$!{status.value}" />
										<em for="$!{status.expression}" generated="true" class="error">$!{status.errorMessage}</em>
                </li>
            </ul>
        </div>
		<div class="listitem clearfix">
			#springBind("form.email")
            <ul class="user-info clearfix">
                <li class="key">
                    邮箱
                </li>
                <li class="value">
                    $!{status.value}
                </li>
            </ul>
        </div>
		<div class="listitem clearfix">
			#springBind("form.brand")
			<input type="hidden" id="brand" name="${status.expression}" value="${status.value}"/>
            <ul class="user-info clearfix">
                <li class="key">
                    代理刀具品牌
                </li>
                <li class="value">
                    <a id="selbrand">
						#if($!{status.value} != 0)
							#springBind("form.brandName")
							$!{status.value}
						#else
							选择刀具品牌
						#end
					</a>
                </li>
            </ul>
        </div>
        <div class="listitem clearfix">
			#springBind("form.address")
            <ul class="user-info clearfix">
                <li class="key">
                    公司地址
                </li>
                <li class="value">
                    <input type="text" class="dsf-form-text-input" name="${status.expression}" value="$!{status.value}" />
                </li>
            </ul>
        </div>
        <div class="listitem clearfix">
			#springBind("form.companyPhone")
            <ul class="user-info clearfix">
                <li class="key">
                    公司电话
                </li>
                <li class="value">
                    <input type="text" class="dsf-form-text-input" name="${status.expression}" value="$!{status.value}" />
                </li>
            </ul>
        </div>
        <div class="listitem clearfix">
			#springBind("form.contactName")
            <ul class="user-info clearfix">
                <li class="key">
                    联系人姓名
                </li>
                <li class="value">
                    <input type="text" class="dsf-form-text-input" name="${status.expression}" value="$!{status.value}" />
                </li>
            </ul>
        </div>
        <div class="listitem clearfix">
			#springBind("form.contactPhone")
            <ul class="user-info clearfix">
                <li class="key">
                    手机
                </li>
                <li class="value">
                    <input type="text" class="dsf-form-text-input" name="${status.expression}" value="$!{status.value}" />
                </li>
            </ul>
        </div>
        <div class="listitem clearfix">
			#springBind("form.contactQQ")
            <ul class="user-info clearfix">
                <li class="key">
                    QQ
                </li>
                <li class="value">
                    <input type="text" class="dsf-form-text-input" name="${status.expression}" value="$!{status.value}" />
                </li>
            </ul>
        </div>
		<div class="listitem clearfix">
			#springBind("form.description")
            <ul class="user-info clearfix">
                <li class="key">
                    公司简介
                </li>
                <li class="value">
                    <textarea class="dsf-form-text-input company-info" name="${status.expression}" >$!{status.value}</textarea></li>		
                </li>
            </ul>
        </div>
		<div class="listitem clearfix">
            <ul class="user-info clearfix">
                <li class="key">
                    代理证书
                </li>
                <li class="value">
					<a id="uploadsample">上传证书</a>
                    <input class="uploadv" type="file" name="link" />
					<p id="uploadsample-p">上传证书后，通过后台审核，可以得到我们对您的<i></i>认证</p>
                </li>
            </ul>
        </div>
        <div class="listitem mt15 clearfix">
            <a id="submit_profile" class="save" >保 存</a>
        </div>
		<script>

			$(function() {
				$("#submit_profile").click(function () {
					if($('#submit_profile').attr("disabled") != "disabled"){
                        $(this).submit();
    					$('#submit_profile').attr("disabled","disabled");
					}
				});
			});
		</script>
		</form>
    </div>
</div>
#parse("/common/brand.vm")
