#set($layout = "/layout/agent_detail_layout.vm")
<ul class="right-tab clearfix">
  <li class="current">上传样本</li>
  <li><a href="mysample">样本管理</a></li>
</ul>
<div class="rigth-content">
	<script>
		$(function() {	
			$("#form_uploadsample").validate({
				rules:{
					name:{
						required:true
					}，
					link:{
						required:true
					}
				},
				messages:{
					name:{
						required:"请输入样本名称"
					},
					name:{
						required:"请上传文件"
					}
				},
				errorElement:"em"
			});
		});
	</script>
	<form id="form_uploadsample" method="post" enctype="multipart/form-data">
		<!-- 隐藏字段，用于标示是表单提交 -->
		<input type="hidden" name="do_submit" value="true"/>
		#springBind("form.sid")
	  <input type="hidden" name="${status.expression}" value="$!{status.value}" id="gcid" />
		#springBind("form.isEdit")
	  <input type="hidden" name="${status.expression}" value="$!{status.value}" id="isEdit" />
  	<div class="listitem clearfix">
  		#springBind("form.name")
  		<ul class="user-info clearfix">
  			<li class="key">
  				案例名称
  			</li>
  			<li class="value">
  				<input class="dsf-form-text-input" type="text" name="${status.expression}"  value="$!{status.value}" />
  			</li>
  		</ul>
  	</div>
  	<div class="listitem clearfix">
  		<ul class="user-info clearfix">
  			<li class="key">
  				样本文件
  			</li>
  			<li class="value">
  				<div class="upload-gc">
  					<a class="" href="">点击上传</a>
					<input type="file" name="link" />
  					<p>仅支持DOC、PDF格式，文件小于5M</p>
						<em for="$!{status.expression}" generated="true" class="error">$!{status.errorMessage}</em>
  				</div>
  			</li>
  		</ul>
  	</div>
  	<div class="listitem mt20 pt20 btg clearfix">
		  <a id="submit_uploadsample" class="save" href="#">上传样本</a>
		</div>
		<script>
		  function processJson(data) { 
  			showAlert(data.title,data.content,data.info,data.btn,data.link);
  		}
		  $(function() {
			  $("#submit_uploadsample").click(function(){
				  $("#form_uploadsample").ajaxSubmit({
						dataType:'json',
						success:processJson
					});
				});
			});
		</script>
	</form>
</div>
