#set($layout = "/layout/agent_detail_layout.vm")
<script type="text/javascript" src="../js/ques-handler.js"></script>
<ul class="right-tab clearfix">
  <li class="current">上传案例</li>
  <li><a href="goodcase">案例管理</a></li>
</ul>
<div class="rigth-content">
	<script>
		$(function() {	
			$("#form_uploadgc").validate({
				rules:{
					name:{
						required:true
					}，
					link:{
						required:true
					}
				},
				messages:{
					name:{
						required:"请输入案例名称"
					},
					name:{
						required:"请上传文件"
					}
				},
				errorElement:"em"
			});
		});
	</script>
	<form id="form_uploadgc" method="post" enctype="multipart/form-data">
		<!-- 隐藏字段，用于标示是表单提交 -->
		<input type="hidden" name="do_submit" value="true"/>
		#springBind("form.gcid")
	    <input type="hidden" name="${status.expression}" value="$!{status.value}" id="gcid" />
		#springBind("form.isEdit")
	    <input type="hidden" name="${status.expression}" value="$!{status.value}" id="isEdit" />
    	#springBind("form.name")
    	<div class="listitem clearfix">
    		<ul class="user-info clearfix">
    			<li class="key">
    				案例名称
    			</li>
    			<li class="value">
    				<input type="text" class="dsf-form-text-input" name="${status.expression}"  value="$!{status.value}" />
						<em for="$!{status.expression}" generated="true" class="error">$!{status.errorMessage}</em>
    			</li>
    		</ul>
    	</div>
		#if($stringUtil.isNotEmpty($!{status.errorMessage}))
	        <em for="$!{status.expression}" generated="true" class="error">$!{status.errorMessage}</em>
	    #end
    	<div class="listitem clearfix">
    		<ul class="user-info clearfix">
    			<li class="key">
    				案例类型
    			</li>
    			<li class="value">
    				<div class="mi question-param clearfix">
                    <div class="question-param-li process clearfix">
                        #springBind("form.processMethod")
                        <input type="hidden" name="${status.expression}"  value="$!{status.value}" />
                        <a class="sel" >加工方式</a>
                        <ul class="param">
                            <li>
                                <a>平面铣削</a>
                            </li>
                            <li>
                                <a>侧壁铣削</a>
                            </li>
        					<li>
                                <a>曲面铣削</a>
                            </li>
                            <li>
                                <a>铣槽</a>
                            </li>
        					<li>
                                <a>钻孔</a>
                            </li>
                            <li>
                                <a>镗孔</a>
                            </li>
        					<li>
                                <a>铰孔</a>
                            </li>
                            <li>
                                <a>螺纹铣削</a>
                            </li>
        					<li>
                                <a>车削(粗加工）</a>
                            </li>
                            <li>
                                <a>车削(槽加工）</a>
                            </li>
        					<li>
                                <a>车削(螺纹加工）</a>
                            </li>
                            <li>
                                <a>去毛刺</a>
                            </li>
                        </ul>
                    </div>
                    <div class="question-param-li industry clearfix">
                        #springBind("form.industry")
                        <input type="hidden" name="${status.expression}"  value="$!{status.value}" />
                        <a class="sel" >所属行业</a>
                        <ul class="param">
                            <li>
                                <a>模具</a>
                            </li>
                            <li>
                                <a>船舶</a>
                            </li>
        					<li>
                                <a>石油设备</a>
                            </li>
        					<li>
                                <a>散热器/空调</a>
                            </li>
        					<li>
                                <a>发电设备</a>
                            </li>
        					<li>
                                <a>塑料机械</a>
                            </li>
        					<li>
                                <a>内燃机</a>
                            </li>
        					<li>
                                <a>大型机械设备</a>
                            </li>
        					<li>
                                <a>汽车零件</a>
                            </li>
        					<li>
                                <a>电子行业</a>
                            </li>
        					<li>
                                <a>通用零件</a>
                            </li>
        					<li>
                                <a>其它</a>
                            </li>
                        </ul>
                    </div>
                    <div class="question-param-li hardness clearfix">
                        #springBind("form.wpHardness")
                        <input type="hidden" name="${status.expression}"  value="$!{status.value}" />
                        <a class="sel" >工件硬度</a>
                        <ul class="param">
                            <li>
                                <a>HRC20以下</a>
                            </li>
                            <li>
                                <a>HRC20-30</a>
                            </li>
        					<li>
                                <a>HRC30-40</a>
                            </li>
                            <li>
                                <a>HRC40-50</a>
                            </li>
        					<li>
                                <a>HRC50-58</a>
                            </li>
                            <li>
                                <a>HRC58-62</a>
                            </li>
        					<li>
                                <a>HRC62-65</a>
                            </li>
                            <li>
                                <a>HRC65-68</a>
                            </li>
        					<li>
                                <a>HRC68以上</a>
                            </li>
                        </ul>
                    </div>
                    <div class="question-param-li material clearfix">
    					#springBind("form.wpMaterial")
                        <input type="hidden" name="${status.expression}"  value="$!{status.value}" />
                        <a class="sel" >工件材质</a>
                        <ul class="param">
                            <li>
                                <a>钢</a>
                            </li>
                            <li>
                                <a>铸铁</a>
                            </li>
        					<li>
                                <a>不锈钢</a>
                            </li>
                            <li>
                                <a>高温合金</a>
                            </li>
        					<li>
                                <a>铝</a>
                            </li>
                            <li>
                                <a>有色金属</a>
                            </li>
        					<li>
                                <a>石墨</a>
                            </li>
                            <li>
                                <a>树脂</a>
                            </li>
                        </ul>
                    </div>
                </div>
    			</li>
    		</ul>
    	</div>
    	<div class="listitem clearfix">
    		<ul class="user-info clearfix">
    			<li class="key">
    				案例文件
    			</li>
    			<li class="value">
    				<div class="upload-gc">
    					<a class="" href="">点击上传</a>
    					<input type="file" name="link" />
    					<p>仅支持DOC、PDF格式，文件小于5M</p>
							<em for="link" generated="true" class="error">$!{status.errorMessage}</em>
    				</div>
    			</li>
    		</ul>
    	</div>
		
    	<div class="listitem mt20 pt20 btg clearfix">
    		<a id="submit_uploadgc" class="save" href="#">上传案例</a>
    	</div>
		<script>
		  function processJson(data) { 
  			showAlert(data.title,data.content,data.info,data.btn,data.link);
  		}
		  $(function() {
			  $("#submit_uploadgc").click(function(){
				  $("#form_uploadgc").ajaxSubmit({
						dataType:'json',
						success:processJson
					});
				});
			});
		</script>
    </form>
</div>
