#set($layout = "/layout/agent_detail_layout.vm")
<ul class="right-tab clearfix">
  <li class="current">上传样本</li>
  <li><a href="mysample">样本管理</a></li>
</ul>
<div class="rigth-content">
	<form id="form_uploadsample" method="post" enctype="multipart/form-data">
		<!-- 隐藏字段，用于标示是表单提交 -->
		<input type="hidden" name="do_submit" value="true"/>
		#springBind("form.sid")
	  <input type="hidden" name="${status.expression}" value="$!{status.value}" id="gcid" />
		#springBind("form.isEdit")
	  <input type="hidden" name="${status.expression}" value="$!{status.value}" id="isEdit" />
  	<div class="listitem clearfix">
  		#springBind("form.name")
  		<ul class="user-info clearfix">
  			<li class="key">
  				案例名称
  			</li>
  			<li class="value">
  				<input type="text" />
  			</li>
  		</ul>
  	</div>
  	<div class="listitem clearfix">
  		<ul class="user-info clearfix">
  			<li class="key">
  				样本文件
  			</li>
  			<li class="value">
  				<div class="upload-gc">
  					<a class="" href="">点击上传</a>
  					<p>仅支持DOC、PDF格式，文件小于5M</p>
  				</div>
  			</li>
  		</ul>
  	</div>
  	<div class="listitem mt20 pt20 btg clearfix">
		  <a id="submit_uploadsample" class="save" href="#">上传样本</a>
		</div>
		<script>
		  $(function() {
			  $("#submit_uploadsample").click(function(){
				  $("#form_uploadsample").submit();//提交
				});
			});
		</script>
	</form>
</div>
